In [1]:
import pandas as pd
import numpy as np
import empyrical as ep
from datetime import datetime, timedelta

In [2]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [3]:
from __future__ import annotations
from pandas_market_calendars import get_calendar

In [4]:
#设计一个观察日的函数
def get_same_day_dates(start_date, n ,lock):
    dates = []
    begin_date=datetime.strptime(start_date, '%Y-%m-%d')
    for i in range(lock,n+1):
        print(i)
        current_date = begin_date
        time=i
        current_date += relativedelta(months=time)  # 将日期增加一个月
        dates.append(current_date.strftime('%Y-%m-%d'))  # 将日期对象转换为字符串格式并添加到列表中
    return dates

In [5]:
from pandas_market_calendars import get_calendar

# 获取上交所交易日历对象
sh_exchange_calendar = get_calendar('XSHG')

# 指定开始日期和结束日期
start_date = pd.to_datetime('2004-01-01')
mid_date1=pd.to_datetime('2022-09-09')
mid_date2=pd.to_datetime('2022-09-13')
end_date = pd.to_datetime('2026-12-31')

# 获取交易日日期列表
trading_days1 = sh_exchange_calendar.valid_days(start_date=start_date, end_date=mid_date1)
trading_days2 = sh_exchange_calendar.valid_days(start_date=mid_date2, end_date=end_date)

# 将交易日日期列表转换为字符串格式
trading_days_list = trading_days1.strftime('%Y-%m-%d').tolist()+trading_days2.strftime('%Y-%m-%d').tolist()
dates_to_remove = ['2022-10-06', '2022-10-07','2023-05-02','2023-05-03','2023-06-23']

for date in dates_to_remove:
    if date in trading_days_list:
        trading_days_list.remove(date)

In [6]:
#若为非交易日,则往后顺延到最近的交易日

def adjust_to_trading_days(dates, trading_days_list):
    adjusted_dates = []

    trading_days = pd.to_datetime(trading_days_list)

    for date in dates:
        dt = pd.to_datetime(date)

        if dt in trading_days:
            adjusted_dates.append(date)
        else:
            next_trading_day = trading_days[trading_days > dt].min()
            adjusted_dates.append(next_trading_day.strftime('%Y-%m-%d'))

    return adjusted_dates

In [7]:
#新撰写一个函数，作为后面计算降敲函数敲出价的辅助，date为单个日期，obs_date为日期列表，
#返回列表中早于单个日期列表的个数
def count_earlier_dates(date, obs_date):
    count = 0
    given_date = datetime.strptime(date, '%Y-%m-%d')
    
    for date_str in obs_date:
        obs = datetime.strptime(date_str, '%Y-%m-%d')
        if obs < given_date:
            count += 1
    
    return count

## 美式鲨鱼鳍结构

In [22]:
#形成最终的结果函数
#n代表产品的期限,r代表能达到的收益率上限，达到上限在下文中称为突破
#begin_date代表开始日期，end_date代表终止日期,interrupt_date代表截断日期，roll_length代表PB,PE分位数向前滚动的天数
def shark_fin(df_all,df_pbpe,n,lock,strike,r,begin_date,end_date,interrupt_date,roll_length):
    df_pbpe['PB分位数']=df_pbpe['PB'].rolling(roll_length).apply(lambda x: pd.Series(x).rank(pct=True).iloc[-1])
    df_pbpe['PE分位数']=df_pbpe['PE'].rolling(roll_length).apply(lambda x: pd.Series(x).rank(pct=True).iloc[-1])
    df=df_all
    df.columns=['date','标的指数收盘价']
    df.index=df['date']
    df['敲出价格'] = (1+r)*df['标的指数收盘价']
    
    #新增一列记录是否发生敲出/发生突破
    df['是否敲出']=0
    
    #新增一列记录敲出或者到期或者截断的时间
    df['敲出或者到期时间']=0
    
    #新增一列记录产品敲出时指数点位
    df['敲出或到期时指数点位']=0
    
    #新增一列填入产品收益率
    df['年化收益率']=0  
    
    #新增一列计算当前指数点位的历史分位数（滚动周期与PBPE计算周期相同）
    df['指数点位历史分位数']=df['标的指数收盘价'].rolling(roll_length).apply(lambda x: pd.Series(x).rank(pct=True).iloc[-1])
    
    #新增一列判断产品是否存续
    df['产品当前是否存续']=0
    
    #新增一列计算指数近20天波动率以及波动率分位数
    df['过去20天指数波动率'] = df['标的指数收盘价'].rolling(window=20).std()
    df['过去20天波动率分位数']=df['过去20天指数波动率'].rolling(252).apply(lambda x: pd.Series(x).rank(pct=True).iloc[-1])
    
    #截取需要部分
    df=df.loc[begin_date:end_date]
    df_pbpe=df_pbpe.loc[begin_date:end_date]

    #将PB/PE的数据读出并存入
    df_part1=pd.concat([df, df_pbpe], axis=1)
    print(df_part1)
    
    #选取日截至到interrupt_date
    df_return=df_part1.loc[:interrupt_date]
    print(df_return)
    
    
    #判断是否敲出并对以上信息进行填充
    for k in range(len(df_return)):
        start_date=df_return.iloc[k,0]
        dates=get_same_day_dates(start_date, n ,lock)
        obs_date_list = adjust_to_trading_days(dates,trading_days_list)
        print("obs1"+str(obs_date_list))
        obs_date=[date for date in obs_date_list if datetime.strptime(date, "%Y-%m-%d") <= datetime.strptime(end_date, "%Y-%m-%d")]
      
        if len(obs_date_list)>len(obs_date):
            df_return.iloc[k,8]= 1
          
        #提取观察日对应的标的指数点位
        price_obs_date= df_part1.loc[obs_date,'标的指数收盘价']
      
        #找到敲出的时间点
        knock_price=df_return.iloc[k,2]
        
        position = None
        for i, price in enumerate(price_obs_date):
            if price > knock_price:
                position = i
                df_return.iloc[k,3]=1
                #如果发生敲出/突破，记录产品收益率
                df_return.iloc[k,6]=r
                break

        if position is None:
            position = len(price_obs_date) - 1 
            #如果未发生敲出/突破，根据期末涨跌幅确认产品收益
            multiplier=n/12
            price_change=df_part1.loc[obs_date[position],'标的指数收盘价']/df_return.iloc[k,1]-1
            if price_change>r:
                df_return.iloc[k,6]=r
            elif price_change>0:
                df_return.iloc[k,6]=price_change/multiplier
            else:
                df_return.iloc[k,6]=0
    
        #记录敲出或者到期的时间
        df_return.iloc[k,4]=obs_date[position]
        print(obs_date[position])
        
        #记录敲出或到期时指数点位
        df_return.iloc[k,5]=df_part1.loc[obs_date[position],'标的指数收盘价']
    
    
    # 计算两个日期之间的差距
    df_return['date'] = pd.to_datetime(df_return['date'])
    df_return['敲出或者到期时间'] = pd.to_datetime(df_return['敲出或者到期时间'])
    df_return['产品存续天数'] = (df_return['突破或者到期时间'] - df_return['date']).dt.days
             
    return df_return

In [9]:
#这里有一个确定分位数滚动从何时开始的小函数
from datetime import datetime, timedelta

def find_trading_day(begin_date, trading_day_list,roll_length):
    # 将日期字符转换为datetime对象
    date_format = "%Y-%m-%d"  # 假设日期字符的格式为"年-月-日"，如"2023-07-21"
    begin_date_obj = datetime.strptime(begin_date, date_format)

    # 找到begin_date在trading_day_list中的索引
    index_of_begin_date = trading_day_list.index(begin_date)

    # 找到在trading_day_list中的第252个交易日期
    days_to_add = 252
    if index_of_begin_date + days_to_add < len(trading_day_list):
        result_date = trading_day_list[index_of_begin_date + days_to_add]
        return result_date
    else:
        return None  # 如果超出日期列表的范围，则返回None或者其他指定的值

## 先设置后面使用的一些基本参数

In [15]:
#设置标的
trade_code='000852.SH'
#设置时间
begin_date="2017-01-01"
#begin_date=find_trading_day("2004-01-02",trading_days_list,252*3)
end_date="2023-07-28"
interrupt_date="2022-07-28"
#设置产品总存续时长
n=12
#设置锁定时长
lock=3
#设置敲出界限
strike=1.10
#设置鲨鱼鳍敲出后收益率
r=0.035

## 用wind接口提取数据

In [11]:
#用wind提取数据
#导入库
from WindPy import w
import pandas as pd
w.start()
#数据提取
wdata1=w.wsd(trade_code, "close", "2013-01-01", end_date, "")
df=pd.DataFrame(wdata1.Data,columns=wdata1.Times,index=wdata1.Codes).T
df['date']=df.index
df['标的指数收盘价']=df.iloc[:,0]
df=df[['date','标的指数收盘价']]
#提取PB和PE的数据
wdata2=w.wsd(trade_code, "pe_ttm,pb_lf", "2013-01-01", end_date, "")
df_pbpe1=pd.DataFrame(wdata2.Times)
df_pbpe2=pd.DataFrame(wdata2.Data).T
df_pbpe=pd.concat([df_pbpe1, df_pbpe2], axis=1)
df_pbpe.columns=['交易日期','PE','PB']
w.close()
#将读取的数据存入文件以防止多次读取浪费提取次数
df.to_excel('df.xlsx',index=False)
df_pbpe.to_excel('df_pbpe.xlsx',index=False)

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2020 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [24]:
#在使用wind读取并存入数据后，将数据读出，以便之后运算
df=pd.read_excel('df.xlsx')
df_pbpe=pd.read_excel('df_pbpe.xlsx')
df['date']=df['date'].dt.strftime('%Y-%m-%d')
df_pbpe['交易日期']=df_pbpe['交易日期'].dt.strftime('%Y-%m-%d')
df_pbpe.index=df_pbpe['交易日期']
df_pbpe=df_pbpe[['PE','PB']]

## 调入函数并进行运算

In [25]:
df_return=shark_fin(df,df_pbpe,n,lock,strike,r,begin_date,end_date,interrupt_date,252*3)
df_return.head(10)

                  date    标的指数收盘价         敲出价格  是否敲出  敲出或者到期时间  敲出或到期时指数点位  \
2017-01-03  2017-01-03  8565.1363  8864.916070     0         0           0
2017-01-04  2017-01-04  8669.9492  8973.397422     0         0           0
2017-01-05  2017-01-05  8670.7612  8974.237842     0         0           0
2017-01-06  2017-01-06  8609.8985  8911.244947     0         0           0
2017-01-09  2017-01-09  8653.8468  8956.731438     0         0           0
...                ...        ...          ...   ...       ...         ...
2023-07-24  2023-07-24  6393.7938  6617.576583     0         0           0
2023-07-25  2023-07-25  6498.2688  6725.708208     0         0           0
2023-07-26  2023-07-26  6457.2535  6683.257372     0         0           0
2023-07-27  2023-07-27  6407.5461  6631.810213     0         0           0
2023-07-28  2023-07-28  6465.3763  6691.664470     0         0           0

            年化收益率  指数点位历史分位数  产品当前是否存续  过去20天指数波动率  过去20天波动率分位数         PE  \
2017-01-03      0   0.628307         0  173.887291     0.305556  66.796303
2017-01-04      0   0.656085         0  162.355437     0.301587  67.640297
2017-01-05      0   0.656085         0  136.712935     0.250000  67.618301
2017-01-06      0   0.637566         0  110.586409     0.166667  67.092499
2017-01-09      0   0.649471         0   83.404884     0.047619  67.463600
...           ...        ...       ...         ...          ...        ...
2023-07-24      0   0.144180         0   67.831740     0.126984  35.521099
2023-07-25      0   0.238095         0   67.962290     0.134921  36.083000
2023-07-26      0   0.186508         0   68.727105     0.146825  35.910599
2023-07-27      0   0.156085         0   73.209859     0.253968  35.659599
2023-07-28      0   0.194444         0   70.973961     0.194444  36.008900

                PB     PB分位数     PE分位数
2017-01-03  3.7262       NaN       NaN
2017-01-04  3.7675       NaN       NaN
2017-01-05  3.7662       NaN       NaN
2017-01-06  3.7369       NaN       NaN
2017-01-09  3.7573       NaN       NaN
...            ...       ...       ...
2023-07-24  2.2790  0.072090  0.452381
2023-07-25  2.3153  0.123016  0.531746
2023-07-26  2.3048  0.107143  0.500000
2023-07-27  2.2892  0.087963  0.470899
2023-07-28  2.3115  0.117725  0.518519

[1597 rows x 15 columns]
                  date    标的指数收盘价         敲出价格  是否敲出  敲出或者到期时间  敲出或到期时指数点位  \
2017-01-03  2017-01-03  8565.1363  8864.916070     0         0           0
2017-01-04  2017-01-04  8669.9492  8973.397422     0         0           0
2017-01-05  2017-01-05  8670.7612  8974.237842     0         0           0
2017-01-06  2017-01-06  8609.8985  8911.244947     0         0           0
2017-01-09  2017-01-09  8653.8468  8956.731438     0         0           0
...                ...        ...          ...   ...       ...         ...
2022-07-22  2022-07-22  7034.5975  7280.808412     0         0           0
2022-07-25  2022-07-25  6948.9088  7192.120608     0         0           0
2022-07-26  2022-07-26  7027.4189  7273.378561     0         0           0
2022-07-27  2022-07-27  7099.4335  7347.913672     0         0           0
2022-07-28  2022-07-28  7150.1980  7400.454930     0         0           0

            年化收益率  指数点位历史分位数  产品当前是否存续  过去20天指数波动率  过去20天波动率分位数         PE  \
2017-01-03      0   0.628307         0  173.887291     0.305556  66.796303
2017-01-04      0   0.656085         0  162.355437     0.301587  67.640297
2017-01-05      0   0.656085         0  136.712935     0.250000  67.618301
2017-01-06      0   0.637566         0  110.586409     0.166667  67.092499
2017-01-09      0   0.649471         0   83.404884     0.047619  67.463600
...           ...        ...       ...         ...          ...        ...
2022-07-22      0   0.728836         0   89.815263     0.095238  30.438999
2022-07-25      0   0.693122         0   89.818795     0.099206  30.083401
2022-07-26      0   0.726190         0   87.326174     0.071429  30.416100
2022-07-27      0   0.757937         0   90.056432     0.107143  30.732800
2022-07-28      0   0.772487         0   97.604961     0.130952  30.921801

                PB     PB分位数     PE分位数
2017-01-03  3.7262       NaN       NaN
2017-01-04  3.7675       NaN       NaN
2017-01-05  3.7662       NaN       NaN
2017-01-06  3.7369       NaN       NaN
2017-01-09  3.7573       NaN       NaN
...            ...       ...       ...
2022-07-22  2.6645  0.611111  0.093915
2022-07-25  2.6347  0.551587  0.072751
2022-07-26  2.6632  0.606481  0.095238
2022-07-27  2.6917  0.640212  0.111111
2022-07-28  2.7114  0.660053  0.119048

[1354 rows x 15 columns]
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-05', '2017-05-03', '2017-06-05', '2017-07-03', '2017-08-03', '2017-09-04', '2017-10-09', '2017-11-03', '2017-12-04', '2018-01-03']
obs22017-04-05    2017-04-05
2017-04-06    2017-04-06
2017-04-07    2017-04-07
2017-04-10    2017-04-10
2017-04-11    2017-04-11
                 ...
2017-12-27    2017-12-27
2017-12-28    2017-12-28
2017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
Name: date, Length: 187, dtype: object
2018-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-05', '2017-05-04', '2017-06-05', '2017-07-04', '2017-08-04', '2017-09-04', '2017-10-09', '2017-11-06', '2017-12-04', '2018-01-04']
obs22017-04-05    2017-04-05
2017-04-06    2017-04-06
2017-04-07    2017-04-07
2017-04-10    2017-04-10
2017-04-11    2017-04-11
                 ...
2017-12-28    2017-12-28
2017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
2018-01-04    2018-01-04
Name: date, Length: 188, dtype: object
2018-01-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-05', '2017-05-05', '2017-06-05', '2017-07-05', '2017-08-07', '2017-09-05', '2017-10-09', '2017-11-06', '2017-12-05', '2018-01-05']
obs22017-04-05    2017-04-05
2017-04-06    2017-04-06
2017-04-07    2017-04-07
2017-04-10    2017-04-10
2017-04-11    2017-04-11
                 ...
2017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
2018-01-04    2018-01-04
2018-01-05    2018-01-05
Name: date, Length: 189, dtype: object
2018-01-05
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-06', '2017-05-08', '2017-06-06', '2017-07-06', '2017-08-07', '2017-09-06', '2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08']
obs22017-04-06    2017-04-06
2017-04-07    2017-04-07
2017-04-10    2017-04-10
2017-04-11    2017-04-11
2017-04-12    2017-04-12
                 ...
2018-01-02    2018-01-02
2018-01-03    2018-01-03
2018-01-04    2018-01-04
2018-01-05    2018-01-05
2018-01-08    2018-01-08
Name: date, Length: 189, dtype: object
2018-01-08
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-10', '2017-05-09', '2017-06-09', '2017-07-10', '2017-08-09', '2017-09-11', '2017-10-09', '2017-11-09', '2017-12-11', '2018-01-09']
obs22017-04-10    2017-04-10
2017-04-11    2017-04-11
2017-04-12    2017-04-12
2017-04-13    2017-04-13
2017-04-14    2017-04-14
                 ...
2018-01-03    2018-01-03
2018-01-04    2018-01-04
2018-01-05    2018-01-05
2018-01-08    2018-01-08
2018-01-09    2018-01-09
Name: date, Length: 188, dtype: object
2018-01-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-10', '2017-05-10', '2017-06-12', '2017-07-10', '2017-08-10', '2017-09-11', '2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10']
obs22017-04-10    2017-04-10
2017-04-11    2017-04-11
2017-04-12    2017-04-12
2017-04-13    2017-04-13
2017-04-14    2017-04-14
                 ...
2018-01-04    2018-01-04
2018-01-05    2018-01-05
2018-01-08    2018-01-08
2018-01-09    2018-01-09
2018-01-10    2018-01-10
Name: date, Length: 189, dtype: object
2018-01-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-11', '2017-05-11', '2017-06-12', '2017-07-11', '2017-08-11', '2017-09-11', '2017-10-11', '2017-11-13', '2017-12-11', '2018-01-11']
obs22017-04-11    2017-04-11
2017-04-12    2017-04-12
2017-04-13    2017-04-13
2017-04-14    2017-04-14
2017-04-17    2017-04-17
                 ...
2018-01-05    2018-01-05
2018-01-08    2018-01-08
2018-01-09    2018-01-09
2018-01-10    2018-01-10
2018-01-11    2018-01-11
Name: date, Length: 189, dtype: object
2018-01-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-12', '2017-05-12', '2017-06-12', '2017-07-12', '2017-08-14', '2017-09-12', '2017-10-12', '2017-11-13', '2017-12-12', '2018-01-12']
obs22017-04-12    2017-04-12
2017-04-13    2017-04-13
2017-04-14    2017-04-14
2017-04-17    2017-04-17
2017-04-18    2017-04-18
                 ...
2018-01-08    2018-01-08
2018-01-09    2018-01-09
2018-01-10    2018-01-10
2018-01-11    2018-01-11
2018-01-12    2018-01-12
Name: date, Length: 189, dtype: object
2018-01-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-13', '2017-05-15', '2017-06-13', '2017-07-13', '2017-08-14', '2017-09-13', '2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15']
obs22017-04-13    2017-04-13
2017-04-14    2017-04-14
2017-04-17    2017-04-17
2017-04-18    2017-04-18
2017-04-19    2017-04-19
                 ...
2018-01-09    2018-01-09
2018-01-10    2018-01-10
2018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
Name: date, Length: 189, dtype: object
2018-01-15
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-17', '2017-05-16', '2017-06-16', '2017-07-17', '2017-08-16', '2017-09-18', '2017-10-16', '2017-11-16', '2017-12-18', '2018-01-16']
obs22017-04-17    2017-04-17
2017-04-18    2017-04-18
2017-04-19    2017-04-19
2017-04-20    2017-04-20
2017-04-21    2017-04-21
                 ...
2018-01-10    2018-01-10
2018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
Name: date, Length: 188, dtype: object
2017-04-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-17', '2017-05-17', '2017-06-19', '2017-07-17', '2017-08-17', '2017-09-18', '2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17']
obs22017-04-17    2017-04-17
2017-04-18    2017-04-18
2017-04-19    2017-04-19
2017-04-20    2017-04-20
2017-04-21    2017-04-21
                 ...
2018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
Name: date, Length: 189, dtype: object
2018-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-18', '2017-05-18', '2017-06-19', '2017-07-18', '2017-08-18', '2017-09-18', '2017-10-18', '2017-11-20', '2017-12-18', '2018-01-18']
obs22017-04-18    2017-04-18
2017-04-19    2017-04-19
2017-04-20    2017-04-20
2017-04-21    2017-04-21
2017-04-24    2017-04-24
                 ...
2018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
Name: date, Length: 189, dtype: object
2018-01-18
3
4
5
6
7
8
9
10
11
12

E:\myresource\apps\anaconda\anaconda3\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

obs1['2017-04-19', '2017-05-19', '2017-06-19', '2017-07-19', '2017-08-21', '2017-09-19', '2017-10-19', '2017-11-20', '2017-12-19', '2018-01-19']
obs22017-04-19    2017-04-19
2017-04-20    2017-04-20
2017-04-21    2017-04-21
2017-04-24    2017-04-24
2017-04-25    2017-04-25
                 ...
2018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
Name: date, Length: 189, dtype: object
2018-01-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-20', '2017-05-22', '2017-06-20', '2017-07-20', '2017-08-21', '2017-09-20', '2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22']
obs22017-04-20    2017-04-20
2017-04-21    2017-04-21
2017-04-24    2017-04-24
2017-04-25    2017-04-25
2017-04-26    2017-04-26
                 ...
2018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
Name: date, Length: 189, dtype: object
2018-01-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-24', '2017-05-23', '2017-06-23', '2017-07-24', '2017-08-23', '2017-09-25', '2017-10-23', '2017-11-23', '2017-12-25', '2018-01-23']
obs22017-04-24    2017-04-24
2017-04-25    2017-04-25
2017-04-26    2017-04-26
2017-04-27    2017-04-27
2017-04-28    2017-04-28
                 ...
2018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
Name: date, Length: 188, dtype: object
2018-01-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-24', '2017-05-24', '2017-06-26', '2017-07-24', '2017-08-24', '2017-09-25', '2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24']
obs22017-04-24    2017-04-24
2017-04-25    2017-04-25
2017-04-26    2017-04-26
2017-04-27    2017-04-27
2017-04-28    2017-04-28
                 ...
2018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
Name: date, Length: 189, dtype: object
2018-01-24
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-25', '2017-05-25', '2017-06-26', '2017-07-25', '2017-08-25', '2017-09-25', '2017-10-25', '2017-11-27', '2017-12-25', '2018-01-25']
obs22017-04-25    2017-04-25
2017-04-26    2017-04-26
2017-04-27    2017-04-27
2017-04-28    2017-04-28
2017-05-02    2017-05-02
                 ...
2018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
2018-01-25    2018-01-25
Name: date, Length: 189, dtype: object
2018-01-25
3
4
5
6
7
8
9
10
11
12
obs1['2017-04-26', '2017-05-26', '2017-06-26', '2017-07-26', '2017-08-28', '2017-09-26', '2017-10-26', '2017-11-27', '2017-12-26', '2018-01-26']
obs22017-04-26    2017-04-26
2017-04-27    2017-04-27
2017-04-28    2017-04-28
2017-05-02    2017-05-02
2017-05-03    2017-05-03
                 ...
2018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
2018-01-25    2018-01-25
2018-01-26    2018-01-26
Name: date, Length: 189, dtype: object
2018-01-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-03', '2017-06-05', '2017-07-03', '2017-08-03', '2017-09-04', '2017-10-09', '2017-11-03', '2017-12-04', '2018-01-03', '2018-02-05']
obs22017-05-03    2017-05-03
2017-05-04    2017-05-04
2017-05-05    2017-05-05
2017-05-08    2017-05-08
2017-05-09    2017-05-09
                 ...
2018-01-30    2018-01-30
2018-01-31    2018-01-31
2018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
Name: date, Length: 191, dtype: object
2018-02-05
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-08', '2017-06-06', '2017-07-06', '2017-08-07', '2017-09-06', '2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08', '2018-02-06']
obs22017-05-08    2017-05-08
2017-05-09    2017-05-09
2017-05-10    2017-05-10
2017-05-11    2017-05-11
2017-05-12    2017-05-12
                 ...
2018-01-31    2018-01-31
2018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
Name: date, Length: 189, dtype: object
2018-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-08', '2017-06-07', '2017-07-07', '2017-08-07', '2017-09-07', '2017-10-09', '2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07']
obs22017-05-08    2017-05-08
2017-05-09    2017-05-09
2017-05-10    2017-05-10
2017-05-11    2017-05-11
2017-05-12    2017-05-12
                 ...
2018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
Name: date, Length: 190, dtype: object
2018-02-07
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-08', '2017-06-08', '2017-07-10', '2017-08-08', '2017-09-08', '2017-10-09', '2017-11-08', '2017-12-08', '2018-01-08', '2018-02-08']
obs22017-05-08    2017-05-08
2017-05-09    2017-05-09
2017-05-10    2017-05-10
2017-05-11    2017-05-11
2017-05-12    2017-05-12
                 ...
2018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
Name: date, Length: 191, dtype: object
2018-02-08
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-09', '2017-06-09', '2017-07-10', '2017-08-09', '2017-09-11', '2017-10-09', '2017-11-09', '2017-12-11', '2018-01-09', '2018-02-09']
obs22017-05-09    2017-05-09
2017-05-10    2017-05-10
2017-05-11    2017-05-11
2017-05-12    2017-05-12
2017-05-15    2017-05-15
                 ...
2018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
Name: date, Length: 191, dtype: object
2018-02-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-10', '2017-06-12', '2017-07-10', '2017-08-10', '2017-09-11', '2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12']
obs22017-05-10    2017-05-10
2017-05-11    2017-05-11
2017-05-12    2017-05-12
2017-05-15    2017-05-15
2017-05-16    2017-05-16
                 ...
2018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
Name: date, Length: 191, dtype: object
2018-02-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-15', '2017-06-13', '2017-07-13', '2017-08-14', '2017-09-13', '2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15', '2018-02-13']
obs22017-05-15    2017-05-15
2017-05-16    2017-05-16
2017-05-17    2017-05-17
2017-05-18    2017-05-18
2017-05-19    2017-05-19
                 ...
2018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
Name: date, Length: 189, dtype: object
2018-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-15', '2017-06-14', '2017-07-14', '2017-08-14', '2017-09-14', '2017-10-16', '2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14']
obs22017-05-15    2017-05-15
2017-05-16    2017-05-16
2017-05-17    2017-05-17
2017-05-18    2017-05-18
2017-05-19    2017-05-19
                 ...
2018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
Name: date, Length: 190, dtype: object
2018-02-14
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-15', '2017-06-15', '2017-07-17', '2017-08-15', '2017-09-15', '2017-10-16', '2017-11-15', '2017-12-15', '2018-01-15', '2018-02-22']
obs22017-05-15    2017-05-15
2017-05-16    2017-05-16
2017-05-17    2017-05-17
2017-05-18    2017-05-18
2017-05-19    2017-05-19
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 191, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-16', '2017-06-16', '2017-07-17', '2017-08-16', '2017-09-18', '2017-10-16', '2017-11-16', '2017-12-18', '2018-01-16', '2018-02-22']
obs22017-05-16    2017-05-16
2017-05-17    2017-05-17
2017-05-18    2017-05-18
2017-05-19    2017-05-19
2017-05-22    2017-05-22
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 190, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-17', '2017-06-19', '2017-07-17', '2017-08-17', '2017-09-18', '2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22']
obs22017-05-17    2017-05-17
2017-05-18    2017-05-18
2017-05-19    2017-05-19
2017-05-22    2017-05-22
2017-05-23    2017-05-23
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 189, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-22', '2017-06-20', '2017-07-20', '2017-08-21', '2017-09-20', '2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22', '2018-02-22']
obs22017-05-22    2017-05-22
2017-05-23    2017-05-23
2017-05-24    2017-05-24
2017-05-25    2017-05-25
2017-05-26    2017-05-26
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 186, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-22', '2017-06-21', '2017-07-21', '2017-08-21', '2017-09-21', '2017-10-23', '2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22']
obs22017-05-22    2017-05-22
2017-05-23    2017-05-23
2017-05-24    2017-05-24
2017-05-25    2017-05-25
2017-05-26    2017-05-26
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 186, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-22', '2017-06-22', '2017-07-24', '2017-08-22', '2017-09-22', '2017-10-23', '2017-11-22', '2017-12-22', '2018-01-22', '2018-02-22']
obs22017-05-22    2017-05-22
2017-05-23    2017-05-23
2017-05-24    2017-05-24
2017-05-25    2017-05-25
2017-05-26    2017-05-26
                 ...
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
Name: date, Length: 186, dtype: object
2018-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-23', '2017-06-23', '2017-07-24', '2017-08-23', '2017-09-25', '2017-10-23', '2017-11-23', '2017-12-25', '2018-01-23', '2018-02-23']
obs22017-05-23    2017-05-23
2017-05-24    2017-05-24
2017-05-25    2017-05-25
2017-05-26    2017-05-26
2017-05-31    2017-05-31
                 ...
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
Name: date, Length: 186, dtype: object
2018-02-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-24', '2017-06-26', '2017-07-24', '2017-08-24', '2017-09-25', '2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26']
obs22017-05-24    2017-05-24
2017-05-25    2017-05-25
2017-05-26    2017-05-26
2017-05-31    2017-05-31
2017-06-01    2017-06-01
                 ...
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
Name: date, Length: 186, dtype: object
2018-02-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-31', '2017-06-27', '2017-07-27', '2017-08-28', '2017-09-27', '2017-10-27', '2017-11-27', '2017-12-27', '2018-01-29', '2018-02-27']
obs22017-05-31    2017-05-31
2017-06-01    2017-06-01
2017-06-02    2017-06-02
2017-06-05    2017-06-05
2017-06-06    2017-06-06
                 ...
2018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
Name: date, Length: 184, dtype: object
2018-02-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-05-31', '2017-06-28', '2017-07-28', '2017-08-28', '2017-09-28', '2017-10-30', '2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28']
obs22017-05-31    2017-05-31
2017-06-01    2017-06-01
2017-06-02    2017-06-02
2017-06-05    2017-06-05
2017-06-06    2017-06-06
                 ...
2018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
Name: date, Length: 185, dtype: object
2018-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-01', '2017-07-03', '2017-08-01', '2017-09-01', '2017-10-09', '2017-11-01', '2017-12-01', '2018-01-02', '2018-02-01', '2018-03-01']
obs22017-06-01    2017-06-01
2017-06-02    2017-06-02
2017-06-05    2017-06-05
2017-06-06    2017-06-06
2017-06-07    2017-06-07
                 ...
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
Name: date, Length: 185, dtype: object
2018-03-01
3
4
5
6
7
8
9
10
11
12

obs1['2017-06-02', '2017-07-03', '2017-08-02', '2017-09-04', '2017-10-09', '2017-11-02', '2017-12-04', '2018-01-02', '2018-02-02', '2018-03-02']
obs22017-06-02    2017-06-02
2017-06-05    2017-06-05
2017-06-06    2017-06-06
2017-06-07    2017-06-07
2017-06-08    2017-06-08
                 ...
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
Name: date, Length: 185, dtype: object
2018-03-02
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-05', '2017-07-03', '2017-08-03', '2017-09-04', '2017-10-09', '2017-11-03', '2017-12-04', '2018-01-03', '2018-02-05', '2018-03-05']
obs22017-06-05    2017-06-05
2017-06-06    2017-06-06
2017-06-07    2017-06-07
2017-06-08    2017-06-08
2017-06-09    2017-06-09
                 ...
2018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
Name: date, Length: 185, dtype: object
2018-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-06', '2017-07-06', '2017-08-07', '2017-09-06', '2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08', '2018-02-06', '2018-03-06']
obs22017-06-06    2017-06-06
2017-06-07    2017-06-07
2017-06-08    2017-06-08
2017-06-09    2017-06-09
2017-06-12    2017-06-12
                 ...
2018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
Name: date, Length: 185, dtype: object
2018-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-07', '2017-07-07', '2017-08-07', '2017-09-07', '2017-10-09', '2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07']
obs22017-06-07    2017-06-07
2017-06-08    2017-06-08
2017-06-09    2017-06-09
2017-06-12    2017-06-12
2017-06-13    2017-06-13
                 ...
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
Name: date, Length: 185, dtype: object
2018-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-08', '2017-07-10', '2017-08-08', '2017-09-08', '2017-10-09', '2017-11-08', '2017-12-08', '2018-01-08', '2018-02-08', '2018-03-08']
obs22017-06-08    2017-06-08
2017-06-09    2017-06-09
2017-06-12    2017-06-12
2017-06-13    2017-06-13
2017-06-14    2017-06-14
                 ...
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
Name: date, Length: 185, dtype: object
2018-03-08
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-09', '2017-07-10', '2017-08-09', '2017-09-11', '2017-10-09', '2017-11-09', '2017-12-11', '2018-01-09', '2018-02-09', '2018-03-09']
obs22017-06-09    2017-06-09
2017-06-12    2017-06-12
2017-06-13    2017-06-13
2017-06-14    2017-06-14
2017-06-15    2017-06-15
                 ...
2018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
Name: date, Length: 185, dtype: object
2018-03-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-12', '2017-07-10', '2017-08-10', '2017-09-11', '2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12', '2018-03-12']
obs22017-06-12    2017-06-12
2017-06-13    2017-06-13
2017-06-14    2017-06-14
2017-06-15    2017-06-15
2017-06-16    2017-06-16
                 ...
2018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
Name: date, Length: 185, dtype: object
2018-03-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-13', '2017-07-13', '2017-08-14', '2017-09-13', '2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15', '2018-02-13', '2018-03-13']
obs22017-06-13    2017-06-13
2017-06-14    2017-06-14
2017-06-15    2017-06-15
2017-06-16    2017-06-16
2017-06-19    2017-06-19
                 ...
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
2018-03-13    2018-03-13
Name: date, Length: 185, dtype: object
2018-03-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-14', '2017-07-14', '2017-08-14', '2017-09-14', '2017-10-16', '2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14']
obs22017-06-14    2017-06-14
2017-06-15    2017-06-15
2017-06-16    2017-06-16
2017-06-19    2017-06-19
2017-06-20    2017-06-20
                 ...
2018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
Name: date, Length: 185, dtype: object
2018-03-14
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-15', '2017-07-17', '2017-08-15', '2017-09-15', '2017-10-16', '2017-11-15', '2017-12-15', '2018-01-15', '2018-02-22', '2018-03-15']
obs22017-06-15    2017-06-15
2017-06-16    2017-06-16
2017-06-19    2017-06-19
2017-06-20    2017-06-20
2017-06-21    2017-06-21
                 ...
2018-03-09    2018-03-09
2018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
Name: date, Length: 185, dtype: object
2018-03-15
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-16', '2017-07-17', '2017-08-16', '2017-09-18', '2017-10-16', '2017-11-16', '2017-12-18', '2018-01-16', '2018-02-22', '2018-03-16']
obs22017-06-16    2017-06-16
2017-06-19    2017-06-19
2017-06-20    2017-06-20
2017-06-21    2017-06-21
2017-06-22    2017-06-22
                 ...
2018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
Name: date, Length: 185, dtype: object
2018-03-16
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-19', '2017-07-17', '2017-08-17', '2017-09-18', '2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22', '2018-03-19']
obs22017-06-19    2017-06-19
2017-06-20    2017-06-20
2017-06-21    2017-06-21
2017-06-22    2017-06-22
2017-06-23    2017-06-23
                 ...
2018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
Name: date, Length: 185, dtype: object
2018-03-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-20', '2017-07-20', '2017-08-21', '2017-09-20', '2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22', '2018-02-22', '2018-03-20']
obs22017-06-20    2017-06-20
2017-06-21    2017-06-21
2017-06-22    2017-06-22
2017-06-23    2017-06-23
2017-06-26    2017-06-26
                 ...
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
2018-03-20    2018-03-20
Name: date, Length: 185, dtype: object
2018-03-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-21', '2017-07-21', '2017-08-21', '2017-09-21', '2017-10-23', '2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21']
obs22017-06-21    2017-06-21
2017-06-22    2017-06-22
2017-06-23    2017-06-23
2017-06-26    2017-06-26
2017-06-27    2017-06-27
                 ...
2018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
Name: date, Length: 185, dtype: object
2018-03-21
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-22', '2017-07-24', '2017-08-22', '2017-09-22', '2017-10-23', '2017-11-22', '2017-12-22', '2018-01-22', '2018-02-22', '2018-03-22']
obs22017-06-22    2017-06-22
2017-06-23    2017-06-23
2017-06-26    2017-06-26
2017-06-27    2017-06-27
2017-06-28    2017-06-28
                 ...
2018-03-16    2018-03-16
2018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
Name: date, Length: 185, dtype: object
2018-03-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-23', '2017-07-24', '2017-08-23', '2017-09-25', '2017-10-23', '2017-11-23', '2017-12-25', '2018-01-23', '2018-02-23', '2018-03-23']
obs22017-06-23    2017-06-23
2017-06-26    2017-06-26
2017-06-27    2017-06-27
2017-06-28    2017-06-28
2017-06-29    2017-06-29
                 ...
2018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
Name: date, Length: 185, dtype: object
2018-03-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-26', '2017-07-24', '2017-08-24', '2017-09-25', '2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26', '2018-03-26']
obs22017-06-26    2017-06-26
2017-06-27    2017-06-27
2017-06-28    2017-06-28
2017-06-29    2017-06-29
2017-06-30    2017-06-30
                 ...
2018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
Name: date, Length: 185, dtype: object
2018-03-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-27', '2017-07-27', '2017-08-28', '2017-09-27', '2017-10-27', '2017-11-27', '2017-12-27', '2018-01-29', '2018-02-27', '2018-03-27']
obs22017-06-27    2017-06-27
2017-06-28    2017-06-28
2017-06-29    2017-06-29
2017-06-30    2017-06-30
2017-07-03    2017-07-03
                 ...
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
2018-03-27    2018-03-27
Name: date, Length: 185, dtype: object
2018-03-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-28', '2017-07-28', '2017-08-28', '2017-09-28', '2017-10-30', '2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28']
obs22017-06-28    2017-06-28
2017-06-29    2017-06-29
2017-06-30    2017-06-30
2017-07-03    2017-07-03
2017-07-04    2017-07-04
                 ...
2018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
Name: date, Length: 185, dtype: object
2018-03-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-29', '2017-07-31', '2017-08-29', '2017-09-29', '2017-10-30', '2017-11-29', '2017-12-29', '2018-01-29', '2018-02-28', '2018-03-29']
obs22017-06-29    2017-06-29
2017-06-30    2017-06-30
2017-07-03    2017-07-03
2017-07-04    2017-07-04
2017-07-05    2017-07-05
                 ...
2018-03-23    2018-03-23
2018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
Name: date, Length: 185, dtype: object
2018-03-29
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-30', '2017-07-31', '2017-08-30', '2017-10-09', '2017-10-30', '2017-11-30', '2018-01-02', '2018-01-30', '2018-02-28', '2018-03-30']
obs22017-06-30    2017-06-30
2017-07-03    2017-07-03
2017-07-04    2017-07-04
2017-07-05    2017-07-05
2017-07-06    2017-07-06
                 ...
2018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
Name: date, Length: 185, dtype: object
2018-03-30
3
4
5
6
7
8
9
10
11
12
obs1['2017-06-30', '2017-07-31', '2017-08-31', '2017-10-09', '2017-10-31', '2017-11-30', '2018-01-02', '2018-01-31', '2018-02-28', '2018-04-02']
obs22017-06-30    2017-06-30
2017-07-03    2017-07-03
2017-07-04    2017-07-04
2017-07-05    2017-07-05
2017-07-06    2017-07-06
                 ...
2018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
2018-04-02    2018-04-02
Name: date, Length: 186, dtype: object
2018-04-02
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-05', '2017-08-07', '2017-09-05', '2017-10-09', '2017-11-06', '2017-12-05', '2018-01-05', '2018-02-05', '2018-03-05', '2018-04-09']
obs22017-07-05    2017-07-05
2017-07-06    2017-07-06
2017-07-07    2017-07-07
2017-07-10    2017-07-10
2017-07-11    2017-07-11
                 ...
2018-03-30    2018-03-30
2018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
Name: date, Length: 186, dtype: object
2018-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-06', '2017-08-07', '2017-09-06', '2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08', '2018-02-06', '2018-03-06', '2018-04-09']
obs22017-07-06    2017-07-06
2017-07-07    2017-07-07
2017-07-10    2017-07-10
2017-07-11    2017-07-11
2017-07-12    2017-07-12
                 ...
2018-03-30    2018-03-30
2018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
Name: date, Length: 185, dtype: object
2018-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-07', '2017-08-07', '2017-09-07', '2017-10-09', '2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07', '2018-04-09']
obs22017-07-07    2017-07-07
2017-07-10    2017-07-10
2017-07-11    2017-07-11
2017-07-12    2017-07-12
2017-07-13    2017-07-13
                 ...
2018-03-30    2018-03-30
2018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
Name: date, Length: 184, dtype: object
2018-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-10', '2017-08-10', '2017-09-11', '2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12', '2018-03-12', '2018-04-10']
obs22017-07-10    2017-07-10
2017-07-11    2017-07-11
2017-07-12    2017-07-12
2017-07-13    2017-07-13
2017-07-14    2017-07-14
                 ...
2018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
Name: date, Length: 184, dtype: object
2018-04-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-11', '2017-08-11', '2017-09-11', '2017-10-11', '2017-11-13', '2017-12-11', '2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11']
obs22017-07-11    2017-07-11
2017-07-12    2017-07-12
2017-07-13    2017-07-13
2017-07-14    2017-07-14
2017-07-17    2017-07-17
                 ...
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
Name: date, Length: 184, dtype: object
2018-04-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-12', '2017-08-14', '2017-09-12', '2017-10-12', '2017-11-13', '2017-12-12', '2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12']
obs22017-07-12    2017-07-12
2017-07-13    2017-07-13
2017-07-14    2017-07-14
2017-07-17    2017-07-17
2017-07-18    2017-07-18
                 ...
2018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
Name: date, Length: 184, dtype: object
2018-04-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-13', '2017-08-14', '2017-09-13', '2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15', '2018-02-13', '2018-03-13', '2018-04-13']
obs22017-07-13    2017-07-13
2017-07-14    2017-07-14
2017-07-17    2017-07-17
2017-07-18    2017-07-18
2017-07-19    2017-07-19
                 ...
2018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
Name: date, Length: 184, dtype: object
2018-04-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-14', '2017-08-14', '2017-09-14', '2017-10-16', '2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14', '2018-04-16']
obs22017-07-14    2017-07-14
2017-07-17    2017-07-17
2017-07-18    2017-07-18
2017-07-19    2017-07-19
2017-07-20    2017-07-20
                 ...
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
Name: date, Length: 184, dtype: object
2018-04-16
3
4
5
6
7
8
9
10
11
12

obs1['2017-07-17', '2017-08-17', '2017-09-18', '2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22', '2018-03-19', '2018-04-17']
obs22017-07-17    2017-07-17
2017-07-18    2017-07-18
2017-07-19    2017-07-19
2017-07-20    2017-07-20
2017-07-21    2017-07-21
                 ...
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
2018-04-17    2018-04-17
Name: date, Length: 184, dtype: object
2018-04-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-18', '2017-08-18', '2017-09-18', '2017-10-18', '2017-11-20', '2017-12-18', '2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18']
obs22017-07-18    2017-07-18
2017-07-19    2017-07-19
2017-07-20    2017-07-20
2017-07-21    2017-07-21
2017-07-24    2017-07-24
                 ...
2018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
Name: date, Length: 184, dtype: object
2018-04-18
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-19', '2017-08-21', '2017-09-19', '2017-10-19', '2017-11-20', '2017-12-19', '2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19']
obs22017-07-19    2017-07-19
2017-07-20    2017-07-20
2017-07-21    2017-07-21
2017-07-24    2017-07-24
2017-07-25    2017-07-25
                 ...
2018-04-13    2018-04-13
2018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
Name: date, Length: 184, dtype: object
2018-04-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-20', '2017-08-21', '2017-09-20', '2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22', '2018-02-22', '2018-03-20', '2018-04-20']
obs22017-07-20    2017-07-20
2017-07-21    2017-07-21
2017-07-24    2017-07-24
2017-07-25    2017-07-25
2017-07-26    2017-07-26
                 ...
2018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
Name: date, Length: 184, dtype: object
2018-04-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-21', '2017-08-21', '2017-09-21', '2017-10-23', '2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21', '2018-04-23']
obs22017-07-21    2017-07-21
2017-07-24    2017-07-24
2017-07-25    2017-07-25
2017-07-26    2017-07-26
2017-07-27    2017-07-27
                 ...
2018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
Name: date, Length: 184, dtype: object
2018-04-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-24', '2017-08-24', '2017-09-25', '2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26', '2018-03-26', '2018-04-24']
obs22017-07-24    2017-07-24
2017-07-25    2017-07-25
2017-07-26    2017-07-26
2017-07-27    2017-07-27
2017-07-28    2017-07-28
                 ...
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
2018-04-24    2018-04-24
Name: date, Length: 184, dtype: object
2017-09-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-25', '2017-08-25', '2017-09-25', '2017-10-25', '2017-11-27', '2017-12-25', '2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25']
obs22017-07-25    2017-07-25
2017-07-26    2017-07-26
2017-07-27    2017-07-27
2017-07-28    2017-07-28
2017-07-31    2017-07-31
                 ...
2018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
Name: date, Length: 184, dtype: object
2017-10-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-26', '2017-08-28', '2017-09-26', '2017-10-26', '2017-11-27', '2017-12-26', '2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26']
obs22017-07-26    2017-07-26
2017-07-27    2017-07-27
2017-07-28    2017-07-28
2017-07-31    2017-07-31
2017-08-01    2017-08-01
                 ...
2018-04-20    2018-04-20
2018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
Name: date, Length: 184, dtype: object
2018-04-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-27', '2017-08-28', '2017-09-27', '2017-10-27', '2017-11-27', '2017-12-27', '2018-01-29', '2018-02-27', '2018-03-27', '2018-04-27']
obs22017-07-27    2017-07-27
2017-07-28    2017-07-28
2017-07-31    2017-07-31
2017-08-01    2017-08-01
2017-08-02    2017-08-02
                 ...
2018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
Name: date, Length: 184, dtype: object
2018-04-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-07-28', '2017-08-28', '2017-09-28', '2017-10-30', '2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28', '2018-05-02']
obs22017-07-28    2017-07-28
2017-07-31    2017-07-31
2017-08-01    2017-08-01
2017-08-02    2017-08-02
2017-08-03    2017-08-03
                 ...
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
Name: date, Length: 184, dtype: object
2018-05-02
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-02', '2017-09-04', '2017-10-09', '2017-11-02', '2017-12-04', '2018-01-02', '2018-02-02', '2018-03-02', '2018-04-02', '2018-05-02']
obs22017-08-02    2017-08-02
2017-08-03    2017-08-03
2017-08-04    2017-08-04
2017-08-07    2017-08-07
2017-08-08    2017-08-08
                 ...
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
Name: date, Length: 181, dtype: object
2018-05-02
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-03', '2017-09-04', '2017-10-09', '2017-11-03', '2017-12-04', '2018-01-03', '2018-02-05', '2018-03-05', '2018-04-03', '2018-05-03']
obs22017-08-03    2017-08-03
2017-08-04    2017-08-04
2017-08-07    2017-08-07
2017-08-08    2017-08-08
2017-08-09    2017-08-09
                 ...
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
2018-05-03    2018-05-03
Name: date, Length: 181, dtype: object
2018-05-03
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-04', '2017-09-04', '2017-10-09', '2017-11-06', '2017-12-04', '2018-01-04', '2018-02-05', '2018-03-05', '2018-04-04', '2018-05-04']
obs22017-08-04    2017-08-04
2017-08-07    2017-08-07
2017-08-08    2017-08-08
2017-08-09    2017-08-09
2017-08-10    2017-08-10
                 ...
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
Name: date, Length: 181, dtype: object
2018-05-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-07', '2017-09-05', '2017-10-09', '2017-11-06', '2017-12-05', '2018-01-05', '2018-02-05', '2018-03-05', '2018-04-09', '2018-05-07']
obs22017-08-07    2017-08-07
2017-08-08    2017-08-08
2017-08-09    2017-08-09
2017-08-10    2017-08-10
2017-08-11    2017-08-11
                 ...
2018-04-27    2018-04-27
2018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
Name: date, Length: 181, dtype: object
2017-09-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-08', '2017-09-08', '2017-10-09', '2017-11-08', '2017-12-08', '2018-01-08', '2018-02-08', '2018-03-08', '2018-04-09', '2018-05-08']
obs22017-08-08    2017-08-08
2017-08-09    2017-08-09
2017-08-10    2017-08-10
2017-08-11    2017-08-11
2017-08-14    2017-08-14
                 ...
2018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
Name: date, Length: 181, dtype: object
2017-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-09', '2017-09-11', '2017-10-09', '2017-11-09', '2017-12-11', '2018-01-09', '2018-02-09', '2018-03-09', '2018-04-09', '2018-05-09']
obs22017-08-09    2017-08-09
2017-08-10    2017-08-10
2017-08-11    2017-08-11
2017-08-14    2017-08-14
2017-08-15    2017-08-15
                 ...
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
Name: date, Length: 181, dtype: object
2017-09-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-10', '2017-09-11', '2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12', '2018-03-12', '2018-04-10', '2018-05-10']
obs22017-08-10    2017-08-10
2017-08-11    2017-08-11
2017-08-14    2017-08-14
2017-08-15    2017-08-15
2017-08-16    2017-08-16
                 ...
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
Name: date, Length: 181, dtype: object
2017-09-01
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-11', '2017-09-11', '2017-10-11', '2017-11-13', '2017-12-11', '2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11', '2018-05-11']
obs22017-08-11    2017-08-11
2017-08-14    2017-08-14
2017-08-15    2017-08-15
2017-08-16    2017-08-16
2017-08-17    2017-08-17
                 ...
2018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
Name: date, Length: 181, dtype: object
2017-08-30
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-14', '2017-09-12', '2017-10-12', '2017-11-13', '2017-12-12', '2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12', '2018-05-14']
obs22017-08-14    2017-08-14
2017-08-15    2017-08-15
2017-08-16    2017-08-16
2017-08-17    2017-08-17
2017-08-18    2017-08-18
                 ...
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
2018-05-14    2018-05-14
Name: date, Length: 181, dtype: object
2017-08-21
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-15', '2017-09-15', '2017-10-16', '2017-11-15', '2017-12-15', '2018-01-15', '2018-02-22', '2018-03-15', '2018-04-16', '2018-05-15']
obs22017-08-15    2017-08-15
2017-08-16    2017-08-16
2017-08-17    2017-08-17
2017-08-18    2017-08-18
2017-08-21    2017-08-21
                 ...
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
2018-05-14    2018-05-14
2018-05-15    2018-05-15
Name: date, Length: 181, dtype: object
2017-08-30
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-16', '2017-09-18', '2017-10-16', '2017-11-16', '2017-12-18', '2018-01-16', '2018-02-22', '2018-03-16', '2018-04-16', '2018-05-16']
obs22017-08-16    2017-08-16
2017-08-17    2017-08-17
2017-08-18    2017-08-18
2017-08-21    2017-08-21
2017-08-22    2017-08-22
                 ...
2018-05-10    2018-05-10
2018-05-11    2018-05-11
2018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
Name: date, Length: 181, dtype: object
2017-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-17', '2017-09-18', '2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22', '2018-03-19', '2018-04-17', '2018-05-17']
obs22017-08-17    2017-08-17
2017-08-18    2017-08-18
2017-08-21    2017-08-21
2017-08-22    2017-08-22
2017-08-23    2017-08-23
                 ...
2018-05-11    2018-05-11
2018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
Name: date, Length: 181, dtype: object
2017-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-18', '2017-09-18', '2017-10-18', '2017-11-20', '2017-12-18', '2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18', '2018-05-18']
obs22017-08-18    2017-08-18
2017-08-21    2017-08-21
2017-08-22    2017-08-22
2017-08-23    2017-08-23
2017-08-24    2017-08-24
                 ...
2018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
Name: date, Length: 181, dtype: object
2017-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-21', '2017-09-19', '2017-10-19', '2017-11-20', '2017-12-19', '2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19', '2018-05-21']
obs22017-08-21    2017-08-21
2017-08-22    2017-08-22
2017-08-23    2017-08-23
2017-08-24    2017-08-24
2017-08-25    2017-08-25
                 ...
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
2018-05-21    2018-05-21
Name: date, Length: 181, dtype: object
2017-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-22', '2017-09-22', '2017-10-23', '2017-11-22', '2017-12-22', '2018-01-22', '2018-02-22', '2018-03-22', '2018-04-23', '2018-05-22']
obs22017-08-22    2017-08-22
2017-08-23    2017-08-23
2017-08-24    2017-08-24
2017-08-25    2017-08-25
2017-08-28    2017-08-28
                 ...
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
2018-05-21    2018-05-21
2018-05-22    2018-05-22
Name: date, Length: 181, dtype: object
2017-08-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-23', '2017-09-25', '2017-10-23', '2017-11-23', '2017-12-25', '2018-01-23', '2018-02-23', '2018-03-23', '2018-04-23', '2018-05-23']
obs22017-08-23    2017-08-23
2017-08-24    2017-08-24
2017-08-25    2017-08-25
2017-08-28    2017-08-28
2017-08-29    2017-08-29
                 ...
2018-05-17    2018-05-17
2018-05-18    2018-05-18
2018-05-21    2018-05-21
2018-05-22    2018-05-22
2018-05-23    2018-05-23
Name: date, Length: 181, dtype: object
2017-08-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-24', '2017-09-25', '2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26', '2018-03-26', '2018-04-24', '2018-05-24']
obs22017-08-24    2017-08-24
2017-08-25    2017-08-25
2017-08-28    2017-08-28
2017-08-29    2017-08-29
2017-08-30    2017-08-30
                 ...
2018-05-18    2018-05-18
2018-05-21    2018-05-21
2018-05-22    2018-05-22
2018-05-23    2018-05-23
2018-05-24    2018-05-24
Name: date, Length: 181, dtype: object
2017-08-24
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-25', '2017-09-25', '2017-10-25', '2017-11-27', '2017-12-25', '2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25', '2018-05-25']
obs22017-08-25    2017-08-25
2017-08-28    2017-08-28
2017-08-29    2017-08-29
2017-08-30    2017-08-30
2017-08-31    2017-08-31
                 ...
2018-05-21    2018-05-21
2018-05-22    2018-05-22
2018-05-23    2018-05-23
2018-05-24    2018-05-24
2018-05-25    2018-05-25
Name: date, Length: 181, dtype: object
2017-08-25
3
4

5
6
7
8
9
10
11
12
obs1['2017-08-28', '2017-09-26', '2017-10-26', '2017-11-27', '2017-12-26', '2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26', '2018-05-28']
obs22017-08-28    2017-08-28
2017-08-29    2017-08-29
2017-08-30    2017-08-30
2017-08-31    2017-08-31
2017-09-01    2017-09-01
                 ...
2018-05-22    2018-05-22
2018-05-23    2018-05-23
2018-05-24    2018-05-24
2018-05-25    2018-05-25
2018-05-28    2018-05-28
Name: date, Length: 181, dtype: object
2017-08-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-08-31', '2017-10-09', '2017-10-31', '2017-11-30', '2018-01-02', '2018-01-31', '2018-02-28', '2018-04-02', '2018-05-02', '2018-05-31']
obs22017-08-31    2017-08-31
2017-09-01    2017-09-01
2017-09-04    2017-09-04
2017-09-05    2017-09-05
2017-09-06    2017-09-06
                 ...
2018-05-25    2018-05-25
2018-05-28    2018-05-28
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
Name: date, Length: 181, dtype: object
2017-08-31
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-01', '2017-10-09', '2017-11-01', '2017-12-01', '2018-01-02', '2018-02-01', '2018-03-01', '2018-04-02', '2018-05-02', '2018-06-01']
obs22017-09-01    2017-09-01
2017-09-04    2017-09-04
2017-09-05    2017-09-05
2017-09-06    2017-09-06
2017-09-07    2017-09-07
                 ...
2018-05-28    2018-05-28
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
Name: date, Length: 181, dtype: object
2017-09-01
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-04', '2017-10-09', '2017-11-02', '2017-12-04', '2018-01-02', '2018-02-02', '2018-03-02', '2018-04-02', '2018-05-02', '2018-06-04']
obs22017-09-04    2017-09-04
2017-09-05    2017-09-05
2017-09-06    2017-09-06
2017-09-07    2017-09-07
2017-09-08    2017-09-08
                 ...
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
2018-06-04    2018-06-04
Name: date, Length: 181, dtype: object
2017-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-05', '2017-10-09', '2017-11-06', '2017-12-05', '2018-01-05', '2018-02-05', '2018-03-05', '2018-04-09', '2018-05-07', '2018-06-05']
obs22017-09-05    2017-09-05
2017-09-06    2017-09-06
2017-09-07    2017-09-07
2017-09-08    2017-09-08
2017-09-11    2017-09-11
                 ...
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
2018-06-04    2018-06-04
2018-06-05    2018-06-05
Name: date, Length: 181, dtype: object
2017-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-06', '2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08', '2018-02-06', '2018-03-06', '2018-04-09', '2018-05-07', '2018-06-06']
obs22017-09-06    2017-09-06
2017-09-07    2017-09-07
2017-09-08    2017-09-08
2017-09-11    2017-09-11
2017-09-12    2017-09-12
                 ...
2018-05-31    2018-05-31
2018-06-01    2018-06-01
2018-06-04    2018-06-04
2018-06-05    2018-06-05
2018-06-06    2018-06-06
Name: date, Length: 181, dtype: object
2017-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-07', '2017-10-09', '2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07']
obs22017-09-07    2017-09-07
2017-09-08    2017-09-08
2017-09-11    2017-09-11
2017-09-12    2017-09-12
2017-09-13    2017-09-13
                 ...
2018-06-01    2018-06-01
2018-06-04    2018-06-04
2018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
Name: date, Length: 181, dtype: object
2017-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-08', '2017-10-09', '2017-11-08', '2017-12-08', '2018-01-08', '2018-02-08', '2018-03-08', '2018-04-09', '2018-05-08', '2018-06-08']
obs22017-09-08    2017-09-08
2017-09-11    2017-09-11
2017-09-12    2017-09-12
2017-09-13    2017-09-13
2017-09-14    2017-09-14
                 ...
2018-06-04    2018-06-04
2018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
Name: date, Length: 181, dtype: object
2017-09-08
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-11', '2017-10-09', '2017-11-09', '2017-12-11', '2018-01-09', '2018-02-09', '2018-03-09', '2018-04-09', '2018-05-09', '2018-06-11']
obs22017-09-11    2017-09-11
2017-09-12    2017-09-12
2017-09-13    2017-09-13
2017-09-14    2017-09-14
2017-09-15    2017-09-15
                 ...
2018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
Name: date, Length: 181, dtype: object
2017-09-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-12', '2017-10-12', '2017-11-13', '2017-12-12', '2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12', '2018-05-14', '2018-06-12']
obs22017-09-12    2017-09-12
2017-09-13    2017-09-13
2017-09-14    2017-09-14
2017-09-15    2017-09-15
2017-09-18    2017-09-18
                 ...
2018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
Name: date, Length: 181, dtype: object
2017-09-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-13', '2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15', '2018-02-13', '2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13']
obs22017-09-13    2017-09-13
2017-09-14    2017-09-14
2017-09-15    2017-09-15
2017-09-18    2017-09-18
2017-09-19    2017-09-19
                 ...
2018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
Name: date, Length: 181, dtype: object
2017-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-14', '2017-10-16', '2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14']
obs22017-09-14    2017-09-14
2017-09-15    2017-09-15
2017-09-18    2017-09-18
2017-09-19    2017-09-19
2017-09-20    2017-09-20
                 ...
2018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
Name: date, Length: 181, dtype: object
2017-09-14
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-15', '2017-10-16', '2017-11-15', '2017-12-15', '2018-01-15', '2018-02-22', '2018-03-15', '2018-04-16', '2018-05-15', '2018-06-15']
obs22017-09-15    2017-09-15
2017-09-18    2017-09-18
2017-09-19    2017-09-19
2017-09-20    2017-09-20
2017-09-21    2017-09-21
                 ...
2018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
Name: date, Length: 181, dtype: object
2017-09-15
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-18', '2017-10-16', '2017-11-16', '2017-12-18', '2018-01-16', '2018-02-22', '2018-03-16', '2018-04-16', '2018-05-16', '2018-06-19']
obs22017-09-18    2017-09-18
2017-09-19    2017-09-19
2017-09-20    2017-09-20
2017-09-21    2017-09-21
2017-09-22    2017-09-22
                 ...
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
Name: date, Length: 181, dtype: object
2017-09-18
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-19', '2017-10-19', '2017-11-20', '2017-12-19', '2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19', '2018-05-21', '2018-06-19']
obs22017-09-19    2017-09-19
2017-09-20    2017-09-20
2017-09-21    2017-09-21
2017-09-22    2017-09-22
2017-09-25    2017-09-25
                 ...
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
Name: date, Length: 180, dtype: object
2017-09-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-20', '2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22', '2018-02-22', '2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20']
obs22017-09-20    2017-09-20
2017-09-21    2017-09-21
2017-09-22    2017-09-22
2017-09-25    2017-09-25
2017-09-26    2017-09-26
                 ...
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
Name: date, Length: 180, dtype: object
2017-09-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-21', '2017-10-23', '2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21']
obs22017-09-21    2017-09-21
2017-09-22    2017-09-22
2017-09-25    2017-09-25
2017-09-26    2017-09-26
2017-09-27    2017-09-27
                 ...
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
Name: date, Length: 180, dtype: object
2017-09-21
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-22', '2017-10-23', '2017-11-22', '2017-12-22', '2018-01-22', '2018-02-22', '2018-03-22', '2018-04-23', '2018-05-22', '2018-06-22']
obs22017-09-22    2017-09-22
2017-09-25    2017-09-25
2017-09-26    2017-09-26
2017-09-27    2017-09-27
2017-09-28    2017-09-28
                 ...
2018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
Name: date, Length: 180, dtype: object
2017-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-25', '2017-10-23', '2017-11-23', '2017-12-25', '2018-01-23', '2018-02-23', '2018-03-23', '2018-04-23', '2018-05-23', '2018-06-25']
obs22017-09-25    2017-09-25
2017-09-26    2017-09-26
2017-09-27    2017-09-27
2017-09-28    2017-09-28
2017-09-29    2017-09-29
                 ...
2018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
Name: date, Length: 180, dtype: object
2017-09-25
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-26', '2017-10-26', '2017-11-27', '2017-12-26', '2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26', '2018-05-28', '2018-06-26']
obs22017-09-26    2017-09-26
2017-09-27    2017-09-27
2017-09-28    2017-09-28
2017-09-29    2017-09-29
2017-10-09    2017-10-09
                 ...
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
Name: date, Length: 180, dtype: object
2017-09-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-27', '2017-10-27', '2017-11-27', '2017-12-27', '2018-01-29', '2018-02-27', '2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27']
obs22017-09-27    2017-09-27
2017-09-28    2017-09-28
2017-09-29    2017-09-29
2017-10-09    2017-10-09
2017-10-10    2017-10-10
                 ...
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
Name: date, Length: 180, dtype: object
2017-09-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-28', '2017-10-30', '2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28']
obs22017-09-28    2017-09-28
2017-09-29    2017-09-29
2017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
                 ...
2018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
Name: date, Length: 180, dtype: object
2017-09-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-09-29', '2017-10-30', '2017-11-29', '2017-12-29', '2018-01-29', '2018-02-28', '2018-03-29', '2018-05-02', '2018-05-29', '2018-06-29']
obs22017-09-29    2017-09-29
2017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
                 ...
2018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
Name: date, Length: 180, dtype: object
2017-09-29
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-09', '2017-10-30', '2017-11-30', '2018-01-02', '2018-01-30', '2018-02-28', '2018-03-30', '2018-05-02', '2018-05-30', '2018-07-02']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
Name: date, Length: 180, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-09', '2017-11-03', '2017-12-04', '2018-01-03', '2018-02-05', '2018-03-05', '2018-04-03', '2018-05-03', '2018-06-04', '2018-07-03']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
Name: date, Length: 181, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-09', '2017-11-06', '2017-12-04', '2018-01-04', '2018-02-05', '2018-03-05', '2018-04-04', '2018-05-04', '2018-06-04', '2018-07-04']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
Name: date, Length: 182, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-09', '2017-11-06', '2017-12-05', '2018-01-05', '2018-02-05', '2018-03-05', '2018-04-09', '2018-05-07', '2018-06-05', '2018-07-05']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
Name: date, Length: 183, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12

obs1['2017-10-09', '2017-11-06', '2017-12-06', '2018-01-08', '2018-02-06', '2018-03-06', '2018-04-09', '2018-05-07', '2018-06-06', '2018-07-06']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
Name: date, Length: 184, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-09', '2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07', '2018-07-09']
obs22017-10-09    2017-10-09
2017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
                 ...
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
2018-07-09    2018-07-09
Name: date, Length: 185, dtype: object
2017-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-10', '2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12', '2018-03-12', '2018-04-10', '2018-05-10', '2018-06-11', '2018-07-10']
obs22017-10-10    2017-10-10
2017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
2017-10-16    2017-10-16
                 ...
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
2018-07-09    2018-07-09
2018-07-10    2018-07-10
Name: date, Length: 185, dtype: object
2017-10-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-11', '2017-11-13', '2017-12-11', '2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11']
obs22017-10-11    2017-10-11
2017-10-12    2017-10-12
2017-10-13    2017-10-13
2017-10-16    2017-10-16
2017-10-17    2017-10-17
                 ...
2018-07-05    2018-07-05
2018-07-06    2018-07-06
2018-07-09    2018-07-09
2018-07-10    2018-07-10
2018-07-11    2018-07-11
Name: date, Length: 185, dtype: object
2017-10-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-12', '2017-11-13', '2017-12-12', '2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12', '2018-05-14', '2018-06-12', '2018-07-12']
obs22017-10-12    2017-10-12
2017-10-13    2017-10-13
2017-10-16    2017-10-16
2017-10-17    2017-10-17
2017-10-18    2017-10-18
                 ...
2018-07-06    2018-07-06
2018-07-09    2018-07-09
2018-07-10    2018-07-10
2018-07-11    2018-07-11
2018-07-12    2018-07-12
Name: date, Length: 185, dtype: object
2017-10-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-13', '2017-11-13', '2017-12-13', '2018-01-15', '2018-02-13', '2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13', '2018-07-13']
obs22017-10-13    2017-10-13
2017-10-16    2017-10-16
2017-10-17    2017-10-17
2017-10-18    2017-10-18
2017-10-19    2017-10-19
                 ...
2018-07-09    2018-07-09
2018-07-10    2018-07-10
2018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
Name: date, Length: 185, dtype: object
2017-10-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-16', '2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14', '2018-07-16']
obs22017-10-16    2017-10-16
2017-10-17    2017-10-17
2017-10-18    2017-10-18
2017-10-19    2017-10-19
2017-10-20    2017-10-20
                 ...
2018-07-10    2018-07-10
2018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
Name: date, Length: 185, dtype: object
2017-10-16
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-17', '2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22', '2018-03-19', '2018-04-17', '2018-05-17', '2018-06-19', '2018-07-17']
obs22017-10-17    2017-10-17
2017-10-18    2017-10-18
2017-10-19    2017-10-19
2017-10-20    2017-10-20
2017-10-23    2017-10-23
                 ...
2018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
Name: date, Length: 185, dtype: object
2017-10-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-18', '2017-11-20', '2017-12-18', '2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18']
obs22017-10-18    2017-10-18
2017-10-19    2017-10-19
2017-10-20    2017-10-20
2017-10-23    2017-10-23
2017-10-24    2017-10-24
                 ...
2018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
Name: date, Length: 185, dtype: object
2017-10-18
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-19', '2017-11-20', '2017-12-19', '2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19', '2018-05-21', '2018-06-19', '2018-07-19']
obs22017-10-19    2017-10-19
2017-10-20    2017-10-20
2017-10-23    2017-10-23
2017-10-24    2017-10-24
2017-10-25    2017-10-25
                 ...
2018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
Name: date, Length: 185, dtype: object
2017-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-20', '2017-11-20', '2017-12-20', '2018-01-22', '2018-02-22', '2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20', '2018-07-20']
obs22017-10-20    2017-10-20
2017-10-23    2017-10-23
2017-10-24    2017-10-24
2017-10-25    2017-10-25
2017-10-26    2017-10-26
                 ...
2018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
Name: date, Length: 185, dtype: object
2017-10-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-23', '2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21', '2018-07-23']
obs22017-10-23    2017-10-23
2017-10-24    2017-10-24
2017-10-25    2017-10-25
2017-10-26    2017-10-26
2017-10-27    2017-10-27
                 ...
2018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
Name: date, Length: 185, dtype: object
2017-10-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-24', '2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26', '2018-03-26', '2018-04-24', '2018-05-24', '2018-06-25', '2018-07-24']
obs22017-10-24    2017-10-24
2017-10-25    2017-10-25
2017-10-26    2017-10-26
2017-10-27    2017-10-27
2017-10-30    2017-10-30
                 ...
2018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
Name: date, Length: 185, dtype: object
2017-10-24
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-25', '2017-11-27', '2017-12-25', '2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25']
obs22017-10-25    2017-10-25
2017-10-26    2017-10-26
2017-10-27    2017-10-27
2017-10-30    2017-10-30
2017-10-31    2017-10-31
                 ...
2018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
Name: date, Length: 185, dtype: object
2017-10-25
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-26', '2017-11-27', '2017-12-26', '2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26', '2018-05-28', '2018-06-26', '2018-07-26']
obs22017-10-26    2017-10-26
2017-10-27    2017-10-27
2017-10-30    2017-10-30
2017-10-31    2017-10-31
2017-11-01    2017-11-01
                 ...
2018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
Name: date, Length: 185, dtype: object
2017-10-26
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-27', '2017-11-27', '2017-12-27', '2018-01-29', '2018-02-27', '2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27', '2018-07-27']
obs22017-10-27    2017-10-27
2017-10-30    2017-10-30
2017-10-31    2017-10-31
2017-11-01    2017-11-01
2017-11-02    2017-11-02
                 ...
2018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
Name: date, Length: 185, dtype: object
2017-10-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-30', '2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28', '2018-07-30']
obs22017-10-30    2017-10-30
2017-10-31    2017-10-31
2017-11-01    2017-11-01
2017-11-02    2017-11-02
2017-11-03    2017-11-03
                 ...
2018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
Name: date, Length: 185, dtype: object
2017-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-10-31', '2017-11-30', '2018-01-02', '2018-01-31', '2018-02-28', '2018-04-02', '2018-05-02', '2018-05-31', '2018-07-02', '2018-07-31']
obs22017-10-31    2017-10-31
2017-11-01    2017-11-01
2017-11-02    2017-11-02
2017-11-03    2017-11-03
2017-11-06    2017-11-06
                 ...
2018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
Name: date, Length: 185, dtype: object
2018-07-31
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-01', '2017-12-01', '2018-01-02', '2018-02-01', '2018-03-01', '2018-04-02', '2018-05-02', '2018-06-01', '2018-07-02', '2018-08-01']
obs22017-11-01    2017-11-01
2017-11-02    2017-11-02
2017-11-03    2017-11-03
2017-11-06    2017-11-06
2017-11-07    2017-11-07
                 ...
2018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
2018-08-01    2018-08-01
Name: date, Length: 185, dtype: object
2018-08-01
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-02', '2017-12-04', '2018-01-02', '2018-02-02', '2018-03-02', '2018-04-02', '2018-05-02', '2018-06-04', '2018-07-02', '2018-08-02']
obs22017-11-02    2017-11-02
2017-11-03    2017-11-03
2017-11-06    2017-11-06
2017-11-07    2017-11-07
2017-11-08    2017-11-08
                 ...
2018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
2018-08-01    2018-08-01
2018-08-02    2018-08-02
Name: date, Length: 185, dtype: object
2017-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-03', '2017-12-04', '2018-01-03', '2018-02-05', '2018-03-05', '2018-04-03', '2018-05-03', '2018-06-04', '2018-07-03', '2018-08-03']
obs22017-11-03    2017-11-03
2017-11-06    2017-11-06
2017-11-07    2017-11-07
2017-11-08    2017-11-08
2017-11-09    2017-11-09
                 ...
2018-07-30    2018-07-30
2018-07-31    2018-07-31
2018-08-01    2018-08-01
2018-08-02    2018-08-02
2018-08-03    2018-08-03
Name: date, Length: 185, dtype: object
2018-08-03
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-06', '2017-12-04', '2018-01-04', '2018-02-05', '2018-03-05', '2018-04-04', '2018-05-04', '2018-06-04', '2018-07-04', '2018-08-06']
obs22017-11-06    2017-11-06
2017-11-07    2017-11-07
2017-11-08    2017-11-08
2017-11-09    2017-11-09
2017-11-10    2017-11-10
                 ...
2018-07-31    2018-07-31
2018-08-01    2018-08-01
2018-08-02    2018-08-02
2018-08-03    2018-08-03
2018-08-06    2018-08-06
Name: date, Length: 185, dtype: object
2017-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-07', '2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07', '2018-07-09', '2018-08-07']
obs22017-11-07    2017-11-07
2017-11-08    2017-11-08
2017-11-09    2017-11-09
2017-11-10    2017-11-10
2017-11-13    2017-11-13
                 ...
2018-08-01    2018-08-01
2018-08-02    2018-08-02
2018-08-03    2018-08-03
2018-08-06    2018-08-06
2018-08-07    2018-08-07
Name: date, Length: 185, dtype: object
2018-08-07
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-08', '2017-12-08', '2018-01-08', '2018-02-08', '2018-03-08', '2018-04-09', '2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08']
obs22017-11-08    2017-11-08
2017-11-09    2017-11-09
2017-11-10    2017-11-10
2017-11-13    2017-11-13
2017-11-14    2017-11-14
                 ...
2018-08-02    2018-08-02
2018-08-03    2018-08-03
2018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
Name: date, Length: 185, dtype: object
2018-08-08
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-09', '2017-12-11', '2018-01-09', '2018-02-09', '2018-03-09', '2018-04-09', '2018-05-09', '2018-06-11', '2018-07-09', '2018-08-09']
obs22017-11-09    2017-11-09
2017-11-10    2017-11-10
2017-11-13    2017-11-13
2017-11-14    2017-11-14
2017-11-15    2017-11-15
                 ...
2018-08-03    2018-08-03
2018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
Name: date, Length: 185, dtype: object
2018-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-10', '2017-12-11', '2018-01-10', '2018-02-12', '2018-03-12', '2018-04-10', '2018-05-10', '2018-06-11', '2018-07-10', '2018-08-10']
obs22017-11-10    2017-11-10
2017-11-13    2017-11-13
2017-11-14    2017-11-14
2017-11-15    2017-11-15
2017-11-16    2017-11-16
                 ...
2018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
Name: date, Length: 185, dtype: object
2018-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-13', '2017-12-11', '2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11', '2018-08-13']
obs22017-11-13    2017-11-13
2017-11-14    2017-11-14
2017-11-15    2017-11-15
2017-11-16    2017-11-16
2017-11-17    2017-11-17
                 ...
2018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
Name: date, Length: 185, dtype: object
2017-11-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-14', '2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14', '2018-07-16', '2018-08-14']
obs22017-11-14    2017-11-14
2017-11-15    2017-11-15
2017-11-16    2017-11-16
2017-11-17    2017-11-17
2017-11-20    2017-11-20
                 ...
2018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
Name: date, Length: 185, dtype: object
2018-08-14
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-15', '2017-12-15', '2018-01-15', '2018-02-22', '2018-03-15', '2018-04-16', '2018-05-15', '2018-06-15', '2018-07-16', '2018-08-15']
obs22017-11-15    2017-11-15
2017-11-16    2017-11-16
2017-11-17    2017-11-17
2017-11-20    2017-11-20
2017-11-21    2017-11-21
                 ...
2018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
Name: date, Length: 185, dtype: object
2018-08-15
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-16', '2017-12-18', '2018-01-16', '2018-02-22', '2018-03-16', '2018-04-16', '2018-05-16', '2018-06-19', '2018-07-16', '2018-08-16']
obs22017-11-16    2017-11-16
2017-11-17    2017-11-17
2017-11-20    2017-11-20
2017-11-21    2017-11-21
2017-11-22    2017-11-22
                 ...
2018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
Name: date, Length: 185, dtype: object

2018-08-16
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-17', '2017-12-18', '2018-01-17', '2018-02-22', '2018-03-19', '2018-04-17', '2018-05-17', '2018-06-19', '2018-07-17', '2018-08-17']
obs22017-11-17    2017-11-17
2017-11-20    2017-11-20
2017-11-21    2017-11-21
2017-11-22    2017-11-22
2017-11-23    2017-11-23
                 ...
2018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
Name: date, Length: 185, dtype: object
2018-08-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-20', '2017-12-18', '2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18', '2018-08-20']
obs22017-11-20    2017-11-20
2017-11-21    2017-11-21
2017-11-22    2017-11-22
2017-11-23    2017-11-23
2017-11-24    2017-11-24
                 ...
2018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
Name: date, Length: 185, dtype: object
2018-08-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-21', '2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21', '2018-07-23', '2018-08-21']
obs22017-11-21    2017-11-21
2017-11-22    2017-11-22
2017-11-23    2017-11-23
2017-11-24    2017-11-24
2017-11-27    2017-11-27
                 ...
2018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
Name: date, Length: 185, dtype: object
2018-08-21
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-22', '2017-12-22', '2018-01-22', '2018-02-22', '2018-03-22', '2018-04-23', '2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22']
obs22017-11-22    2017-11-22
2017-11-23    2017-11-23
2017-11-24    2017-11-24
2017-11-27    2017-11-27
2017-11-28    2017-11-28
                 ...
2018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
Name: date, Length: 185, dtype: object
2018-08-22
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-23', '2017-12-25', '2018-01-23', '2018-02-23', '2018-03-23', '2018-04-23', '2018-05-23', '2018-06-25', '2018-07-23', '2018-08-23']
obs22017-11-23    2017-11-23
2017-11-24    2017-11-24
2017-11-27    2017-11-27
2017-11-28    2017-11-28
2017-11-29    2017-11-29
                 ...
2018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
Name: date, Length: 185, dtype: object
2018-08-23
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-24', '2017-12-25', '2018-01-24', '2018-02-26', '2018-03-26', '2018-04-24', '2018-05-24', '2018-06-25', '2018-07-24', '2018-08-24']
obs22017-11-24    2017-11-24
2017-11-27    2017-11-27
2017-11-28    2017-11-28
2017-11-29    2017-11-29
2017-11-30    2017-11-30
                 ...
2018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
Name: date, Length: 185, dtype: object
2018-08-24
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-27', '2017-12-25', '2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25', '2018-08-27']
obs22017-11-27    2017-11-27
2017-11-28    2017-11-28
2017-11-29    2017-11-29
2017-11-30    2017-11-30
2017-12-01    2017-12-01
                 ...
2018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
Name: date, Length: 185, dtype: object
2018-08-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-28', '2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28', '2018-07-30', '2018-08-28']
obs22017-11-28    2017-11-28
2017-11-29    2017-11-29
2017-11-30    2017-11-30
2017-12-01    2017-12-01
2017-12-04    2017-12-04
                 ...
2018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
Name: date, Length: 185, dtype: object
2018-08-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-29', '2017-12-29', '2018-01-29', '2018-02-28', '2018-03-29', '2018-05-02', '2018-05-29', '2018-06-29', '2018-07-30', '2018-08-29']
obs22017-11-29    2017-11-29
2017-11-30    2017-11-30
2017-12-01    2017-12-01
2017-12-04    2017-12-04
2017-12-05    2017-12-05
                 ...
2018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
Name: date, Length: 185, dtype: object
2018-08-29
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-30', '2018-01-02', '2018-01-30', '2018-02-28', '2018-03-30', '2018-05-02', '2018-05-30', '2018-07-02', '2018-07-30', '2018-08-30']
obs22017-11-30    2017-11-30
2017-12-01    2017-12-01
2017-12-04    2017-12-04
2017-12-05    2017-12-05
2017-12-06    2017-12-06
                 ...
2018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
Name: date, Length: 185, dtype: object
2018-08-30
3
4
5
6
7
8
9
10
11
12
obs1['2017-11-30', '2018-01-02', '2018-01-31', '2018-02-28', '2018-04-02', '2018-05-02', '2018-05-31', '2018-07-02', '2018-07-31', '2018-08-31']
obs22017-11-30    2017-11-30
2017-12-01    2017-12-01
2017-12-04    2017-12-04
2017-12-05    2017-12-05
2017-12-06    2017-12-06
                 ...
2018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
Name: date, Length: 186, dtype: object
2018-08-31
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-01', '2018-01-02', '2018-02-01', '2018-03-01', '2018-04-02', '2018-05-02', '2018-06-01', '2018-07-02', '2018-08-01', '2018-09-03']
obs22017-12-01    2017-12-01
2017-12-04    2017-12-04
2017-12-05    2017-12-05
2017-12-06    2017-12-06
2017-12-07    2017-12-07
                 ...
2018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
Name: date, Length: 186, dtype: object
2018-09-03
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-04', '2018-01-04', '2018-02-05', '2018-03-05', '2018-04-04', '2018-05-04', '2018-06-04', '2018-07-04', '2018-08-06', '2018-09-04']
obs22017-12-04    2017-12-04
2017-12-05    2017-12-05
2017-12-06    2017-12-06
2017-12-07    2017-12-07
2017-12-08    2017-12-08
                 ...
2018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
Name: date, Length: 186, dtype: object
2018-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-05', '2018-01-05', '2018-02-05', '2018-03-05', '2018-04-09', '2018-05-07', '2018-06-05', '2018-07-05', '2018-08-06', '2018-09-05']
obs22017-12-05    2017-12-05
2017-12-06    2017-12-06
2017-12-07    2017-12-07
2017-12-08    2017-12-08
2017-12-11    2017-12-11
                 ...
2018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
Name: date, Length: 186, dtype: object
2018-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-06', '2018-01-08', '2018-02-06', '2018-03-06', '2018-04-09', '2018-05-07', '2018-06-06', '2018-07-06', '2018-08-06', '2018-09-06']
obs22017-12-06    2017-12-06
2017-12-07    2017-12-07
2017-12-08    2017-12-08
2017-12-11    2017-12-11
2017-12-12    2017-12-12
                 ...
2018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
Name: date, Length: 186, dtype: object
2018-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-07', '2018-01-08', '2018-02-07', '2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07', '2018-07-09', '2018-08-07', '2018-09-07']
obs22017-12-07    2017-12-07
2017-12-08    2017-12-08
2017-12-11    2017-12-11
2017-12-12    2017-12-12
2017-12-13    2017-12-13
                 ...
2018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
Name: date, Length: 186, dtype: object
2018-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-08', '2018-01-08', '2018-02-08', '2018-03-08', '2018-04-09', '2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10']
obs22017-12-08    2017-12-08
2017-12-11    2017-12-11
2017-12-12    2017-12-12
2017-12-13    2017-12-13
2017-12-14    2017-12-14
                 ...
2018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
Name: date, Length: 186, dtype: object
2018-09-10
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-11', '2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11', '2018-08-13', '2018-09-11']
obs22017-12-11    2017-12-11
2017-12-12    2017-12-12
2017-12-13    2017-12-13
2017-12-14    2017-12-14
2017-12-15    2017-12-15
                 ...
2018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
Name: date, Length: 186, dtype: object
2018-09-11
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-12', '2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12', '2018-05-14', '2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12']
obs22017-12-12    2017-12-12
2017-12-13    2017-12-13
2017-12-14    2017-12-14
2017-12-15    2017-12-15
2017-12-18    2017-12-18
                 ...
2018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
Name: date, Length: 186, dtype: object
2018-09-12
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-13', '2018-01-15', '2018-02-13', '2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13']
obs22017-12-13    2017-12-13
2017-12-14    2017-12-14
2017-12-15    2017-12-15
2017-12-18    2017-12-18
2017-12-19    2017-12-19
                 ...
2018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
Name: date, Length: 186, dtype: object
2018-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-14', '2018-01-15', '2018-02-14', '2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14', '2018-07-16', '2018-08-14', '2018-09-14']
obs22017-12-14    2017-12-14
2017-12-15    2017-12-15
2017-12-18    2017-12-18
2017-12-19    2017-12-19
2017-12-20    2017-12-20
                 ...
2018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
Name: date, Length: 186, dtype: object
2018-09-14
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-15', '2018-01-15', '2018-02-22', '2018-03-15', '2018-04-16', '2018-05-15', '2018-06-15', '2018-07-16', '2018-08-15', '2018-09-17']
obs22017-12-15    2017-12-15
2017-12-18    2017-12-18
2017-12-19    2017-12-19
2017-12-20    2017-12-20
2017-12-21    2017-12-21
                 ...
2018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
Name: date, Length: 186, dtype: object
2018-09-17
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-18', '2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18', '2018-08-20', '2018-09-18']
obs22017-12-18    2017-12-18
2017-12-19    2017-12-19
2017-12-20    2017-12-20
2017-12-21    2017-12-21
2017-12-22    2017-12-22
                 ...
2018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
Name: date, Length: 186, dtype: object
2018-09-18
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-19', '2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19', '2018-05-21', '2018-06-19', '2018-07-19', '2018-08-20', '2018-09-19']
obs22017-12-19    2017-12-19
2017-12-20    2017-12-20
2017-12-21    2017-12-21
2017-12-22    2017-12-22
2017-12-25    2017-12-25
                 ...
2018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
Name: date, Length: 186, dtype: object
2018-09-19
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-20', '2018-01-22', '2018-02-22', '2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20', '2018-07-20', '2018-08-20', '2018-09-20']
obs22017-12-20    2017-12-20
2017-12-21    2017-12-21
2017-12-22    2017-12-22
2017-12-25    2017-12-25
2017-12-26    2017-12-26
                 ...
2018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
Name: date, Length: 186, dtype: object
2018-09-20
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-21', '2018-01-22', '2018-02-22', '2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21', '2018-07-23', '2018-08-21', '2018-09-21']
obs22017-12-21    2017-12-21
2017-12-22    2017-12-22
2017-12-25    2017-12-25
2017-12-26    2017-12-26
2017-12-27    2017-12-27
                 ...
2018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
Name: date, Length: 186, dtype: object
2018-09-21
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-22', '2018-01-22', '2018-02-22', '2018-03-22', '2018-04-23', '2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25']
obs22017-12-22    2017-12-22
2017-12-25    2017-12-25
2017-12-26    2017-12-26
2017-12-27    2017-12-27
2017-12-28    2017-12-28
                 ...
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
Name: date, Length: 186, dtype: object
2018-09-25
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-25', '2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25', '2018-08-27', '2018-09-25']
obs22017-12-25    2017-12-25
2017-12-26    2017-12-26
2017-12-27    2017-12-27
2017-12-28    2017-12-28
2017-12-29    2017-12-29
                 ...
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
Name: date, Length: 185, dtype: object
2018-09-25
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-26', '2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26', '2018-05-28', '2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26']
obs22017-12-26    2017-12-26
2017-12-27    2017-12-27
2017-12-28    2017-12-28
2017-12-29    2017-12-29
2018-01-02    2018-01-02
                 ...
2018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
Name: date, Length: 185, dtype: object
2018-09-26
3
4
5
6
7
8
9
10
11
12

obs1['2017-12-27', '2018-01-29', '2018-02-27', '2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27']
obs22017-12-27    2017-12-27
2017-12-28    2017-12-28
2017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
                 ...
2018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
Name: date, Length: 185, dtype: object
2018-09-27
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-28', '2018-01-29', '2018-02-28', '2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28', '2018-07-30', '2018-08-28', '2018-09-28']
obs22017-12-28    2017-12-28
2017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
2018-01-04    2018-01-04
                 ...
2018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
Name: date, Length: 185, dtype: object
2018-09-28
3
4
5
6
7
8
9
10
11
12
obs1['2017-12-29', '2018-01-29', '2018-02-28', '2018-03-29', '2018-05-02', '2018-05-29', '2018-06-29', '2018-07-30', '2018-08-29', '2018-10-08']
obs22017-12-29    2017-12-29
2018-01-02    2018-01-02
2018-01-03    2018-01-03
2018-01-04    2018-01-04
2018-01-05    2018-01-05
                 ...
2018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
Name: date, Length: 185, dtype: object
2018-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-09', '2018-02-09', '2018-03-09', '2018-04-09', '2018-05-09', '2018-06-11', '2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09']
obs22018-01-09    2018-01-09
2018-01-10    2018-01-10
2018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
                 ...
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
Name: date, Length: 180, dtype: object
2018-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-10', '2018-02-12', '2018-03-12', '2018-04-10', '2018-05-10', '2018-06-11', '2018-07-10', '2018-08-10', '2018-09-10', '2018-10-10']
obs22018-01-10    2018-01-10
2018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
                 ...
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
Name: date, Length: 180, dtype: object
2018-10-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-11', '2018-02-12', '2018-03-12', '2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11', '2018-08-13', '2018-09-11', '2018-10-11']
obs22018-01-11    2018-01-11
2018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
                 ...
2018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
Name: date, Length: 180, dtype: object
2018-10-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-12', '2018-02-12', '2018-03-12', '2018-04-12', '2018-05-14', '2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12']
obs22018-01-12    2018-01-12
2018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
                 ...
2018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
Name: date, Length: 180, dtype: object
2018-10-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-15', '2018-02-13', '2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15']
obs22018-01-15    2018-01-15
2018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
                 ...
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
Name: date, Length: 180, dtype: object
2018-10-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-16', '2018-02-22', '2018-03-16', '2018-04-16', '2018-05-16', '2018-06-19', '2018-07-16', '2018-08-16', '2018-09-17', '2018-10-16']
obs22018-01-16    2018-01-16
2018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
                 ...
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
Name: date, Length: 180, dtype: object
2018-10-16
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-17', '2018-02-22', '2018-03-19', '2018-04-17', '2018-05-17', '2018-06-19', '2018-07-17', '2018-08-17', '2018-09-17', '2018-10-17']
obs22018-01-17    2018-01-17
2018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
                 ...
2018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
Name: date, Length: 180, dtype: object
2018-10-17
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-18', '2018-02-22', '2018-03-19', '2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18', '2018-08-20', '2018-09-18', '2018-10-18']
obs22018-01-18    2018-01-18
2018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
                 ...
2018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
Name: date, Length: 180, dtype: object
2018-10-18
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-19', '2018-02-22', '2018-03-19', '2018-04-19', '2018-05-21', '2018-06-19', '2018-07-19', '2018-08-20', '2018-09-19', '2018-10-19']
obs22018-01-19    2018-01-19
2018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
2018-01-25    2018-01-25
                 ...
2018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
Name: date, Length: 180, dtype: object
2018-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-22', '2018-02-22', '2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20', '2018-07-20', '2018-08-20', '2018-09-20', '2018-10-22']
obs22018-01-22    2018-01-22
2018-01-23    2018-01-23
2018-01-24    2018-01-24
2018-01-25    2018-01-25
2018-01-26    2018-01-26
                 ...
2018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
Name: date, Length: 180, dtype: object
2018-10-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-23', '2018-02-23', '2018-03-23', '2018-04-23', '2018-05-23', '2018-06-25', '2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23']
obs22018-01-23    2018-01-23
2018-01-24    2018-01-24
2018-01-25    2018-01-25
2018-01-26    2018-01-26
2018-01-29    2018-01-29
                 ...
2018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
Name: date, Length: 180, dtype: object
2018-10-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-24', '2018-02-26', '2018-03-26', '2018-04-24', '2018-05-24', '2018-06-25', '2018-07-24', '2018-08-24', '2018-09-25', '2018-10-24']
obs22018-01-24    2018-01-24
2018-01-25    2018-01-25
2018-01-26    2018-01-26
2018-01-29    2018-01-29
2018-01-30    2018-01-30
                 ...
2018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
Name: date, Length: 180, dtype: object
2018-10-24
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-25', '2018-02-26', '2018-03-26', '2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25', '2018-08-27', '2018-09-25', '2018-10-25']
obs22018-01-25    2018-01-25
2018-01-26    2018-01-26
2018-01-29    2018-01-29
2018-01-30    2018-01-30
2018-01-31    2018-01-31
                 ...
2018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
Name: date, Length: 180, dtype: object
2018-10-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-26', '2018-02-26', '2018-03-26', '2018-04-26', '2018-05-28', '2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26']
obs22018-01-26    2018-01-26
2018-01-29    2018-01-29
2018-01-30    2018-01-30
2018-01-31    2018-01-31
2018-02-01    2018-02-01
                 ...
2018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
Name: date, Length: 180, dtype: object
2018-10-26
3
4
5
6
7
8
9
10
11
12

obs1['2018-01-29', '2018-02-27', '2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29']
obs22018-01-29    2018-01-29
2018-01-30    2018-01-30
2018-01-31    2018-01-31
2018-02-01    2018-02-01
2018-02-02    2018-02-02
                 ...
2018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
Name: date, Length: 180, dtype: object
2018-10-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-30', '2018-02-28', '2018-03-30', '2018-05-02', '2018-05-30', '2018-07-02', '2018-07-30', '2018-08-30', '2018-10-08', '2018-10-30']
obs22018-01-30    2018-01-30
2018-01-31    2018-01-31
2018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
                 ...
2018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
Name: date, Length: 180, dtype: object
2018-10-30
3
4
5
6
7
8
9
10
11
12
obs1['2018-01-31', '2018-02-28', '2018-04-02', '2018-05-02', '2018-05-31', '2018-07-02', '2018-07-31', '2018-08-31', '2018-10-08', '2018-10-31']
obs22018-01-31    2018-01-31
2018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
                 ...
2018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
Name: date, Length: 180, dtype: object
2018-10-31
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-01', '2018-03-01', '2018-04-02', '2018-05-02', '2018-06-01', '2018-07-02', '2018-08-01', '2018-09-03', '2018-10-08', '2018-11-01']
obs22018-02-01    2018-02-01
2018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
                 ...
2018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
Name: date, Length: 180, dtype: object
2018-11-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-02', '2018-03-02', '2018-04-02', '2018-05-02', '2018-06-04', '2018-07-02', '2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02']
obs22018-02-02    2018-02-02
2018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
                 ...
2018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
Name: date, Length: 180, dtype: object
2018-11-02
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-05', '2018-03-05', '2018-04-03', '2018-05-03', '2018-06-04', '2018-07-03', '2018-08-03', '2018-09-03', '2018-10-08', '2018-11-05']
obs22018-02-05    2018-02-05
2018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
                 ...
2018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
Name: date, Length: 180, dtype: object
2018-11-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-06', '2018-03-06', '2018-04-09', '2018-05-07', '2018-06-06', '2018-07-06', '2018-08-06', '2018-09-06', '2018-10-08', '2018-11-06']
obs22018-02-06    2018-02-06
2018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
                 ...
2018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
Name: date, Length: 180, dtype: object
2018-11-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-07', '2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07', '2018-07-09', '2018-08-07', '2018-09-07', '2018-10-08', '2018-11-07']
obs22018-02-07    2018-02-07
2018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
                 ...
2018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
Name: date, Length: 180, dtype: object
2018-11-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-08', '2018-03-08', '2018-04-09', '2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08']
obs22018-02-08    2018-02-08
2018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
                 ...
2018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
Name: date, Length: 180, dtype: object
2018-11-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-09', '2018-03-09', '2018-04-09', '2018-05-09', '2018-06-11', '2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09']
obs22018-02-09    2018-02-09
2018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
                 ...
2018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
Name: date, Length: 180, dtype: object
2018-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-12', '2018-03-12', '2018-04-10', '2018-05-10', '2018-06-11', '2018-07-10', '2018-08-10', '2018-09-10', '2018-10-10', '2018-11-12']
obs22018-02-12    2018-02-12
2018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
                 ...
2018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
Name: date, Length: 180, dtype: object
2018-11-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-13', '2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15', '2018-11-13']
obs22018-02-13    2018-02-13
2018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
                 ...
2018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
Name: date, Length: 180, dtype: object
2018-11-13
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-14', '2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14', '2018-07-16', '2018-08-14', '2018-09-14', '2018-10-15', '2018-11-14']
obs22018-02-14    2018-02-14
2018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
                 ...
2018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
Name: date, Length: 180, dtype: object
2018-11-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-15', '2018-04-16', '2018-05-15', '2018-06-15', '2018-07-16', '2018-08-15', '2018-09-17', '2018-10-15', '2018-11-15']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
Name: date, Length: 180, dtype: object
2018-11-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-16', '2018-04-16', '2018-05-16', '2018-06-19', '2018-07-16', '2018-08-16', '2018-09-17', '2018-10-16', '2018-11-16']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
Name: date, Length: 181, dtype: object
2018-11-16
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-19', '2018-04-17', '2018-05-17', '2018-06-19', '2018-07-17', '2018-08-17', '2018-09-17', '2018-10-17', '2018-11-19']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
Name: date, Length: 182, dtype: object
2018-11-19
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20', '2018-07-20', '2018-08-20', '2018-09-20', '2018-10-22', '2018-11-20']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
Name: date, Length: 183, dtype: object
2018-11-20
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21', '2018-07-23', '2018-08-21', '2018-09-21', '2018-10-22', '2018-11-21']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
Name: date, Length: 184, dtype: object
2018-11-21
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-22', '2018-03-22', '2018-04-23', '2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22']
obs22018-02-22    2018-02-22
2018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
                 ...
2018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
Name: date, Length: 185, dtype: object
2018-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-23', '2018-03-23', '2018-04-23', '2018-05-23', '2018-06-25', '2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23']
obs22018-02-23    2018-02-23
2018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
                 ...
2018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
Name: date, Length: 185, dtype: object
2018-11-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-26', '2018-03-26', '2018-04-24', '2018-05-24', '2018-06-25', '2018-07-24', '2018-08-24', '2018-09-25', '2018-10-24', '2018-11-26']
obs22018-02-26    2018-02-26
2018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
                 ...
2018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
Name: date, Length: 185, dtype: object
2018-11-26
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-27', '2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29', '2018-11-27']
obs22018-02-27    2018-02-27
2018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
                 ...
2018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
Name: date, Length: 185, dtype: object
2018-11-27
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-28', '2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28', '2018-07-30', '2018-08-28', '2018-09-28', '2018-10-29', '2018-11-28']
obs22018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
                 ...
2018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
Name: date, Length: 185, dtype: object
2018-11-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-28', '2018-03-29', '2018-05-02', '2018-05-29', '2018-06-29', '2018-07-30', '2018-08-29', '2018-10-08', '2018-10-29', '2018-11-29']
obs22018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
                 ...
2018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
Name: date, Length: 186, dtype: object
2018-11-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-02-28', '2018-03-30', '2018-05-02', '2018-05-30', '2018-07-02', '2018-07-30', '2018-08-30', '2018-10-08', '2018-10-30', '2018-11-30']
obs22018-02-28    2018-02-28
2018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
                 ...
2018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
Name: date, Length: 187, dtype: object
2018-11-30
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-01', '2018-04-02', '2018-05-02', '2018-06-01', '2018-07-02', '2018-08-01', '2018-09-03', '2018-10-08', '2018-11-01', '2018-12-03']
obs22018-03-01    2018-03-01
2018-03-02    2018-03-02
2018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
                 ...
2018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
Name: date, Length: 187, dtype: object
2018-12-03
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-05', '2018-04-04', '2018-05-04', '2018-06-04', '2018-07-04', '2018-08-06', '2018-09-04', '2018-10-08', '2018-11-05', '2018-12-04']
obs22018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
                 ...
2018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
Name: date, Length: 186, dtype: object
2018-12-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-05', '2018-04-09', '2018-05-07', '2018-06-05', '2018-07-05', '2018-08-06', '2018-09-05', '2018-10-08', '2018-11-05', '2018-12-05']
obs22018-03-05    2018-03-05
2018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
                 ...
2018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
Name: date, Length: 187, dtype: object
2018-12-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-06', '2018-04-09', '2018-05-07', '2018-06-06', '2018-07-06', '2018-08-06', '2018-09-06', '2018-10-08', '2018-11-06', '2018-12-06']
obs22018-03-06    2018-03-06
2018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
                 ...
2018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
Name: date, Length: 187, dtype: object
2018-12-06
3
4
5
6
7
8
9
10
11
12

obs1['2018-03-07', '2018-04-09', '2018-05-07', '2018-06-07', '2018-07-09', '2018-08-07', '2018-09-07', '2018-10-08', '2018-11-07', '2018-12-07']
obs22018-03-07    2018-03-07
2018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
2018-03-13    2018-03-13
                 ...
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
Name: date, Length: 187, dtype: object
2018-12-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-08', '2018-04-09', '2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10']
obs22018-03-08    2018-03-08
2018-03-09    2018-03-09
2018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
                 ...
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
Name: date, Length: 187, dtype: object
2018-12-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-12', '2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11', '2018-08-13', '2018-09-11', '2018-10-11', '2018-11-12', '2018-12-11']
obs22018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
                 ...
2018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
Name: date, Length: 186, dtype: object
2018-12-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-12', '2018-04-12', '2018-05-14', '2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12']
obs22018-03-12    2018-03-12
2018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
                 ...
2018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
Name: date, Length: 187, dtype: object
2018-12-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-13', '2018-04-13', '2018-05-14', '2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15', '2018-11-13', '2018-12-13']
obs22018-03-13    2018-03-13
2018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
                 ...
2018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
Name: date, Length: 187, dtype: object
2018-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-14', '2018-04-16', '2018-05-14', '2018-06-14', '2018-07-16', '2018-08-14', '2018-09-14', '2018-10-15', '2018-11-14', '2018-12-14']
obs22018-03-14    2018-03-14
2018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
2018-03-20    2018-03-20
                 ...
2018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
Name: date, Length: 187, dtype: object
2018-12-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-15', '2018-04-16', '2018-05-15', '2018-06-15', '2018-07-16', '2018-08-15', '2018-09-17', '2018-10-15', '2018-11-15', '2018-12-17']
obs22018-03-15    2018-03-15
2018-03-16    2018-03-16
2018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
                 ...
2018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
Name: date, Length: 187, dtype: object
2018-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-19', '2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18', '2018-08-20', '2018-09-18', '2018-10-18', '2018-11-19', '2018-12-18']
obs22018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
                 ...
2018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
Name: date, Length: 186, dtype: object
2018-12-18
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-19', '2018-04-19', '2018-05-21', '2018-06-19', '2018-07-19', '2018-08-20', '2018-09-19', '2018-10-19', '2018-11-19', '2018-12-19']
obs22018-03-19    2018-03-19
2018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
                 ...
2018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
Name: date, Length: 187, dtype: object
2018-12-19
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-20', '2018-04-20', '2018-05-21', '2018-06-20', '2018-07-20', '2018-08-20', '2018-09-20', '2018-10-22', '2018-11-20', '2018-12-20']
obs22018-03-20    2018-03-20
2018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
                 ...
2018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
Name: date, Length: 187, dtype: object
2018-12-20
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-21', '2018-04-23', '2018-05-21', '2018-06-21', '2018-07-23', '2018-08-21', '2018-09-21', '2018-10-22', '2018-11-21', '2018-12-21']
obs22018-03-21    2018-03-21
2018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
2018-03-27    2018-03-27
                 ...
2018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
Name: date, Length: 187, dtype: object
2018-12-21
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-22', '2018-04-23', '2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24']
obs22018-03-22    2018-03-22
2018-03-23    2018-03-23
2018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
                 ...
2018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
Name: date, Length: 187, dtype: object
2018-12-24
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-26', '2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25', '2018-08-27', '2018-09-25', '2018-10-25', '2018-11-26', '2018-12-25']
obs22018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
                 ...
2018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
Name: date, Length: 186, dtype: object
2018-12-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-26', '2018-04-26', '2018-05-28', '2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26']
obs22018-03-26    2018-03-26
2018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
                 ...
2018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
2018-12-26    2018-12-26
Name: date, Length: 187, dtype: object
2018-12-26
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-27', '2018-04-27', '2018-05-28', '2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29', '2018-11-27', '2018-12-27']
obs22018-03-27    2018-03-27
2018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
2018-04-02    2018-04-02
                 ...
2018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
Name: date, Length: 187, dtype: object
2018-12-27
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-28', '2018-05-02', '2018-05-28', '2018-06-28', '2018-07-30', '2018-08-28', '2018-09-28', '2018-10-29', '2018-11-28', '2018-12-28']
obs22018-03-28    2018-03-28
2018-03-29    2018-03-29
2018-03-30    2018-03-30
2018-04-02    2018-04-02
2018-04-03    2018-04-03
                 ...
2018-12-24    2018-12-24
2018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
Name: date, Length: 187, dtype: object
2018-12-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-03-29', '2018-05-02', '2018-05-29', '2018-06-29', '2018-07-30', '2018-08-29', '2018-10-08', '2018-10-29', '2018-11-29', '2019-01-02']
obs22018-03-29    2018-03-29
2018-03-30    2018-03-30
2018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
                 ...
2018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
Name: date, Length: 187, dtype: object
2019-01-02
3
4
5
6
7
8
9
10
11
12

obs1['2018-04-02', '2018-05-02', '2018-06-04', '2018-07-02', '2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02']
obs22018-04-02    2018-04-02
2018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
                 ...
2018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
Name: date, Length: 185, dtype: object
2019-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-03', '2018-05-03', '2018-06-04', '2018-07-03', '2018-08-03', '2018-09-03', '2018-10-08', '2018-11-05', '2018-12-03', '2019-01-03']
obs22018-04-03    2018-04-03
2018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
                 ...
2018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
Name: date, Length: 185, dtype: object
2019-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-04', '2018-05-04', '2018-06-04', '2018-07-04', '2018-08-06', '2018-09-04', '2018-10-08', '2018-11-05', '2018-12-04', '2019-01-04']
obs22018-04-04    2018-04-04
2018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
                 ...
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
2019-01-04    2019-01-04
Name: date, Length: 185, dtype: object
2019-01-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-09', '2018-05-07', '2018-06-05', '2018-07-05', '2018-08-06', '2018-09-05', '2018-10-08', '2018-11-05', '2018-12-05', '2019-01-07']
obs22018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
                 ...
2018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
2019-01-04    2019-01-04
2019-01-07    2019-01-07
Name: date, Length: 185, dtype: object
2019-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-09', '2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10', '2019-01-08']
obs22018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
                 ...
2019-01-02    2019-01-02
2019-01-03    2019-01-03
2019-01-04    2019-01-04
2019-01-07    2019-01-07
2019-01-08    2019-01-08
Name: date, Length: 186, dtype: object
2019-01-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-09', '2018-05-09', '2018-06-11', '2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09']
obs22018-04-09    2018-04-09
2018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
                 ...
2019-01-03    2019-01-03
2019-01-04    2019-01-04
2019-01-07    2019-01-07
2019-01-08    2019-01-08
2019-01-09    2019-01-09
Name: date, Length: 187, dtype: object
2019-01-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-10', '2018-05-10', '2018-06-11', '2018-07-10', '2018-08-10', '2018-09-10', '2018-10-10', '2018-11-12', '2018-12-10', '2019-01-10']
obs22018-04-10    2018-04-10
2018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
                 ...
2019-01-04    2019-01-04
2019-01-07    2019-01-07
2019-01-08    2019-01-08
2019-01-09    2019-01-09
2019-01-10    2019-01-10
Name: date, Length: 187, dtype: object
2019-01-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-11', '2018-05-11', '2018-06-11', '2018-07-11', '2018-08-13', '2018-09-11', '2018-10-11', '2018-11-12', '2018-12-11', '2019-01-11']
obs22018-04-11    2018-04-11
2018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
2018-04-17    2018-04-17
                 ...
2019-01-07    2019-01-07
2019-01-08    2019-01-08
2019-01-09    2019-01-09
2019-01-10    2019-01-10
2019-01-11    2019-01-11
Name: date, Length: 187, dtype: object
2019-01-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-12', '2018-05-14', '2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14']
obs22018-04-12    2018-04-12
2018-04-13    2018-04-13
2018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
                 ...
2019-01-08    2019-01-08
2019-01-09    2019-01-09
2019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
Name: date, Length: 187, dtype: object
2019-01-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-16', '2018-05-15', '2018-06-15', '2018-07-16', '2018-08-15', '2018-09-17', '2018-10-15', '2018-11-15', '2018-12-17', '2019-01-15']
obs22018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
                 ...
2019-01-09    2019-01-09
2019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
Name: date, Length: 186, dtype: object
2019-01-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-16', '2018-05-16', '2018-06-19', '2018-07-16', '2018-08-16', '2018-09-17', '2018-10-16', '2018-11-16', '2018-12-17', '2019-01-16']
obs22018-04-16    2018-04-16
2018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
                 ...
2019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
Name: date, Length: 187, dtype: object
2019-01-16
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-17', '2018-05-17', '2018-06-19', '2018-07-17', '2018-08-17', '2018-09-17', '2018-10-17', '2018-11-19', '2018-12-17', '2019-01-17']
obs22018-04-17    2018-04-17
2018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
                 ...
2019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
Name: date, Length: 187, dtype: object
2019-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-18', '2018-05-18', '2018-06-19', '2018-07-18', '2018-08-20', '2018-09-18', '2018-10-18', '2018-11-19', '2018-12-18', '2019-01-18']
obs22018-04-18    2018-04-18
2018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
2018-04-24    2018-04-24
                 ...
2019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
Name: date, Length: 187, dtype: object
2019-01-18
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-19', '2018-05-21', '2018-06-19', '2018-07-19', '2018-08-20', '2018-09-19', '2018-10-19', '2018-11-19', '2018-12-19', '2019-01-21']
obs22018-04-19    2018-04-19
2018-04-20    2018-04-20
2018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
                 ...
2019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
Name: date, Length: 187, dtype: object
2019-01-21
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-23', '2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24', '2019-01-22']
obs22018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
                 ...
2019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
Name: date, Length: 186, dtype: object
2019-01-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-23', '2018-05-23', '2018-06-25', '2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23']
obs22018-04-23    2018-04-23
2018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
                 ...
2019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
Name: date, Length: 187, dtype: object
2019-01-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-24', '2018-05-24', '2018-06-25', '2018-07-24', '2018-08-24', '2018-09-25', '2018-10-24', '2018-11-26', '2018-12-24', '2019-01-24']
obs22018-04-24    2018-04-24
2018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
                 ...
2019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
Name: date, Length: 187, dtype: object
2019-01-24
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-25', '2018-05-25', '2018-06-25', '2018-07-25', '2018-08-27', '2018-09-25', '2018-10-25', '2018-11-26', '2018-12-25', '2019-01-25']
obs22018-04-25    2018-04-25
2018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
2018-05-03    2018-05-03
                 ...
2019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
Name: date, Length: 187, dtype: object
2019-01-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-04-26', '2018-05-28', '2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28']
obs22018-04-26    2018-04-26
2018-04-27    2018-04-27
2018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
                 ...
2019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
Name: date, Length: 187, dtype: object
2019-01-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-02', '2018-05-29', '2018-06-29', '2018-07-30', '2018-08-29', '2018-10-08', '2018-10-29', '2018-11-29', '2019-01-02', '2019-01-29']
obs22018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
                 ...
2019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
Name: date, Length: 186, dtype: object
2019-01-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-02', '2018-05-30', '2018-07-02', '2018-07-30', '2018-08-30', '2018-10-08', '2018-10-30', '2018-11-30', '2019-01-02', '2019-01-30']
obs22018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
                 ...
2019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
Name: date, Length: 187, dtype: object
2019-01-30
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-02', '2018-05-31', '2018-07-02', '2018-07-31', '2018-08-31', '2018-10-08', '2018-10-31', '2018-11-30', '2019-01-02', '2019-01-31']
obs22018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
                 ...
2019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
Name: date, Length: 188, dtype: object
2019-01-31
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-02', '2018-06-01', '2018-07-02', '2018-08-01', '2018-09-03', '2018-10-08', '2018-11-01', '2018-12-03', '2019-01-02', '2019-02-01']
obs22018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
                 ...
2019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
Name: date, Length: 189, dtype: object
2019-02-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-02', '2018-06-04', '2018-07-02', '2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11']
obs22018-05-02    2018-05-02
2018-05-03    2018-05-03
2018-05-04    2018-05-04
2018-05-07    2018-05-07
2018-05-08    2018-05-08
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 190, dtype: object
2018-05-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-07', '2018-06-05', '2018-07-05', '2018-08-06', '2018-09-05', '2018-10-08', '2018-11-05', '2018-12-05', '2019-01-07', '2019-02-11']
obs22018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 187, dtype: object
2018-05-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-07', '2018-06-06', '2018-07-06', '2018-08-06', '2018-09-06', '2018-10-08', '2018-11-06', '2018-12-06', '2019-01-07', '2019-02-11']
obs22018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 187, dtype: object
2018-05-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-07', '2018-06-07', '2018-07-09', '2018-08-07', '2018-09-07', '2018-10-08', '2018-11-07', '2018-12-07', '2019-01-07', '2019-02-11']
obs22018-05-07    2018-05-07
2018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 187, dtype: object
2018-05-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-08', '2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10', '2019-01-08', '2019-02-11']
obs22018-05-08    2018-05-08
2018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
2018-05-14    2018-05-14
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 186, dtype: object
2018-05-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-09', '2018-06-11', '2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11']
obs22018-05-09    2018-05-09
2018-05-10    2018-05-10
2018-05-11    2018-05-11
2018-05-14    2018-05-14
2018-05-15    2018-05-15
                 ...
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
Name: date, Length: 185, dtype: object
2018-05-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-14', '2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14', '2019-02-12']
obs22018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
                 ...
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
Name: date, Length: 183, dtype: object
2018-05-14
3
4
5
6
7
8
9
10
11
12

obs1['2018-05-14', '2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15', '2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13']
obs22018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
                 ...
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
Name: date, Length: 184, dtype: object
2018-05-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-14', '2018-06-14', '2018-07-16', '2018-08-14', '2018-09-14', '2018-10-15', '2018-11-14', '2018-12-14', '2019-01-14', '2019-02-14']
obs22018-05-14    2018-05-14
2018-05-15    2018-05-15
2018-05-16    2018-05-16
2018-05-17    2018-05-17
2018-05-18    2018-05-18
                 ...
2019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
Name: date, Length: 185, dtype: object
2018-05-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-22', '2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24', '2019-01-22', '2019-02-22']
obs22018-05-22    2018-05-22
2018-05-23    2018-05-23
2018-05-24    2018-05-24
2018-05-25    2018-05-25
2018-05-28    2018-05-28
                 ...
2019-02-18    2019-02-18
2019-02-19    2019-02-19
2019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
Name: date, Length: 185, dtype: object
2018-05-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-23', '2018-06-25', '2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25']
obs22018-05-23    2018-05-23
2018-05-24    2018-05-24
2018-05-25    2018-05-25
2018-05-28    2018-05-28
2018-05-29    2018-05-29
                 ...
2019-02-19    2019-02-19
2019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
Name: date, Length: 185, dtype: object
2018-05-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-28', '2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28', '2019-02-26']
obs22018-05-28    2018-05-28
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
                 ...
2019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
Name: date, Length: 183, dtype: object
2019-02-26
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-28', '2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29', '2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27']
obs22018-05-28    2018-05-28
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
                 ...
2019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
Name: date, Length: 184, dtype: object
2019-02-27
3
4
5
6
7
8
9
10
11
12
obs1['2018-05-28', '2018-06-28', '2018-07-30', '2018-08-28', '2018-09-28', '2018-10-29', '2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28']
obs22018-05-28    2018-05-28
2018-05-29    2018-05-29
2018-05-30    2018-05-30
2018-05-31    2018-05-31
2018-06-01    2018-06-01
                 ...
2019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
Name: date, Length: 185, dtype: object
2019-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-01', '2018-07-02', '2018-08-01', '2018-09-03', '2018-10-08', '2018-11-01', '2018-12-03', '2019-01-02', '2019-02-01', '2019-03-01']
obs22018-06-01    2018-06-01
2018-06-04    2018-06-04
2018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
                 ...
2019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
Name: date, Length: 182, dtype: object
2019-03-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-04', '2018-07-02', '2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11', '2019-03-04']
obs22018-06-04    2018-06-04
2018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
                 ...
2019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
Name: date, Length: 182, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-05', '2018-07-05', '2018-08-06', '2018-09-05', '2018-10-08', '2018-11-05', '2018-12-05', '2019-01-07', '2019-02-11', '2019-03-05']
obs22018-06-05    2018-06-05
2018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
                 ...
2019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
Name: date, Length: 182, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-06', '2018-07-06', '2018-08-06', '2018-09-06', '2018-10-08', '2018-11-06', '2018-12-06', '2019-01-07', '2019-02-11', '2019-03-06']
obs22018-06-06    2018-06-06
2018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
                 ...
2019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
Name: date, Length: 182, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-07', '2018-07-09', '2018-08-07', '2018-09-07', '2018-10-08', '2018-11-07', '2018-12-07', '2019-01-07', '2019-02-11', '2019-03-07']
obs22018-06-07    2018-06-07
2018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
                 ...
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
Name: date, Length: 182, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-08', '2018-07-09', '2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10', '2019-01-08', '2019-02-11', '2019-03-08']
obs22018-06-08    2018-06-08
2018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
                 ...
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
Name: date, Length: 182, dtype: object
2019-03-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-11', '2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11', '2019-03-11']
obs22018-06-11    2018-06-11
2018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
                 ...
2019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
Name: date, Length: 182, dtype: object
2019-03-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-12', '2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14', '2019-02-12', '2019-03-12']
obs22018-06-12    2018-06-12
2018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
                 ...
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
2019-03-12    2019-03-12
Name: date, Length: 182, dtype: object
2019-03-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-13', '2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15', '2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13']
obs22018-06-13    2018-06-13
2018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
                 ...
2019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
Name: date, Length: 182, dtype: object
2019-03-13
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-14', '2018-07-16', '2018-08-14', '2018-09-14', '2018-10-15', '2018-11-14', '2018-12-14', '2019-01-14', '2019-02-14', '2019-03-14']
obs22018-06-14    2018-06-14
2018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
                 ...
2019-03-08    2019-03-08
2019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
Name: date, Length: 182, dtype: object
2019-03-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-15', '2018-07-16', '2018-08-15', '2018-09-17', '2018-10-15', '2018-11-15', '2018-12-17', '2019-01-15', '2019-02-15', '2019-03-15']
obs22018-06-15    2018-06-15
2018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
                 ...
2019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
Name: date, Length: 182, dtype: object
2019-03-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-19', '2018-07-16', '2018-08-16', '2018-09-17', '2018-10-16', '2018-11-16', '2018-12-17', '2019-01-16', '2019-02-18', '2019-03-18']
obs22018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
                 ...
2019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
Name: date, Length: 182, dtype: object
2019-03-18
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-19', '2018-07-19', '2018-08-20', '2018-09-19', '2018-10-19', '2018-11-19', '2018-12-19', '2019-01-21', '2019-02-19', '2019-03-19']
obs22018-06-19    2018-06-19
2018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
                 ...
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
2019-03-19    2019-03-19
Name: date, Length: 183, dtype: object
2019-03-19
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-20', '2018-07-20', '2018-08-20', '2018-09-20', '2018-10-22', '2018-11-20', '2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20']
obs22018-06-20    2018-06-20
2018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
                 ...
2019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
Name: date, Length: 183, dtype: object
2019-03-20
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-21', '2018-07-23', '2018-08-21', '2018-09-21', '2018-10-22', '2018-11-21', '2018-12-21', '2019-01-21', '2019-02-21', '2019-03-21']
obs22018-06-21    2018-06-21
2018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
                 ...
2019-03-15    2019-03-15
2019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
Name: date, Length: 183, dtype: object
2019-03-21
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-22', '2018-07-23', '2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24', '2019-01-22', '2019-02-22', '2019-03-22']
obs22018-06-22    2018-06-22
2018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
                 ...
2019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
Name: date, Length: 183, dtype: object
2019-03-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-25', '2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25', '2019-03-25']
obs22018-06-25    2018-06-25
2018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
                 ...
2019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
Name: date, Length: 183, dtype: object
2019-03-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-26', '2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28', '2019-02-26', '2019-03-26']
obs22018-06-26    2018-06-26
2018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
                 ...
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
2019-03-26    2019-03-26
Name: date, Length: 183, dtype: object
2019-03-26
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-27', '2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29', '2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27']
obs22018-06-27    2018-06-27
2018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
                 ...
2019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
Name: date, Length: 183, dtype: object
2019-03-27
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-28', '2018-07-30', '2018-08-28', '2018-09-28', '2018-10-29', '2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28']
obs22018-06-28    2018-06-28
2018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
                 ...
2019-03-22    2019-03-22
2019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
Name: date, Length: 183, dtype: object
2019-03-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-06-29', '2018-07-30', '2018-08-29', '2018-10-08', '2018-10-29', '2018-11-29', '2019-01-02', '2019-01-29', '2019-02-28', '2019-03-29']
obs22018-06-29    2018-06-29
2018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
                 ...
2019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
Name: date, Length: 183, dtype: object
2019-03-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-02', '2018-07-30', '2018-08-30', '2018-10-08', '2018-10-30', '2018-11-30', '2019-01-02', '2019-01-30', '2019-02-28', '2019-04-01']
obs22018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
                 ...
2019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
Name: date, Length: 183, dtype: object
2019-04-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-02', '2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11', '2019-03-04', '2019-04-02']
obs22018-07-02    2018-07-02
2018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
                 ...
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
2019-04-02    2019-04-02
Name: date, Length: 184, dtype: object
2019-04-02
3
4
5
6
7
8
9
10
11
12

obs1['2018-07-03', '2018-08-03', '2018-09-03', '2018-10-08', '2018-11-05', '2018-12-03', '2019-01-03', '2019-02-11', '2019-03-04', '2019-04-03']
obs22018-07-03    2018-07-03
2018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
2018-07-09    2018-07-09
                 ...
2019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
2019-04-02    2019-04-02
2019-04-03    2019-04-03
Name: date, Length: 184, dtype: object
2019-04-03
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-04', '2018-08-06', '2018-09-04', '2018-10-08', '2018-11-05', '2018-12-04', '2019-01-04', '2019-02-11', '2019-03-04', '2019-04-04']
obs22018-07-04    2018-07-04
2018-07-05    2018-07-05
2018-07-06    2018-07-06
2018-07-09    2018-07-09
2018-07-10    2018-07-10
                 ...
2019-03-29    2019-03-29
2019-04-01    2019-04-01
2019-04-02    2019-04-02
2019-04-03    2019-04-03
2019-04-04    2019-04-04
Name: date, Length: 184, dtype: object
2019-04-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-09', '2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11', '2019-03-11', '2019-04-09']
obs22018-07-09    2018-07-09
2018-07-10    2018-07-10
2018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
                 ...
2019-04-02    2019-04-02
2019-04-03    2019-04-03
2019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
Name: date, Length: 183, dtype: object
2019-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-10', '2018-08-10', '2018-09-10', '2018-10-10', '2018-11-12', '2018-12-10', '2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10']
obs22018-07-10    2018-07-10
2018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
                 ...
2019-04-03    2019-04-03
2019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
Name: date, Length: 183, dtype: object
2019-04-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-11', '2018-08-13', '2018-09-11', '2018-10-11', '2018-11-12', '2018-12-11', '2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11']
obs22018-07-11    2018-07-11
2018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
                 ...
2019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
Name: date, Length: 183, dtype: object
2019-04-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-12', '2018-08-13', '2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14', '2019-02-12', '2019-03-12', '2019-04-12']
obs22018-07-12    2018-07-12
2018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
                 ...
2019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
Name: date, Length: 183, dtype: object
2019-04-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-13', '2018-08-13', '2018-09-13', '2018-10-15', '2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13', '2019-04-15']
obs22018-07-13    2018-07-13
2018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
                 ...
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
Name: date, Length: 183, dtype: object
2019-04-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-16', '2018-08-16', '2018-09-17', '2018-10-16', '2018-11-16', '2018-12-17', '2019-01-16', '2019-02-18', '2019-03-18', '2019-04-16']
obs22018-07-16    2018-07-16
2018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
                 ...
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
2019-04-16    2019-04-16
Name: date, Length: 183, dtype: object
2019-04-16
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-17', '2018-08-17', '2018-09-17', '2018-10-17', '2018-11-19', '2018-12-17', '2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17']
obs22018-07-17    2018-07-17
2018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
                 ...
2019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
Name: date, Length: 183, dtype: object
2019-04-17
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-18', '2018-08-20', '2018-09-18', '2018-10-18', '2018-11-19', '2018-12-18', '2019-01-18', '2019-02-18', '2019-03-18', '2019-04-18']
obs22018-07-18    2018-07-18
2018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
                 ...
2019-04-12    2019-04-12
2019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
Name: date, Length: 183, dtype: object
2019-04-18
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-19', '2018-08-20', '2018-09-19', '2018-10-19', '2018-11-19', '2018-12-19', '2019-01-21', '2019-02-19', '2019-03-19', '2019-04-19']
obs22018-07-19    2018-07-19
2018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
                 ...
2019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
Name: date, Length: 183, dtype: object
2019-04-19
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-20', '2018-08-20', '2018-09-20', '2018-10-22', '2018-11-20', '2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20', '2019-04-22']
obs22018-07-20    2018-07-20
2018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
                 ...
2019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
Name: date, Length: 183, dtype: object
2019-04-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-23', '2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25', '2019-03-25', '2019-04-23']
obs22018-07-23    2018-07-23
2018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
                 ...
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
2019-04-23    2019-04-23
Name: date, Length: 183, dtype: object
2019-04-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-24', '2018-08-24', '2018-09-25', '2018-10-24', '2018-11-26', '2018-12-24', '2019-01-24', '2019-02-25', '2019-03-25', '2019-04-24']
obs22018-07-24    2018-07-24
2018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
                 ...
2019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
Name: date, Length: 183, dtype: object
2019-04-24
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-25', '2018-08-27', '2018-09-25', '2018-10-25', '2018-11-26', '2018-12-25', '2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25']
obs22018-07-25    2018-07-25
2018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
                 ...
2019-04-19    2019-04-19
2019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
Name: date, Length: 183, dtype: object
2019-04-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-26', '2018-08-27', '2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28', '2019-02-26', '2019-03-26', '2019-04-26']
obs22018-07-26    2018-07-26
2018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
2018-08-01    2018-08-01
                 ...
2019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
Name: date, Length: 183, dtype: object
2019-04-26
3
4
5
6
7
8
9
10
11
12
obs1['2018-07-27', '2018-08-27', '2018-09-27', '2018-10-29', '2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27', '2019-04-29']
obs22018-07-27    2018-07-27
2018-07-30    2018-07-30
2018-07-31    2018-07-31
2018-08-01    2018-08-01
2018-08-02    2018-08-02
                 ...
2019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
Name: date, Length: 183, dtype: object
2019-04-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-02', '2018-09-03', '2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11', '2019-03-04', '2019-04-02', '2019-05-06']
obs22018-08-02    2018-08-02
2018-08-03    2018-08-03
2018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
                 ...
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
Name: date, Length: 181, dtype: object
2019-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-03', '2018-09-03', '2018-10-08', '2018-11-05', '2018-12-03', '2019-01-03', '2019-02-11', '2019-03-04', '2019-04-03', '2019-05-06']
obs22018-08-03    2018-08-03
2018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
                 ...
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
Name: date, Length: 180, dtype: object
2019-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-06', '2018-09-04', '2018-10-08', '2018-11-05', '2018-12-04', '2019-01-04', '2019-02-11', '2019-03-04', '2019-04-04', '2019-05-06']
obs22018-08-06    2018-08-06
2018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
                 ...
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
Name: date, Length: 179, dtype: object
2019-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-07', '2018-09-07', '2018-10-08', '2018-11-07', '2018-12-07', '2019-01-07', '2019-02-11', '2019-03-07', '2019-04-08', '2019-05-07']
obs22018-08-07    2018-08-07
2018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
                 ...
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
Name: date, Length: 179, dtype: object
2019-05-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-08', '2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10', '2019-01-08', '2019-02-11', '2019-03-08', '2019-04-08', '2019-05-08']
obs22018-08-08    2018-08-08
2018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
                 ...
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
Name: date, Length: 179, dtype: object
2019-05-08
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-09', '2018-09-10', '2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11', '2019-03-11', '2019-04-09', '2019-05-09']
obs22018-08-09    2018-08-09
2018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
                 ...
2019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
Name: date, Length: 179, dtype: object
2019-05-09
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-10', '2018-09-10', '2018-10-10', '2018-11-12', '2018-12-10', '2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10', '2019-05-10']
obs22018-08-10    2018-08-10
2018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
                 ...
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
2019-05-10    2019-05-10
Name: date, Length: 179, dtype: object
2019-05-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-13', '2018-09-11', '2018-10-11', '2018-11-12', '2018-12-11', '2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11', '2019-05-13']
obs22018-08-13    2018-08-13
2018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
                 ...
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
2019-05-10    2019-05-10
2019-05-13    2019-05-13
Name: date, Length: 179, dtype: object
2019-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-14', '2018-09-14', '2018-10-15', '2018-11-14', '2018-12-14', '2019-01-14', '2019-02-14', '2019-03-14', '2019-04-15', '2019-05-14']
obs22018-08-14    2018-08-14
2018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
                 ...
2019-05-08    2019-05-08
2019-05-09    2019-05-09
2019-05-10    2019-05-10
2019-05-13    2019-05-13
2019-05-14    2019-05-14
Name: date, Length: 179, dtype: object
2019-05-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-15', '2018-09-17', '2018-10-15', '2018-11-15', '2018-12-17', '2019-01-15', '2019-02-15', '2019-03-15', '2019-04-15', '2019-05-15']
obs22018-08-15    2018-08-15
2018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
                 ...
2019-05-09    2019-05-09
2019-05-10    2019-05-10
2019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
Name: date, Length: 179, dtype: object
2019-05-15
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-16', '2018-09-17', '2018-10-16', '2018-11-16', '2018-12-17', '2019-01-16', '2019-02-18', '2019-03-18', '2019-04-16', '2019-05-16']
obs22018-08-16    2018-08-16
2018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
                 ...
2019-05-10    2019-05-10
2019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
Name: date, Length: 179, dtype: object
2019-05-16
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-17', '2018-09-17', '2018-10-17', '2018-11-19', '2018-12-17', '2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17', '2019-05-17']
obs22018-08-17    2018-08-17
2018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
                 ...
2019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
Name: date, Length: 179, dtype: object
2019-05-17
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-20', '2018-09-18', '2018-10-18', '2018-11-19', '2018-12-18', '2019-01-18', '2019-02-18', '2019-03-18', '2019-04-18', '2019-05-20']
obs22018-08-20    2018-08-20
2018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
                 ...
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
2019-05-20    2019-05-20
Name: date, Length: 179, dtype: object
2019-05-20
3
4
5
6
7
8
9
10
11
12

obs1['2018-08-21', '2018-09-21', '2018-10-22', '2018-11-21', '2018-12-21', '2019-01-21', '2019-02-21', '2019-03-21', '2019-04-22', '2019-05-21']
obs22018-08-21    2018-08-21
2018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
                 ...
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
2019-05-20    2019-05-20
2019-05-21    2019-05-21
Name: date, Length: 179, dtype: object
2019-05-21
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-22', '2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24', '2019-01-22', '2019-02-22', '2019-03-22', '2019-04-22', '2019-05-22']
obs22018-08-22    2018-08-22
2018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
                 ...
2019-05-16    2019-05-16
2019-05-17    2019-05-17
2019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
Name: date, Length: 179, dtype: object
2019-05-22
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-23', '2018-09-25', '2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25', '2019-03-25', '2019-04-23', '2019-05-23']
obs22018-08-23    2018-08-23
2018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
                 ...
2019-05-17    2019-05-17
2019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
Name: date, Length: 179, dtype: object
2019-05-23
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-24', '2018-09-25', '2018-10-24', '2018-11-26', '2018-12-24', '2019-01-24', '2019-02-25', '2019-03-25', '2019-04-24', '2019-05-24']
obs22018-08-24    2018-08-24
2018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
                 ...
2019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
Name: date, Length: 179, dtype: object
2019-05-24
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-27', '2018-09-25', '2018-10-25', '2018-11-26', '2018-12-25', '2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25', '2019-05-27']
obs22018-08-27    2018-08-27
2018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
                 ...
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
2019-05-27    2019-05-27
Name: date, Length: 179, dtype: object
2019-05-27
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-28', '2018-09-28', '2018-10-29', '2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28', '2019-04-29', '2019-05-28']
obs22018-08-28    2018-08-28
2018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
                 ...
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
2019-05-27    2019-05-27
2019-05-28    2019-05-28
Name: date, Length: 179, dtype: object
2019-05-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-29', '2018-10-08', '2018-10-29', '2018-11-29', '2019-01-02', '2019-01-29', '2019-02-28', '2019-03-29', '2019-04-29', '2019-05-29']
obs22018-08-29    2018-08-29
2018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
                 ...
2019-05-23    2019-05-23
2019-05-24    2019-05-24
2019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
Name: date, Length: 179, dtype: object
2019-05-29
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-30', '2018-10-08', '2018-10-30', '2018-11-30', '2019-01-02', '2019-01-30', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-30']
obs22018-08-30    2018-08-30
2018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
                 ...
2019-05-24    2019-05-24
2019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
Name: date, Length: 179, dtype: object
2019-05-30
3
4
5
6
7
8
9
10
11
12
obs1['2018-08-31', '2018-10-08', '2018-10-31', '2018-11-30', '2019-01-02', '2019-01-31', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-31']
obs22018-08-31    2018-08-31
2018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
                 ...
2019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
Name: date, Length: 179, dtype: object
2019-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-03', '2018-10-08', '2018-11-01', '2018-12-03', '2019-01-02', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-06', '2019-06-03']
obs22018-09-03    2018-09-03
2018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
                 ...
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
2019-06-03    2019-06-03
Name: date, Length: 179, dtype: object
2019-06-03
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-04', '2018-10-08', '2018-11-05', '2018-12-04', '2019-01-04', '2019-02-11', '2019-03-04', '2019-04-04', '2019-05-06', '2019-06-04']
obs22018-09-04    2018-09-04
2018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
                 ...
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
2019-06-03    2019-06-03
2019-06-04    2019-06-04
Name: date, Length: 179, dtype: object
2019-06-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-05', '2018-10-08', '2018-11-05', '2018-12-05', '2019-01-07', '2019-02-11', '2019-03-05', '2019-04-08', '2019-05-06', '2019-06-05']
obs22018-09-05    2018-09-05
2018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
                 ...
2019-05-30    2019-05-30
2019-05-31    2019-05-31
2019-06-03    2019-06-03
2019-06-04    2019-06-04
2019-06-05    2019-06-05
Name: date, Length: 179, dtype: object
2019-06-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-06', '2018-10-08', '2018-11-06', '2018-12-06', '2019-01-07', '2019-02-11', '2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06']
obs22018-09-06    2018-09-06
2018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
                 ...
2019-05-31    2019-05-31
2019-06-03    2019-06-03
2019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
Name: date, Length: 179, dtype: object
2019-06-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-07', '2018-10-08', '2018-11-07', '2018-12-07', '2019-01-07', '2019-02-11', '2019-03-07', '2019-04-08', '2019-05-07', '2019-06-10']
obs22018-09-07    2018-09-07
2018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
                 ...
2019-06-03    2019-06-03
2019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
Name: date, Length: 179, dtype: object
2019-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-10', '2018-10-08', '2018-11-08', '2018-12-10', '2019-01-08', '2019-02-11', '2019-03-08', '2019-04-08', '2019-05-08', '2019-06-10']
obs22018-09-10    2018-09-10
2018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
                 ...
2019-06-03    2019-06-03
2019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
Name: date, Length: 178, dtype: object
2019-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-11', '2018-10-11', '2018-11-12', '2018-12-11', '2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11', '2019-05-13', '2019-06-11']
obs22018-09-11    2018-09-11
2018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
                 ...
2019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
Name: date, Length: 178, dtype: object
2019-06-11
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-12', '2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14', '2019-02-12', '2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12']
obs22018-09-12    2018-09-12
2018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
                 ...
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
Name: date, Length: 178, dtype: object
2019-06-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-13', '2018-10-15', '2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13']
obs22018-09-13    2018-09-13
2018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
                 ...
2019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
Name: date, Length: 178, dtype: object
2019-06-13
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-14', '2018-10-15', '2018-11-14', '2018-12-14', '2019-01-14', '2019-02-14', '2019-03-14', '2019-04-15', '2019-05-14', '2019-06-14']

obs22018-09-14    2018-09-14
2018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
                 ...
2019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
Name: date, Length: 178, dtype: object
2019-06-14
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-17', '2018-10-15', '2018-11-15', '2018-12-17', '2019-01-15', '2019-02-15', '2019-03-15', '2019-04-15', '2019-05-15', '2019-06-17']
obs22018-09-17    2018-09-17
2018-09-18    2018-09-18
2018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
                 ...
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
2019-06-17    2019-06-17
Name: date, Length: 178, dtype: object
2019-04-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-19', '2018-10-19', '2018-11-19', '2018-12-19', '2019-01-21', '2019-02-19', '2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19']
obs22018-09-19    2018-09-19
2018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
                 ...
2019-06-13    2019-06-13
2019-06-14    2019-06-14
2019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
Name: date, Length: 178, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-20', '2018-10-22', '2018-11-20', '2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20']
obs22018-09-20    2018-09-20
2018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
                 ...
2019-06-14    2019-06-14
2019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
Name: date, Length: 178, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-21', '2018-10-22', '2018-11-21', '2018-12-21', '2019-01-21', '2019-02-21', '2019-03-21', '2019-04-22', '2019-05-21', '2019-06-21']
obs22018-09-21    2018-09-21
2018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
                 ...
2019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
Name: date, Length: 178, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-25', '2018-10-22', '2018-11-22', '2018-12-24', '2019-01-22', '2019-02-22', '2019-03-22', '2019-04-22', '2019-05-22', '2019-06-24']
obs22018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
                 ...
2019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
Name: date, Length: 178, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-25', '2018-10-25', '2018-11-26', '2018-12-25', '2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25', '2019-05-27', '2019-06-25']
obs22018-09-25    2018-09-25
2018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
                 ...
2019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
Name: date, Length: 179, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-26', '2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28', '2019-02-26', '2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26']
obs22018-09-26    2018-09-26
2018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
                 ...
2019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
Name: date, Length: 179, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-27', '2018-10-29', '2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27']
obs22018-09-27    2018-09-27
2018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
                 ...
2019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
Name: date, Length: 179, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-09-28', '2018-10-29', '2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28', '2019-04-29', '2019-05-28', '2019-06-28']
obs22018-09-28    2018-09-28
2018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
                 ...
2019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
Name: date, Length: 179, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-10-29', '2018-11-29', '2019-01-02', '2019-01-29', '2019-02-28', '2019-03-29', '2019-04-29', '2019-05-29', '2019-07-01']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
Name: date, Length: 179, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11', '2019-03-04', '2019-04-02', '2019-05-06', '2019-06-03', '2019-07-02']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
Name: date, Length: 180, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-11-05', '2018-12-03', '2019-01-03', '2019-02-11', '2019-03-04', '2019-04-03', '2019-05-06', '2019-06-03', '2019-07-03']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
Name: date, Length: 181, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-11-05', '2018-12-04', '2019-01-04', '2019-02-11', '2019-03-04', '2019-04-04', '2019-05-06', '2019-06-04', '2019-07-04']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
Name: date, Length: 182, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-11-05', '2018-12-05', '2019-01-07', '2019-02-11', '2019-03-05', '2019-04-08', '2019-05-06', '2019-06-05', '2019-07-05']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
Name: date, Length: 183, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-08', '2018-11-06', '2018-12-06', '2019-01-07', '2019-02-11', '2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06', '2019-07-08']
obs22018-10-08    2018-10-08
2018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
                 ...
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-09', '2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11', '2019-03-11', '2019-04-09', '2019-05-09', '2019-06-10', '2019-07-09']
obs22018-10-09    2018-10-09
2018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
                 ...
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
2019-07-09    2019-07-09
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-10', '2018-11-12', '2018-12-10', '2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10']
obs22018-10-10    2018-10-10
2018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
                 ...
2019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
2019-07-09    2019-07-09
2019-07-10    2019-07-10
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-11', '2018-11-12', '2018-12-11', '2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11', '2019-05-13', '2019-06-11', '2019-07-11']
obs22018-10-11    2018-10-11
2018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
                 ...
2019-07-05    2019-07-05
2019-07-08    2019-07-08
2019-07-09    2019-07-09
2019-07-10    2019-07-10
2019-07-11    2019-07-11
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-12', '2018-11-12', '2018-12-12', '2019-01-14', '2019-02-12', '2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12', '2019-07-12']
obs22018-10-12    2018-10-12
2018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
                 ...
2019-07-08    2019-07-08
2019-07-09    2019-07-09
2019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-15', '2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13', '2019-07-15']
obs22018-10-15    2018-10-15
2018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
                 ...
2019-07-09    2019-07-09
2019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-16', '2018-11-16', '2018-12-17', '2019-01-16', '2019-02-18', '2019-03-18', '2019-04-16', '2019-05-16', '2019-06-17', '2019-07-16']
obs22018-10-16    2018-10-16
2018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
                 ...
2019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-17', '2018-11-19', '2018-12-17', '2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17']
obs22018-10-17    2018-10-17
2018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
                 ...
2019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-18', '2018-11-19', '2018-12-18', '2019-01-18', '2019-02-18', '2019-03-18', '2019-04-18', '2019-05-20', '2019-06-18', '2019-07-18']
obs22018-10-18    2018-10-18
2018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
                 ...
2019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-19', '2018-11-19', '2018-12-19', '2019-01-21', '2019-02-19', '2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19', '2019-07-19']
obs22018-10-19    2018-10-19
2018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
                 ...
2019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-22', '2018-11-20', '2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20', '2019-07-22']
obs22018-10-22    2018-10-22
2018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
                 ...
2019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-23', '2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25', '2019-03-25', '2019-04-23', '2019-05-23', '2019-06-24', '2019-07-23']
obs22018-10-23    2018-10-23
2018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
                 ...
2019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
Name: date, Length: 184, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-24', '2018-11-26', '2018-12-24', '2019-01-24', '2019-02-25', '2019-03-25', '2019-04-24', '2019-05-24', '2019-06-24', '2019-07-24']
obs22018-10-24    2018-10-24
2018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
                 ...
2019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
Name: date, Length: 184, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-25', '2018-11-26', '2018-12-25', '2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25', '2019-05-27', '2019-06-25', '2019-07-25']
obs22018-10-25    2018-10-25
2018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
                 ...
2019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
Name: date, Length: 184, dtype: object
2019-03-12
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-26', '2018-11-26', '2018-12-26', '2019-01-28', '2019-02-26', '2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26', '2019-07-26']
obs22018-10-26    2018-10-26
2018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
                 ...
2019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
Name: date, Length: 184, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-29', '2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27', '2019-07-29']
obs22018-10-29    2018-10-29
2018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
                 ...
2019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
Name: date, Length: 184, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-30', '2018-11-30', '2019-01-02', '2019-01-30', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-30', '2019-07-01', '2019-07-30']
obs22018-10-30    2018-10-30
2018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
                 ...
2019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-10-31', '2018-11-30', '2019-01-02', '2019-01-31', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-31', '2019-07-01', '2019-07-31']
obs22018-10-31    2018-10-31
2018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
                 ...
2019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
Name: date, Length: 184, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-01', '2018-12-03', '2019-01-02', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-06', '2019-06-03', '2019-07-01', '2019-08-01']
obs22018-11-01    2018-11-01
2018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
                 ...
2019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
Name: date, Length: 184, dtype: object

2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-02', '2018-12-03', '2019-01-02', '2019-02-11', '2019-03-04', '2019-04-02', '2019-05-06', '2019-06-03', '2019-07-02', '2019-08-02']
obs22018-11-02    2018-11-02
2018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
                 ...
2019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
2019-08-02    2019-08-02
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-05', '2018-12-03', '2019-01-03', '2019-02-11', '2019-03-04', '2019-04-03', '2019-05-06', '2019-06-03', '2019-07-03', '2019-08-05']
obs22018-11-05    2018-11-05
2018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
                 ...
2019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
2019-08-02    2019-08-02
2019-08-05    2019-08-05
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-06', '2018-12-06', '2019-01-07', '2019-02-11', '2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06', '2019-07-08', '2019-08-06']
obs22018-11-06    2018-11-06
2018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
                 ...
2019-07-31    2019-07-31
2019-08-01    2019-08-01
2019-08-02    2019-08-02
2019-08-05    2019-08-05
2019-08-06    2019-08-06
Name: date, Length: 184, dtype: object
2019-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-07', '2018-12-07', '2019-01-07', '2019-02-11', '2019-03-07', '2019-04-08', '2019-05-07', '2019-06-10', '2019-07-08', '2019-08-07']
obs22018-11-07    2018-11-07
2018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
                 ...
2019-08-01    2019-08-01
2019-08-02    2019-08-02
2019-08-05    2019-08-05
2019-08-06    2019-08-06
2019-08-07    2019-08-07
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-08', '2018-12-10', '2019-01-08', '2019-02-11', '2019-03-08', '2019-04-08', '2019-05-08', '2019-06-10', '2019-07-08', '2019-08-08']
obs22018-11-08    2018-11-08
2018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
                 ...
2019-08-02    2019-08-02
2019-08-05    2019-08-05
2019-08-06    2019-08-06
2019-08-07    2019-08-07
2019-08-08    2019-08-08
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-09', '2018-12-10', '2019-01-09', '2019-02-11', '2019-03-11', '2019-04-09', '2019-05-09', '2019-06-10', '2019-07-09', '2019-08-09']
obs22018-11-09    2018-11-09
2018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
                 ...
2019-08-05    2019-08-05
2019-08-06    2019-08-06
2019-08-07    2019-08-07
2019-08-08    2019-08-08
2019-08-09    2019-08-09
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-12', '2018-12-10', '2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10', '2019-08-12']
obs22018-11-12    2018-11-12
2018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
                 ...
2019-08-06    2019-08-06
2019-08-07    2019-08-07
2019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-13', '2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13', '2019-07-15', '2019-08-13']
obs22018-11-13    2018-11-13
2018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
                 ...
2019-08-07    2019-08-07
2019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-14', '2018-12-14', '2019-01-14', '2019-02-14', '2019-03-14', '2019-04-15', '2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14']
obs22018-11-14    2018-11-14
2018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
                 ...
2019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
Name: date, Length: 184, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-15', '2018-12-17', '2019-01-15', '2019-02-15', '2019-03-15', '2019-04-15', '2019-05-15', '2019-06-17', '2019-07-15', '2019-08-15']
obs22018-11-15    2018-11-15
2018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
                 ...
2019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-16', '2018-12-17', '2019-01-16', '2019-02-18', '2019-03-18', '2019-04-16', '2019-05-16', '2019-06-17', '2019-07-16', '2019-08-16']
obs22018-11-16    2018-11-16
2018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
                 ...
2019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
Name: date, Length: 184, dtype: object
2019-03-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-19', '2018-12-17', '2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17', '2019-08-19']
obs22018-11-19    2018-11-19
2018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
                 ...
2019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-20', '2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20', '2019-07-22', '2019-08-20']
obs22018-11-20    2018-11-20
2018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
                 ...
2019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-21', '2018-12-21', '2019-01-21', '2019-02-21', '2019-03-21', '2019-04-22', '2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21']
obs22018-11-21    2018-11-21
2018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
                 ...
2019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
Name: date, Length: 184, dtype: object
2019-03-01
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-22', '2018-12-24', '2019-01-22', '2019-02-22', '2019-03-22', '2019-04-22', '2019-05-22', '2019-06-24', '2019-07-22', '2019-08-22']
obs22018-11-22    2018-11-22
2018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
                 ...
2019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-23', '2018-12-24', '2019-01-23', '2019-02-25', '2019-03-25', '2019-04-23', '2019-05-23', '2019-06-24', '2019-07-23', '2019-08-23']
obs22018-11-23    2018-11-23
2018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
                 ...
2019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-26', '2018-12-24', '2019-01-24', '2019-02-25', '2019-03-25', '2019-04-24', '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-26']
obs22018-11-26    2018-11-26
2018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
                 ...
2019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-27', '2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27', '2019-07-29', '2019-08-27']
obs22018-11-27    2018-11-27
2018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
                 ...
2019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-28', '2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28', '2019-04-29', '2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28']
obs22018-11-28    2018-11-28
2018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
                 ...
2019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-29', '2019-01-02', '2019-01-29', '2019-02-28', '2019-03-29', '2019-04-29', '2019-05-29', '2019-07-01', '2019-07-29', '2019-08-29']
obs22018-11-29    2018-11-29
2018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
                 ...
2019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
Name: date, Length: 184, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-30', '2019-01-02', '2019-01-30', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-30', '2019-07-01', '2019-07-30', '2019-08-30']
obs22018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
                 ...
2019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-11-30', '2019-01-02', '2019-01-31', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-31', '2019-07-01', '2019-07-31', '2019-09-02']
obs22018-11-30    2018-11-30
2018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
                 ...
2019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-03', '2019-01-03', '2019-02-11', '2019-03-04', '2019-04-03', '2019-05-06', '2019-06-03', '2019-07-03', '2019-08-05', '2019-09-03']
obs22018-12-03    2018-12-03
2018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
                 ...
2019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-04', '2019-01-04', '2019-02-11', '2019-03-04', '2019-04-04', '2019-05-06', '2019-06-04', '2019-07-04', '2019-08-05', '2019-09-04']
obs22018-12-04    2018-12-04
2018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
                 ...
2019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-05', '2019-01-07', '2019-02-11', '2019-03-05', '2019-04-08', '2019-05-06', '2019-06-05', '2019-07-05', '2019-08-05', '2019-09-05']
obs22018-12-05    2018-12-05
2018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
                 ...
2019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-06', '2019-01-07', '2019-02-11', '2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06', '2019-07-08', '2019-08-06', '2019-09-06']
obs22018-12-06    2018-12-06
2018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
                 ...
2019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-07', '2019-01-07', '2019-02-11', '2019-03-07', '2019-04-08', '2019-05-07', '2019-06-10', '2019-07-08', '2019-08-07', '2019-09-09']
obs22018-12-07    2018-12-07
2018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
                 ...
2019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-10', '2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10', '2019-08-12', '2019-09-10']
obs22018-12-10    2018-12-10
2018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
                 ...
2019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-11', '2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11', '2019-05-13', '2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11']
obs22018-12-11    2018-12-11
2018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
                 ...
2019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-12', '2019-01-14', '2019-02-12', '2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12']
obs22018-12-12    2018-12-12
2018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
                 ...
2019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-13', '2019-01-14', '2019-02-13', '2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13', '2019-07-15', '2019-08-13', '2019-09-16']
obs22018-12-13    2018-12-13
2018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
                 ...
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-14', '2019-01-14', '2019-02-14', '2019-03-14', '2019-04-15', '2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16']
obs22018-12-14    2018-12-14
2018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
                 ...
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-17', '2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17', '2019-08-19', '2019-09-17']
obs22018-12-17    2018-12-17
2018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
                 ...
2019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
Name: date, Length: 184, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12

obs1['2018-12-18', '2019-01-18', '2019-02-18', '2019-03-18', '2019-04-18', '2019-05-20', '2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18']
obs22018-12-18    2018-12-18
2018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
                 ...
2019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-19', '2019-01-21', '2019-02-19', '2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19']
obs22018-12-19    2018-12-19
2018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
                 ...
2019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-20', '2019-01-21', '2019-02-20', '2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20', '2019-07-22', '2019-08-20', '2019-09-20']
obs22018-12-20    2018-12-20
2018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
2018-12-26    2018-12-26
                 ...
2019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-21', '2019-01-21', '2019-02-21', '2019-03-21', '2019-04-22', '2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23']
obs22018-12-21    2018-12-21
2018-12-24    2018-12-24
2018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
                 ...
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
2019-09-23    2019-09-23
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-25', '2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25', '2019-05-27', '2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25']
obs22018-12-25    2018-12-25
2018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
                 ...
2019-09-19    2019-09-19
2019-09-20    2019-09-20
2019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-26', '2019-01-28', '2019-02-26', '2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26']
obs22018-12-26    2018-12-26
2018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
                 ...
2019-09-20    2019-09-20
2019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-27', '2019-01-28', '2019-02-27', '2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27', '2019-07-29', '2019-08-27', '2019-09-27']
obs22018-12-27    2018-12-27
2018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
2019-01-04    2019-01-04
                 ...
2019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2018-12-28', '2019-01-28', '2019-02-28', '2019-03-28', '2019-04-29', '2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30']
obs22018-12-28    2018-12-28
2019-01-02    2019-01-02
2019-01-03    2019-01-03
2019-01-04    2019-01-04
2019-01-07    2019-01-07
                 ...
2019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
Name: date, Length: 184, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-08', '2019-02-11', '2019-03-08', '2019-04-08', '2019-05-08', '2019-06-10', '2019-07-08', '2019-08-08', '2019-09-09', '2019-10-08']
obs22019-01-08    2019-01-08
2019-01-09    2019-01-09
2019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
                 ...
2019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
Name: date, Length: 180, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-09', '2019-02-11', '2019-03-11', '2019-04-09', '2019-05-09', '2019-06-10', '2019-07-09', '2019-08-09', '2019-09-09', '2019-10-09']
obs22019-01-09    2019-01-09
2019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
                 ...
2019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
Name: date, Length: 180, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-10', '2019-02-11', '2019-03-11', '2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10', '2019-08-12', '2019-09-10', '2019-10-10']
obs22019-01-10    2019-01-10
2019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
                 ...
2019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
Name: date, Length: 180, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-11', '2019-02-11', '2019-03-11', '2019-04-11', '2019-05-13', '2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11']
obs22019-01-11    2019-01-11
2019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
                 ...
2019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
Name: date, Length: 180, dtype: object
2019-01-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-14', '2019-02-12', '2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14']
obs22019-01-14    2019-01-14
2019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
                 ...
2019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
Name: date, Length: 180, dtype: object
2019-01-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-15', '2019-02-15', '2019-03-15', '2019-04-15', '2019-05-15', '2019-06-17', '2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15']
obs22019-01-15    2019-01-15
2019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
                 ...
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
Name: date, Length: 180, dtype: object
2019-01-15
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-16', '2019-02-18', '2019-03-18', '2019-04-16', '2019-05-16', '2019-06-17', '2019-07-16', '2019-08-16', '2019-09-16', '2019-10-16']
obs22019-01-16    2019-01-16
2019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
                 ...
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
Name: date, Length: 180, dtype: object
2019-01-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-17', '2019-02-18', '2019-03-18', '2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17', '2019-08-19', '2019-09-17', '2019-10-17']
obs22019-01-17    2019-01-17
2019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
                 ...
2019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
Name: date, Length: 180, dtype: object
2019-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-18', '2019-02-18', '2019-03-18', '2019-04-18', '2019-05-20', '2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18']
obs22019-01-18    2019-01-18
2019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
                 ...
2019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
Name: date, Length: 180, dtype: object
2019-01-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-21', '2019-02-19', '2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21']
obs22019-01-21    2019-01-21
2019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
                 ...
2019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
Name: date, Length: 180, dtype: object
2019-01-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-22', '2019-02-22', '2019-03-22', '2019-04-22', '2019-05-22', '2019-06-24', '2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22']
obs22019-01-22    2019-01-22
2019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
                 ...
2019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
Name: date, Length: 180, dtype: object
2019-01-23
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-23', '2019-02-25', '2019-03-25', '2019-04-23', '2019-05-23', '2019-06-24', '2019-07-23', '2019-08-23', '2019-09-23', '2019-10-23']
obs22019-01-23    2019-01-23
2019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
                 ...
2019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
Name: date, Length: 180, dtype: object

2019-01-23
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-24', '2019-02-25', '2019-03-25', '2019-04-24', '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-26', '2019-09-24', '2019-10-24']
obs22019-01-24    2019-01-24
2019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
                 ...
2019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
Name: date, Length: 180, dtype: object
2019-01-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-25', '2019-02-25', '2019-03-25', '2019-04-25', '2019-05-27', '2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25']
obs22019-01-25    2019-01-25
2019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
                 ...
2019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
Name: date, Length: 180, dtype: object
2019-01-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-28', '2019-02-26', '2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28']
obs22019-01-28    2019-01-28
2019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
                 ...
2019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
Name: date, Length: 180, dtype: object
2019-01-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-29', '2019-02-28', '2019-03-29', '2019-04-29', '2019-05-29', '2019-07-01', '2019-07-29', '2019-08-29', '2019-09-30', '2019-10-29']
obs22019-01-29    2019-01-29
2019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
                 ...
2019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
Name: date, Length: 180, dtype: object
2019-01-29
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-30', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-30', '2019-07-01', '2019-07-30', '2019-08-30', '2019-09-30', '2019-10-30']
obs22019-01-30    2019-01-30
2019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
                 ...
2019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
Name: date, Length: 180, dtype: object
2019-02-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-01-31', '2019-02-28', '2019-04-01', '2019-04-30', '2019-05-31', '2019-07-01', '2019-07-31', '2019-09-02', '2019-09-30', '2019-10-31']
obs22019-01-31    2019-01-31
2019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
                 ...
2019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
Name: date, Length: 180, dtype: object
2019-02-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-01', '2019-03-01', '2019-04-01', '2019-05-06', '2019-06-03', '2019-07-01', '2019-08-01', '2019-09-02', '2019-10-08', '2019-11-01']
obs22019-02-01    2019-02-01
2019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
                 ...
2019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
Name: date, Length: 180, dtype: object
2019-02-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-04', '2019-04-02', '2019-05-06', '2019-06-03', '2019-07-02', '2019-08-02', '2019-09-02', '2019-10-08', '2019-11-04']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
Name: date, Length: 180, dtype: object
2019-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-05', '2019-04-08', '2019-05-06', '2019-06-05', '2019-07-05', '2019-08-05', '2019-09-05', '2019-10-08', '2019-11-05']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
Name: date, Length: 181, dtype: object
2019-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06', '2019-07-08', '2019-08-06', '2019-09-06', '2019-10-08', '2019-11-06']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
Name: date, Length: 182, dtype: object
2019-02-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-07', '2019-04-08', '2019-05-07', '2019-06-10', '2019-07-08', '2019-08-07', '2019-09-09', '2019-10-08', '2019-11-07']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
Name: date, Length: 183, dtype: object
2019-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-08', '2019-04-08', '2019-05-08', '2019-06-10', '2019-07-08', '2019-08-08', '2019-09-09', '2019-10-08', '2019-11-08']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
Name: date, Length: 184, dtype: object
2019-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-11', '2019-03-11', '2019-04-09', '2019-05-09', '2019-06-10', '2019-07-09', '2019-08-09', '2019-09-09', '2019-10-09', '2019-11-11']
obs22019-02-11    2019-02-11
2019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
                 ...
2019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
Name: date, Length: 185, dtype: object
2019-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-12', '2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14', '2019-11-12']
obs22019-02-12    2019-02-12
2019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
2019-02-18    2019-02-18
                 ...
2019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
Name: date, Length: 185, dtype: object
2019-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-13', '2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13', '2019-07-15', '2019-08-13', '2019-09-16', '2019-10-14', '2019-11-13']
obs22019-02-13    2019-02-13
2019-02-14    2019-02-14
2019-02-15    2019-02-15
2019-02-18    2019-02-18
2019-02-19    2019-02-19
                 ...
2019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
Name: date, Length: 185, dtype: object
2019-02-19
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-14', '2019-03-14', '2019-04-15', '2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14']
obs22019-02-14    2019-02-14
2019-02-15    2019-02-15
2019-02-18    2019-02-18
2019-02-19    2019-02-19
2019-02-20    2019-02-20
                 ...
2019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
Name: date, Length: 185, dtype: object
2019-02-19
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-15', '2019-03-15', '2019-04-15', '2019-05-15', '2019-06-17', '2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15']
obs22019-02-15    2019-02-15
2019-02-18    2019-02-18
2019-02-19    2019-02-19
2019-02-20    2019-02-20
2019-02-21    2019-02-21
                 ...
2019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
Name: date, Length: 185, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-18', '2019-03-18', '2019-04-16', '2019-05-16', '2019-06-17', '2019-07-16', '2019-08-16', '2019-09-16', '2019-10-16', '2019-11-18']
obs22019-02-18    2019-02-18
2019-02-19    2019-02-19
2019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
                 ...
2019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-19', '2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21', '2019-11-19']
obs22019-02-19    2019-02-19
2019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
                 ...
2019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-20', '2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20', '2019-07-22', '2019-08-20', '2019-09-20', '2019-10-21', '2019-11-20']
obs22019-02-20    2019-02-20
2019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
                 ...
2019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
Name: date, Length: 185, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-21', '2019-03-21', '2019-04-22', '2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21']
obs22019-02-21    2019-02-21
2019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
                 ...
2019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
Name: date, Length: 185, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-22', '2019-03-22', '2019-04-22', '2019-05-22', '2019-06-24', '2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22']
obs22019-02-22    2019-02-22
2019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
                 ...
2019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
Name: date, Length: 185, dtype: object
2019-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-25', '2019-03-25', '2019-04-23', '2019-05-23', '2019-06-24', '2019-07-23', '2019-08-23', '2019-09-23', '2019-10-23', '2019-11-25']
obs22019-02-25    2019-02-25
2019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
                 ...
2019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
Name: date, Length: 185, dtype: object
2019-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-26', '2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28', '2019-11-26']
obs22019-02-26    2019-02-26
2019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
                 ...
2019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
Name: date, Length: 185, dtype: object
2019-02-26
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-27', '2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27', '2019-07-29', '2019-08-27', '2019-09-27', '2019-10-28', '2019-11-27']
obs22019-02-27    2019-02-27
2019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
                 ...
2019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
Name: date, Length: 185, dtype: object
2019-02-27
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-28', '2019-03-28', '2019-04-29', '2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28']
obs22019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
                 ...
2019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
Name: date, Length: 185, dtype: object
2019-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-28', '2019-03-29', '2019-04-29', '2019-05-29', '2019-07-01', '2019-07-29', '2019-08-29', '2019-09-30', '2019-10-29', '2019-11-29']
obs22019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
                 ...
2019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
Name: date, Length: 186, dtype: object
2019-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-02-28', '2019-04-01', '2019-04-30', '2019-05-30', '2019-07-01', '2019-07-30', '2019-08-30', '2019-09-30', '2019-10-30', '2019-12-02']
obs22019-02-28    2019-02-28
2019-03-01    2019-03-01
2019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
                 ...
2019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
Name: date, Length: 187, dtype: object
2019-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-04', '2019-04-03', '2019-05-06', '2019-06-03', '2019-07-03', '2019-08-05', '2019-09-03', '2019-10-08', '2019-11-04', '2019-12-03']
obs22019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
                 ...
2019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
Name: date, Length: 186, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-04', '2019-04-04', '2019-05-06', '2019-06-04', '2019-07-04', '2019-08-05', '2019-09-04', '2019-10-08', '2019-11-04', '2019-12-04']
obs22019-03-04    2019-03-04
2019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
                 ...
2019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
Name: date, Length: 187, dtype: object
2019-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-05', '2019-04-08', '2019-05-06', '2019-06-05', '2019-07-05', '2019-08-05', '2019-09-05', '2019-10-08', '2019-11-05', '2019-12-05']
obs22019-03-05    2019-03-05
2019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
                 ...
2019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
Name: date, Length: 187, dtype: object
2019-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-06', '2019-04-08', '2019-05-06', '2019-06-06', '2019-07-08', '2019-08-06', '2019-09-06', '2019-10-08', '2019-11-06', '2019-12-06']
obs22019-03-06    2019-03-06
2019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
2019-03-12    2019-03-12
                 ...
2019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
Name: date, Length: 187, dtype: object
2019-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-07', '2019-04-08', '2019-05-07', '2019-06-10', '2019-07-08', '2019-08-07', '2019-09-09', '2019-10-08', '2019-11-07', '2019-12-09']
obs22019-03-07    2019-03-07
2019-03-08    2019-03-08
2019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
                 ...
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
Name: date, Length: 187, dtype: object
2019-03-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-11', '2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10', '2019-08-12', '2019-09-10', '2019-10-10', '2019-11-11', '2019-12-10']
obs22019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
                 ...
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
Name: date, Length: 186, dtype: object
2019-03-11
3
4
5
6
7
8
9
10
11
12

obs1['2019-03-11', '2019-04-11', '2019-05-13', '2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11']
obs22019-03-11    2019-03-11
2019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
                 ...
2019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
Name: date, Length: 187, dtype: object
2019-03-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-12', '2019-04-12', '2019-05-13', '2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14', '2019-11-12', '2019-12-12']
obs22019-03-12    2019-03-12
2019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
                 ...
2019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
Name: date, Length: 187, dtype: object
2019-03-12
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-13', '2019-04-15', '2019-05-13', '2019-06-13', '2019-07-15', '2019-08-13', '2019-09-16', '2019-10-14', '2019-11-13', '2019-12-13']
obs22019-03-13    2019-03-13
2019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
2019-03-19    2019-03-19
                 ...
2019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
Name: date, Length: 187, dtype: object
2019-03-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-14', '2019-04-15', '2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16']
obs22019-03-14    2019-03-14
2019-03-15    2019-03-15
2019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
                 ...
2019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
Name: date, Length: 187, dtype: object
2019-03-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-18', '2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17', '2019-08-19', '2019-09-17', '2019-10-17', '2019-11-18', '2019-12-17']
obs22019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
                 ...
2019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
2019-12-17    2019-12-17
Name: date, Length: 186, dtype: object
2019-03-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-18', '2019-04-18', '2019-05-20', '2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18']
obs22019-03-18    2019-03-18
2019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
                 ...
2019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
2019-12-17    2019-12-17
2019-12-18    2019-12-18
Name: date, Length: 187, dtype: object
2019-03-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-19', '2019-04-19', '2019-05-20', '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21', '2019-11-19', '2019-12-19']
obs22019-03-19    2019-03-19
2019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
                 ...
2019-12-13    2019-12-13
2019-12-16    2019-12-16
2019-12-17    2019-12-17
2019-12-18    2019-12-18
2019-12-19    2019-12-19
Name: date, Length: 187, dtype: object
2019-03-19
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-20', '2019-04-22', '2019-05-20', '2019-06-20', '2019-07-22', '2019-08-20', '2019-09-20', '2019-10-21', '2019-11-20', '2019-12-20']
obs22019-03-20    2019-03-20
2019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
2019-03-26    2019-03-26
                 ...
2019-12-16    2019-12-16
2019-12-17    2019-12-17
2019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
Name: date, Length: 187, dtype: object
2019-03-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-21', '2019-04-22', '2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23']
obs22019-03-21    2019-03-21
2019-03-22    2019-03-22
2019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
                 ...
2019-12-17    2019-12-17
2019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
Name: date, Length: 187, dtype: object
2019-03-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-25', '2019-04-24', '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-26', '2019-09-24', '2019-10-24', '2019-11-25', '2019-12-24']
obs22019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
                 ...
2019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
Name: date, Length: 186, dtype: object
2019-03-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-25', '2019-04-25', '2019-05-27', '2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25']
obs22019-03-25    2019-03-25
2019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
                 ...
2019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
Name: date, Length: 187, dtype: object
2019-03-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-26', '2019-04-26', '2019-05-27', '2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28', '2019-11-26', '2019-12-26']
obs22019-03-26    2019-03-26
2019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
                 ...
2019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
Name: date, Length: 187, dtype: object
2019-03-26
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-27', '2019-04-29', '2019-05-27', '2019-06-27', '2019-07-29', '2019-08-27', '2019-09-27', '2019-10-28', '2019-11-27', '2019-12-27']
obs22019-03-27    2019-03-27
2019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
2019-04-02    2019-04-02
                 ...
2019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
2019-12-27    2019-12-27
Name: date, Length: 187, dtype: object
2019-03-27
3
4
5
6
7
8
9
10
11
12
obs1['2019-03-28', '2019-04-29', '2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30']
obs22019-03-28    2019-03-28
2019-03-29    2019-03-29
2019-04-01    2019-04-01
2019-04-02    2019-04-02
2019-04-03    2019-04-03
                 ...
2019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
2019-12-27    2019-12-27
2019-12-30    2019-12-30
Name: date, Length: 187, dtype: object
2019-03-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-02', '2019-05-06', '2019-06-03', '2019-07-02', '2019-08-02', '2019-09-02', '2019-10-08', '2019-11-04', '2019-12-02', '2020-01-02']
obs22019-04-02    2019-04-02
2019-04-03    2019-04-03
2019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
                 ...
2019-12-26    2019-12-26
2019-12-27    2019-12-27
2019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
Name: date, Length: 186, dtype: object
2019-04-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-03', '2019-05-06', '2019-06-03', '2019-07-03', '2019-08-05', '2019-09-03', '2019-10-08', '2019-11-04', '2019-12-03', '2020-01-03']
obs22019-04-03    2019-04-03
2019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
                 ...
2019-12-27    2019-12-27
2019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
2020-01-03    2020-01-03
Name: date, Length: 186, dtype: object
2019-04-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-04', '2019-05-06', '2019-06-04', '2019-07-04', '2019-08-05', '2019-09-04', '2019-10-08', '2019-11-04', '2019-12-04', '2020-01-06']
obs22019-04-04    2019-04-04
2019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
                 ...
2019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
2020-01-03    2020-01-03
2020-01-06    2020-01-06

Name: date, Length: 186, dtype: object
2019-04-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-08', '2019-05-07', '2019-06-10', '2019-07-08', '2019-08-07', '2019-09-09', '2019-10-08', '2019-11-07', '2019-12-09', '2020-01-07']
obs22019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
                 ...
2019-12-31    2019-12-31
2020-01-02    2020-01-02
2020-01-03    2020-01-03
2020-01-06    2020-01-06
2020-01-07    2020-01-07
Name: date, Length: 186, dtype: object
2019-04-08
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-08', '2019-05-08', '2019-06-10', '2019-07-08', '2019-08-08', '2019-09-09', '2019-10-08', '2019-11-08', '2019-12-09', '2020-01-08']
obs22019-04-08    2019-04-08
2019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
                 ...
2020-01-02    2020-01-02
2020-01-03    2020-01-03
2020-01-06    2020-01-06
2020-01-07    2020-01-07
2020-01-08    2020-01-08
Name: date, Length: 187, dtype: object
2019-04-08
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-09', '2019-05-09', '2019-06-10', '2019-07-09', '2019-08-09', '2019-09-09', '2019-10-09', '2019-11-11', '2019-12-09', '2020-01-09']
obs22019-04-09    2019-04-09
2019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
                 ...
2020-01-03    2020-01-03
2020-01-06    2020-01-06
2020-01-07    2020-01-07
2020-01-08    2020-01-08
2020-01-09    2020-01-09
Name: date, Length: 187, dtype: object
2019-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-10', '2019-05-10', '2019-06-10', '2019-07-10', '2019-08-12', '2019-09-10', '2019-10-10', '2019-11-11', '2019-12-10', '2020-01-10']
obs22019-04-10    2019-04-10
2019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
2019-04-16    2019-04-16
                 ...
2020-01-06    2020-01-06
2020-01-07    2020-01-07
2020-01-08    2020-01-08
2020-01-09    2020-01-09
2020-01-10    2020-01-10
Name: date, Length: 187, dtype: object
2019-04-10
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-11', '2019-05-13', '2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13']
obs22019-04-11    2019-04-11
2019-04-12    2019-04-12
2019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
                 ...
2020-01-07    2020-01-07
2020-01-08    2020-01-08
2020-01-09    2020-01-09
2020-01-10    2020-01-10
2020-01-13    2020-01-13
Name: date, Length: 187, dtype: object
2019-04-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-15', '2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16', '2020-01-14']
obs22019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
                 ...
2020-01-08    2020-01-08
2020-01-09    2020-01-09
2020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
Name: date, Length: 186, dtype: object
2019-04-15
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-15', '2019-05-15', '2019-06-17', '2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15']
obs22019-04-15    2019-04-15
2019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
                 ...
2020-01-09    2020-01-09
2020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
Name: date, Length: 187, dtype: object
2019-04-15
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-16', '2019-05-16', '2019-06-17', '2019-07-16', '2019-08-16', '2019-09-16', '2019-10-16', '2019-11-18', '2019-12-16', '2020-01-16']
obs22019-04-16    2019-04-16
2019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
                 ...
2020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
Name: date, Length: 187, dtype: object
2019-04-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-17', '2019-05-17', '2019-06-17', '2019-07-17', '2019-08-19', '2019-09-17', '2019-10-17', '2019-11-18', '2019-12-17', '2020-01-17']
obs22019-04-17    2019-04-17
2019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
2019-04-23    2019-04-23
                 ...
2020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
Name: date, Length: 187, dtype: object
2019-04-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-18', '2019-05-20', '2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20']
obs22019-04-18    2019-04-18
2019-04-19    2019-04-19
2019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
                 ...
2020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
Name: date, Length: 187, dtype: object
2019-04-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-22', '2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23', '2020-01-21']
obs22019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
                 ...
2020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
Name: date, Length: 186, dtype: object
2019-04-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-22', '2019-05-22', '2019-06-24', '2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22']
obs22019-04-22    2019-04-22
2019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
                 ...
2020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
Name: date, Length: 187, dtype: object
2019-04-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-23', '2019-05-23', '2019-06-24', '2019-07-23', '2019-08-23', '2019-09-23', '2019-10-23', '2019-11-25', '2019-12-23', '2020-01-23']
obs22019-04-23    2019-04-23
2019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
                 ...
2020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
Name: date, Length: 187, dtype: object
2019-04-23
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-24', '2019-05-24', '2019-06-24', '2019-07-24', '2019-08-26', '2019-09-24', '2019-10-24', '2019-11-25', '2019-12-24', '2020-02-03']
obs22019-04-24    2019-04-24
2019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 187, dtype: object
2019-04-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-25', '2019-05-27', '2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03']
obs22019-04-25    2019-04-25
2019-04-26    2019-04-26
2019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 186, dtype: object
2019-04-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-29', '2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30', '2020-02-03']
obs22019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 184, dtype: object
2019-04-29
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-29', '2019-05-29', '2019-07-01', '2019-07-29', '2019-08-29', '2019-09-30', '2019-10-29', '2019-11-29', '2019-12-30', '2020-02-03']
obs22019-04-29    2019-04-29
2019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 184, dtype: object
2019-04-29
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-30', '2019-05-30', '2019-07-01', '2019-07-30', '2019-08-30', '2019-09-30', '2019-10-30', '2019-12-02', '2019-12-30', '2020-02-03']
obs22019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 183, dtype: object
2019-04-30
3
4
5
6
7
8
9
10
11
12
obs1['2019-04-30', '2019-05-31', '2019-07-01', '2019-07-31', '2019-09-02', '2019-09-30', '2019-10-31', '2019-12-02', '2019-12-31', '2020-02-03']
obs22019-04-30    2019-04-30
2019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 183, dtype: object
2019-04-30
3
4
5
6
7
8
9
10
11
12

obs1['2019-05-06', '2019-06-03', '2019-07-01', '2019-08-01', '2019-09-02', '2019-10-08', '2019-11-01', '2019-12-02', '2020-01-02', '2020-02-03']
obs22019-05-06    2019-05-06
2019-05-07    2019-05-07
2019-05-08    2019-05-08
2019-05-09    2019-05-09
2019-05-10    2019-05-10
                 ...
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
Name: date, Length: 182, dtype: object
2019-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-13', '2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13', '2020-02-11']
obs22019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
                 ...
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
Name: date, Length: 183, dtype: object
2019-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-13', '2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14', '2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12']
obs22019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
                 ...
2020-02-06    2020-02-06
2020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
Name: date, Length: 184, dtype: object
2019-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-13', '2019-06-13', '2019-07-15', '2019-08-13', '2019-09-16', '2019-10-14', '2019-11-13', '2019-12-13', '2020-01-13', '2020-02-13']
obs22019-05-13    2019-05-13
2019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
                 ...
2020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
Name: date, Length: 185, dtype: object
2019-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-14', '2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16', '2020-01-14', '2020-02-14']
obs22019-05-14    2019-05-14
2019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
2019-05-20    2019-05-20
                 ...
2020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
Name: date, Length: 185, dtype: object
2019-05-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-15', '2019-06-17', '2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17']
obs22019-05-15    2019-05-15
2019-05-16    2019-05-16
2019-05-17    2019-05-17
2019-05-20    2019-05-20
2019-05-21    2019-05-21
                 ...
2020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
Name: date, Length: 185, dtype: object
2019-05-15
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-20', '2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20', '2020-02-18']
obs22019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
                 ...
2020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
Name: date, Length: 183, dtype: object
2019-05-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-20', '2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21', '2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19']
obs22019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
                 ...
2020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
Name: date, Length: 184, dtype: object
2019-05-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-20', '2019-06-20', '2019-07-22', '2019-08-20', '2019-09-20', '2019-10-21', '2019-11-20', '2019-12-20', '2020-01-20', '2020-02-20']
obs22019-05-20    2019-05-20
2019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
                 ...
2020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
Name: date, Length: 185, dtype: object
2019-05-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-21', '2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23', '2020-01-21', '2020-02-21']
obs22019-05-21    2019-05-21
2019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
2019-05-27    2019-05-27
                 ...
2020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
Name: date, Length: 185, dtype: object
2019-05-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-22', '2019-06-24', '2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24']
obs22019-05-22    2019-05-22
2019-05-23    2019-05-23
2019-05-24    2019-05-24
2019-05-27    2019-05-27
2019-05-28    2019-05-28
                 ...
2020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
Name: date, Length: 185, dtype: object
2019-05-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-27', '2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03', '2020-02-25']
obs22019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
                 ...
2020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
Name: date, Length: 183, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-27', '2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28', '2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26']
obs22019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
                 ...
2020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
Name: date, Length: 184, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-27', '2019-06-27', '2019-07-29', '2019-08-27', '2019-09-27', '2019-10-28', '2019-11-27', '2019-12-27', '2020-02-03', '2020-02-27']
obs22019-05-27    2019-05-27
2019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
                 ...
2020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
Name: date, Length: 185, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-05-28', '2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30', '2020-02-03', '2020-02-28']
obs22019-05-28    2019-05-28
2019-05-29    2019-05-29
2019-05-30    2019-05-30
2019-05-31    2019-05-31
2019-06-03    2019-06-03
                 ...
2020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
2020-02-28    2020-02-28
Name: date, Length: 185, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-03', '2019-07-01', '2019-08-01', '2019-09-02', '2019-10-08', '2019-11-01', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02']
obs22019-06-03    2019-06-03
2019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
                 ...
2020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
2020-02-28    2020-02-28
2020-03-02    2020-03-02
Name: date, Length: 182, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-04', '2019-07-04', '2019-08-05', '2019-09-04', '2019-10-08', '2019-11-04', '2019-12-04', '2020-01-06', '2020-02-04', '2020-03-04']
obs22019-06-04    2019-06-04
2019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
                 ...
2020-02-27    2020-02-27
2020-02-28    2020-02-28
2020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
Name: date, Length: 183, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-05', '2019-07-05', '2019-08-05', '2019-09-05', '2019-10-08', '2019-11-05', '2019-12-05', '2020-01-06', '2020-02-05', '2020-03-05']
obs22019-06-05    2019-06-05
2019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
                 ...
2020-02-28    2020-02-28
2020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
Name: date, Length: 183, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-06', '2019-07-08', '2019-08-06', '2019-09-06', '2019-10-08', '2019-11-06', '2019-12-06', '2020-01-06', '2020-02-06', '2020-03-06']
obs22019-06-06    2019-06-06
2019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
                 ...
2020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
Name: date, Length: 183, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-10', '2019-07-08', '2019-08-07', '2019-09-09', '2019-10-08', '2019-11-07', '2019-12-09', '2020-01-07', '2020-02-07', '2020-03-09']
obs22019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
                 ...
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
Name: date, Length: 183, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-10', '2019-07-08', '2019-08-08', '2019-09-09', '2019-10-08', '2019-11-08', '2019-12-09', '2020-01-08', '2020-02-10', '2020-03-09']
obs22019-06-10    2019-06-10
2019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
                 ...
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
Name: date, Length: 183, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-11', '2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13', '2020-02-11', '2020-03-11']
obs22019-06-11    2019-06-11
2019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
2019-06-17    2019-06-17
                 ...
2020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
Name: date, Length: 184, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-12', '2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14', '2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12']
obs22019-06-12    2019-06-12
2019-06-13    2019-06-13
2019-06-14    2019-06-14
2019-06-17    2019-06-17
2019-06-18    2019-06-18
                 ...
2020-03-06    2020-03-06
2020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
Name: date, Length: 184, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-13', '2019-07-15', '2019-08-13', '2019-09-16', '2019-10-14', '2019-11-13', '2019-12-13', '2020-01-13', '2020-02-13', '2020-03-13']
obs22019-06-13    2019-06-13
2019-06-14    2019-06-14
2019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
                 ...
2020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
Name: date, Length: 184, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-14', '2019-07-15', '2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16', '2020-01-14', '2020-02-14', '2020-03-16']
obs22019-06-14    2019-06-14
2019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
                 ...
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
Name: date, Length: 184, dtype: object
2020-01-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-17', '2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17', '2020-03-16']
obs22019-06-17    2019-06-17
2019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
                 ...
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
Name: date, Length: 183, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-18', '2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20', '2020-02-18', '2020-03-18']
obs22019-06-18    2019-06-18
2019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
                 ...
2020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
Name: date, Length: 184, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-19', '2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21', '2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19']
obs22019-06-19    2019-06-19
2019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
                 ...
2020-03-13    2020-03-13
2020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
Name: date, Length: 184, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-20', '2019-07-22', '2019-08-20', '2019-09-20', '2019-10-21', '2019-11-20', '2019-12-20', '2020-01-20', '2020-02-20', '2020-03-20']
obs22019-06-20    2019-06-20
2019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
                 ...
2020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
Name: date, Length: 184, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-21', '2019-07-22', '2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23', '2020-01-21', '2020-02-21', '2020-03-23']
obs22019-06-21    2019-06-21
2019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
                 ...
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
Name: date, Length: 184, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-24', '2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24', '2020-03-23']
obs22019-06-24    2019-06-24
2019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
                 ...
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
Name: date, Length: 183, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12

obs1['2019-06-25', '2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03', '2020-02-25', '2020-03-25']
obs22019-06-25    2019-06-25
2019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
                 ...
2020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
Name: date, Length: 184, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-26', '2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28', '2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26']
obs22019-06-26    2019-06-26
2019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
                 ...
2020-03-20    2020-03-20
2020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
Name: date, Length: 184, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-27', '2019-07-29', '2019-08-27', '2019-09-27', '2019-10-28', '2019-11-27', '2019-12-27', '2020-02-03', '2020-02-27', '2020-03-27']
obs22019-06-27    2019-06-27
2019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
                 ...
2020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
Name: date, Length: 184, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-06-28', '2019-07-29', '2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30', '2020-02-03', '2020-02-28', '2020-03-30']
obs22019-06-28    2019-06-28
2019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
                 ...
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
Name: date, Length: 184, dtype: object
2020-01-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-01', '2019-07-29', '2019-08-29', '2019-09-30', '2019-10-29', '2019-11-29', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30']
obs22019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
                 ...
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
Name: date, Length: 183, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-01', '2019-08-01', '2019-09-02', '2019-10-08', '2019-11-01', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-01']
obs22019-07-01    2019-07-01
2019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
                 ...
2020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
Name: date, Length: 185, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-02', '2019-08-02', '2019-09-02', '2019-10-08', '2019-11-04', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-02']
obs22019-07-02    2019-07-02
2019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
                 ...
2020-03-27    2020-03-27
2020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
Name: date, Length: 185, dtype: object
2020-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-03', '2019-08-05', '2019-09-03', '2019-10-08', '2019-11-04', '2019-12-03', '2020-01-03', '2020-02-03', '2020-03-03', '2020-04-03']
obs22019-07-03    2019-07-03
2019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
2019-07-09    2019-07-09
                 ...
2020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
2020-04-03    2020-04-03
Name: date, Length: 185, dtype: object
2020-04-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-04', '2019-08-05', '2019-09-04', '2019-10-08', '2019-11-04', '2019-12-04', '2020-01-06', '2020-02-04', '2020-03-04', '2020-04-07']
obs22019-07-04    2019-07-04
2019-07-05    2019-07-05
2019-07-08    2019-07-08
2019-07-09    2019-07-09
2019-07-10    2019-07-10
                 ...
2020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
2020-04-03    2020-04-03
2020-04-07    2020-04-07
Name: date, Length: 185, dtype: object
2020-04-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-08', '2019-08-08', '2019-09-09', '2019-10-08', '2019-11-08', '2019-12-09', '2020-01-08', '2020-02-10', '2020-03-09', '2020-04-08']
obs22019-07-08    2019-07-08
2019-07-09    2019-07-09
2019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
                 ...
2020-04-01    2020-04-01
2020-04-02    2020-04-02
2020-04-03    2020-04-03
2020-04-07    2020-04-07
2020-04-08    2020-04-08
Name: date, Length: 184, dtype: object
2020-04-08
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-09', '2019-08-09', '2019-09-09', '2019-10-09', '2019-11-11', '2019-12-09', '2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09']
obs22019-07-09    2019-07-09
2019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
                 ...
2020-04-02    2020-04-02
2020-04-03    2020-04-03
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
Name: date, Length: 184, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-10', '2019-08-12', '2019-09-10', '2019-10-10', '2019-11-11', '2019-12-10', '2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10']
obs22019-07-10    2019-07-10
2019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
                 ...
2020-04-03    2020-04-03
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
Name: date, Length: 184, dtype: object
2020-04-10
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-11', '2019-08-12', '2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13', '2020-02-11', '2020-03-11', '2020-04-13']
obs22019-07-11    2019-07-11
2019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
                 ...
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
Name: date, Length: 184, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-12', '2019-08-12', '2019-09-12', '2019-10-14', '2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12', '2020-04-13']
obs22019-07-12    2019-07-12
2019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
                 ...
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
Name: date, Length: 183, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-15', '2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17', '2020-03-16', '2020-04-15']
obs22019-07-15    2019-07-15
2019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
                 ...
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
Name: date, Length: 184, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-16', '2019-08-16', '2019-09-16', '2019-10-16', '2019-11-18', '2019-12-16', '2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16']
obs22019-07-16    2019-07-16
2019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
                 ...
2020-04-10    2020-04-10
2020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
Name: date, Length: 184, dtype: object
2020-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-17', '2019-08-19', '2019-09-17', '2019-10-17', '2019-11-18', '2019-12-17', '2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17']
obs22019-07-17    2019-07-17
2019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
                 ...
2020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
Name: date, Length: 184, dtype: object
2020-04-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-18', '2019-08-19', '2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20', '2020-02-18', '2020-03-18', '2020-04-20']
obs22019-07-18    2019-07-18
2019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
                 ...
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
Name: date, Length: 184, dtype: object
2020-04-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-19', '2019-08-19', '2019-09-19', '2019-10-21', '2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19', '2020-04-20']
obs22019-07-19    2019-07-19
2019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
                 ...
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
Name: date, Length: 183, dtype: object
2020-04-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-22', '2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24', '2020-03-23', '2020-04-22']
obs22019-07-22    2019-07-22
2019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
                 ...
2020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
Name: date, Length: 184, dtype: object
2020-04-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-23', '2019-08-23', '2019-09-23', '2019-10-23', '2019-11-25', '2019-12-23', '2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23']
obs22019-07-23    2019-07-23
2019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
                 ...
2020-04-17    2020-04-17
2020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
Name: date, Length: 184, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-24', '2019-08-26', '2019-09-24', '2019-10-24', '2019-11-25', '2019-12-24', '2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24']
obs22019-07-24    2019-07-24
2019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
                 ...
2020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
Name: date, Length: 184, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-25', '2019-08-26', '2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03', '2020-02-25', '2020-03-25', '2020-04-27']
obs22019-07-25    2019-07-25
2019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
                 ...
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
Name: date, Length: 184, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-26', '2019-08-26', '2019-09-26', '2019-10-28', '2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26', '2020-04-27']
obs22019-07-26    2019-07-26
2019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
                 ...
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
Name: date, Length: 183, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-29', '2019-08-29', '2019-09-30', '2019-10-29', '2019-11-29', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-29']
obs22019-07-29    2019-07-29
2019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
2019-08-02    2019-08-02
                 ...
2020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
2020-04-28    2020-04-28
2020-04-29    2020-04-29
Name: date, Length: 184, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-07-30', '2019-08-30', '2019-09-30', '2019-10-30', '2019-12-02', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30']
obs22019-07-30    2019-07-30
2019-07-31    2019-07-31
2019-08-01    2019-08-01
2019-08-02    2019-08-02
2019-08-05    2019-08-05
                 ...
2020-04-24    2020-04-24
2020-04-27    2020-04-27
2020-04-28    2020-04-28
2020-04-29    2020-04-29
2020-04-30    2020-04-30
Name: date, Length: 184, dtype: object
2020-01-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-06', '2019-09-06', '2019-10-08', '2019-11-06', '2019-12-06', '2020-01-06', '2020-02-06', '2020-03-06', '2020-04-07', '2020-05-06']
obs22019-08-06    2019-08-06
2019-08-07    2019-08-07
2019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
                 ...
2020-04-27    2020-04-27
2020-04-28    2020-04-28
2020-04-29    2020-04-29
2020-04-30    2020-04-30
2020-05-06    2020-05-06
Name: date, Length: 180, dtype: object
2019-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-07', '2019-09-09', '2019-10-08', '2019-11-07', '2019-12-09', '2020-01-07', '2020-02-07', '2020-03-09', '2020-04-07', '2020-05-07']
obs22019-08-07    2019-08-07
2019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
                 ...
2020-04-28    2020-04-28
2020-04-29    2020-04-29
2020-04-30    2020-04-30
2020-05-06    2020-05-06
2020-05-07    2020-05-07
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-08', '2019-09-09', '2019-10-08', '2019-11-08', '2019-12-09', '2020-01-08', '2020-02-10', '2020-03-09', '2020-04-08', '2020-05-08']
obs22019-08-08    2019-08-08
2019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
                 ...
2020-04-29    2020-04-29
2020-04-30    2020-04-30
2020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-09', '2019-09-09', '2019-10-09', '2019-11-11', '2019-12-09', '2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09', '2020-05-11']
obs22019-08-09    2019-08-09
2019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
                 ...
2020-04-30    2020-04-30
2020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
Name: date, Length: 180, dtype: object
2019-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-12', '2019-09-10', '2019-10-10', '2019-11-11', '2019-12-10', '2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10', '2020-05-11']
obs22019-08-12    2019-08-12
2019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
                 ...
2020-04-30    2020-04-30
2020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
Name: date, Length: 179, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-13', '2019-09-16', '2019-10-14', '2019-11-13', '2019-12-13', '2020-01-13', '2020-02-13', '2020-03-13', '2020-04-13', '2020-05-13']
obs22019-08-13    2019-08-13
2019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
                 ...
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-14', '2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16', '2020-01-14', '2020-02-14', '2020-03-16', '2020-04-14', '2020-05-14']
obs22019-08-14    2019-08-14
2019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
                 ...
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-15', '2019-09-16', '2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17', '2020-03-16', '2020-04-15', '2020-05-15']
obs22019-08-15    2019-08-15
2019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
                 ...
2020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
Name: date, Length: 180, dtype: object
2020-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-16', '2019-09-16', '2019-10-16', '2019-11-18', '2019-12-16', '2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16', '2020-05-18']
obs22019-08-16    2019-08-16
2019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
                 ...
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
Name: date, Length: 180, dtype: object
2020-01-06
3
4
5
6
7
8
9
10
11
12

obs1['2019-08-19', '2019-09-17', '2019-10-17', '2019-11-18', '2019-12-17', '2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17', '2020-05-18']
obs22019-08-19    2019-08-19
2019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
                 ...
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
Name: date, Length: 179, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-20', '2019-09-20', '2019-10-21', '2019-11-20', '2019-12-20', '2020-01-20', '2020-02-20', '2020-03-20', '2020-04-20', '2020-05-20']
obs22019-08-20    2019-08-20
2019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
                 ...
2020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-21', '2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23', '2020-01-21', '2020-02-21', '2020-03-23', '2020-04-21', '2020-05-21']
obs22019-08-21    2019-08-21
2019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
                 ...
2020-05-15    2020-05-15
2020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
Name: date, Length: 180, dtype: object
2019-09-10
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-22', '2019-09-23', '2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24', '2020-03-23', '2020-04-22', '2020-05-22']
obs22019-08-22    2019-08-22
2019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
                 ...
2020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-23', '2019-09-23', '2019-10-23', '2019-11-25', '2019-12-23', '2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23', '2020-05-25']
obs22019-08-23    2019-08-23
2019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
                 ...
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
Name: date, Length: 180, dtype: object
2019-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-26', '2019-09-24', '2019-10-24', '2019-11-25', '2019-12-24', '2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24', '2020-05-25']
obs22019-08-26    2019-08-26
2019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
                 ...
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
Name: date, Length: 179, dtype: object
2019-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-27', '2019-09-27', '2019-10-28', '2019-11-27', '2019-12-27', '2020-02-03', '2020-02-27', '2020-03-27', '2020-04-27', '2020-05-27']
obs22019-08-27    2019-08-27
2019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
                 ...
2020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-28', '2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30', '2020-02-03', '2020-02-28', '2020-03-30', '2020-04-28', '2020-05-28']
obs22019-08-28    2019-08-28
2019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
                 ...
2020-05-22    2020-05-22
2020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-29', '2019-09-30', '2019-10-29', '2019-11-29', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-29', '2020-05-29']
obs22019-08-29    2019-08-29
2019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
                 ...
2020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-08-30', '2019-09-30', '2019-10-30', '2019-12-02', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30', '2020-06-01']
obs22019-08-30    2019-08-30
2019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
                 ...
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
Name: date, Length: 180, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-02', '2019-09-30', '2019-10-31', '2019-12-02', '2019-12-31', '2020-02-03', '2020-03-02', '2020-03-31', '2020-04-30', '2020-06-01']
obs22019-09-02    2019-09-02
2019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
                 ...
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
Name: date, Length: 179, dtype: object
2019-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-03', '2019-10-08', '2019-11-04', '2019-12-03', '2020-01-03', '2020-02-03', '2020-03-03', '2020-04-03', '2020-05-06', '2020-06-03']
obs22019-09-03    2019-09-03
2019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
                 ...
2020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
2020-06-02    2020-06-02
2020-06-03    2020-06-03
Name: date, Length: 180, dtype: object
2019-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-04', '2019-10-08', '2019-11-04', '2019-12-04', '2020-01-06', '2020-02-04', '2020-03-04', '2020-04-07', '2020-05-06', '2020-06-04']
obs22019-09-04    2019-09-04
2019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
                 ...
2020-05-29    2020-05-29
2020-06-01    2020-06-01
2020-06-02    2020-06-02
2020-06-03    2020-06-03
2020-06-04    2020-06-04
Name: date, Length: 180, dtype: object
2019-09-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-05', '2019-10-08', '2019-11-05', '2019-12-05', '2020-01-06', '2020-02-05', '2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05']
obs22019-09-05    2019-09-05
2019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
                 ...
2020-06-01    2020-06-01
2020-06-02    2020-06-02
2020-06-03    2020-06-03
2020-06-04    2020-06-04
2020-06-05    2020-06-05
Name: date, Length: 180, dtype: object
2019-09-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-06', '2019-10-08', '2019-11-06', '2019-12-06', '2020-01-06', '2020-02-06', '2020-03-06', '2020-04-07', '2020-05-06', '2020-06-08']
obs22019-09-06    2019-09-06
2019-09-09    2019-09-09
2019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
                 ...
2020-06-02    2020-06-02
2020-06-03    2020-06-03
2020-06-04    2020-06-04
2020-06-05    2020-06-05
2020-06-08    2020-06-08
Name: date, Length: 180, dtype: object
2019-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-10', '2019-10-10', '2019-11-11', '2019-12-10', '2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10', '2020-05-11', '2020-06-10']
obs22019-09-10    2019-09-10
2019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
                 ...
2020-06-04    2020-06-04
2020-06-05    2020-06-05
2020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
Name: date, Length: 180, dtype: object
2019-09-10
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-11', '2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13', '2020-02-11', '2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11']
obs22019-09-11    2019-09-11
2019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
                 ...
2020-06-05    2020-06-05
2020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
Name: date, Length: 180, dtype: object
2019-09-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-12', '2019-10-14', '2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12']
obs22019-09-12    2019-09-12
2019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
                 ...
2020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
Name: date, Length: 180, dtype: object
2019-09-12
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-16', '2019-10-14', '2019-11-13', '2019-12-13', '2020-01-13', '2020-02-13', '2020-03-13', '2020-04-13', '2020-05-13', '2020-06-15']
obs22019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
                 ...
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
Name: date, Length: 180, dtype: object

2019-09-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-16', '2019-10-14', '2019-11-14', '2019-12-16', '2020-01-14', '2020-02-14', '2020-03-16', '2020-04-14', '2020-05-14', '2020-06-15']
obs22019-09-16    2019-09-16
2019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
                 ...
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
Name: date, Length: 180, dtype: object
2019-09-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-17', '2019-10-17', '2019-11-18', '2019-12-17', '2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17', '2020-05-18', '2020-06-17']
obs22019-09-17    2019-09-17
2019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
2019-09-23    2019-09-23
                 ...
2020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
Name: date, Length: 181, dtype: object
2019-09-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-18', '2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20', '2020-02-18', '2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18']
obs22019-09-18    2019-09-18
2019-09-19    2019-09-19
2019-09-20    2019-09-20
2019-09-23    2019-09-23
2019-09-24    2019-09-24
                 ...
2020-06-12    2020-06-12
2020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
Name: date, Length: 181, dtype: object
2019-09-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-19', '2019-10-21', '2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19']
obs22019-09-19    2019-09-19
2019-09-20    2019-09-20
2019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
                 ...
2020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
Name: date, Length: 181, dtype: object
2019-09-19
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-20', '2019-10-21', '2019-11-20', '2019-12-20', '2020-01-20', '2020-02-20', '2020-03-20', '2020-04-20', '2020-05-20', '2020-06-22']
obs22019-09-20    2019-09-20
2019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
                 ...
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
Name: date, Length: 181, dtype: object
2019-09-20
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-23', '2019-10-21', '2019-11-21', '2019-12-23', '2020-01-21', '2020-02-21', '2020-03-23', '2020-04-21', '2020-05-21', '2020-06-22']
obs22019-09-23    2019-09-23
2019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
                 ...
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
Name: date, Length: 180, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-24', '2019-10-24', '2019-11-25', '2019-12-24', '2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24', '2020-05-25', '2020-06-24']
obs22019-09-24    2019-09-24
2019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
                 ...
2020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
Name: date, Length: 181, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-25', '2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03', '2020-02-25', '2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29']
obs22019-09-25    2019-09-25
2019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
                 ...
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
Name: date, Length: 181, dtype: object
2019-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-26', '2019-10-28', '2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29']
obs22019-09-26    2019-09-26
2019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
                 ...
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
Name: date, Length: 180, dtype: object
2019-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-27', '2019-10-28', '2019-11-27', '2019-12-27', '2020-02-03', '2020-02-27', '2020-03-27', '2020-04-27', '2020-05-27', '2020-06-29']
obs22019-09-27    2019-09-27
2019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
                 ...
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
Name: date, Length: 179, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-09-30', '2019-10-28', '2019-11-28', '2019-12-30', '2020-02-03', '2020-02-28', '2020-03-30', '2020-04-28', '2020-05-28', '2020-06-29']
obs22019-09-30    2019-09-30
2019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
                 ...
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
Name: date, Length: 178, dtype: object
2019-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-01', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-01', '2020-05-06', '2020-06-01', '2020-07-01']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
Name: date, Length: 179, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-04', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-02', '2020-05-06', '2020-06-02', '2020-07-02']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-06-24    2020-06-24
2020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
Name: date, Length: 180, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-04', '2019-12-03', '2020-01-03', '2020-02-03', '2020-03-03', '2020-04-03', '2020-05-06', '2020-06-03', '2020-07-03']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
Name: date, Length: 181, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-04', '2019-12-04', '2020-01-06', '2020-02-04', '2020-03-04', '2020-04-07', '2020-05-06', '2020-06-04', '2020-07-06']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
Name: date, Length: 182, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-05', '2019-12-05', '2020-01-06', '2020-02-05', '2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05', '2020-07-06']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
Name: date, Length: 182, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-08', '2019-11-08', '2019-12-09', '2020-01-08', '2020-02-10', '2020-03-09', '2020-04-08', '2020-05-08', '2020-06-08', '2020-07-08']
obs22019-10-08    2019-10-08
2019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
                 ...
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
2020-07-07    2020-07-07
2020-07-08    2020-07-08
Name: date, Length: 184, dtype: object
2019-10-14
3
4
5
6
7
8
9
10
11

12
obs1['2019-10-09', '2019-11-11', '2019-12-09', '2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09']
obs22019-10-09    2019-10-09
2019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
                 ...
2020-07-03    2020-07-03
2020-07-06    2020-07-06
2020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
Name: date, Length: 184, dtype: object
2019-10-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-10', '2019-11-11', '2019-12-10', '2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10', '2020-05-11', '2020-06-10', '2020-07-10']
obs22019-10-10    2019-10-10
2019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
                 ...
2020-07-06    2020-07-06
2020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
2020-07-10    2020-07-10
Name: date, Length: 184, dtype: object
2019-10-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-11', '2019-11-11', '2019-12-11', '2020-01-13', '2020-02-11', '2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11', '2020-07-13']
obs22019-10-11    2019-10-11
2019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
                 ...
2020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
Name: date, Length: 184, dtype: object
2019-10-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-14', '2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12', '2020-07-13']
obs22019-10-14    2019-10-14
2019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
                 ...
2020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
Name: date, Length: 183, dtype: object
2019-10-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-15', '2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17', '2020-03-16', '2020-04-15', '2020-05-15', '2020-06-15', '2020-07-15']
obs22019-10-15    2019-10-15
2019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
                 ...
2020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-16', '2019-11-18', '2019-12-16', '2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16']
obs22019-10-16    2019-10-16
2019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
                 ...
2020-07-10    2020-07-10
2020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-17', '2019-11-18', '2019-12-17', '2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17', '2020-05-18', '2020-06-17', '2020-07-17']
obs22019-10-17    2019-10-17
2019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
                 ...
2020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-18', '2019-11-18', '2019-12-18', '2020-01-20', '2020-02-18', '2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18', '2020-07-20']
obs22019-10-18    2019-10-18
2019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
                 ...
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
Name: date, Length: 184, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-21', '2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19', '2020-07-20']
obs22019-10-21    2019-10-21
2019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
                 ...
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
Name: date, Length: 183, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-22', '2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24', '2020-03-23', '2020-04-22', '2020-05-22', '2020-06-22', '2020-07-22']
obs22019-10-22    2019-10-22
2019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
                 ...
2020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
Name: date, Length: 184, dtype: object
2019-10-22
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-23', '2019-11-25', '2019-12-23', '2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23']
obs22019-10-23    2019-10-23
2019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
                 ...
2020-07-17    2020-07-17
2020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
Name: date, Length: 184, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-24', '2019-11-25', '2019-12-24', '2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24', '2020-05-25', '2020-06-24', '2020-07-24']
obs22019-10-24    2019-10-24
2019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
                 ...
2020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
Name: date, Length: 184, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-25', '2019-11-25', '2019-12-25', '2020-02-03', '2020-02-25', '2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29', '2020-07-27']
obs22019-10-25    2019-10-25
2019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
                 ...
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
Name: date, Length: 184, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-28', '2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29', '2020-07-27']
obs22019-10-28    2019-10-28
2019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
                 ...
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
Name: date, Length: 183, dtype: object
2019-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-29', '2019-11-29', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-29', '2020-05-29', '2020-06-29', '2020-07-29']
obs22019-10-29    2019-10-29
2019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
                 ...
2020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-30', '2019-12-02', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-30']
obs22019-10-30    2019-10-30
2019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
                 ...
2020-07-24    2020-07-24
2020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-10-31', '2019-12-02', '2019-12-31', '2020-02-03', '2020-03-02', '2020-03-31', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-31']
obs22019-10-31    2019-10-31
2019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
                 ...
2020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-01', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-01', '2020-05-06', '2020-06-01', '2020-07-01', '2020-08-03']
obs22019-11-01    2019-11-01
2019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
                 ...
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
Name: date, Length: 184, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12

obs1['2019-11-04', '2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-02', '2020-05-06', '2020-06-02', '2020-07-02', '2020-08-03']
obs22019-11-04    2019-11-04
2019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
                 ...
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
Name: date, Length: 183, dtype: object
2019-11-04
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-05', '2019-12-05', '2020-01-06', '2020-02-05', '2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05', '2020-07-06', '2020-08-05']
obs22019-11-05    2019-11-05
2019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
                 ...
2020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
2020-08-04    2020-08-04
2020-08-05    2020-08-05
Name: date, Length: 184, dtype: object
2019-11-05
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-06', '2019-12-06', '2020-01-06', '2020-02-06', '2020-03-06', '2020-04-07', '2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06']
obs22019-11-06    2019-11-06
2019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
                 ...
2020-07-31    2020-07-31
2020-08-03    2020-08-03
2020-08-04    2020-08-04
2020-08-05    2020-08-05
2020-08-06    2020-08-06
Name: date, Length: 184, dtype: object
2019-11-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-07', '2019-12-09', '2020-01-07', '2020-02-07', '2020-03-09', '2020-04-07', '2020-05-07', '2020-06-08', '2020-07-07', '2020-08-07']
obs22019-11-07    2019-11-07
2019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
                 ...
2020-08-03    2020-08-03
2020-08-04    2020-08-04
2020-08-05    2020-08-05
2020-08-06    2020-08-06
2020-08-07    2020-08-07
Name: date, Length: 184, dtype: object
2019-11-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-08', '2019-12-09', '2020-01-08', '2020-02-10', '2020-03-09', '2020-04-08', '2020-05-08', '2020-06-08', '2020-07-08', '2020-08-10']
obs22019-11-08    2019-11-08
2019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
                 ...
2020-08-04    2020-08-04
2020-08-05    2020-08-05
2020-08-06    2020-08-06
2020-08-07    2020-08-07
2020-08-10    2020-08-10
Name: date, Length: 184, dtype: object
2019-11-08
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-11', '2019-12-09', '2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09', '2020-08-10']
obs22019-11-11    2019-11-11
2019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
                 ...
2020-08-04    2020-08-04
2020-08-05    2020-08-05
2020-08-06    2020-08-06
2020-08-07    2020-08-07
2020-08-10    2020-08-10
Name: date, Length: 183, dtype: object
2019-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-12', '2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12', '2020-07-13', '2020-08-12']
obs22019-11-12    2019-11-12
2019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
                 ...
2020-08-06    2020-08-06
2020-08-07    2020-08-07
2020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
Name: date, Length: 184, dtype: object
2019-11-12
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-13', '2019-12-13', '2020-01-13', '2020-02-13', '2020-03-13', '2020-04-13', '2020-05-13', '2020-06-15', '2020-07-13', '2020-08-13']
obs22019-11-13    2019-11-13
2019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
                 ...
2020-08-07    2020-08-07
2020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
Name: date, Length: 184, dtype: object
2019-11-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-14', '2019-12-16', '2020-01-14', '2020-02-14', '2020-03-16', '2020-04-14', '2020-05-14', '2020-06-15', '2020-07-14', '2020-08-14']
obs22019-11-14    2019-11-14
2019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
                 ...
2020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
Name: date, Length: 184, dtype: object
2019-11-14
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-15', '2019-12-16', '2020-01-15', '2020-02-17', '2020-03-16', '2020-04-15', '2020-05-15', '2020-06-15', '2020-07-15', '2020-08-17']
obs22019-11-15    2019-11-15
2019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
                 ...
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
Name: date, Length: 184, dtype: object
2019-11-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-18', '2019-12-16', '2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16', '2020-08-17']
obs22019-11-18    2019-11-18
2019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
                 ...
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
Name: date, Length: 183, dtype: object
2019-11-18
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-19', '2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19', '2020-07-20', '2020-08-19']
obs22019-11-19    2019-11-19
2019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
                 ...
2020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
Name: date, Length: 184, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-20', '2019-12-20', '2020-01-20', '2020-02-20', '2020-03-20', '2020-04-20', '2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20']
obs22019-11-20    2019-11-20
2019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
                 ...
2020-08-14    2020-08-14
2020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
Name: date, Length: 184, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-21', '2019-12-23', '2020-01-21', '2020-02-21', '2020-03-23', '2020-04-21', '2020-05-21', '2020-06-22', '2020-07-21', '2020-08-21']
obs22019-11-21    2019-11-21
2019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
                 ...
2020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
Name: date, Length: 184, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-22', '2019-12-23', '2020-01-22', '2020-02-24', '2020-03-23', '2020-04-22', '2020-05-22', '2020-06-22', '2020-07-22', '2020-08-24']
obs22019-11-22    2019-11-22
2019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
                 ...
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-25', '2019-12-23', '2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23', '2020-08-24']
obs22019-11-25    2019-11-25
2019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
                 ...
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
Name: date, Length: 183, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-26', '2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29', '2020-07-27', '2020-08-26']
obs22019-11-26    2019-11-26
2019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
                 ...
2020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
Name: date, Length: 184, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-27', '2019-12-27', '2020-02-03', '2020-02-27', '2020-03-27', '2020-04-27', '2020-05-27', '2020-06-29', '2020-07-27', '2020-08-27']
obs22019-11-27    2019-11-27
2019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
                 ...
2020-08-21    2020-08-21
2020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12

obs1['2019-11-28', '2019-12-30', '2020-02-03', '2020-02-28', '2020-03-30', '2020-04-28', '2020-05-28', '2020-06-29', '2020-07-28', '2020-08-28']
obs22019-11-28    2019-11-28
2019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
                 ...
2020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-11-29', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-29', '2020-05-29', '2020-06-29', '2020-07-29', '2020-08-31']
obs22019-11-29    2019-11-29
2019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
                 ...
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
Name: date, Length: 184, dtype: object
2019-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-02', '2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-30', '2020-08-31']
obs22019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
                 ...
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
Name: date, Length: 183, dtype: object
2019-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-02', '2020-01-02', '2020-02-03', '2020-03-02', '2020-04-02', '2020-05-06', '2020-06-02', '2020-07-02', '2020-08-03', '2020-09-02']
obs22019-12-02    2019-12-02
2019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
                 ...
2020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
Name: date, Length: 185, dtype: object
2019-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-03', '2020-01-03', '2020-02-03', '2020-03-03', '2020-04-03', '2020-05-06', '2020-06-03', '2020-07-03', '2020-08-03', '2020-09-03']
obs22019-12-03    2019-12-03
2019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
                 ...
2020-08-28    2020-08-28
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
Name: date, Length: 185, dtype: object
2019-12-17
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-04', '2020-01-06', '2020-02-04', '2020-03-04', '2020-04-07', '2020-05-06', '2020-06-04', '2020-07-06', '2020-08-04', '2020-09-04']
obs22019-12-04    2019-12-04
2019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
                 ...
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
Name: date, Length: 185, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-05', '2020-01-06', '2020-02-05', '2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05', '2020-07-06', '2020-08-05', '2020-09-07']
obs22019-12-05    2019-12-05
2019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
                 ...
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
Name: date, Length: 185, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-06', '2020-01-06', '2020-02-06', '2020-03-06', '2020-04-07', '2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07']
obs22019-12-06    2019-12-06
2019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
                 ...
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
Name: date, Length: 184, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-09', '2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09', '2020-08-10', '2020-09-09']
obs22019-12-09    2019-12-09
2019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
                 ...
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
Name: date, Length: 185, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-10', '2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10', '2020-05-11', '2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10']
obs22019-12-10    2019-12-10
2019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
                 ...
2020-09-04    2020-09-04
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
Name: date, Length: 185, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-11', '2020-01-13', '2020-02-11', '2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11']
obs22019-12-11    2019-12-11
2019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
2019-12-17    2019-12-17
                 ...
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
Name: date, Length: 185, dtype: object
2020-01-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-12', '2020-01-13', '2020-02-12', '2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12', '2020-07-13', '2020-08-12', '2020-09-14']
obs22019-12-12    2019-12-12
2019-12-13    2019-12-13
2019-12-16    2019-12-16
2019-12-17    2019-12-17
2019-12-18    2019-12-18
                 ...
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-14    2020-09-14
Name: date, Length: 185, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-16', '2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16', '2020-08-17', '2020-09-16']
obs22019-12-16    2019-12-16
2019-12-17    2019-12-17
2019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
                 ...
2020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
Name: date, Length: 185, dtype: object
2020-01-07
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-17', '2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17', '2020-05-18', '2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17']
obs22019-12-17    2019-12-17
2019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
                 ...
2020-09-11    2020-09-11
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
Name: date, Length: 185, dtype: object
2020-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-18', '2020-01-20', '2020-02-18', '2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18']
obs22019-12-18    2019-12-18
2019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
                 ...
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
Name: date, Length: 185, dtype: object
2020-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-19', '2020-01-20', '2020-02-19', '2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19', '2020-07-20', '2020-08-19', '2020-09-21']
obs22019-12-19    2019-12-19
2019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
                 ...
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
Name: date, Length: 185, dtype: object
2020-01-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-20', '2020-01-20', '2020-02-20', '2020-03-20', '2020-04-20', '2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21']
obs22019-12-20    2019-12-20
2019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
                 ...
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
Name: date, Length: 184, dtype: object
2020-01-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-23', '2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23', '2020-08-24', '2020-09-23']
obs22019-12-23    2019-12-23
2019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
2019-12-27    2019-12-27
                 ...
2020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
Name: date, Length: 185, dtype: object
2020-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-24', '2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24', '2020-05-25', '2020-06-24', '2020-07-24', '2020-08-24', '2020-09-24']
obs22019-12-24    2019-12-24
2019-12-25    2019-12-25
2019-12-26    2019-12-26
2019-12-27    2019-12-27
2019-12-30    2019-12-30
                 ...
2020-09-18    2020-09-18
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
Name: date, Length: 185, dtype: object
2020-01-06
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-25', '2020-02-03', '2020-02-25', '2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25']
obs22019-12-25    2019-12-25
2019-12-26    2019-12-26
2019-12-27    2019-12-27
2019-12-30    2019-12-30
2019-12-31    2019-12-31
                 ...
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
Name: date, Length: 185, dtype: object
2020-01-02
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-26', '2020-02-03', '2020-02-26', '2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29', '2020-07-27', '2020-08-26', '2020-09-28']
obs22019-12-26    2019-12-26
2019-12-27    2019-12-27
2019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
                 ...
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
Name: date, Length: 185, dtype: object
2019-12-26
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-27', '2020-02-03', '2020-02-27', '2020-03-27', '2020-04-27', '2020-05-27', '2020-06-29', '2020-07-27', '2020-08-27', '2020-09-28']
obs22019-12-27    2019-12-27
2019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
2020-01-03    2020-01-03
                 ...
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
Name: date, Length: 184, dtype: object

2019-12-27
3
4
5
6
7
8
9
10
11
12
obs1['2019-12-30', '2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-30', '2020-08-31', '2020-09-30']
obs22019-12-30    2019-12-30
2019-12-31    2019-12-31
2020-01-02    2020-01-02
2020-01-03    2020-01-03
2020-01-06    2020-01-06
                 ...
2020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
Name: date, Length: 185, dtype: object
2019-12-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-08', '2020-02-10', '2020-03-09', '2020-04-08', '2020-05-08', '2020-06-08', '2020-07-08', '2020-08-10', '2020-09-08', '2020-10-09']
obs22020-01-08    2020-01-08
2020-01-09    2020-01-09
2020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
                 ...
2020-09-25    2020-09-25
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
2020-10-09    2020-10-09
Name: date, Length: 180, dtype: object
2020-01-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-09', '2020-02-10', '2020-03-09', '2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09', '2020-08-10', '2020-09-09', '2020-10-09']
obs22020-01-09    2020-01-09
2020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
                 ...
2020-09-25    2020-09-25
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
2020-10-09    2020-10-09
Name: date, Length: 179, dtype: object
2020-01-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-10', '2020-02-10', '2020-03-10', '2020-04-10', '2020-05-11', '2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12']
obs22020-01-10    2020-01-10
2020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
                 ...
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
2020-10-09    2020-10-09
2020-10-12    2020-10-12
Name: date, Length: 179, dtype: object
2020-01-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-13', '2020-02-11', '2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11', '2020-10-12']
obs22020-01-13    2020-01-13
2020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
                 ...
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
2020-10-09    2020-10-09
2020-10-12    2020-10-12
Name: date, Length: 178, dtype: object
2020-01-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-14', '2020-02-14', '2020-03-16', '2020-04-14', '2020-05-14', '2020-06-15', '2020-07-14', '2020-08-14', '2020-09-14', '2020-10-14']
obs22020-01-14    2020-01-14
2020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
                 ...
2020-09-30    2020-09-30
2020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
Name: date, Length: 179, dtype: object
2020-01-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-15', '2020-02-17', '2020-03-16', '2020-04-15', '2020-05-15', '2020-06-15', '2020-07-15', '2020-08-17', '2020-09-15', '2020-10-15']
obs22020-01-15    2020-01-15
2020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
                 ...
2020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
Name: date, Length: 179, dtype: object
2020-01-15
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-16', '2020-02-17', '2020-03-16', '2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16', '2020-08-17', '2020-09-16', '2020-10-16']
obs22020-01-16    2020-01-16
2020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
                 ...
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
Name: date, Length: 179, dtype: object
2020-01-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-17', '2020-02-17', '2020-03-17', '2020-04-17', '2020-05-18', '2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19']
obs22020-01-17    2020-01-17
2020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
                 ...
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
Name: date, Length: 179, dtype: object
2020-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-20', '2020-02-18', '2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18', '2020-10-19']
obs22020-01-20    2020-01-20
2020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
                 ...
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
Name: date, Length: 178, dtype: object
2020-01-20
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-21', '2020-02-21', '2020-03-23', '2020-04-21', '2020-05-21', '2020-06-22', '2020-07-21', '2020-08-21', '2020-09-21', '2020-10-21']
obs22020-01-21    2020-01-21
2020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
2020-02-04    2020-02-04
                 ...
2020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
Name: date, Length: 179, dtype: object
2020-01-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-22', '2020-02-24', '2020-03-23', '2020-04-22', '2020-05-22', '2020-06-22', '2020-07-22', '2020-08-24', '2020-09-22', '2020-10-22']
obs22020-01-22    2020-01-22
2020-01-23    2020-01-23
2020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
                 ...
2020-10-16    2020-10-16
2020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
Name: date, Length: 179, dtype: object
2020-01-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-01-23', '2020-02-24', '2020-03-23', '2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23', '2020-08-24', '2020-09-23', '2020-10-23']
obs22020-01-23    2020-01-23
2020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
                 ...
2020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
Name: date, Length: 179, dtype: object
2020-01-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-02-24', '2020-03-24', '2020-04-24', '2020-05-25', '2020-06-24', '2020-07-24', '2020-08-24', '2020-09-24', '2020-10-26']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
Name: date, Length: 179, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-02-25', '2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25', '2020-10-26']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
Name: date, Length: 179, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-02-28', '2020-03-30', '2020-04-28', '2020-05-28', '2020-06-29', '2020-07-28', '2020-08-28', '2020-09-28', '2020-10-28']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
Name: date, Length: 181, dtype: object
2020-02-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-03-02', '2020-03-30', '2020-04-29', '2020-05-29', '2020-06-29', '2020-07-29', '2020-08-31', '2020-09-29', '2020-10-29']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-23    2020-10-23
2020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
Name: date, Length: 182, dtype: object
2020-02-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-03-02', '2020-03-30', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-30', '2020-08-31', '2020-09-30', '2020-10-30']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
Name: date, Length: 183, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-03', '2020-03-02', '2020-03-31', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-11-02']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
Name: date, Length: 184, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12

obs1['2020-02-03', '2020-03-02', '2020-04-01', '2020-05-06', '2020-06-01', '2020-07-01', '2020-08-03', '2020-09-01', '2020-10-09', '2020-11-02']
obs22020-02-03    2020-02-03
2020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
                 ...
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
Name: date, Length: 184, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-04', '2020-03-04', '2020-04-07', '2020-05-06', '2020-06-04', '2020-07-06', '2020-08-04', '2020-09-04', '2020-10-09', '2020-11-04']
obs22020-02-04    2020-02-04
2020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
2020-02-10    2020-02-10
                 ...
2020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
Name: date, Length: 185, dtype: object
2020-02-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-05', '2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05', '2020-07-06', '2020-08-05', '2020-09-07', '2020-10-09', '2020-11-05']
obs22020-02-05    2020-02-05
2020-02-06    2020-02-06
2020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
                 ...
2020-10-30    2020-10-30
2020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
Name: date, Length: 185, dtype: object
2020-02-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-06', '2020-03-06', '2020-04-07', '2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06']
obs22020-02-06    2020-02-06
2020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
                 ...
2020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
Name: date, Length: 185, dtype: object
2020-02-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-07', '2020-03-09', '2020-04-07', '2020-05-07', '2020-06-08', '2020-07-07', '2020-08-07', '2020-09-07', '2020-10-09', '2020-11-09']
obs22020-02-07    2020-02-07
2020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
                 ...
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
Name: date, Length: 185, dtype: object
2020-02-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-10', '2020-03-09', '2020-04-08', '2020-05-08', '2020-06-08', '2020-07-08', '2020-08-10', '2020-09-08', '2020-10-09', '2020-11-09']
obs22020-02-10    2020-02-10
2020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
                 ...
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
Name: date, Length: 184, dtype: object
2020-02-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-11', '2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11', '2020-10-12', '2020-11-11']
obs22020-02-11    2020-02-11
2020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
                 ...
2020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
Name: date, Length: 185, dtype: object
2020-02-11
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-12', '2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12', '2020-07-13', '2020-08-12', '2020-09-14', '2020-10-12', '2020-11-12']
obs22020-02-12    2020-02-12
2020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
                 ...
2020-11-06    2020-11-06
2020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
Name: date, Length: 185, dtype: object
2020-02-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-13', '2020-03-13', '2020-04-13', '2020-05-13', '2020-06-15', '2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13']
obs22020-02-13    2020-02-13
2020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
                 ...
2020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
Name: date, Length: 185, dtype: object
2020-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-14', '2020-03-16', '2020-04-14', '2020-05-14', '2020-06-15', '2020-07-14', '2020-08-14', '2020-09-14', '2020-10-14', '2020-11-16']
obs22020-02-14    2020-02-14
2020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
                 ...
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
Name: date, Length: 185, dtype: object
2020-02-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-17', '2020-03-16', '2020-04-15', '2020-05-15', '2020-06-15', '2020-07-15', '2020-08-17', '2020-09-15', '2020-10-15', '2020-11-16']
obs22020-02-17    2020-02-17
2020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
                 ...
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
Name: date, Length: 184, dtype: object
2020-02-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-18', '2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18', '2020-10-19', '2020-11-18']
obs22020-02-18    2020-02-18
2020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
                 ...
2020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
Name: date, Length: 185, dtype: object
2020-02-18
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-19', '2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19', '2020-07-20', '2020-08-19', '2020-09-21', '2020-10-19', '2020-11-19']
obs22020-02-19    2020-02-19
2020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
                 ...
2020-11-13    2020-11-13
2020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
Name: date, Length: 185, dtype: object
2020-02-19
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-20', '2020-03-20', '2020-04-20', '2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20']
obs22020-02-20    2020-02-20
2020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
                 ...
2020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
Name: date, Length: 185, dtype: object
2020-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-21', '2020-03-23', '2020-04-21', '2020-05-21', '2020-06-22', '2020-07-21', '2020-08-21', '2020-09-21', '2020-10-21', '2020-11-23']
obs22020-02-21    2020-02-21
2020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
                 ...
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
Name: date, Length: 185, dtype: object
2020-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-24', '2020-03-23', '2020-04-22', '2020-05-22', '2020-06-22', '2020-07-22', '2020-08-24', '2020-09-22', '2020-10-22', '2020-11-23']
obs22020-02-24    2020-02-24
2020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
2020-02-28    2020-02-28
                 ...
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
Name: date, Length: 184, dtype: object
2020-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-25', '2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25', '2020-10-26', '2020-11-25']
obs22020-02-25    2020-02-25
2020-02-26    2020-02-26
2020-02-27    2020-02-27
2020-02-28    2020-02-28
2020-03-02    2020-03-02
                 ...
2020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
Name: date, Length: 185, dtype: object
2020-02-25
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-26', '2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29', '2020-07-27', '2020-08-26', '2020-09-28', '2020-10-26', '2020-11-26']
obs22020-02-26    2020-02-26
2020-02-27    2020-02-27
2020-02-28    2020-02-28
2020-03-02    2020-03-02
2020-03-03    2020-03-03
                 ...
2020-11-20    2020-11-20
2020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
Name: date, Length: 185, dtype: object
2020-02-26
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-27', '2020-03-27', '2020-04-27', '2020-05-27', '2020-06-29', '2020-07-27', '2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27']
obs22020-02-27    2020-02-27
2020-02-28    2020-02-28
2020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
                 ...
2020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
Name: date, Length: 185, dtype: object
2020-02-27
3
4
5
6
7
8
9
10
11
12
obs1['2020-02-28', '2020-03-30', '2020-04-28', '2020-05-28', '2020-06-29', '2020-07-28', '2020-08-28', '2020-09-28', '2020-10-28', '2020-11-30']
obs22020-02-28    2020-02-28
2020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
                 ...
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
Name: date, Length: 185, dtype: object
2020-02-28
3
4
5
6
7
8
9
10
11
12

obs1['2020-03-02', '2020-03-30', '2020-04-29', '2020-05-29', '2020-06-29', '2020-07-29', '2020-08-31', '2020-09-29', '2020-10-29', '2020-11-30']
obs22020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
                 ...
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
Name: date, Length: 184, dtype: object
2020-03-02
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-02', '2020-04-02', '2020-05-06', '2020-06-02', '2020-07-02', '2020-08-03', '2020-09-02', '2020-10-09', '2020-11-02', '2020-12-02']
obs22020-03-02    2020-03-02
2020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
                 ...
2020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
Name: date, Length: 186, dtype: object
2020-03-02
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-03', '2020-04-03', '2020-05-06', '2020-06-03', '2020-07-03', '2020-08-03', '2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03']
obs22020-03-03    2020-03-03
2020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
                 ...
2020-11-27    2020-11-27
2020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
Name: date, Length: 186, dtype: object
2020-03-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-04', '2020-04-07', '2020-05-06', '2020-06-04', '2020-07-06', '2020-08-04', '2020-09-04', '2020-10-09', '2020-11-04', '2020-12-04']
obs22020-03-04    2020-03-04
2020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
2020-03-10    2020-03-10
                 ...
2020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
Name: date, Length: 186, dtype: object
2020-03-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-05', '2020-04-07', '2020-05-06', '2020-06-05', '2020-07-06', '2020-08-05', '2020-09-07', '2020-10-09', '2020-11-05', '2020-12-07']
obs22020-03-05    2020-03-05
2020-03-06    2020-03-06
2020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
                 ...
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
Name: date, Length: 186, dtype: object
2020-03-05
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-06', '2020-04-07', '2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06', '2020-12-07']
obs22020-03-06    2020-03-06
2020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
                 ...
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
Name: date, Length: 185, dtype: object
2020-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-09', '2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09', '2020-08-10', '2020-09-09', '2020-10-09', '2020-11-09', '2020-12-09']
obs22020-03-09    2020-03-09
2020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
                 ...
2020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
Name: date, Length: 186, dtype: object
2020-03-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-10', '2020-04-10', '2020-05-11', '2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10']
obs22020-03-10    2020-03-10
2020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
                 ...
2020-12-04    2020-12-04
2020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
Name: date, Length: 186, dtype: object
2020-03-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-11', '2020-04-13', '2020-05-11', '2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11', '2020-10-12', '2020-11-11', '2020-12-11']
obs22020-03-11    2020-03-11
2020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
2020-03-17    2020-03-17
                 ...
2020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
Name: date, Length: 186, dtype: object
2020-03-11
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-12', '2020-04-13', '2020-05-12', '2020-06-12', '2020-07-13', '2020-08-12', '2020-09-14', '2020-10-12', '2020-11-12', '2020-12-14']
obs22020-03-12    2020-03-12
2020-03-13    2020-03-13
2020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
                 ...
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
Name: date, Length: 186, dtype: object
2020-03-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-13', '2020-04-13', '2020-05-13', '2020-06-15', '2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14']
obs22020-03-13    2020-03-13
2020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
                 ...
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
Name: date, Length: 185, dtype: object
2020-03-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-16', '2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16', '2020-08-17', '2020-09-16', '2020-10-16', '2020-11-16', '2020-12-16']
obs22020-03-16    2020-03-16
2020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
                 ...
2020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
Name: date, Length: 186, dtype: object
2020-03-20
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-17', '2020-04-17', '2020-05-18', '2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17']
obs22020-03-17    2020-03-17
2020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
                 ...
2020-12-11    2020-12-11
2020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-18', '2020-04-20', '2020-05-18', '2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18', '2020-10-19', '2020-11-18', '2020-12-18']
obs22020-03-18    2020-03-18
2020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
2020-03-24    2020-03-24
                 ...
2020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-19', '2020-04-20', '2020-05-19', '2020-06-19', '2020-07-20', '2020-08-19', '2020-09-21', '2020-10-19', '2020-11-19', '2020-12-21']
obs22020-03-19    2020-03-19
2020-03-20    2020-03-20
2020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
                 ...
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-20', '2020-04-20', '2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21']
obs22020-03-20    2020-03-20
2020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
                 ...
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
Name: date, Length: 185, dtype: object
2020-04-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-23', '2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23', '2020-08-24', '2020-09-23', '2020-10-23', '2020-11-23', '2020-12-23']
obs22020-03-23    2020-03-23
2020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
                 ...
2020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
Name: date, Length: 186, dtype: object
2020-03-25
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-24', '2020-04-24', '2020-05-25', '2020-06-24', '2020-07-24', '2020-08-24', '2020-09-24', '2020-10-26', '2020-11-24', '2020-12-24']
obs22020-03-24    2020-03-24
2020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
                 ...
2020-12-18    2020-12-18
2020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
Name: date, Length: 186, dtype: object
2020-04-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-25', '2020-04-27', '2020-05-25', '2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25', '2020-10-26', '2020-11-25', '2020-12-25']
obs22020-03-25    2020-03-25
2020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
2020-03-31    2020-03-31
                 ...
2020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
Name: date, Length: 186, dtype: object
2020-04-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-26', '2020-04-27', '2020-05-26', '2020-06-29', '2020-07-27', '2020-08-26', '2020-09-28', '2020-10-26', '2020-11-26', '2020-12-28']
obs22020-03-26    2020-03-26
2020-03-27    2020-03-27
2020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
                 ...
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-27', '2020-04-27', '2020-05-27', '2020-06-29', '2020-07-27', '2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27', '2020-12-28']
obs22020-03-27    2020-03-27
2020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
                 ...
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
Name: date, Length: 185, dtype: object
2020-04-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-30', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-30', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-30']
obs22020-03-30    2020-03-30
2020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
2020-04-03    2020-04-03
                 ...
2020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-03-31', '2020-04-30', '2020-06-01', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-11-02', '2020-11-30', '2020-12-31']
obs22020-03-31    2020-03-31
2020-04-01    2020-04-01
2020-04-02    2020-04-02
2020-04-03    2020-04-03
2020-04-07    2020-04-07
                 ...
2020-12-25    2020-12-25
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
Name: date, Length: 186, dtype: object
2020-04-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-02', '2020-05-06', '2020-06-02', '2020-07-02', '2020-08-03', '2020-09-02', '2020-10-09', '2020-11-02', '2020-12-02', '2021-01-04']
obs22020-04-02    2020-04-02
2020-04-03    2020-04-03
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
                 ...
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
Name: date, Length: 185, dtype: object
2020-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-03', '2020-05-06', '2020-06-03', '2020-07-03', '2020-08-03', '2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04']
obs22020-04-03    2020-04-03
2020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
                 ...
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
Name: date, Length: 184, dtype: object
2020-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-07', '2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06', '2020-12-07', '2021-01-06']
obs22020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
                 ...
2020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
2021-01-05    2021-01-05
2021-01-06    2021-01-06
Name: date, Length: 185, dtype: object
2020-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-07', '2020-05-07', '2020-06-08', '2020-07-07', '2020-08-07', '2020-09-07', '2020-10-09', '2020-11-09', '2020-12-07', '2021-01-07']
obs22020-04-07    2020-04-07
2020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
                 ...
2020-12-31    2020-12-31
2021-01-04    2021-01-04
2021-01-05    2021-01-05
2021-01-06    2021-01-06
2021-01-07    2021-01-07
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-08', '2020-05-08', '2020-06-08', '2020-07-08', '2020-08-10', '2020-09-08', '2020-10-09', '2020-11-09', '2020-12-08', '2021-01-08']
obs22020-04-08    2020-04-08
2020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
2020-04-14    2020-04-14
                 ...
2021-01-04    2021-01-04
2021-01-05    2021-01-05
2021-01-06    2021-01-06
2021-01-07    2021-01-07
2021-01-08    2021-01-08
Name: date, Length: 186, dtype: object
2020-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-09', '2020-05-11', '2020-06-09', '2020-07-09', '2020-08-10', '2020-09-09', '2020-10-09', '2020-11-09', '2020-12-09', '2021-01-11']
obs22020-04-09    2020-04-09
2020-04-10    2020-04-10
2020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
                 ...
2021-01-05    2021-01-05
2021-01-06    2021-01-06
2021-01-07    2021-01-07
2021-01-08    2021-01-08
2021-01-11    2021-01-11
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-10', '2020-05-11', '2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11']
obs22020-04-10    2020-04-10
2020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
                 ...
2021-01-05    2021-01-05
2021-01-06    2021-01-06
2021-01-07    2021-01-07
2021-01-08    2021-01-08
2021-01-11    2021-01-11
Name: date, Length: 185, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-13', '2020-05-13', '2020-06-15', '2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13']
obs22020-04-13    2020-04-13
2020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
                 ...
2021-01-07    2021-01-07
2021-01-08    2021-01-08
2021-01-11    2021-01-11
2021-01-12    2021-01-12
2021-01-13    2021-01-13
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-14', '2020-05-14', '2020-06-15', '2020-07-14', '2020-08-14', '2020-09-14', '2020-10-14', '2020-11-16', '2020-12-14', '2021-01-14']
obs22020-04-14    2020-04-14
2020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
                 ...
2021-01-08    2021-01-08
2021-01-11    2021-01-11
2021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-15', '2020-05-15', '2020-06-15', '2020-07-15', '2020-08-17', '2020-09-15', '2020-10-15', '2020-11-16', '2020-12-15', '2021-01-15']
obs22020-04-15    2020-04-15
2020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
2020-04-21    2020-04-21
                 ...
2021-01-11    2021-01-11
2021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-16', '2020-05-18', '2020-06-16', '2020-07-16', '2020-08-17', '2020-09-16', '2020-10-16', '2020-11-16', '2020-12-16', '2021-01-18']
obs22020-04-16    2020-04-16
2020-04-17    2020-04-17
2020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
                 ...
2021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-17', '2020-05-18', '2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18']
obs22020-04-17    2020-04-17
2020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
                 ...
2021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
Name: date, Length: 185, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12

obs1['2020-04-20', '2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20']
obs22020-04-20    2020-04-20
2020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
                 ...
2021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
Name: date, Length: 186, dtype: object
2020-06-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-21', '2020-05-21', '2020-06-22', '2020-07-21', '2020-08-21', '2020-09-21', '2020-10-21', '2020-11-23', '2020-12-21', '2021-01-21']
obs22020-04-21    2020-04-21
2020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
                 ...
2021-01-15    2021-01-15
2021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-22', '2020-05-22', '2020-06-22', '2020-07-22', '2020-08-24', '2020-09-22', '2020-10-22', '2020-11-23', '2020-12-22', '2021-01-22']
obs22020-04-22    2020-04-22
2020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
2020-04-28    2020-04-28
                 ...
2021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
2021-01-22    2021-01-22
Name: date, Length: 186, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-04-23', '2020-05-25', '2020-06-23', '2020-07-23', '2020-08-24', '2020-09-23', '2020-10-23', '2020-11-23', '2020-12-23', '2021-01-25']
obs22020-04-23    2020-04-23
2020-04-24    2020-04-24
2020-04-27    2020-04-27
2020-04-28    2020-04-28
2020-04-29    2020-04-29
                 ...
2021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
2021-01-22    2021-01-22
2021-01-25    2021-01-25
Name: date, Length: 186, dtype: object
2020-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-06', '2020-06-03', '2020-07-03', '2020-08-03', '2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03']
obs22020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
                 ...
2021-01-28    2021-01-28
2021-01-29    2021-01-29
2021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
Name: date, Length: 187, dtype: object
2020-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-06', '2020-06-04', '2020-07-06', '2020-08-04', '2020-09-04', '2020-10-09', '2020-11-04', '2020-12-04', '2021-01-04', '2021-02-04']
obs22020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
                 ...
2021-01-29    2021-01-29
2021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
Name: date, Length: 188, dtype: object
2020-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-06', '2020-06-05', '2020-07-06', '2020-08-05', '2020-09-07', '2020-10-09', '2020-11-05', '2020-12-07', '2021-01-05', '2021-02-05']
obs22020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
                 ...
2021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
Name: date, Length: 189, dtype: object
2020-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-06', '2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06', '2020-12-07', '2021-01-06', '2021-02-08']
obs22020-05-06    2020-05-06
2020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
                 ...
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
Name: date, Length: 190, dtype: object
2020-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-07', '2020-06-08', '2020-07-07', '2020-08-07', '2020-09-07', '2020-10-09', '2020-11-09', '2020-12-07', '2021-01-07', '2021-02-08']
obs22020-05-07    2020-05-07
2020-05-08    2020-05-08
2020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
                 ...
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
Name: date, Length: 189, dtype: object
2020-05-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-11', '2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10']
obs22020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
                 ...
2021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
Name: date, Length: 189, dtype: object
2020-05-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-11', '2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11', '2020-10-12', '2020-11-11', '2020-12-11', '2021-01-11', '2021-02-18']
obs22020-05-11    2020-05-11
2020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 190, dtype: object
2020-05-11
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-12', '2020-06-12', '2020-07-13', '2020-08-12', '2020-09-14', '2020-10-12', '2020-11-12', '2020-12-14', '2021-01-12', '2021-02-18']
obs22020-05-12    2020-05-12
2020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 189, dtype: object
2020-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-13', '2020-06-15', '2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18']
obs22020-05-13    2020-05-13
2020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
2020-05-19    2020-05-19
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 188, dtype: object
2020-05-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-14', '2020-06-15', '2020-07-14', '2020-08-14', '2020-09-14', '2020-10-14', '2020-11-16', '2020-12-14', '2021-01-14', '2021-02-18']
obs22020-05-14    2020-05-14
2020-05-15    2020-05-15
2020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 187, dtype: object
2020-05-19
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-18', '2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18']
obs22020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 185, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-18', '2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18', '2020-10-19', '2020-11-18', '2020-12-18', '2021-01-18', '2021-02-18']
obs22020-05-18    2020-05-18
2020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
                 ...
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
Name: date, Length: 185, dtype: object
2020-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-19', '2020-06-19', '2020-07-20', '2020-08-19', '2020-09-21', '2020-10-19', '2020-11-19', '2020-12-21', '2021-01-19', '2021-02-19']
obs22020-05-19    2020-05-19
2020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
                 ...
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
Name: date, Length: 185, dtype: object
2020-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-20', '2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22']
obs22020-05-20    2020-05-20
2020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
2020-05-26    2020-05-26
                 ...
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
Name: date, Length: 185, dtype: object
2020-07-02
3
4
5
6
7
8
9
10
11
12

obs1['2020-05-21', '2020-06-22', '2020-07-21', '2020-08-21', '2020-09-21', '2020-10-21', '2020-11-23', '2020-12-21', '2021-01-21', '2021-02-22']
obs22020-05-21    2020-05-21
2020-05-22    2020-05-22
2020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
                 ...
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
Name: date, Length: 184, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-25', '2020-06-24', '2020-07-24', '2020-08-24', '2020-09-24', '2020-10-26', '2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24']
obs22020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
                 ...
2021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
Name: date, Length: 184, dtype: object
2020-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-25', '2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25', '2020-10-26', '2020-11-25', '2020-12-25', '2021-01-25', '2021-02-25']
obs22020-05-25    2020-05-25
2020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
                 ...
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
Name: date, Length: 185, dtype: object
2020-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-26', '2020-06-29', '2020-07-27', '2020-08-26', '2020-09-28', '2020-10-26', '2020-11-26', '2020-12-28', '2021-01-26', '2021-02-26']
obs22020-05-26    2020-05-26
2020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
                 ...
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
Name: date, Length: 185, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-27', '2020-06-29', '2020-07-27', '2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01']
obs22020-05-27    2020-05-27
2020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
2020-06-02    2020-06-02
                 ...
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
Name: date, Length: 185, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-05-28', '2020-06-29', '2020-07-28', '2020-08-28', '2020-09-28', '2020-10-28', '2020-11-30', '2020-12-28', '2021-01-28', '2021-03-01']
obs22020-05-28    2020-05-28
2020-05-29    2020-05-29
2020-06-01    2020-06-01
2020-06-02    2020-06-02
2020-06-03    2020-06-03
                 ...
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
Name: date, Length: 184, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-02', '2020-07-02', '2020-08-03', '2020-09-02', '2020-10-09', '2020-11-02', '2020-12-02', '2021-01-04', '2021-02-02', '2021-03-02']
obs22020-06-02    2020-06-02
2020-06-03    2020-06-03
2020-06-04    2020-06-04
2020-06-05    2020-06-05
2020-06-08    2020-06-08
                 ...
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
Name: date, Length: 182, dtype: object
2020-07-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-03', '2020-07-03', '2020-08-03', '2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03']
obs22020-06-03    2020-06-03
2020-06-04    2020-06-04
2020-06-05    2020-06-05
2020-06-08    2020-06-08
2020-06-09    2020-06-09
                 ...
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
Name: date, Length: 182, dtype: object
2020-07-02
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-04', '2020-07-06', '2020-08-04', '2020-09-04', '2020-10-09', '2020-11-04', '2020-12-04', '2021-01-04', '2021-02-04', '2021-03-04']
obs22020-06-04    2020-06-04
2020-06-05    2020-06-05
2020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
                 ...
2021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
Name: date, Length: 182, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-05', '2020-07-06', '2020-08-05', '2020-09-07', '2020-10-09', '2020-11-05', '2020-12-07', '2021-01-05', '2021-02-05', '2021-03-05']
obs22020-06-05    2020-06-05
2020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
                 ...
2021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
Name: date, Length: 182, dtype: object
2020-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-08', '2020-07-06', '2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06', '2020-12-07', '2021-01-06', '2021-02-08', '2021-03-08']
obs22020-06-08    2020-06-08
2020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
                 ...
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
Name: date, Length: 182, dtype: object
2020-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-09', '2020-07-09', '2020-08-10', '2020-09-09', '2020-10-09', '2020-11-09', '2020-12-09', '2021-01-11', '2021-02-09', '2021-03-09']
obs22020-06-09    2020-06-09
2020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
                 ...
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
2021-03-09    2021-03-09
Name: date, Length: 182, dtype: object
2020-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-10', '2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10']
obs22020-06-10    2020-06-10
2020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
2020-06-16    2020-06-16
                 ...
2021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
Name: date, Length: 182, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-11', '2020-07-13', '2020-08-11', '2020-09-11', '2020-10-12', '2020-11-11', '2020-12-11', '2021-01-11', '2021-02-18', '2021-03-11']
obs22020-06-11    2020-06-11
2020-06-12    2020-06-12
2020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
                 ...
2021-03-05    2021-03-05
2021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
Name: date, Length: 182, dtype: object
2020-07-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-12', '2020-07-13', '2020-08-12', '2020-09-14', '2020-10-12', '2020-11-12', '2020-12-14', '2021-01-12', '2021-02-18', '2021-03-12']
obs22020-06-12    2020-06-12
2020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
                 ...
2021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
Name: date, Length: 182, dtype: object
2020-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-15', '2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18', '2021-03-15']
obs22020-06-15    2020-06-15
2020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
                 ...
2021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
Name: date, Length: 182, dtype: object
2020-06-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-16', '2020-07-16', '2020-08-17', '2020-09-16', '2020-10-16', '2020-11-16', '2020-12-16', '2021-01-18', '2021-02-18', '2021-03-16']
obs22020-06-16    2020-06-16
2020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
                 ...
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
2021-03-16    2021-03-16
Name: date, Length: 182, dtype: object
2020-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-17', '2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17']

obs22020-06-17    2020-06-17
2020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
                 ...
2021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
Name: date, Length: 182, dtype: object
2020-06-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-18', '2020-07-20', '2020-08-18', '2020-09-18', '2020-10-19', '2020-11-18', '2020-12-18', '2021-01-18', '2021-02-18', '2021-03-18']
obs22020-06-18    2020-06-18
2020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
                 ...
2021-03-12    2021-03-12
2021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
Name: date, Length: 182, dtype: object
2020-06-18
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-19', '2020-07-20', '2020-08-19', '2020-09-21', '2020-10-19', '2020-11-19', '2020-12-21', '2021-01-19', '2021-02-19', '2021-03-19']
obs22020-06-19    2020-06-19
2020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
                 ...
2021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
Name: date, Length: 182, dtype: object
2020-06-19
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-22', '2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22', '2021-03-22']
obs22020-06-22    2020-06-22
2020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
2020-06-30    2020-06-30
                 ...
2021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
Name: date, Length: 182, dtype: object
2020-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-23', '2020-07-23', '2020-08-24', '2020-09-23', '2020-10-23', '2020-11-23', '2020-12-23', '2021-01-25', '2021-02-23', '2021-03-23']
obs22020-06-23    2020-06-23
2020-06-24    2020-06-24
2020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
                 ...
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
2021-03-23    2021-03-23
Name: date, Length: 182, dtype: object
2020-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-24', '2020-07-24', '2020-08-24', '2020-09-24', '2020-10-26', '2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24']
obs22020-06-24    2020-06-24
2020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
                 ...
2021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
Name: date, Length: 182, dtype: object
2020-06-24
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-29', '2020-07-27', '2020-08-25', '2020-09-25', '2020-10-26', '2020-11-25', '2020-12-25', '2021-01-25', '2021-02-25', '2021-03-25']
obs22020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
                 ...
2021-03-19    2021-03-19
2021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
Name: date, Length: 182, dtype: object
2020-06-29
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-29', '2020-07-27', '2020-08-26', '2020-09-28', '2020-10-26', '2020-11-26', '2020-12-28', '2021-01-26', '2021-02-26', '2021-03-26']
obs22020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
                 ...
2021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
Name: date, Length: 183, dtype: object
2020-06-29
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-29', '2020-07-27', '2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01', '2021-03-29']
obs22020-06-29    2020-06-29
2020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
                 ...
2021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
Name: date, Length: 184, dtype: object
2020-06-29
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-30', '2020-07-30', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-30', '2021-02-01', '2021-03-01', '2021-03-30']
obs22020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
                 ...
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
2021-03-30    2021-03-30
Name: date, Length: 184, dtype: object
2020-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-11-02', '2020-11-30', '2020-12-31', '2021-02-01', '2021-03-01', '2021-03-31']
obs22020-06-30    2020-06-30
2020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
                 ...
2021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
Name: date, Length: 185, dtype: object
2020-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-01', '2020-08-03', '2020-09-01', '2020-10-09', '2020-11-02', '2020-12-01', '2021-01-04', '2021-02-01', '2021-03-01', '2021-04-01']
obs22020-07-01    2020-07-01
2020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
2020-07-07    2020-07-07
                 ...
2021-03-26    2021-03-26
2021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
Name: date, Length: 185, dtype: object
2020-07-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-02', '2020-08-03', '2020-09-02', '2020-10-09', '2020-11-02', '2020-12-02', '2021-01-04', '2021-02-02', '2021-03-02', '2021-04-02']
obs22020-07-02    2020-07-02
2020-07-03    2020-07-03
2020-07-06    2020-07-06
2020-07-07    2020-07-07
2020-07-08    2020-07-08
                 ...
2021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
Name: date, Length: 185, dtype: object
2020-07-02
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-03', '2020-08-03', '2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03', '2021-04-06']
obs22020-07-03    2020-07-03
2020-07-06    2020-07-06
2020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
                 ...
2021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
2021-04-06    2021-04-06
Name: date, Length: 185, dtype: object
2020-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-07', '2020-08-07', '2020-09-07', '2020-10-09', '2020-11-09', '2020-12-07', '2021-01-07', '2021-02-08', '2021-03-08', '2021-04-07']
obs22020-07-07    2020-07-07
2020-07-08    2020-07-08
2020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
                 ...
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
2021-04-06    2021-04-06
2021-04-07    2021-04-07
Name: date, Length: 184, dtype: object
2020-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-08', '2020-08-10', '2020-09-08', '2020-10-09', '2020-11-09', '2020-12-08', '2021-01-08', '2021-02-08', '2021-03-08', '2021-04-08']
obs22020-07-08    2020-07-08
2020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
2020-07-14    2020-07-14
                 ...
2021-04-01    2021-04-01
2021-04-02    2021-04-02
2021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
Name: date, Length: 184, dtype: object
2020-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-09', '2020-08-10', '2020-09-09', '2020-10-09', '2020-11-09', '2020-12-09', '2021-01-11', '2021-02-09', '2021-03-09', '2021-04-09']
obs22020-07-09    2020-07-09
2020-07-10    2020-07-10
2020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
                 ...
2021-04-02    2021-04-02
2021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
Name: date, Length: 184, dtype: object
2020-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-10', '2020-08-10', '2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10', '2021-04-12']
obs22020-07-10    2020-07-10
2020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
                 ...
2021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
Name: date, Length: 184, dtype: object
2020-07-10
3
4
5
6
7
8
9
10
11
12

obs1['2020-07-13', '2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18', '2021-03-15', '2021-04-13']
obs22020-07-13    2020-07-13
2020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
                 ...
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
2021-04-13    2021-04-13
Name: date, Length: 184, dtype: object
2020-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-14', '2020-08-14', '2020-09-14', '2020-10-14', '2020-11-16', '2020-12-14', '2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14']
obs22020-07-14    2020-07-14
2020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
                 ...
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
Name: date, Length: 184, dtype: object
2020-07-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-15', '2020-08-17', '2020-09-15', '2020-10-15', '2020-11-16', '2020-12-15', '2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15']
obs22020-07-15    2020-07-15
2020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
2020-07-21    2020-07-21
                 ...
2021-04-09    2021-04-09
2021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
Name: date, Length: 184, dtype: object
2020-07-15
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-16', '2020-08-17', '2020-09-16', '2020-10-16', '2020-11-16', '2020-12-16', '2021-01-18', '2021-02-18', '2021-03-16', '2021-04-16']
obs22020-07-16    2020-07-16
2020-07-17    2020-07-17
2020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
                 ...
2021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
Name: date, Length: 184, dtype: object
2020-07-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-17', '2020-08-17', '2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17', '2021-04-19']
obs22020-07-17    2020-07-17
2020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
                 ...
2021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
Name: date, Length: 184, dtype: object
2020-07-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-20', '2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22', '2021-03-22', '2021-04-20']
obs22020-07-20    2020-07-20
2020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
                 ...
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
2021-04-20    2021-04-20
Name: date, Length: 184, dtype: object
2020-07-20
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-21', '2020-08-21', '2020-09-21', '2020-10-21', '2020-11-23', '2020-12-21', '2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21']
obs22020-07-21    2020-07-21
2020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
                 ...
2021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
Name: date, Length: 184, dtype: object
2020-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-22', '2020-08-24', '2020-09-22', '2020-10-22', '2020-11-23', '2020-12-22', '2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22']
obs22020-07-22    2020-07-22
2020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
2020-07-28    2020-07-28
                 ...
2021-04-16    2021-04-16
2021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
Name: date, Length: 184, dtype: object
2020-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-23', '2020-08-24', '2020-09-23', '2020-10-23', '2020-11-23', '2020-12-23', '2021-01-25', '2021-02-23', '2021-03-23', '2021-04-23']
obs22020-07-23    2020-07-23
2020-07-24    2020-07-24
2020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
                 ...
2021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
Name: date, Length: 184, dtype: object
2020-07-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-24', '2020-08-24', '2020-09-24', '2020-10-26', '2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24', '2021-04-26']
obs22020-07-24    2020-07-24
2020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
                 ...
2021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
Name: date, Length: 184, dtype: object
2020-07-24
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-27', '2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01', '2021-03-29', '2021-04-27']
obs22020-07-27    2020-07-27
2020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
                 ...
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
2021-04-27    2021-04-27
Name: date, Length: 184, dtype: object
2020-07-27
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-28', '2020-08-28', '2020-09-28', '2020-10-28', '2020-11-30', '2020-12-28', '2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28']
obs22020-07-28    2020-07-28
2020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
                 ...
2021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
Name: date, Length: 184, dtype: object
2020-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-29', '2020-08-31', '2020-09-29', '2020-10-29', '2020-11-30', '2020-12-29', '2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29']
obs22020-07-29    2020-07-29
2020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
2020-08-04    2020-08-04
                 ...
2021-04-23    2021-04-23
2021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
Name: date, Length: 184, dtype: object
2020-07-29
3
4
5
6
7
8
9
10
11
12
obs1['2020-07-30', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-30', '2021-02-01', '2021-03-01', '2021-03-30', '2021-04-30']
obs22020-07-30    2020-07-30
2020-07-31    2020-07-31
2020-08-03    2020-08-03
2020-08-04    2020-08-04
2020-08-05    2020-08-05
                 ...
2021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
Name: date, Length: 184, dtype: object
2020-07-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-06', '2020-09-07', '2020-10-09', '2020-11-06', '2020-12-07', '2021-01-06', '2021-02-08', '2021-03-08', '2021-04-06', '2021-05-06']
obs22020-08-06    2020-08-06
2020-08-07    2020-08-07
2020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
                 ...
2021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
Name: date, Length: 180, dtype: object
2020-08-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-07', '2020-09-07', '2020-10-09', '2020-11-09', '2020-12-07', '2021-01-07', '2021-02-08', '2021-03-08', '2021-04-07', '2021-05-07']
obs22020-08-07    2020-08-07
2020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
                 ...
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
2021-05-07    2021-05-07
Name: date, Length: 180, dtype: object
2020-08-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-10', '2020-09-08', '2020-10-09', '2020-11-09', '2020-12-08', '2021-01-08', '2021-02-08', '2021-03-08', '2021-04-08', '2021-05-10']
obs22020-08-10    2020-08-10
2020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
                 ...
2021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
Name: date, Length: 180, dtype: object
2020-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-11', '2020-09-11', '2020-10-12', '2020-11-11', '2020-12-11', '2021-01-11', '2021-02-18', '2021-03-11', '2021-04-12', '2021-05-11']
obs22020-08-11    2020-08-11
2020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
                 ...
2021-04-30    2021-04-30
2021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
Name: date, Length: 180, dtype: object
2020-08-11
3
4
5
6
7
8
9
10
11

12
obs1['2020-08-12', '2020-09-14', '2020-10-12', '2020-11-12', '2020-12-14', '2021-01-12', '2021-02-18', '2021-03-12', '2021-04-12', '2021-05-12']
obs22020-08-12    2020-08-12
2020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
2020-08-18    2020-08-18
                 ...
2021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
Name: date, Length: 180, dtype: object
2020-08-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-13', '2020-09-14', '2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18', '2021-03-15', '2021-04-13', '2021-05-13']
obs22020-08-13    2020-08-13
2020-08-14    2020-08-14
2020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
                 ...
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
Name: date, Length: 180, dtype: object
2020-08-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-14', '2020-09-14', '2020-10-14', '2020-11-16', '2020-12-14', '2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14', '2021-05-14']
obs22020-08-14    2020-08-14
2020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
                 ...
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
Name: date, Length: 180, dtype: object
2020-08-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-17', '2020-09-15', '2020-10-15', '2020-11-16', '2020-12-15', '2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15', '2021-05-17']
obs22020-08-17    2020-08-17
2020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
                 ...
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
2021-05-17    2021-05-17
Name: date, Length: 180, dtype: object
2020-08-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-18', '2020-09-18', '2020-10-19', '2020-11-18', '2020-12-18', '2021-01-18', '2021-02-18', '2021-03-18', '2021-04-19', '2021-05-18']
obs22020-08-18    2020-08-18
2020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
                 ...
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
2021-05-17    2021-05-17
2021-05-18    2021-05-18
Name: date, Length: 180, dtype: object
2020-08-18
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-19', '2020-09-21', '2020-10-19', '2020-11-19', '2020-12-21', '2021-01-19', '2021-02-19', '2021-03-19', '2021-04-19', '2021-05-19']
obs22020-08-19    2020-08-19
2020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
2020-08-25    2020-08-25
                 ...
2021-05-13    2021-05-13
2021-05-14    2021-05-14
2021-05-17    2021-05-17
2021-05-18    2021-05-18
2021-05-19    2021-05-19
Name: date, Length: 180, dtype: object
2020-08-19
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-20', '2020-09-21', '2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22', '2021-03-22', '2021-04-20', '2021-05-20']
obs22020-08-20    2020-08-20
2020-08-21    2020-08-21
2020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
                 ...
2021-05-14    2021-05-14
2021-05-17    2021-05-17
2021-05-18    2021-05-18
2021-05-19    2021-05-19
2021-05-20    2021-05-20
Name: date, Length: 180, dtype: object
2020-08-20
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-21', '2020-09-21', '2020-10-21', '2020-11-23', '2020-12-21', '2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21', '2021-05-21']
obs22020-08-21    2020-08-21
2020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
                 ...
2021-05-17    2021-05-17
2021-05-18    2021-05-18
2021-05-19    2021-05-19
2021-05-20    2021-05-20
2021-05-21    2021-05-21
Name: date, Length: 180, dtype: object
2020-08-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-24', '2020-09-22', '2020-10-22', '2020-11-23', '2020-12-22', '2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22', '2021-05-24']
obs22020-08-24    2020-08-24
2020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
                 ...
2021-05-18    2021-05-18
2021-05-19    2021-05-19
2021-05-20    2021-05-20
2021-05-21    2021-05-21
2021-05-24    2021-05-24
Name: date, Length: 180, dtype: object
2020-08-24
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-25', '2020-09-25', '2020-10-26', '2020-11-25', '2020-12-25', '2021-01-25', '2021-02-25', '2021-03-25', '2021-04-26', '2021-05-25']
obs22020-08-25    2020-08-25
2020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
                 ...
2021-05-19    2021-05-19
2021-05-20    2021-05-20
2021-05-21    2021-05-21
2021-05-24    2021-05-24
2021-05-25    2021-05-25
Name: date, Length: 180, dtype: object
2020-08-25
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-26', '2020-09-28', '2020-10-26', '2020-11-26', '2020-12-28', '2021-01-26', '2021-02-26', '2021-03-26', '2021-04-26', '2021-05-26']
obs22020-08-26    2020-08-26
2020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
2020-09-01    2020-09-01
                 ...
2021-05-20    2021-05-20
2021-05-21    2021-05-21
2021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
Name: date, Length: 180, dtype: object
2020-08-26
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-27', '2020-09-28', '2020-10-27', '2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01', '2021-03-29', '2021-04-27', '2021-05-27']
obs22020-08-27    2020-08-27
2020-08-28    2020-08-28
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
                 ...
2021-05-21    2021-05-21
2021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
Name: date, Length: 180, dtype: object
2020-08-27
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-28', '2020-09-28', '2020-10-28', '2020-11-30', '2020-12-28', '2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28', '2021-05-28']
obs22020-08-28    2020-08-28
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
                 ...
2021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
Name: date, Length: 180, dtype: object
2020-08-28
3
4
5
6
7
8
9
10
11
12
obs1['2020-08-31', '2020-09-29', '2020-10-29', '2020-11-30', '2020-12-29', '2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29', '2021-05-31']
obs22020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
                 ...
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
2021-05-31    2021-05-31
Name: date, Length: 180, dtype: object
2020-08-31
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-01', '2020-10-09', '2020-11-02', '2020-12-01', '2021-01-04', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-06', '2021-06-01']
obs22020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
                 ...
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
2021-05-31    2021-05-31
2021-06-01    2021-06-01
Name: date, Length: 180, dtype: object
2020-09-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-02', '2020-10-09', '2020-11-02', '2020-12-02', '2021-01-04', '2021-02-02', '2021-03-02', '2021-04-02', '2021-05-06', '2021-06-02']
obs22020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
2020-09-08    2020-09-08
                 ...
2021-05-27    2021-05-27
2021-05-28    2021-05-28
2021-05-31    2021-05-31
2021-06-01    2021-06-01
2021-06-02    2021-06-02
Name: date, Length: 180, dtype: object
2020-09-02
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-03', '2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03']
obs22020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
                 ...
2021-05-28    2021-05-28
2021-05-31    2021-05-31
2021-06-01    2021-06-01
2021-06-02    2021-06-02
2021-06-03    2021-06-03
Name: date, Length: 180, dtype: object
2020-09-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-04', '2020-10-09', '2020-11-04', '2020-12-04', '2021-01-04', '2021-02-04', '2021-03-04', '2021-04-06', '2021-05-06', '2021-06-04']
obs22020-09-04    2020-09-04
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
                 ...
2021-05-31    2021-05-31
2021-06-01    2021-06-01
2021-06-02    2021-06-02
2021-06-03    2021-06-03
2021-06-04    2021-06-04
Name: date, Length: 180, dtype: object
2020-09-04
3
4
5
6
7
8
9
10
11
12

obs1['2020-09-07', '2020-10-09', '2020-11-05', '2020-12-07', '2021-01-05', '2021-02-05', '2021-03-05', '2021-04-06', '2021-05-06', '2021-06-07']
obs22020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
                 ...
2021-06-01    2021-06-01
2021-06-02    2021-06-02
2021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
Name: date, Length: 180, dtype: object
2020-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-08', '2020-10-09', '2020-11-09', '2020-12-08', '2021-01-08', '2021-02-08', '2021-03-08', '2021-04-08', '2021-05-10', '2021-06-08']
obs22020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-14    2020-09-14
                 ...
2021-06-02    2021-06-02
2021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
Name: date, Length: 180, dtype: object
2020-09-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-09', '2020-10-09', '2020-11-09', '2020-12-09', '2021-01-11', '2021-02-09', '2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09']
obs22020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-14    2020-09-14
2020-09-15    2020-09-15
                 ...
2021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
Name: date, Length: 180, dtype: object
2020-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-10', '2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10']
obs22020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
                 ...
2021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
Name: date, Length: 180, dtype: object
2020-09-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-11', '2020-10-12', '2020-11-11', '2020-12-11', '2021-01-11', '2021-02-18', '2021-03-11', '2021-04-12', '2021-05-11', '2021-06-11']
obs22020-09-11    2020-09-11
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
                 ...
2021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
Name: date, Length: 180, dtype: object
2020-09-11
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-14', '2020-10-12', '2020-11-12', '2020-12-14', '2021-01-12', '2021-02-18', '2021-03-12', '2021-04-12', '2021-05-12', '2021-06-15']
obs22020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
                 ...
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
Name: date, Length: 180, dtype: object
2020-09-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-15', '2020-10-15', '2020-11-16', '2020-12-15', '2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15', '2021-05-17', '2021-06-15']
obs22020-09-15    2020-09-15
2020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
                 ...
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
Name: date, Length: 179, dtype: object
2020-09-15
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-16', '2020-10-16', '2020-11-16', '2020-12-16', '2021-01-18', '2021-02-18', '2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16']
obs22020-09-16    2020-09-16
2020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
2020-09-22    2020-09-22
                 ...
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
Name: date, Length: 179, dtype: object
2020-09-16
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-17', '2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17']
obs22020-09-17    2020-09-17
2020-09-18    2020-09-18
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
                 ...
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
Name: date, Length: 179, dtype: object
2020-09-17
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-18', '2020-10-19', '2020-11-18', '2020-12-18', '2021-01-18', '2021-02-18', '2021-03-18', '2021-04-19', '2021-05-18', '2021-06-18']
obs22020-09-18    2020-09-18
2020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
                 ...
2021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
Name: date, Length: 179, dtype: object
2020-09-18
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-21', '2020-10-19', '2020-11-19', '2020-12-21', '2021-01-19', '2021-02-19', '2021-03-19', '2021-04-19', '2021-05-19', '2021-06-21']
obs22020-09-21    2020-09-21
2020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
                 ...
2021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
Name: date, Length: 179, dtype: object
2020-09-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-22', '2020-10-22', '2020-11-23', '2020-12-22', '2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22', '2021-05-24', '2021-06-22']
obs22020-09-22    2020-09-22
2020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
                 ...
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
Name: date, Length: 179, dtype: object
2020-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-23', '2020-10-23', '2020-11-23', '2020-12-23', '2021-01-25', '2021-02-23', '2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23']
obs22020-09-23    2020-09-23
2020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
2020-09-29    2020-09-29
                 ...
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
2021-06-23    2021-06-23
Name: date, Length: 179, dtype: object
2020-09-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-24', '2020-10-26', '2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24']
obs22020-09-24    2020-09-24
2020-09-25    2020-09-25
2020-09-28    2020-09-28
2020-09-29    2020-09-29
2020-09-30    2020-09-30
                 ...
2021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
2021-06-23    2021-06-23
2021-06-24    2021-06-24
Name: date, Length: 179, dtype: object
2020-09-24
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-29', '2020-10-29', '2020-11-30', '2020-12-29', '2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29', '2021-05-31', '2021-06-29']
obs22020-09-29    2020-09-29
2020-09-30    2020-09-30
2020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
                 ...
2021-06-23    2021-06-23
2021-06-24    2021-06-24
2021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
Name: date, Length: 179, dtype: object
2020-09-29
3
4
5
6
7
8
9
10
11
12
obs1['2020-09-30', '2020-10-30', '2020-11-30', '2020-12-30', '2021-02-01', '2021-03-01', '2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30']
obs22020-09-30    2020-09-30
2020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
                 ...
2021-06-24    2021-06-24
2021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
Name: date, Length: 179, dtype: object
2020-09-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-02', '2020-12-01', '2021-01-04', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-06', '2021-06-01', '2021-07-01']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
Name: date, Length: 179, dtype: object
2020-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-02', '2020-12-02', '2021-01-04', '2021-02-02', '2021-03-02', '2021-04-02', '2021-05-06', '2021-06-02', '2021-07-02']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
Name: date, Length: 180, dtype: object
2020-10-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03', '2021-07-05']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
Name: date, Length: 181, dtype: object
2020-10-09
3
4
5
6
7
8
9
10
11
12

obs1['2020-10-09', '2020-11-06', '2020-12-07', '2021-01-06', '2021-02-08', '2021-03-08', '2021-04-06', '2021-05-06', '2021-06-07', '2021-07-06']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
Name: date, Length: 182, dtype: object
2020-10-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-09', '2020-12-07', '2021-01-07', '2021-02-08', '2021-03-08', '2021-04-07', '2021-05-07', '2021-06-07', '2021-07-07']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
2021-07-07    2021-07-07
Name: date, Length: 183, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-09', '2020-12-08', '2021-01-08', '2021-02-08', '2021-03-08', '2021-04-08', '2021-05-10', '2021-06-08', '2021-07-08']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
2021-07-07    2021-07-07
2021-07-08    2021-07-08
Name: date, Length: 184, dtype: object
2021-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-09', '2020-11-09', '2020-12-09', '2021-01-11', '2021-02-09', '2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09', '2021-07-09']
obs22020-10-09    2020-10-09
2020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
                 ...
2021-07-05    2021-07-05
2021-07-06    2021-07-06
2021-07-07    2021-07-07
2021-07-08    2021-07-08
2021-07-09    2021-07-09
Name: date, Length: 185, dtype: object
2021-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-12', '2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10', '2021-07-12']
obs22020-10-12    2020-10-12
2020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
                 ...
2021-07-06    2021-07-06
2021-07-07    2021-07-07
2021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
Name: date, Length: 185, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-13', '2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18', '2021-03-15', '2021-04-13', '2021-05-13', '2021-06-15', '2021-07-13']
obs22020-10-13    2020-10-13
2020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
                 ...
2021-07-07    2021-07-07
2021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
Name: date, Length: 185, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-14', '2020-11-16', '2020-12-14', '2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14']
obs22020-10-14    2020-10-14
2020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
2020-10-20    2020-10-20
                 ...
2021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
Name: date, Length: 185, dtype: object
2021-07-14
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-15', '2020-11-16', '2020-12-15', '2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15', '2021-05-17', '2021-06-15', '2021-07-15']
obs22020-10-15    2020-10-15
2020-10-16    2020-10-16
2020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
                 ...
2021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
Name: date, Length: 185, dtype: object
2021-07-15
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-16', '2020-11-16', '2020-12-16', '2021-01-18', '2021-02-18', '2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16', '2021-07-16']
obs22020-10-16    2020-10-16
2020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
                 ...
2021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
Name: date, Length: 185, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-19', '2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17', '2021-07-19']
obs22020-10-19    2020-10-19
2020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
                 ...
2021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
Name: date, Length: 185, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-20', '2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22', '2021-03-22', '2021-04-20', '2021-05-20', '2021-06-21', '2021-07-20']
obs22020-10-20    2020-10-20
2020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
                 ...
2021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
Name: date, Length: 185, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-21', '2020-11-23', '2020-12-21', '2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21']
obs22020-10-21    2020-10-21
2020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
2020-10-27    2020-10-27
                 ...
2021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
Name: date, Length: 185, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-22', '2020-11-23', '2020-12-22', '2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22', '2021-05-24', '2021-06-22', '2021-07-22']
obs22020-10-22    2020-10-22
2020-10-23    2020-10-23
2020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
                 ...
2021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-23', '2020-11-23', '2020-12-23', '2021-01-25', '2021-02-23', '2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23', '2021-07-23']
obs22020-10-23    2020-10-23
2020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
                 ...
2021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-26', '2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24', '2021-07-26']
obs22020-10-26    2020-10-26
2020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
                 ...
2021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
Name: date, Length: 185, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-27', '2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01', '2021-03-29', '2021-04-27', '2021-05-27', '2021-06-28', '2021-07-27']
obs22020-10-27    2020-10-27
2020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
                 ...
2021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
Name: date, Length: 185, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-28', '2020-11-30', '2020-12-28', '2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28']
obs22020-10-28    2020-10-28
2020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
2020-11-03    2020-11-03
                 ...
2021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
Name: date, Length: 185, dtype: object
2021-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-29', '2020-11-30', '2020-12-29', '2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29', '2021-05-31', '2021-06-29', '2021-07-29']
obs22020-10-29    2020-10-29
2020-10-30    2020-10-30
2020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
                 ...
2021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
Name: date, Length: 185, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-10-30', '2020-11-30', '2020-12-30', '2021-02-01', '2021-03-01', '2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30']
obs22020-10-30    2020-10-30
2020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
                 ...
2021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
Name: date, Length: 185, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-02', '2020-11-30', '2020-12-31', '2021-02-01', '2021-03-01', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-08-02']
obs22020-11-02    2020-11-02
2020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
                 ...
2021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-03', '2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03', '2021-07-05', '2021-08-03']
obs22020-11-03    2020-11-03
2020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
                 ...
2021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
Name: date, Length: 185, dtype: object
2021-08-03
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-04', '2020-12-04', '2021-01-04', '2021-02-04', '2021-03-04', '2021-04-06', '2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04']
obs22020-11-04    2020-11-04
2020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
2020-11-10    2020-11-10
                 ...
2021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
2021-08-04    2021-08-04
Name: date, Length: 185, dtype: object
2021-08-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-05', '2020-12-07', '2021-01-05', '2021-02-05', '2021-03-05', '2021-04-06', '2021-05-06', '2021-06-07', '2021-07-05', '2021-08-05']
obs22020-11-05    2020-11-05
2020-11-06    2020-11-06
2020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
                 ...
2021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
2021-08-04    2021-08-04
2021-08-05    2021-08-05
Name: date, Length: 185, dtype: object
2021-08-05
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-06', '2020-12-07', '2021-01-06', '2021-02-08', '2021-03-08', '2021-04-06', '2021-05-06', '2021-06-07', '2021-07-06', '2021-08-06']
obs22020-11-06    2020-11-06
2020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
                 ...
2021-08-02    2021-08-02
2021-08-03    2021-08-03
2021-08-04    2021-08-04
2021-08-05    2021-08-05
2021-08-06    2021-08-06
Name: date, Length: 185, dtype: object
2021-08-06
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-09', '2020-12-07', '2021-01-07', '2021-02-08', '2021-03-08', '2021-04-07', '2021-05-07', '2021-06-07', '2021-07-07', '2021-08-09']
obs22020-11-09    2020-11-09
2020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
                 ...
2021-08-03    2021-08-03
2021-08-04    2021-08-04
2021-08-05    2021-08-05
2021-08-06    2021-08-06
2021-08-09    2021-08-09
Name: date, Length: 185, dtype: object
2021-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-10', '2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10', '2021-07-12', '2021-08-10']
obs22020-11-10    2020-11-10
2020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
                 ...
2021-08-04    2021-08-04
2021-08-05    2021-08-05
2021-08-06    2021-08-06
2021-08-09    2021-08-09
2021-08-10    2021-08-10
Name: date, Length: 185, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-11', '2020-12-11', '2021-01-11', '2021-02-18', '2021-03-11', '2021-04-12', '2021-05-11', '2021-06-11', '2021-07-12', '2021-08-11']
obs22020-11-11    2020-11-11
2020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
2020-11-17    2020-11-17
                 ...
2021-08-05    2021-08-05
2021-08-06    2021-08-06
2021-08-09    2021-08-09
2021-08-10    2021-08-10
2021-08-11    2021-08-11
Name: date, Length: 185, dtype: object
2021-08-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-12', '2020-12-14', '2021-01-12', '2021-02-18', '2021-03-12', '2021-04-12', '2021-05-12', '2021-06-15', '2021-07-12', '2021-08-12']
obs22020-11-12    2020-11-12
2020-11-13    2020-11-13
2020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
                 ...
2021-08-06    2021-08-06
2021-08-09    2021-08-09
2021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-13', '2020-12-14', '2021-01-13', '2021-02-18', '2021-03-15', '2021-04-13', '2021-05-13', '2021-06-15', '2021-07-13', '2021-08-13']
obs22020-11-13    2020-11-13
2020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
                 ...
2021-08-09    2021-08-09
2021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-16', '2020-12-14', '2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14', '2021-08-16']
obs22020-11-16    2020-11-16
2020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
                 ...
2021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
Name: date, Length: 185, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-17', '2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17', '2021-07-19', '2021-08-17']
obs22020-11-17    2020-11-17
2020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
                 ...
2021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
Name: date, Length: 185, dtype: object
2021-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-18', '2020-12-18', '2021-01-18', '2021-02-18', '2021-03-18', '2021-04-19', '2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18']
obs22020-11-18    2020-11-18
2020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
2020-11-24    2020-11-24
                 ...
2021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
Name: date, Length: 185, dtype: object
2021-08-18
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-19', '2020-12-21', '2021-01-19', '2021-02-19', '2021-03-19', '2021-04-19', '2021-05-19', '2021-06-21', '2021-07-19', '2021-08-19']
obs22020-11-19    2020-11-19
2020-11-20    2020-11-20
2020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
                 ...
2021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
Name: date, Length: 185, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-20', '2020-12-21', '2021-01-20', '2021-02-22', '2021-03-22', '2021-04-20', '2021-05-20', '2021-06-21', '2021-07-20', '2021-08-20']
obs22020-11-20    2020-11-20
2020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
                 ...
2021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
Name: date, Length: 185, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-23', '2020-12-21', '2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21', '2021-08-23']
obs22020-11-23    2020-11-23
2020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
                 ...
2021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
Name: date, Length: 185, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-24', '2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24', '2021-07-26', '2021-08-24']
obs22020-11-24    2020-11-24
2020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
                 ...
2021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
Name: date, Length: 185, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-25', '2020-12-25', '2021-01-25', '2021-02-25', '2021-03-25', '2021-04-26', '2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25']
obs22020-11-25    2020-11-25
2020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
2020-12-01    2020-12-01
                 ...
2021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
Name: date, Length: 185, dtype: object
2021-08-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-26', '2020-12-28', '2021-01-26', '2021-02-26', '2021-03-26', '2021-04-26', '2021-05-26', '2021-06-28', '2021-07-26', '2021-08-26']
obs22020-11-26    2020-11-26
2020-11-27    2020-11-27
2020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
                 ...
2021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26

Name: date, Length: 185, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-27', '2020-12-28', '2021-01-27', '2021-03-01', '2021-03-29', '2021-04-27', '2021-05-27', '2021-06-28', '2021-07-27', '2021-08-27']
obs22020-11-27    2020-11-27
2020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
                 ...
2021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
Name: date, Length: 185, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-30', '2020-12-28', '2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28', '2021-08-30']
obs22020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
                 ...
2021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
Name: date, Length: 185, dtype: object
2021-08-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-11-30', '2020-12-31', '2021-02-01', '2021-03-01', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-08-02', '2021-08-31']
obs22020-11-30    2020-11-30
2020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
                 ...
2021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
Name: date, Length: 186, dtype: object
2021-08-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-01', '2021-01-04', '2021-02-01', '2021-03-01', '2021-04-01', '2021-05-06', '2021-06-01', '2021-07-01', '2021-08-02', '2021-09-01']
obs22020-12-01    2020-12-01
2020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
                 ...
2021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
Name: date, Length: 186, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-02', '2021-01-04', '2021-02-02', '2021-03-02', '2021-04-02', '2021-05-06', '2021-06-02', '2021-07-02', '2021-08-02', '2021-09-02']
obs22020-12-02    2020-12-02
2020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
2020-12-08    2020-12-08
                 ...
2021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
Name: date, Length: 186, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-03', '2021-01-04', '2021-02-03', '2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03', '2021-07-05', '2021-08-03', '2021-09-03']
obs22020-12-03    2020-12-03
2020-12-04    2020-12-04
2020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
                 ...
2021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
Name: date, Length: 186, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-04', '2021-01-04', '2021-02-04', '2021-03-04', '2021-04-06', '2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06']
obs22020-12-04    2020-12-04
2020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
                 ...
2021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
Name: date, Length: 186, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-07', '2021-01-07', '2021-02-08', '2021-03-08', '2021-04-07', '2021-05-07', '2021-06-07', '2021-07-07', '2021-08-09', '2021-09-07']
obs22020-12-07    2020-12-07
2020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
                 ...
2021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
Name: date, Length: 186, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-08', '2021-01-08', '2021-02-08', '2021-03-08', '2021-04-08', '2021-05-10', '2021-06-08', '2021-07-08', '2021-08-09', '2021-09-08']
obs22020-12-08    2020-12-08
2020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
                 ...
2021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
Name: date, Length: 186, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-09', '2021-01-11', '2021-02-09', '2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09']
obs22020-12-09    2020-12-09
2020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
2020-12-15    2020-12-15
                 ...
2021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
Name: date, Length: 186, dtype: object
2021-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-10', '2021-01-11', '2021-02-10', '2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10', '2021-07-12', '2021-08-10', '2021-09-10']
obs22020-12-10    2020-12-10
2020-12-11    2020-12-11
2020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
                 ...
2021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
Name: date, Length: 186, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-11', '2021-01-11', '2021-02-18', '2021-03-11', '2021-04-12', '2021-05-11', '2021-06-11', '2021-07-12', '2021-08-11', '2021-09-13']
obs22020-12-11    2020-12-11
2020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
                 ...
2021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
Name: date, Length: 186, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-14', '2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14', '2021-08-16', '2021-09-14']
obs22020-12-14    2020-12-14
2020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
                 ...
2021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
Name: date, Length: 186, dtype: object
2021-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-15', '2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15', '2021-05-17', '2021-06-15', '2021-07-15', '2021-08-16', '2021-09-15']
obs22020-12-15    2020-12-15
2020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
                 ...
2021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
Name: date, Length: 186, dtype: object
2021-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-16', '2021-01-18', '2021-02-18', '2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16', '2021-07-16', '2021-08-16', '2021-09-16']
obs22020-12-16    2020-12-16
2020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
2020-12-22    2020-12-22
                 ...
2021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
Name: date, Length: 186, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-17', '2021-01-18', '2021-02-18', '2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17', '2021-07-19', '2021-08-17', '2021-09-17']
obs22020-12-17    2020-12-17
2020-12-18    2020-12-18
2020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
                 ...
2021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
Name: date, Length: 186, dtype: object
2021-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-18', '2021-01-18', '2021-02-18', '2021-03-18', '2021-04-19', '2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22']
obs22020-12-18    2020-12-18
2020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
                 ...
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
Name: date, Length: 186, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-21', '2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21', '2021-08-23', '2021-09-22']
obs22020-12-21    2020-12-21
2020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
                 ...
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
Name: date, Length: 185, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-22', '2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22', '2021-05-24', '2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22']
obs22020-12-22    2020-12-22
2020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
                 ...
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
Name: date, Length: 184, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-23', '2021-01-25', '2021-02-23', '2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23']
obs22020-12-23    2020-12-23
2020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
2020-12-29    2020-12-29
                 ...
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
Name: date, Length: 184, dtype: object
2021-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-24', '2021-01-25', '2021-02-24', '2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24', '2021-07-26', '2021-08-24', '2021-09-24']
obs22020-12-24    2020-12-24
2020-12-25    2020-12-25
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
                 ...
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
Name: date, Length: 184, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-25', '2021-01-25', '2021-02-25', '2021-03-25', '2021-04-26', '2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27']
obs22020-12-25    2020-12-25
2020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
                 ...
2021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
Name: date, Length: 184, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-28', '2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28', '2021-08-30', '2021-09-28']
obs22020-12-28    2020-12-28
2020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
                 ...
2021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
Name: date, Length: 184, dtype: object
2021-01-04
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-29', '2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29', '2021-05-31', '2021-06-29', '2021-07-29', '2021-08-30', '2021-09-29']
obs22020-12-29    2020-12-29
2020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
2021-01-05    2021-01-05
                 ...
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
2021-09-29    2021-09-29
Name: date, Length: 184, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2020-12-30', '2021-02-01', '2021-03-01', '2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-30', '2021-09-30']
obs22020-12-30    2020-12-30
2020-12-31    2020-12-31
2021-01-04    2021-01-04
2021-01-05    2021-01-05
2021-01-06    2021-01-06
                 ...
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
2021-09-29    2021-09-29
2021-09-30    2021-09-30
Name: date, Length: 184, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-11', '2021-02-09', '2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11']
obs22021-01-11    2021-01-11
2021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
                 ...
2021-09-28    2021-09-28
2021-09-29    2021-09-29
2021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
Name: date, Length: 179, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-12', '2021-02-18', '2021-03-12', '2021-04-12', '2021-05-12', '2021-06-15', '2021-07-12', '2021-08-12', '2021-09-13', '2021-10-12']
obs22021-01-12    2021-01-12
2021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
                 ...
2021-09-29    2021-09-29
2021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
Name: date, Length: 179, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-13', '2021-02-18', '2021-03-15', '2021-04-13', '2021-05-13', '2021-06-15', '2021-07-13', '2021-08-13', '2021-09-13', '2021-10-13']
obs22021-01-13    2021-01-13
2021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
2021-01-19    2021-01-19
                 ...
2021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
Name: date, Length: 179, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-14', '2021-02-18', '2021-03-15', '2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14', '2021-08-16', '2021-09-14', '2021-10-14']
obs22021-01-14    2021-01-14
2021-01-15    2021-01-15
2021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
                 ...
2021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
Name: date, Length: 179, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-15', '2021-02-18', '2021-03-15', '2021-04-15', '2021-05-17', '2021-06-15', '2021-07-15', '2021-08-16', '2021-09-15', '2021-10-15']
obs22021-01-15    2021-01-15
2021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
                 ...
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
Name: date, Length: 179, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-18', '2021-02-18', '2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16', '2021-07-16', '2021-08-16', '2021-09-16', '2021-10-18']
obs22021-01-18    2021-01-18
2021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
2021-01-22    2021-01-22
                 ...
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
Name: date, Length: 179, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-19', '2021-02-19', '2021-03-19', '2021-04-19', '2021-05-19', '2021-06-21', '2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19']
obs22021-01-19    2021-01-19
2021-01-20    2021-01-20
2021-01-21    2021-01-21
2021-01-22    2021-01-22
2021-01-25    2021-01-25
                 ...
2021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
Name: date, Length: 179, dtype: object
2021-07-08
3
4
5
6
7
8
9
10
11
12

obs1['2021-01-20', '2021-02-22', '2021-03-22', '2021-04-20', '2021-05-20', '2021-06-21', '2021-07-20', '2021-08-20', '2021-09-22', '2021-10-20']
obs22021-01-20    2021-01-20
2021-01-21    2021-01-21
2021-01-22    2021-01-22
2021-01-25    2021-01-25
2021-01-26    2021-01-26
                 ...
2021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
Name: date, Length: 179, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-21', '2021-02-22', '2021-03-22', '2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21', '2021-08-23', '2021-09-22', '2021-10-21']
obs22021-01-21    2021-01-21
2021-01-22    2021-01-22
2021-01-25    2021-01-25
2021-01-26    2021-01-26
2021-01-27    2021-01-27
                 ...
2021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
Name: date, Length: 179, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-22', '2021-02-22', '2021-03-22', '2021-04-22', '2021-05-24', '2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22']
obs22021-01-22    2021-01-22
2021-01-25    2021-01-25
2021-01-26    2021-01-26
2021-01-27    2021-01-27
2021-01-28    2021-01-28
                 ...
2021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
Name: date, Length: 179, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-25', '2021-02-23', '2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25']
obs22021-01-25    2021-01-25
2021-01-26    2021-01-26
2021-01-27    2021-01-27
2021-01-28    2021-01-28
2021-01-29    2021-01-29
                 ...
2021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
Name: date, Length: 179, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-26', '2021-02-26', '2021-03-26', '2021-04-26', '2021-05-26', '2021-06-28', '2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26']
obs22021-01-26    2021-01-26
2021-01-27    2021-01-27
2021-01-28    2021-01-28
2021-01-29    2021-01-29
2021-02-01    2021-02-01
                 ...
2021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
Name: date, Length: 179, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-27', '2021-03-01', '2021-03-29', '2021-04-27', '2021-05-27', '2021-06-28', '2021-07-27', '2021-08-27', '2021-09-27', '2021-10-27']
obs22021-01-27    2021-01-27
2021-01-28    2021-01-28
2021-01-29    2021-01-29
2021-02-01    2021-02-01
2021-02-02    2021-02-02
                 ...
2021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
Name: date, Length: 179, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-28', '2021-03-01', '2021-03-29', '2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28', '2021-08-30', '2021-09-28', '2021-10-28']
obs22021-01-28    2021-01-28
2021-01-29    2021-01-29
2021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
                 ...
2021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
Name: date, Length: 179, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-01-29', '2021-03-01', '2021-03-29', '2021-04-29', '2021-05-31', '2021-06-29', '2021-07-29', '2021-08-30', '2021-09-29', '2021-10-29']
obs22021-01-29    2021-01-29
2021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
                 ...
2021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
Name: date, Length: 179, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-01', '2021-03-01', '2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-30', '2021-09-30', '2021-11-01']
obs22021-02-01    2021-02-01
2021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
                 ...
2021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
Name: date, Length: 179, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-02', '2021-03-02', '2021-04-02', '2021-05-06', '2021-06-02', '2021-07-02', '2021-08-02', '2021-09-02', '2021-10-08', '2021-11-02']
obs22021-02-02    2021-02-02
2021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
                 ...
2021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
Name: date, Length: 179, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-03', '2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03', '2021-07-05', '2021-08-03', '2021-09-03', '2021-10-08', '2021-11-03']
obs22021-02-03    2021-02-03
2021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
                 ...
2021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
Name: date, Length: 179, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-04', '2021-03-04', '2021-04-06', '2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06', '2021-10-08', '2021-11-04']
obs22021-02-04    2021-02-04
2021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
                 ...
2021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
Name: date, Length: 179, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-05', '2021-03-05', '2021-04-06', '2021-05-06', '2021-06-07', '2021-07-05', '2021-08-05', '2021-09-06', '2021-10-08', '2021-11-05']
obs22021-02-05    2021-02-05
2021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
                 ...
2021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
Name: date, Length: 179, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-08', '2021-03-08', '2021-04-06', '2021-05-06', '2021-06-07', '2021-07-06', '2021-08-06', '2021-09-06', '2021-10-08', '2021-11-08']
obs22021-02-08    2021-02-08
2021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
                 ...
2021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
Name: date, Length: 179, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-09', '2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11', '2021-11-09']
obs22021-02-09    2021-02-09
2021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
                 ...
2021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
Name: date, Length: 179, dtype: object
2021-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-10', '2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10', '2021-07-12', '2021-08-10', '2021-09-10', '2021-10-11', '2021-11-10']
obs22021-02-10    2021-02-10
2021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
                 ...
2021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
Name: date, Length: 179, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-18', '2021-03-11', '2021-04-12', '2021-05-11', '2021-06-11', '2021-07-12', '2021-08-11', '2021-09-13', '2021-10-11', '2021-11-11']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
Name: date, Length: 179, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-18', '2021-03-12', '2021-04-12', '2021-05-12', '2021-06-15', '2021-07-12', '2021-08-12', '2021-09-13', '2021-10-12', '2021-11-12']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
Name: date, Length: 180, dtype: object
2021-06-21
3
4
5
6
7

8
9
10
11
12
obs1['2021-02-18', '2021-03-15', '2021-04-13', '2021-05-13', '2021-06-15', '2021-07-13', '2021-08-13', '2021-09-13', '2021-10-13', '2021-11-15']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
Name: date, Length: 181, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-18', '2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16', '2021-07-16', '2021-08-16', '2021-09-16', '2021-10-18', '2021-11-16']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
Name: date, Length: 182, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-18', '2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17', '2021-07-19', '2021-08-17', '2021-09-17', '2021-10-18', '2021-11-17']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
Name: date, Length: 183, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-18', '2021-03-18', '2021-04-19', '2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18']
obs22021-02-18    2021-02-18
2021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
                 ...
2021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
Name: date, Length: 184, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-19', '2021-03-19', '2021-04-19', '2021-05-19', '2021-06-21', '2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19']
obs22021-02-19    2021-02-19
2021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
                 ...
2021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
Name: date, Length: 184, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-22', '2021-03-22', '2021-04-20', '2021-05-20', '2021-06-21', '2021-07-20', '2021-08-20', '2021-09-22', '2021-10-20', '2021-11-22']
obs22021-02-22    2021-02-22
2021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
                 ...
2021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
Name: date, Length: 184, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-23', '2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25', '2021-11-23']
obs22021-02-23    2021-02-23
2021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
                 ...
2021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
Name: date, Length: 184, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-24', '2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24', '2021-07-26', '2021-08-24', '2021-09-24', '2021-10-25', '2021-11-24']
obs22021-02-24    2021-02-24
2021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
                 ...
2021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
Name: date, Length: 184, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-25', '2021-03-25', '2021-04-26', '2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25']
obs22021-02-25    2021-02-25
2021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
                 ...
2021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
Name: date, Length: 184, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-02-26', '2021-03-26', '2021-04-26', '2021-05-26', '2021-06-28', '2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26']
obs22021-02-26    2021-02-26
2021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
                 ...
2021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
Name: date, Length: 184, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-01', '2021-03-29', '2021-04-27', '2021-05-27', '2021-06-28', '2021-07-27', '2021-08-27', '2021-09-27', '2021-10-27', '2021-11-29']
obs22021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
                 ...
2021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
Name: date, Length: 184, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-01', '2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-30', '2021-09-30', '2021-11-01', '2021-11-30']
obs22021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
                 ...
2021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
Name: date, Length: 185, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-01', '2021-04-01', '2021-05-06', '2021-06-01', '2021-07-01', '2021-08-02', '2021-09-01', '2021-10-08', '2021-11-01', '2021-12-01']
obs22021-03-01    2021-03-01
2021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
                 ...
2021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
Name: date, Length: 186, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-02', '2021-04-02', '2021-05-06', '2021-06-02', '2021-07-02', '2021-08-02', '2021-09-02', '2021-10-08', '2021-11-02', '2021-12-02']
obs22021-03-02    2021-03-02
2021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
                 ...
2021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
Name: date, Length: 186, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-03', '2021-04-06', '2021-05-06', '2021-06-03', '2021-07-05', '2021-08-03', '2021-09-03', '2021-10-08', '2021-11-03', '2021-12-03']
obs22021-03-03    2021-03-03
2021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
2021-03-09    2021-03-09
                 ...
2021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
Name: date, Length: 186, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-04', '2021-04-06', '2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06', '2021-10-08', '2021-11-04', '2021-12-06']
obs22021-03-04    2021-03-04
2021-03-05    2021-03-05
2021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
                 ...
2021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
Name: date, Length: 186, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-08', '2021-04-07', '2021-05-07', '2021-06-07', '2021-07-07', '2021-08-09', '2021-09-07', '2021-10-08', '2021-11-08', '2021-12-07']
obs22021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
                 ...
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
Name: date, Length: 185, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-08', '2021-04-08', '2021-05-10', '2021-06-08', '2021-07-08', '2021-08-09', '2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08']
obs22021-03-08    2021-03-08
2021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
                 ...
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
Name: date, Length: 186, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-09', '2021-04-09', '2021-05-10', '2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11', '2021-11-09', '2021-12-09']
obs22021-03-09    2021-03-09
2021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
                 ...
2021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-10', '2021-04-12', '2021-05-10', '2021-06-10', '2021-07-12', '2021-08-10', '2021-09-10', '2021-10-11', '2021-11-10', '2021-12-10']
obs22021-03-10    2021-03-10
2021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
2021-03-16    2021-03-16
                 ...
2021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-11', '2021-04-12', '2021-05-11', '2021-06-11', '2021-07-12', '2021-08-11', '2021-09-13', '2021-10-11', '2021-11-11', '2021-12-13']
obs22021-03-11    2021-03-11
2021-03-12    2021-03-12
2021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
                 ...
2021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12

obs1['2021-03-15', '2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14', '2021-08-16', '2021-09-14', '2021-10-14', '2021-11-15', '2021-12-14']
obs22021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
                 ...
2021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
Name: date, Length: 185, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-15', '2021-04-15', '2021-05-17', '2021-06-15', '2021-07-15', '2021-08-16', '2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15']
obs22021-03-15    2021-03-15
2021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
                 ...
2021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-16', '2021-04-16', '2021-05-17', '2021-06-16', '2021-07-16', '2021-08-16', '2021-09-16', '2021-10-18', '2021-11-16', '2021-12-16']
obs22021-03-16    2021-03-16
2021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
                 ...
2021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-17', '2021-04-19', '2021-05-17', '2021-06-17', '2021-07-19', '2021-08-17', '2021-09-17', '2021-10-18', '2021-11-17', '2021-12-17']
obs22021-03-17    2021-03-17
2021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
2021-03-23    2021-03-23
                 ...
2021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-18', '2021-04-19', '2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20']
obs22021-03-18    2021-03-18
2021-03-19    2021-03-19
2021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
                 ...
2021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-22', '2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21', '2021-08-23', '2021-09-22', '2021-10-21', '2021-11-22', '2021-12-21']
obs22021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
                 ...
2021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
Name: date, Length: 185, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-22', '2021-04-22', '2021-05-24', '2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22']
obs22021-03-22    2021-03-22
2021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
                 ...
2021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
2021-12-22    2021-12-22
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-23', '2021-04-23', '2021-05-24', '2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25', '2021-11-23', '2021-12-23']
obs22021-03-23    2021-03-23
2021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
                 ...
2021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
2021-12-22    2021-12-22
2021-12-23    2021-12-23
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-24', '2021-04-26', '2021-05-24', '2021-06-24', '2021-07-26', '2021-08-24', '2021-09-24', '2021-10-25', '2021-11-24', '2021-12-24']
obs22021-03-24    2021-03-24
2021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
2021-03-30    2021-03-30
                 ...
2021-12-20    2021-12-20
2021-12-21    2021-12-21
2021-12-22    2021-12-22
2021-12-23    2021-12-23
2021-12-24    2021-12-24
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-25', '2021-04-26', '2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27']
obs22021-03-25    2021-03-25
2021-03-26    2021-03-26
2021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
                 ...
2021-12-21    2021-12-21
2021-12-22    2021-12-22
2021-12-23    2021-12-23
2021-12-24    2021-12-24
2021-12-27    2021-12-27
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-29', '2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28', '2021-08-30', '2021-09-28', '2021-10-28', '2021-11-29', '2021-12-28']
obs22021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
                 ...
2021-12-22    2021-12-22
2021-12-23    2021-12-23
2021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
Name: date, Length: 185, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-29', '2021-04-29', '2021-05-31', '2021-06-29', '2021-07-29', '2021-08-30', '2021-09-29', '2021-10-29', '2021-11-29', '2021-12-29']
obs22021-03-29    2021-03-29
2021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
                 ...
2021-12-23    2021-12-23
2021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
Name: date, Length: 186, dtype: object
2021-05-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-30', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-30', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-30']
obs22021-03-30    2021-03-30
2021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
2021-04-06    2021-04-06
                 ...
2021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-08-02', '2021-08-31', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-31']
obs22021-03-31    2021-03-31
2021-04-01    2021-04-01
2021-04-02    2021-04-02
2021-04-06    2021-04-06
2021-04-07    2021-04-07
                 ...
2021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
Name: date, Length: 186, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-06', '2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06', '2021-10-08', '2021-11-04', '2021-12-06', '2022-01-04']
obs22021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
                 ...
2021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
Name: date, Length: 184, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-06', '2021-05-06', '2021-06-07', '2021-07-05', '2021-08-05', '2021-09-06', '2021-10-08', '2021-11-05', '2021-12-06', '2022-01-05']
obs22021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
                 ...
2021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
2022-01-05    2022-01-05
Name: date, Length: 185, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-06', '2021-05-06', '2021-06-07', '2021-07-06', '2021-08-06', '2021-09-06', '2021-10-08', '2021-11-08', '2021-12-06', '2022-01-06']
obs22021-04-06    2021-04-06
2021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
                 ...
2021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
2022-01-05    2022-01-05
2022-01-06    2022-01-06
Name: date, Length: 186, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12

obs1['2021-04-07', '2021-05-07', '2021-06-07', '2021-07-07', '2021-08-09', '2021-09-07', '2021-10-08', '2021-11-08', '2021-12-07', '2022-01-07']
obs22021-04-07    2021-04-07
2021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
2021-04-13    2021-04-13
                 ...
2021-12-31    2021-12-31
2022-01-04    2022-01-04
2022-01-05    2022-01-05
2022-01-06    2022-01-06
2022-01-07    2022-01-07
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-08', '2021-05-10', '2021-06-08', '2021-07-08', '2021-08-09', '2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10']
obs22021-04-08    2021-04-08
2021-04-09    2021-04-09
2021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
                 ...
2022-01-04    2022-01-04
2022-01-05    2022-01-05
2022-01-06    2022-01-06
2022-01-07    2022-01-07
2022-01-10    2022-01-10
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-12', '2021-05-11', '2021-06-11', '2021-07-12', '2021-08-11', '2021-09-13', '2021-10-11', '2021-11-11', '2021-12-13', '2022-01-11']
obs22021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
                 ...
2022-01-05    2022-01-05
2022-01-06    2022-01-06
2022-01-07    2022-01-07
2022-01-10    2022-01-10
2022-01-11    2022-01-11
Name: date, Length: 185, dtype: object
2021-05-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-12', '2021-05-12', '2021-06-15', '2021-07-12', '2021-08-12', '2021-09-13', '2021-10-12', '2021-11-12', '2021-12-13', '2022-01-12']
obs22021-04-12    2021-04-12
2021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
                 ...
2022-01-06    2022-01-06
2022-01-07    2022-01-07
2022-01-10    2022-01-10
2022-01-11    2022-01-11
2022-01-12    2022-01-12
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-13', '2021-05-13', '2021-06-15', '2021-07-13', '2021-08-13', '2021-09-13', '2021-10-13', '2021-11-15', '2021-12-13', '2022-01-13']
obs22021-04-13    2021-04-13
2021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
                 ...
2022-01-07    2022-01-07
2022-01-10    2022-01-10
2022-01-11    2022-01-11
2022-01-12    2022-01-12
2022-01-13    2022-01-13
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-14', '2021-05-14', '2021-06-15', '2021-07-14', '2021-08-16', '2021-09-14', '2021-10-14', '2021-11-15', '2021-12-14', '2022-01-14']
obs22021-04-14    2021-04-14
2021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
2021-04-20    2021-04-20
                 ...
2022-01-10    2022-01-10
2022-01-11    2022-01-11
2022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-15', '2021-05-17', '2021-06-15', '2021-07-15', '2021-08-16', '2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15', '2022-01-17']
obs22021-04-15    2021-04-15
2021-04-16    2021-04-16
2021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
                 ...
2022-01-11    2022-01-11
2022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-19', '2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20', '2022-01-18']
obs22021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
                 ...
2022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
Name: date, Length: 185, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-19', '2021-05-19', '2021-06-21', '2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19']
obs22021-04-19    2021-04-19
2021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
                 ...
2022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
Name: date, Length: 186, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-20', '2021-05-20', '2021-06-21', '2021-07-20', '2021-08-20', '2021-09-22', '2021-10-20', '2021-11-22', '2021-12-20', '2022-01-20']
obs22021-04-20    2021-04-20
2021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
                 ...
2022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
Name: date, Length: 186, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-21', '2021-05-21', '2021-06-21', '2021-07-21', '2021-08-23', '2021-09-22', '2021-10-21', '2021-11-22', '2021-12-21', '2022-01-21']
obs22021-04-21    2021-04-21
2021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
2021-04-27    2021-04-27
                 ...
2022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
Name: date, Length: 186, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-22', '2021-05-24', '2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24']
obs22021-04-22    2021-04-22
2021-04-23    2021-04-23
2021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
                 ...
2022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
Name: date, Length: 186, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-26', '2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27', '2022-01-25']
obs22021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
                 ...
2022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
Name: date, Length: 185, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-26', '2021-05-26', '2021-06-28', '2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26']
obs22021-04-26    2021-04-26
2021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
                 ...
2022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-27', '2021-05-27', '2021-06-28', '2021-07-27', '2021-08-27', '2021-09-27', '2021-10-27', '2021-11-29', '2021-12-27', '2022-01-27']
obs22021-04-27    2021-04-27
2021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
                 ...
2022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
Name: date, Length: 186, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-28', '2021-05-28', '2021-06-28', '2021-07-28', '2021-08-30', '2021-09-28', '2021-10-28', '2021-11-29', '2021-12-28', '2022-01-28']
obs22021-04-28    2021-04-28
2021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
2021-05-07    2021-05-07
                 ...
2022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
Name: date, Length: 186, dtype: object
2021-05-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-04-29', '2021-05-31', '2021-06-29', '2021-07-29', '2021-08-30', '2021-09-29', '2021-10-29', '2021-11-29', '2021-12-29', '2022-02-07']
obs22021-04-29    2021-04-29
2021-04-30    2021-04-30
2021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 186, dtype: object
2021-05-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-06', '2021-06-01', '2021-07-01', '2021-08-02', '2021-09-01', '2021-10-08', '2021-11-01', '2021-12-01', '2022-01-04', '2022-02-07']
obs22021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 184, dtype: object
2021-05-25
3
4
5
6
7
8
9
10
11
12

obs1['2021-05-06', '2021-06-02', '2021-07-02', '2021-08-02', '2021-09-02', '2021-10-08', '2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07']
obs22021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 184, dtype: object
2021-05-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-06', '2021-06-03', '2021-07-05', '2021-08-03', '2021-09-03', '2021-10-08', '2021-11-03', '2021-12-03', '2022-01-04', '2022-02-07']
obs22021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 184, dtype: object
2021-05-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-06', '2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06', '2021-10-08', '2021-11-04', '2021-12-06', '2022-01-04', '2022-02-07']
obs22021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 184, dtype: object
2021-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-06', '2021-06-07', '2021-07-05', '2021-08-05', '2021-09-06', '2021-10-08', '2021-11-05', '2021-12-06', '2022-01-05', '2022-02-07']
obs22021-05-06    2021-05-06
2021-05-07    2021-05-07
2021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
                 ...
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
Name: date, Length: 184, dtype: object
2021-05-06
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-10', '2021-06-08', '2021-07-08', '2021-08-09', '2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10', '2022-02-08']
obs22021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
                 ...
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
Name: date, Length: 183, dtype: object
2021-05-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-10', '2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11', '2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09']
obs22021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
                 ...
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
Name: date, Length: 184, dtype: object
2021-05-18
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-10', '2021-06-10', '2021-07-12', '2021-08-10', '2021-09-10', '2021-10-11', '2021-11-10', '2021-12-10', '2022-01-10', '2022-02-10']
obs22021-05-10    2021-05-10
2021-05-11    2021-05-11
2021-05-12    2021-05-12
2021-05-13    2021-05-13
2021-05-14    2021-05-14
                 ...
2022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
Name: date, Length: 185, dtype: object
2021-05-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-18', '2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20', '2022-01-18', '2022-02-18']
obs22021-05-18    2021-05-18
2021-05-19    2021-05-19
2021-05-20    2021-05-20
2021-05-21    2021-05-21
2021-05-24    2021-05-24
                 ...
2022-02-14    2022-02-14
2022-02-15    2022-02-15
2022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
Name: date, Length: 185, dtype: object
2021-05-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-19', '2021-06-21', '2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21']
obs22021-05-19    2021-05-19
2021-05-20    2021-05-20
2021-05-21    2021-05-21
2021-05-24    2021-05-24
2021-05-25    2021-05-25
                 ...
2022-02-15    2022-02-15
2022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
Name: date, Length: 185, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-24', '2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24', '2022-02-22']
obs22021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
                 ...
2022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
Name: date, Length: 183, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-24', '2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25', '2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23']
obs22021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
                 ...
2022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
Name: date, Length: 184, dtype: object
2021-05-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-24', '2021-06-24', '2021-07-26', '2021-08-24', '2021-09-24', '2021-10-25', '2021-11-24', '2021-12-24', '2022-01-24', '2022-02-24']
obs22021-05-24    2021-05-24
2021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
                 ...
2022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
Name: date, Length: 185, dtype: object
2021-05-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-25', '2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27', '2022-01-25', '2022-02-25']
obs22021-05-25    2021-05-25
2021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
2021-05-31    2021-05-31
                 ...
2022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
Name: date, Length: 185, dtype: object
2021-05-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-05-26', '2021-06-28', '2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28']
obs22021-05-26    2021-05-26
2021-05-27    2021-05-27
2021-05-28    2021-05-28
2021-05-31    2021-05-31
2021-06-01    2021-06-01
                 ...
2022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
Name: date, Length: 185, dtype: object
2021-05-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-01', '2021-07-01', '2021-08-02', '2021-09-01', '2021-10-08', '2021-11-01', '2021-12-01', '2022-01-04', '2022-02-07', '2022-03-01']
obs22021-06-01    2021-06-01
2021-06-02    2021-06-02
2021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
                 ...
2022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
Name: date, Length: 182, dtype: object
2021-06-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-02', '2021-07-02', '2021-08-02', '2021-09-02', '2021-10-08', '2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02']
obs22021-06-02    2021-06-02
2021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
                 ...
2022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
Name: date, Length: 182, dtype: object
2021-06-02
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-03', '2021-07-05', '2021-08-03', '2021-09-03', '2021-10-08', '2021-11-03', '2021-12-03', '2022-01-04', '2022-02-07', '2022-03-03']
obs22021-06-03    2021-06-03
2021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
                 ...
2022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
Name: date, Length: 182, dtype: object
2021-06-04
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-04', '2021-07-05', '2021-08-04', '2021-09-06', '2021-10-08', '2021-11-04', '2021-12-06', '2022-01-04', '2022-02-07', '2022-03-04']
obs22021-06-04    2021-06-04
2021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
                 ...
2022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
Name: date, Length: 182, dtype: object
2021-06-04
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-07', '2021-07-05', '2021-08-05', '2021-09-06', '2021-10-08', '2021-11-05', '2021-12-06', '2022-01-05', '2022-02-07', '2022-03-07']
obs22021-06-07    2021-06-07
2021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
                 ...
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
Name: date, Length: 182, dtype: object
2021-06-07
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-08', '2021-07-08', '2021-08-09', '2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10', '2022-02-08', '2022-03-08']
obs22021-06-08    2021-06-08
2021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
                 ...
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
2022-03-08    2022-03-08
Name: date, Length: 182, dtype: object
2021-06-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-09', '2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11', '2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09']
obs22021-06-09    2021-06-09
2021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
                 ...
2022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
Name: date, Length: 182, dtype: object
2021-06-09
3
4

5
6
7
8
9
10
11
12
obs1['2021-06-10', '2021-07-12', '2021-08-10', '2021-09-10', '2021-10-11', '2021-11-10', '2021-12-10', '2022-01-10', '2022-02-10', '2022-03-10']
obs22021-06-10    2021-06-10
2021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
                 ...
2022-03-04    2022-03-04
2022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
Name: date, Length: 182, dtype: object
2021-06-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-11', '2021-07-12', '2021-08-11', '2021-09-13', '2021-10-11', '2021-11-11', '2021-12-13', '2022-01-11', '2022-02-11', '2022-03-11']
obs22021-06-11    2021-06-11
2021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
                 ...
2022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
Name: date, Length: 182, dtype: object
2021-06-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-15', '2021-07-12', '2021-08-12', '2021-09-13', '2021-10-12', '2021-11-12', '2021-12-13', '2022-01-12', '2022-02-14', '2022-03-14']
obs22021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
                 ...
2022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
Name: date, Length: 182, dtype: object
2021-06-15
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-15', '2021-07-15', '2021-08-16', '2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15', '2022-01-17', '2022-02-15', '2022-03-15']
obs22021-06-15    2021-06-15
2021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
                 ...
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
2022-03-15    2022-03-15
Name: date, Length: 183, dtype: object
2021-06-15
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-16', '2021-07-16', '2021-08-16', '2021-09-16', '2021-10-18', '2021-11-16', '2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16']
obs22021-06-16    2021-06-16
2021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
                 ...
2022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
Name: date, Length: 183, dtype: object
2021-06-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-17', '2021-07-19', '2021-08-17', '2021-09-17', '2021-10-18', '2021-11-17', '2021-12-17', '2022-01-17', '2022-02-17', '2022-03-17']
obs22021-06-17    2021-06-17
2021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
2021-06-23    2021-06-23
                 ...
2022-03-11    2022-03-11
2022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
Name: date, Length: 183, dtype: object
2021-06-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-18', '2021-07-19', '2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20', '2022-01-18', '2022-02-18', '2022-03-18']
obs22021-06-18    2021-06-18
2021-06-21    2021-06-21
2021-06-22    2021-06-22
2021-06-23    2021-06-23
2021-06-24    2021-06-24
                 ...
2022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
Name: date, Length: 183, dtype: object
2021-06-18
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-21', '2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21', '2022-03-21']
obs22021-06-21    2021-06-21
2021-06-22    2021-06-22
2021-06-23    2021-06-23
2021-06-24    2021-06-24
2021-06-25    2021-06-25
                 ...
2022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
Name: date, Length: 183, dtype: object
2021-06-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-22', '2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24', '2022-02-22', '2022-03-22']
obs22021-06-22    2021-06-22
2021-06-23    2021-06-23
2021-06-24    2021-06-24
2021-06-25    2021-06-25
2021-06-28    2021-06-28
                 ...
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
2022-03-22    2022-03-22
Name: date, Length: 183, dtype: object
2021-06-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-23', '2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25', '2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23']
obs22021-06-23    2021-06-23
2021-06-24    2021-06-24
2021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
                 ...
2022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
Name: date, Length: 183, dtype: object
2021-06-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-24', '2021-07-26', '2021-08-24', '2021-09-24', '2021-10-25', '2021-11-24', '2021-12-24', '2022-01-24', '2022-02-24', '2022-03-24']
obs22021-06-24    2021-06-24
2021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
                 ...
2022-03-18    2022-03-18
2022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
Name: date, Length: 183, dtype: object
2021-06-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-25', '2021-07-26', '2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27', '2022-01-25', '2022-02-25', '2022-03-25']
obs22021-06-25    2021-06-25
2021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
                 ...
2022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
Name: date, Length: 183, dtype: object
2021-06-25
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-28', '2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28', '2022-03-28']
obs22021-06-28    2021-06-28
2021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
                 ...
2022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
Name: date, Length: 183, dtype: object
2021-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-29', '2021-07-29', '2021-08-30', '2021-09-29', '2021-10-29', '2021-11-29', '2021-12-29', '2022-02-07', '2022-02-28', '2022-03-29']
obs22021-06-29    2021-06-29
2021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
                 ...
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
2022-03-29    2022-03-29
Name: date, Length: 183, dtype: object
2021-06-29
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-30', '2021-07-30', '2021-08-30', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30']
obs22021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
                 ...
2022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
Name: date, Length: 183, dtype: object
2021-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-06-30', '2021-08-02', '2021-08-31', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-31', '2022-02-07', '2022-02-28', '2022-03-31']
obs22021-06-30    2021-06-30
2021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
                 ...
2022-03-25    2022-03-25
2022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
Name: date, Length: 184, dtype: object
2021-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-01', '2021-08-02', '2021-09-01', '2021-10-08', '2021-11-01', '2021-12-01', '2022-01-04', '2022-02-07', '2022-03-01', '2022-04-01']
obs22021-07-01    2021-07-01
2021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
2021-07-07    2021-07-07
                 ...
2022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
Name: date, Length: 184, dtype: object
2021-07-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-02', '2021-08-02', '2021-09-02', '2021-10-08', '2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02', '2022-04-06']
obs22021-07-02    2021-07-02
2021-07-05    2021-07-05
2021-07-06    2021-07-06
2021-07-07    2021-07-07
2021-07-08    2021-07-08
                 ...
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
Name: date, Length: 184, dtype: object
2021-07-02
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-06', '2021-08-06', '2021-09-06', '2021-10-08', '2021-11-08', '2021-12-06', '2022-01-06', '2022-02-07', '2022-03-07', '2022-04-06']
obs22021-07-06    2021-07-06
2021-07-07    2021-07-07
2021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
                 ...
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
Name: date, Length: 182, dtype: object
2021-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-07', '2021-08-09', '2021-09-07', '2021-10-08', '2021-11-08', '2021-12-07', '2022-01-07', '2022-02-07', '2022-03-07', '2022-04-07']
obs22021-07-07    2021-07-07
2021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
                 ...
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
2022-04-07    2022-04-07
Name: date, Length: 182, dtype: object

2021-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-08', '2021-08-09', '2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10', '2022-02-08', '2022-03-08', '2022-04-08']
obs22021-07-08    2021-07-08
2021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
                 ...
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
Name: date, Length: 182, dtype: object
2021-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-09', '2021-08-09', '2021-09-09', '2021-10-11', '2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09', '2022-04-11']
obs22021-07-09    2021-07-09
2021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
                 ...
2022-04-01    2022-04-01
2022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
Name: date, Length: 182, dtype: object
2021-07-09
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-12', '2021-08-12', '2021-09-13', '2021-10-12', '2021-11-12', '2021-12-13', '2022-01-12', '2022-02-14', '2022-03-14', '2022-04-12']
obs22021-07-12    2021-07-12
2021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
                 ...
2022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
Name: date, Length: 182, dtype: object
2021-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-13', '2021-08-13', '2021-09-13', '2021-10-13', '2021-11-15', '2021-12-13', '2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13']
obs22021-07-13    2021-07-13
2021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
                 ...
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
Name: date, Length: 182, dtype: object
2021-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-14', '2021-08-16', '2021-09-14', '2021-10-14', '2021-11-15', '2021-12-14', '2022-01-14', '2022-02-14', '2022-03-14', '2022-04-14']
obs22021-07-14    2021-07-14
2021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
                 ...
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
Name: date, Length: 182, dtype: object
2021-07-14
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-15', '2021-08-16', '2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15', '2022-01-17', '2022-02-15', '2022-03-15', '2022-04-15']
obs22021-07-15    2021-07-15
2021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
                 ...
2022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
Name: date, Length: 182, dtype: object
2021-07-15
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-16', '2021-08-16', '2021-09-16', '2021-10-18', '2021-11-16', '2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16', '2022-04-18']
obs22021-07-16    2021-07-16
2021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
                 ...
2022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
Name: date, Length: 182, dtype: object
2021-07-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-19', '2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21', '2022-03-21', '2022-04-19']
obs22021-07-19    2021-07-19
2021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
                 ...
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
2022-04-19    2022-04-19
Name: date, Length: 182, dtype: object
2021-07-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-20', '2021-08-20', '2021-09-22', '2021-10-20', '2021-11-22', '2021-12-20', '2022-01-20', '2022-02-21', '2022-03-21', '2022-04-20']
obs22021-07-20    2021-07-20
2021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
                 ...
2022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
Name: date, Length: 182, dtype: object
2021-07-20
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-21', '2021-08-23', '2021-09-22', '2021-10-21', '2021-11-22', '2021-12-21', '2022-01-21', '2022-02-21', '2022-03-21', '2022-04-21']
obs22021-07-21    2021-07-21
2021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
                 ...
2022-04-15    2022-04-15
2022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
Name: date, Length: 182, dtype: object
2021-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-22', '2021-08-23', '2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24', '2022-02-22', '2022-03-22', '2022-04-22']
obs22021-07-22    2021-07-22
2021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
                 ...
2022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
Name: date, Length: 182, dtype: object
2021-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-23', '2021-08-23', '2021-09-23', '2021-10-25', '2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23', '2022-04-25']
obs22021-07-23    2021-07-23
2021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
                 ...
2022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
Name: date, Length: 182, dtype: object
2021-07-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-26', '2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28', '2022-03-28', '2022-04-26']
obs22021-07-26    2021-07-26
2021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
                 ...
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
2022-04-26    2022-04-26
Name: date, Length: 182, dtype: object
2021-07-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-27', '2021-08-27', '2021-09-27', '2021-10-27', '2021-11-29', '2021-12-27', '2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27']
obs22021-07-27    2021-07-27
2021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
                 ...
2022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
Name: date, Length: 182, dtype: object
2021-07-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-28', '2021-08-30', '2021-09-28', '2021-10-28', '2021-11-29', '2021-12-28', '2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28']
obs22021-07-28    2021-07-28
2021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
                 ...
2022-04-22    2022-04-22
2022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
Name: date, Length: 182, dtype: object
2021-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-29', '2021-08-30', '2021-09-29', '2021-10-29', '2021-11-29', '2021-12-29', '2022-02-07', '2022-02-28', '2022-03-29', '2022-04-29']
obs22021-07-29    2021-07-29
2021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
2021-08-04    2021-08-04
                 ...
2022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
Name: date, Length: 182, dtype: object
2021-07-29
3
4
5
6
7
8
9
10
11
12
obs1['2021-07-30', '2021-08-30', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30', '2022-05-05']
obs22021-07-30    2021-07-30
2021-08-02    2021-08-02
2021-08-03    2021-08-03
2021-08-04    2021-08-04
2021-08-05    2021-08-05
                 ...
2022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
Name: date, Length: 182, dtype: object
2021-07-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-06', '2021-09-06', '2021-10-08', '2021-11-08', '2021-12-06', '2022-01-06', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-06']
obs22021-08-06    2021-08-06
2021-08-09    2021-08-09
2021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
                 ...
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
2022-05-06    2022-05-06
Name: date, Length: 178, dtype: object
2021-08-06
3
4
5
6
7
8
9

10
11
12
obs1['2021-08-09', '2021-09-07', '2021-10-08', '2021-11-08', '2021-12-07', '2022-01-07', '2022-02-07', '2022-03-07', '2022-04-07', '2022-05-09']
obs22021-08-09    2021-08-09
2021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
                 ...
2022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
2022-05-06    2022-05-06
2022-05-09    2022-05-09
Name: date, Length: 178, dtype: object
2021-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-10', '2021-09-10', '2021-10-11', '2021-11-10', '2021-12-10', '2022-01-10', '2022-02-10', '2022-03-10', '2022-04-11', '2022-05-10']
obs22021-08-10    2021-08-10
2021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
                 ...
2022-04-29    2022-04-29
2022-05-05    2022-05-05
2022-05-06    2022-05-06
2022-05-09    2022-05-09
2022-05-10    2022-05-10
Name: date, Length: 178, dtype: object
2021-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-11', '2021-09-13', '2021-10-11', '2021-11-11', '2021-12-13', '2022-01-11', '2022-02-11', '2022-03-11', '2022-04-11', '2022-05-11']
obs22021-08-11    2021-08-11
2021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
                 ...
2022-05-05    2022-05-05
2022-05-06    2022-05-06
2022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
Name: date, Length: 178, dtype: object
2021-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-12', '2021-09-13', '2021-10-12', '2021-11-12', '2021-12-13', '2022-01-12', '2022-02-14', '2022-03-14', '2022-04-12', '2022-05-12']
obs22021-08-12    2021-08-12
2021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
                 ...
2022-05-06    2022-05-06
2022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
Name: date, Length: 178, dtype: object
2021-08-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-13', '2021-09-13', '2021-10-13', '2021-11-15', '2021-12-13', '2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13', '2022-05-13']
obs22021-08-13    2021-08-13
2021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
                 ...
2022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
Name: date, Length: 178, dtype: object
2021-08-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-16', '2021-09-14', '2021-10-14', '2021-11-15', '2021-12-14', '2022-01-14', '2022-02-14', '2022-03-14', '2022-04-14', '2022-05-16']
obs22021-08-16    2021-08-16
2021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
                 ...
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
2022-05-16    2022-05-16
Name: date, Length: 178, dtype: object
2021-08-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-17', '2021-09-17', '2021-10-18', '2021-11-17', '2021-12-17', '2022-01-17', '2022-02-17', '2022-03-17', '2022-04-18', '2022-05-17']
obs22021-08-17    2021-08-17
2021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
                 ...
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
2022-05-16    2022-05-16
2022-05-17    2022-05-17
Name: date, Length: 178, dtype: object
2021-08-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-18', '2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20', '2022-01-18', '2022-02-18', '2022-03-18', '2022-04-18', '2022-05-18']
obs22021-08-18    2021-08-18
2021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
                 ...
2022-05-12    2022-05-12
2022-05-13    2022-05-13
2022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
Name: date, Length: 178, dtype: object
2021-08-18
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-19', '2021-09-22', '2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21', '2022-03-21', '2022-04-19', '2022-05-19']
obs22021-08-19    2021-08-19
2021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
                 ...
2022-05-13    2022-05-13
2022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
Name: date, Length: 178, dtype: object
2021-08-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-20', '2021-09-22', '2021-10-20', '2021-11-22', '2021-12-20', '2022-01-20', '2022-02-21', '2022-03-21', '2022-04-20', '2022-05-20']
obs22021-08-20    2021-08-20
2021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26
                 ...
2022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
Name: date, Length: 178, dtype: object
2021-08-20
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-23', '2021-09-22', '2021-10-21', '2021-11-22', '2021-12-21', '2022-01-21', '2022-02-21', '2022-03-21', '2022-04-21', '2022-05-23']
obs22021-08-23    2021-08-23
2021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
                 ...
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
2022-05-23    2022-05-23
Name: date, Length: 178, dtype: object
2021-08-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-24', '2021-09-24', '2021-10-25', '2021-11-24', '2021-12-24', '2022-01-24', '2022-02-24', '2022-03-24', '2022-04-25', '2022-05-24']
obs22021-08-24    2021-08-24
2021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
                 ...
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
2022-05-23    2022-05-23
2022-05-24    2022-05-24
Name: date, Length: 178, dtype: object
2021-08-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-25', '2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27', '2022-01-25', '2022-02-25', '2022-03-25', '2022-04-25', '2022-05-25']
obs22021-08-25    2021-08-25
2021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
                 ...
2022-05-19    2022-05-19
2022-05-20    2022-05-20
2022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
Name: date, Length: 178, dtype: object
2021-08-25
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-26', '2021-09-27', '2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28', '2022-03-28', '2022-04-26', '2022-05-26']
obs22021-08-26    2021-08-26
2021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
                 ...
2022-05-20    2022-05-20
2022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
Name: date, Length: 178, dtype: object
2021-08-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-27', '2021-09-27', '2021-10-27', '2021-11-29', '2021-12-27', '2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27', '2022-05-27']
obs22021-08-27    2021-08-27
2021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
                 ...
2022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
Name: date, Length: 178, dtype: object
2021-08-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-30', '2021-09-28', '2021-10-28', '2021-11-29', '2021-12-28', '2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28', '2022-05-30']
obs22021-08-30    2021-08-30
2021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
                 ...
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
2022-05-30    2022-05-30
Name: date, Length: 178, dtype: object
2021-08-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-08-31', '2021-09-30', '2021-11-01', '2021-11-30', '2021-12-31', '2022-02-07', '2022-02-28', '2022-03-31', '2022-05-05', '2022-05-31']
obs22021-08-31    2021-08-31
2021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
                 ...
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
2022-05-30    2022-05-30
2022-05-31    2022-05-31
Name: date, Length: 178, dtype: object
2021-08-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-01', '2021-10-08', '2021-11-01', '2021-12-01', '2022-01-04', '2022-02-07', '2022-03-01', '2022-04-01', '2022-05-05', '2022-06-01']
obs22021-09-01    2021-09-01
2021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
                 ...
2022-05-26    2022-05-26
2022-05-27    2022-05-27
2022-05-30    2022-05-30
2022-05-31    2022-05-31
2022-06-01    2022-06-01
Name: date, Length: 178, dtype: object
2021-09-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-02', '2021-10-08', '2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02']
obs22021-09-02    2021-09-02
2021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
                 ...
2022-05-27    2022-05-27
2022-05-30    2022-05-30
2022-05-31    2022-05-31
2022-06-01    2022-06-01
2022-06-02    2022-06-02
Name: date, Length: 178, dtype: object
2021-09-02
3
4
5
6
7
8
9
10
11
12

obs1['2021-09-03', '2021-10-08', '2021-11-03', '2021-12-03', '2022-01-04', '2022-02-07', '2022-03-03', '2022-04-06', '2022-05-05', '2022-06-06']
obs22021-09-03    2021-09-03
2021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
                 ...
2022-05-30    2022-05-30
2022-05-31    2022-05-31
2022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
Name: date, Length: 178, dtype: object
2021-09-03
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-06', '2021-10-08', '2021-11-04', '2021-12-06', '2022-01-04', '2022-02-07', '2022-03-04', '2022-04-06', '2022-05-05', '2022-06-06']
obs22021-09-06    2021-09-06
2021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
                 ...
2022-05-30    2022-05-30
2022-05-31    2022-05-31
2022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
Name: date, Length: 177, dtype: object
2021-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-07', '2021-10-08', '2021-11-08', '2021-12-07', '2022-01-07', '2022-02-07', '2022-03-07', '2022-04-07', '2022-05-09', '2022-06-07']
obs22021-09-07    2021-09-07
2021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
                 ...
2022-05-31    2022-05-31
2022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
2022-06-07    2022-06-07
Name: date, Length: 177, dtype: object
2021-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-08', '2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08']
obs22021-09-08    2021-09-08
2021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
                 ...
2022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
Name: date, Length: 177, dtype: object
2021-09-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-09', '2021-10-11', '2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09']
obs22021-09-09    2021-09-09
2021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
                 ...
2022-06-02    2022-06-02
2022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
Name: date, Length: 177, dtype: object
2021-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-10', '2021-10-11', '2021-11-10', '2021-12-10', '2022-01-10', '2022-02-10', '2022-03-10', '2022-04-11', '2022-05-10', '2022-06-10']
obs22021-09-10    2021-09-10
2021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
                 ...
2022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
Name: date, Length: 177, dtype: object
2021-09-10
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-13', '2021-10-11', '2021-11-11', '2021-12-13', '2022-01-11', '2022-02-11', '2022-03-11', '2022-04-11', '2022-05-11', '2022-06-13']
obs22021-09-13    2021-09-13
2021-09-14    2021-09-14
2021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
                 ...
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
2022-06-13    2022-06-13
Name: date, Length: 177, dtype: object
2021-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-15', '2021-10-15', '2021-11-15', '2021-12-15', '2022-01-17', '2022-02-15', '2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15']
obs22021-09-15    2021-09-15
2021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
                 ...
2022-06-09    2022-06-09
2022-06-10    2022-06-10
2022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
Name: date, Length: 177, dtype: object
2021-09-15
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-16', '2021-10-18', '2021-11-16', '2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16']
obs22021-09-16    2021-09-16
2021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
                 ...
2022-06-10    2022-06-10
2022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
Name: date, Length: 177, dtype: object
2021-09-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-17', '2021-10-18', '2021-11-17', '2021-12-17', '2022-01-17', '2022-02-17', '2022-03-17', '2022-04-18', '2022-05-17', '2022-06-17']
obs22021-09-17    2021-09-17
2021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
                 ...
2022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
Name: date, Length: 177, dtype: object
2021-09-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-22', '2021-10-18', '2021-11-18', '2021-12-20', '2022-01-18', '2022-02-18', '2022-03-18', '2022-04-18', '2022-05-18', '2022-06-20']
obs22021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
                 ...
2022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
Name: date, Length: 177, dtype: object
2021-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-22', '2021-10-21', '2021-11-22', '2021-12-21', '2022-01-21', '2022-02-21', '2022-03-21', '2022-04-21', '2022-05-23', '2022-06-21']
obs22021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
                 ...
2022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
Name: date, Length: 178, dtype: object
2021-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-22', '2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24', '2022-02-22', '2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22']
obs22021-09-22    2021-09-22
2021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
                 ...
2022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
Name: date, Length: 179, dtype: object
2021-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-23', '2021-10-25', '2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23']
obs22021-09-23    2021-09-23
2021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
2021-09-29    2021-09-29
                 ...
2022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
Name: date, Length: 179, dtype: object
2021-09-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-24', '2021-10-25', '2021-11-24', '2021-12-24', '2022-01-24', '2022-02-24', '2022-03-24', '2022-04-25', '2022-05-24', '2022-06-24']
obs22021-09-24    2021-09-24
2021-09-27    2021-09-27
2021-09-28    2021-09-28
2021-09-29    2021-09-29
2021-09-30    2021-09-30
                 ...
2022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
Name: date, Length: 179, dtype: object
2021-09-24
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-27', '2021-10-25', '2021-11-25', '2021-12-27', '2022-01-25', '2022-02-25', '2022-03-25', '2022-04-25', '2022-05-25', '2022-06-27']
obs22021-09-27    2021-09-27
2021-09-28    2021-09-28
2021-09-29    2021-09-29
2021-09-30    2021-09-30
2021-10-08    2021-10-08
                 ...
2022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
Name: date, Length: 179, dtype: object
2021-09-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-28', '2021-10-28', '2021-11-29', '2021-12-28', '2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28', '2022-05-30', '2022-06-28']
obs22021-09-28    2021-09-28
2021-09-29    2021-09-29
2021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
                 ...
2022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
Name: date, Length: 179, dtype: object
2021-09-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-29', '2021-10-29', '2021-11-29', '2021-12-29', '2022-02-07', '2022-02-28', '2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29']
obs22021-09-29    2021-09-29
2021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
                 ...
2022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
Name: date, Length: 179, dtype: object
2021-09-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-09-30', '2021-11-01', '2021-11-30', '2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30']
obs22021-09-30    2021-09-30
2021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
                 ...
2022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
Name: date, Length: 179, dtype: object
2021-09-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-01', '2021-12-01', '2022-01-04', '2022-02-07', '2022-03-01', '2022-04-01', '2022-05-05', '2022-06-01', '2022-07-01']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
Name: date, Length: 179, dtype: object

2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02', '2022-07-04']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
Name: date, Length: 180, dtype: object
2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-05', '2021-12-06', '2022-01-05', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-05']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
Name: date, Length: 181, dtype: object
2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-08', '2021-12-06', '2022-01-06', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-06', '2022-06-06', '2022-07-06']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
Name: date, Length: 182, dtype: object
2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-08', '2021-12-07', '2022-01-07', '2022-02-07', '2022-03-07', '2022-04-07', '2022-05-09', '2022-06-07', '2022-07-07']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
2022-07-07    2022-07-07
Name: date, Length: 183, dtype: object
2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-08', '2021-11-08', '2021-12-08', '2022-01-10', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08', '2022-07-08']
obs22021-10-08    2021-10-08
2021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
                 ...
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
2022-07-07    2022-07-07
2022-07-08    2022-07-08
Name: date, Length: 184, dtype: object
2021-10-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-11', '2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09', '2022-07-11']
obs22021-10-11    2021-10-11
2021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
                 ...
2022-07-05    2022-07-05
2022-07-06    2022-07-06
2022-07-07    2022-07-07
2022-07-08    2022-07-08
2022-07-11    2022-07-11
Name: date, Length: 184, dtype: object
2021-10-18
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-12', '2021-11-12', '2021-12-13', '2022-01-12', '2022-02-14', '2022-03-14', '2022-04-12', '2022-05-12', '2022-06-13', '2022-07-12']
obs22021-10-12    2021-10-12
2021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
                 ...
2022-07-06    2022-07-06
2022-07-07    2022-07-07
2022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
Name: date, Length: 184, dtype: object
2021-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-13', '2021-11-15', '2021-12-13', '2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13']
obs22021-10-13    2021-10-13
2021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
                 ...
2022-07-07    2022-07-07
2022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
Name: date, Length: 184, dtype: object
2021-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-14', '2021-11-15', '2021-12-14', '2022-01-14', '2022-02-14', '2022-03-14', '2022-04-14', '2022-05-16', '2022-06-14', '2022-07-14']
obs22021-10-14    2021-10-14
2021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
                 ...
2022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
Name: date, Length: 184, dtype: object
2021-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-15', '2021-11-15', '2021-12-15', '2022-01-17', '2022-02-15', '2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15', '2022-07-15']
obs22021-10-15    2021-10-15
2021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
                 ...
2022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
Name: date, Length: 184, dtype: object
2021-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-18', '2021-11-16', '2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16', '2022-07-18']
obs22021-10-18    2021-10-18
2021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
                 ...
2022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
Name: date, Length: 184, dtype: object
2021-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-19', '2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21', '2022-03-21', '2022-04-19', '2022-05-19', '2022-06-20', '2022-07-19']
obs22021-10-19    2021-10-19
2021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
                 ...
2022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
Name: date, Length: 184, dtype: object
2021-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-20', '2021-11-22', '2021-12-20', '2022-01-20', '2022-02-21', '2022-03-21', '2022-04-20', '2022-05-20', '2022-06-20', '2022-07-20']
obs22021-10-20    2021-10-20
2021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
                 ...
2022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
Name: date, Length: 184, dtype: object
2021-10-20
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-21', '2021-11-22', '2021-12-21', '2022-01-21', '2022-02-21', '2022-03-21', '2022-04-21', '2022-05-23', '2022-06-21', '2022-07-21']
obs22021-10-21    2021-10-21
2021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
                 ...
2022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
Name: date, Length: 184, dtype: object
2021-11-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-22', '2021-11-22', '2021-12-22', '2022-01-24', '2022-02-22', '2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22', '2022-07-22']
obs22021-10-22    2021-10-22
2021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
                 ...
2022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
Name: date, Length: 184, dtype: object
2021-11-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-25', '2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23', '2022-07-25']
obs22021-10-25    2021-10-25
2021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
                 ...
2022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
Name: date, Length: 184, dtype: object
2021-11-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-26', '2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28', '2022-03-28', '2022-04-26', '2022-05-26', '2022-06-27', '2022-07-26']
obs22021-10-26    2021-10-26
2021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
                 ...
2022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
Name: date, Length: 184, dtype: object
2021-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-27', '2021-11-29', '2021-12-27', '2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27']
obs22021-10-27    2021-10-27
2021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
                 ...
2022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
Name: date, Length: 184, dtype: object
2021-10-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-28', '2021-11-29', '2021-12-28', '2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28', '2022-05-30', '2022-06-28', '2022-07-28']
obs22021-10-28    2021-10-28
2021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
                 ...
2022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
Name: date, Length: 184, dtype: object
2021-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-10-29', '2021-11-29', '2021-12-29', '2022-02-07', '2022-02-28', '2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29', '2022-07-29']
obs22021-10-29    2021-10-29
2021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
                 ...
2022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
Name: date, Length: 184, dtype: object
2021-11-04
3
4
5
6
7
8
9
10
11
12

obs1['2021-11-01', '2021-11-30', '2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30', '2022-08-01']
obs22021-11-01    2021-11-01
2021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
                 ...
2022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
Name: date, Length: 184, dtype: object
2021-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-02', '2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02', '2022-07-04', '2022-08-02']
obs22021-11-02    2021-11-02
2021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
                 ...
2022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
Name: date, Length: 184, dtype: object
2021-11-12
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-03', '2021-12-03', '2022-01-04', '2022-02-07', '2022-03-03', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-03']
obs22021-11-03    2021-11-03
2021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
                 ...
2022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
2022-08-03    2022-08-03
Name: date, Length: 184, dtype: object
2021-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-04', '2021-12-06', '2022-01-04', '2022-02-07', '2022-03-04', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-04']
obs22021-11-04    2021-11-04
2021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
                 ...
2022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
2022-08-03    2022-08-03
2022-08-04    2022-08-04
Name: date, Length: 184, dtype: object
2021-11-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-05', '2021-12-06', '2022-01-05', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-05', '2022-08-05']
obs22021-11-05    2021-11-05
2021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
                 ...
2022-08-01    2022-08-01
2022-08-02    2022-08-02
2022-08-03    2022-08-03
2022-08-04    2022-08-04
2022-08-05    2022-08-05
Name: date, Length: 184, dtype: object
2021-11-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-08', '2021-12-06', '2022-01-06', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-06', '2022-06-06', '2022-07-06', '2022-08-08']
obs22021-11-08    2021-11-08
2021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
                 ...
2022-08-02    2022-08-02
2022-08-03    2022-08-03
2022-08-04    2022-08-04
2022-08-05    2022-08-05
2022-08-08    2022-08-08
Name: date, Length: 184, dtype: object
2021-11-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-09', '2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09', '2022-07-11', '2022-08-09']
obs22021-11-09    2021-11-09
2021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
                 ...
2022-08-03    2022-08-03
2022-08-04    2022-08-04
2022-08-05    2022-08-05
2022-08-08    2022-08-08
2022-08-09    2022-08-09
Name: date, Length: 184, dtype: object
2021-11-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-10', '2021-12-10', '2022-01-10', '2022-02-10', '2022-03-10', '2022-04-11', '2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10']
obs22021-11-10    2021-11-10
2021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
                 ...
2022-08-04    2022-08-04
2022-08-05    2022-08-05
2022-08-08    2022-08-08
2022-08-09    2022-08-09
2022-08-10    2022-08-10
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-11', '2021-12-13', '2022-01-11', '2022-02-11', '2022-03-11', '2022-04-11', '2022-05-11', '2022-06-13', '2022-07-11', '2022-08-11']
obs22021-11-11    2021-11-11
2021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
                 ...
2022-08-05    2022-08-05
2022-08-08    2022-08-08
2022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-12', '2021-12-13', '2022-01-12', '2022-02-14', '2022-03-14', '2022-04-12', '2022-05-12', '2022-06-13', '2022-07-12', '2022-08-12']
obs22021-11-12    2021-11-12
2021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
                 ...
2022-08-08    2022-08-08
2022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-15', '2021-12-13', '2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13', '2022-08-15']
obs22021-11-15    2021-11-15
2021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
                 ...
2022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-16', '2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16', '2022-07-18', '2022-08-16']
obs22021-11-16    2021-11-16
2021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
                 ...
2022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-17', '2021-12-17', '2022-01-17', '2022-02-17', '2022-03-17', '2022-04-18', '2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17']
obs22021-11-17    2021-11-17
2021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
                 ...
2022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
Name: date, Length: 184, dtype: object
2021-11-17
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-18', '2021-12-20', '2022-01-18', '2022-02-18', '2022-03-18', '2022-04-18', '2022-05-18', '2022-06-20', '2022-07-18', '2022-08-18']
obs22021-11-18    2021-11-18
2021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
                 ...
2022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
Name: date, Length: 184, dtype: object
2021-11-18
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-19', '2021-12-20', '2022-01-19', '2022-02-21', '2022-03-21', '2022-04-19', '2022-05-19', '2022-06-20', '2022-07-19', '2022-08-19']
obs22021-11-19    2021-11-19
2021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
                 ...
2022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
Name: date, Length: 184, dtype: object
2021-11-19
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-22', '2021-12-20', '2022-01-20', '2022-02-21', '2022-03-21', '2022-04-20', '2022-05-20', '2022-06-20', '2022-07-20', '2022-08-22']
obs22021-11-22    2021-11-22
2021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
                 ...
2022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
Name: date, Length: 184, dtype: object
2021-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-23', '2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23', '2022-07-25', '2022-08-23']
obs22021-11-23    2021-11-23
2021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
                 ...
2022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
Name: date, Length: 184, dtype: object
2021-11-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-24', '2021-12-24', '2022-01-24', '2022-02-24', '2022-03-24', '2022-04-25', '2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24']
obs22021-11-24    2021-11-24
2021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
                 ...
2022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
Name: date, Length: 184, dtype: object
2021-11-29
3
4
5
6

7
8
9
10
11
12
obs1['2021-11-25', '2021-12-27', '2022-01-25', '2022-02-25', '2022-03-25', '2022-04-25', '2022-05-25', '2022-06-27', '2022-07-25', '2022-08-25']
obs22021-11-25    2021-11-25
2021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
                 ...
2022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
Name: date, Length: 184, dtype: object
2021-11-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-26', '2021-12-27', '2022-01-26', '2022-02-28', '2022-03-28', '2022-04-26', '2022-05-26', '2022-06-27', '2022-07-26', '2022-08-26']
obs22021-11-26    2021-11-26
2021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
                 ...
2022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
Name: date, Length: 184, dtype: object
2021-11-26
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-29', '2021-12-27', '2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27', '2022-08-29']
obs22021-11-29    2021-11-29
2021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
                 ...
2022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
Name: date, Length: 184, dtype: object
2021-11-29
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-30', '2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30', '2022-08-01', '2022-08-30']
obs22021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
                 ...
2022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
Name: date, Length: 184, dtype: object
2021-11-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-11-30', '2021-12-31', '2022-02-07', '2022-02-28', '2022-03-31', '2022-05-05', '2022-05-31', '2022-06-30', '2022-08-01', '2022-08-31']
obs22021-11-30    2021-11-30
2021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
                 ...
2022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
Name: date, Length: 185, dtype: object
2021-11-30
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-01', '2022-01-04', '2022-02-07', '2022-03-01', '2022-04-01', '2022-05-05', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01']
obs22021-12-01    2021-12-01
2021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
                 ...
2022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
Name: date, Length: 185, dtype: object
2021-12-01
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-02', '2022-01-04', '2022-02-07', '2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02', '2022-07-04', '2022-08-02', '2022-09-02']
obs22021-12-02    2021-12-02
2021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
                 ...
2022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
Name: date, Length: 185, dtype: object
2021-12-02
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-03', '2022-01-04', '2022-02-07', '2022-03-03', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-03', '2022-09-05']
obs22021-12-03    2021-12-03
2021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
                 ...
2022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
Name: date, Length: 185, dtype: object
2021-12-03
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-06', '2022-01-06', '2022-02-07', '2022-03-07', '2022-04-06', '2022-05-06', '2022-06-06', '2022-07-06', '2022-08-08', '2022-09-06']
obs22021-12-06    2021-12-06
2021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
                 ...
2022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
Name: date, Length: 185, dtype: object
2021-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-07', '2022-01-07', '2022-02-07', '2022-03-07', '2022-04-07', '2022-05-09', '2022-06-07', '2022-07-07', '2022-08-08', '2022-09-07']
obs22021-12-07    2021-12-07
2021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
                 ...
2022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
2022-09-07    2022-09-07
Name: date, Length: 185, dtype: object
2022-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-08', '2022-01-10', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08']
obs22021-12-08    2021-12-08
2021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
                 ...
2022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
Name: date, Length: 185, dtype: object
2022-09-08
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-09', '2022-01-10', '2022-02-09', '2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09', '2022-07-11', '2022-08-09', '2022-09-09']
obs22021-12-09    2021-12-09
2021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
                 ...
2022-09-05    2022-09-05
2022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
Name: date, Length: 185, dtype: object
2022-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-10', '2022-01-10', '2022-02-10', '2022-03-10', '2022-04-11', '2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13']
obs22021-12-10    2021-12-10
2021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
                 ...
2022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
Name: date, Length: 185, dtype: object
2022-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-13', '2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13', '2022-08-15', '2022-09-13']
obs22021-12-13    2021-12-13
2021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
                 ...
2022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
Name: date, Length: 184, dtype: object
2022-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-14', '2022-01-14', '2022-02-14', '2022-03-14', '2022-04-14', '2022-05-16', '2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14']
obs22021-12-14    2021-12-14
2021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
                 ...
2022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
Name: date, Length: 184, dtype: object
2022-09-14
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-15', '2022-01-17', '2022-02-15', '2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15']
obs22021-12-15    2021-12-15
2021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
                 ...
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
Name: date, Length: 184, dtype: object
2022-09-15
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-16', '2022-01-17', '2022-02-16', '2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16', '2022-07-18', '2022-08-16', '2022-09-16']
obs22021-12-16    2021-12-16
2021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
2021-12-22    2021-12-22
                 ...
2022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
Name: date, Length: 184, dtype: object
2022-09-16
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-17', '2022-01-17', '2022-02-17', '2022-03-17', '2022-04-18', '2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19']
obs22021-12-17    2021-12-17
2021-12-20    2021-12-20
2021-12-21    2021-12-21
2021-12-22    2021-12-22
2021-12-23    2021-12-23
                 ...
2022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
2022-09-19    2022-09-19
Name: date, Length: 184, dtype: object
2021-12-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-22', '2022-01-24', '2022-02-22', '2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22']
obs22021-12-22    2021-12-22
2021-12-23    2021-12-23
2021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
                 ...
2022-09-16    2022-09-16
2022-09-19    2022-09-19
2022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
Name: date, Length: 184, dtype: object
2022-09-22
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-23', '2022-01-24', '2022-02-23', '2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23', '2022-07-25', '2022-08-23', '2022-09-23']
obs22021-12-23    2021-12-23
2021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
                 ...
2022-09-19    2022-09-19
2022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
Name: date, Length: 184, dtype: object
2022-09-23
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-24', '2022-01-24', '2022-02-24', '2022-03-24', '2022-04-25', '2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26']
obs22021-12-24    2021-12-24
2021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
                 ...
2022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
Name: date, Length: 184, dtype: object
2021-12-31
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-27', '2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27', '2022-08-29', '2022-09-27']
obs22021-12-27    2021-12-27
2021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
                 ...
2022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
Name: date, Length: 184, dtype: object
2021-12-27
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-28', '2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28', '2022-05-30', '2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28']
obs22021-12-28    2021-12-28
2021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
                 ...
2022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
Name: date, Length: 184, dtype: object
2021-12-28
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-29', '2022-02-07', '2022-02-28', '2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29', '2022-07-29', '2022-08-29', '2022-09-29']
obs22021-12-29    2021-12-29
2021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
2022-01-05    2022-01-05
                 ...
2022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
Name: date, Length: 184, dtype: object
2021-12-29
3
4
5
6
7
8
9
10
11
12
obs1['2021-12-30', '2022-02-07', '2022-02-28', '2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30', '2022-08-01', '2022-08-30', '2022-09-30']
obs22021-12-30    2021-12-30
2021-12-31    2021-12-31
2022-01-04    2022-01-04
2022-01-05    2022-01-05
2022-01-06    2022-01-06
                 ...
2022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
Name: date, Length: 184, dtype: object
2021-12-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-10', '2022-02-08', '2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10']
obs22022-01-10    2022-01-10
2022-01-11    2022-01-11
2022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
                 ...
2022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
Name: date, Length: 179, dtype: object
2022-01-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-11', '2022-02-11', '2022-03-11', '2022-04-11', '2022-05-11', '2022-06-13', '2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11']
obs22022-01-11    2022-01-11
2022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
                 ...
2022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
Name: date, Length: 179, dtype: object
2022-01-11
3
4
5
6
7
8
9
10
11
12

obs1['2022-01-12', '2022-02-14', '2022-03-14', '2022-04-12', '2022-05-12', '2022-06-13', '2022-07-12', '2022-08-12', '2022-09-13', '2022-10-12']
obs22022-01-12    2022-01-12
2022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
                 ...
2022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
Name: date, Length: 179, dtype: object
2022-01-12
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-13', '2022-02-14', '2022-03-14', '2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13', '2022-08-15', '2022-09-13', '2022-10-13']
obs22022-01-13    2022-01-13
2022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
                 ...
2022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
Name: date, Length: 179, dtype: object
2022-01-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-14', '2022-02-14', '2022-03-14', '2022-04-14', '2022-05-16', '2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14']
obs22022-01-14    2022-01-14
2022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
                 ...
2022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
Name: date, Length: 179, dtype: object
2022-01-14
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-17', '2022-02-15', '2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17']
obs22022-01-17    2022-01-17
2022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
                 ...
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
Name: date, Length: 179, dtype: object
2022-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-18', '2022-02-18', '2022-03-18', '2022-04-18', '2022-05-18', '2022-06-20', '2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18']
obs22022-01-18    2022-01-18
2022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
                 ...
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
Name: date, Length: 179, dtype: object
2022-01-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-19', '2022-02-21', '2022-03-21', '2022-04-19', '2022-05-19', '2022-06-20', '2022-07-19', '2022-08-19', '2022-09-19', '2022-10-19']
obs22022-01-19    2022-01-19
2022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
                 ...
2022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
Name: date, Length: 179, dtype: object
2022-10-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-20', '2022-02-21', '2022-03-21', '2022-04-20', '2022-05-20', '2022-06-20', '2022-07-20', '2022-08-22', '2022-09-20', '2022-10-20']
obs22022-01-20    2022-01-20
2022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
                 ...
2022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
Name: date, Length: 179, dtype: object
2022-10-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-21', '2022-02-21', '2022-03-21', '2022-04-21', '2022-05-23', '2022-06-21', '2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21']
obs22022-01-21    2022-01-21
2022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
                 ...
2022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
Name: date, Length: 179, dtype: object
2022-10-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-24', '2022-02-22', '2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24']
obs22022-01-24    2022-01-24
2022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
                 ...
2022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
Name: date, Length: 179, dtype: object
2022-10-24
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-25', '2022-02-25', '2022-03-25', '2022-04-25', '2022-05-25', '2022-06-27', '2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25']
obs22022-01-25    2022-01-25
2022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
                 ...
2022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
Name: date, Length: 179, dtype: object
2022-10-25
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-26', '2022-02-28', '2022-03-28', '2022-04-26', '2022-05-26', '2022-06-27', '2022-07-26', '2022-08-26', '2022-09-26', '2022-10-26']
obs22022-01-26    2022-01-26
2022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
                 ...
2022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
Name: date, Length: 179, dtype: object
2022-10-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-27', '2022-02-28', '2022-03-28', '2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27', '2022-08-29', '2022-09-27', '2022-10-27']
obs22022-01-27    2022-01-27
2022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
                 ...
2022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
Name: date, Length: 179, dtype: object
2022-10-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-01-28', '2022-02-28', '2022-03-28', '2022-04-28', '2022-05-30', '2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28']
obs22022-01-28    2022-01-28
2022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
                 ...
2022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
Name: date, Length: 179, dtype: object
2022-10-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-02-28', '2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29', '2022-07-29', '2022-08-29', '2022-09-29', '2022-10-31']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
Name: date, Length: 179, dtype: object
2022-10-31
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-03-01', '2022-04-01', '2022-05-05', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-10', '2022-11-01']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
Name: date, Length: 180, dtype: object
2022-11-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02', '2022-07-04', '2022-08-02', '2022-09-02', '2022-10-10', '2022-11-02']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
2022-11-02    2022-11-02
Name: date, Length: 181, dtype: object
2022-11-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-03-03', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-03', '2022-09-05', '2022-10-10', '2022-11-03']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
2022-11-02    2022-11-02
2022-11-03    2022-11-03
Name: date, Length: 182, dtype: object
2022-11-03
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-03-04', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-04', '2022-09-05', '2022-10-10', '2022-11-04']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-10-31    2022-10-31
2022-11-01    2022-11-01
2022-11-02    2022-11-02
2022-11-03    2022-11-03
2022-11-04    2022-11-04
Name: date, Length: 183, dtype: object
2022-11-04
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-07', '2022-03-07', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-05', '2022-08-05', '2022-09-05', '2022-10-10', '2022-11-07']
obs22022-02-07    2022-02-07
2022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
                 ...
2022-11-01    2022-11-01
2022-11-02    2022-11-02
2022-11-03    2022-11-03
2022-11-04    2022-11-04
2022-11-07    2022-11-07
Name: date, Length: 184, dtype: object
2022-11-07
3
4
5
6
7
8
9
10
11
12

obs1['2022-02-08', '2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10', '2022-11-08']
obs22022-02-08    2022-02-08
2022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
2022-02-14    2022-02-14
                 ...
2022-11-02    2022-11-02
2022-11-03    2022-11-03
2022-11-04    2022-11-04
2022-11-07    2022-11-07
2022-11-08    2022-11-08
Name: date, Length: 184, dtype: object
2022-11-08
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-09', '2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09', '2022-07-11', '2022-08-09', '2022-09-09', '2022-10-10', '2022-11-09']
obs22022-02-09    2022-02-09
2022-02-10    2022-02-10
2022-02-11    2022-02-11
2022-02-14    2022-02-14
2022-02-15    2022-02-15
                 ...
2022-11-03    2022-11-03
2022-11-04    2022-11-04
2022-11-07    2022-11-07
2022-11-08    2022-11-08
2022-11-09    2022-11-09
Name: date, Length: 184, dtype: object
2022-11-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-10', '2022-03-10', '2022-04-11', '2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10']
obs22022-02-10    2022-02-10
2022-02-11    2022-02-11
2022-02-14    2022-02-14
2022-02-15    2022-02-15
2022-02-16    2022-02-16
                 ...
2022-11-04    2022-11-04
2022-11-07    2022-11-07
2022-11-08    2022-11-08
2022-11-09    2022-11-09
2022-11-10    2022-11-10
Name: date, Length: 184, dtype: object
2022-11-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-11', '2022-03-11', '2022-04-11', '2022-05-11', '2022-06-13', '2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11']
obs22022-02-11    2022-02-11
2022-02-14    2022-02-14
2022-02-15    2022-02-15
2022-02-16    2022-02-16
2022-02-17    2022-02-17
                 ...
2022-11-07    2022-11-07
2022-11-08    2022-11-08
2022-11-09    2022-11-09
2022-11-10    2022-11-10
2022-11-11    2022-11-11
Name: date, Length: 184, dtype: object
2022-11-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-14', '2022-03-14', '2022-04-12', '2022-05-12', '2022-06-13', '2022-07-12', '2022-08-12', '2022-09-13', '2022-10-12', '2022-11-14']
obs22022-02-14    2022-02-14
2022-02-15    2022-02-15
2022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
                 ...
2022-11-08    2022-11-08
2022-11-09    2022-11-09
2022-11-10    2022-11-10
2022-11-11    2022-11-11
2022-11-14    2022-11-14
Name: date, Length: 184, dtype: object
2022-11-14
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-15', '2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17', '2022-11-15']
obs22022-02-15    2022-02-15
2022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
                 ...
2022-11-09    2022-11-09
2022-11-10    2022-11-10
2022-11-11    2022-11-11
2022-11-14    2022-11-14
2022-11-15    2022-11-15
Name: date, Length: 184, dtype: object
2022-11-15
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-16', '2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16', '2022-07-18', '2022-08-16', '2022-09-16', '2022-10-17', '2022-11-16']
obs22022-02-16    2022-02-16
2022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
                 ...
2022-11-10    2022-11-10
2022-11-11    2022-11-11
2022-11-14    2022-11-14
2022-11-15    2022-11-15
2022-11-16    2022-11-16
Name: date, Length: 184, dtype: object
2022-11-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-17', '2022-03-17', '2022-04-18', '2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17']
obs22022-02-17    2022-02-17
2022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
                 ...
2022-11-11    2022-11-11
2022-11-14    2022-11-14
2022-11-15    2022-11-15
2022-11-16    2022-11-16
2022-11-17    2022-11-17
Name: date, Length: 184, dtype: object
2022-11-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-18', '2022-03-18', '2022-04-18', '2022-05-18', '2022-06-20', '2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18']
obs22022-02-18    2022-02-18
2022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
                 ...
2022-11-14    2022-11-14
2022-11-15    2022-11-15
2022-11-16    2022-11-16
2022-11-17    2022-11-17
2022-11-18    2022-11-18
Name: date, Length: 184, dtype: object
2022-11-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-21', '2022-03-21', '2022-04-19', '2022-05-19', '2022-06-20', '2022-07-19', '2022-08-19', '2022-09-19', '2022-10-19', '2022-11-21']
obs22022-02-21    2022-02-21
2022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
                 ...
2022-11-15    2022-11-15
2022-11-16    2022-11-16
2022-11-17    2022-11-17
2022-11-18    2022-11-18
2022-11-21    2022-11-21
Name: date, Length: 184, dtype: object
2022-11-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-22', '2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24', '2022-11-22']
obs22022-02-22    2022-02-22
2022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
                 ...
2022-11-16    2022-11-16
2022-11-17    2022-11-17
2022-11-18    2022-11-18
2022-11-21    2022-11-21
2022-11-22    2022-11-22
Name: date, Length: 184, dtype: object
2022-11-22
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-23', '2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23', '2022-07-25', '2022-08-23', '2022-09-23', '2022-10-24', '2022-11-23']
obs22022-02-23    2022-02-23
2022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
                 ...
2022-11-17    2022-11-17
2022-11-18    2022-11-18
2022-11-21    2022-11-21
2022-11-22    2022-11-22
2022-11-23    2022-11-23
Name: date, Length: 184, dtype: object
2022-11-23
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-24', '2022-03-24', '2022-04-25', '2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24']
obs22022-02-24    2022-02-24
2022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
                 ...
2022-11-18    2022-11-18
2022-11-21    2022-11-21
2022-11-22    2022-11-22
2022-11-23    2022-11-23
2022-11-24    2022-11-24
Name: date, Length: 184, dtype: object
2022-11-24
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-25', '2022-03-25', '2022-04-25', '2022-05-25', '2022-06-27', '2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25']
obs22022-02-25    2022-02-25
2022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
                 ...
2022-11-21    2022-11-21
2022-11-22    2022-11-22
2022-11-23    2022-11-23
2022-11-24    2022-11-24
2022-11-25    2022-11-25
Name: date, Length: 184, dtype: object
2022-11-25
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-28', '2022-03-28', '2022-04-26', '2022-05-26', '2022-06-27', '2022-07-26', '2022-08-26', '2022-09-26', '2022-10-26', '2022-11-28']
obs22022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
                 ...
2022-11-22    2022-11-22
2022-11-23    2022-11-23
2022-11-24    2022-11-24
2022-11-25    2022-11-25
2022-11-28    2022-11-28
Name: date, Length: 184, dtype: object
2022-11-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-28', '2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29', '2022-07-29', '2022-08-29', '2022-09-29', '2022-10-31', '2022-11-29']
obs22022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
                 ...
2022-11-23    2022-11-23
2022-11-24    2022-11-24
2022-11-25    2022-11-25
2022-11-28    2022-11-28
2022-11-29    2022-11-29
Name: date, Length: 185, dtype: object
2022-11-29
3
4
5
6
7
8
9
10
11
12
obs1['2022-02-28', '2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30', '2022-08-01', '2022-08-30', '2022-09-30', '2022-10-31', '2022-11-30']
obs22022-02-28    2022-02-28
2022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
                 ...
2022-11-24    2022-11-24
2022-11-25    2022-11-25
2022-11-28    2022-11-28
2022-11-29    2022-11-29
2022-11-30    2022-11-30
Name: date, Length: 186, dtype: object
2022-11-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-01', '2022-04-01', '2022-05-05', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-10', '2022-11-01', '2022-12-01']
obs22022-03-01    2022-03-01
2022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
                 ...
2022-11-25    2022-11-25
2022-11-28    2022-11-28
2022-11-29    2022-11-29
2022-11-30    2022-11-30
2022-12-01    2022-12-01
Name: date, Length: 186, dtype: object
2022-12-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-02', '2022-04-06', '2022-05-05', '2022-06-02', '2022-07-04', '2022-08-02', '2022-09-02', '2022-10-10', '2022-11-02', '2022-12-02']
obs22022-03-02    2022-03-02
2022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
2022-03-08    2022-03-08
                 ...
2022-11-28    2022-11-28
2022-11-29    2022-11-29
2022-11-30    2022-11-30
2022-12-01    2022-12-01
2022-12-02    2022-12-02
Name: date, Length: 186, dtype: object
2022-12-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-03', '2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-03', '2022-09-05', '2022-10-10', '2022-11-03', '2022-12-05']
obs22022-03-03    2022-03-03
2022-03-04    2022-03-04
2022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
                 ...
2022-11-29    2022-11-29
2022-11-30    2022-11-30
2022-12-01    2022-12-01
2022-12-02    2022-12-02
2022-12-05    2022-12-05
Name: date, Length: 186, dtype: object
2022-12-05
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-07', '2022-04-06', '2022-05-06', '2022-06-06', '2022-07-06', '2022-08-08', '2022-09-06', '2022-10-10', '2022-11-07', '2022-12-06']
obs22022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
                 ...
2022-11-30    2022-11-30
2022-12-01    2022-12-01
2022-12-02    2022-12-02
2022-12-05    2022-12-05
2022-12-06    2022-12-06
Name: date, Length: 185, dtype: object
2022-12-06
3
4
5
6
7
8
9
10
11
12

obs1['2022-03-07', '2022-04-07', '2022-05-09', '2022-06-07', '2022-07-07', '2022-08-08', '2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07']
obs22022-03-07    2022-03-07
2022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
                 ...
2022-12-01    2022-12-01
2022-12-02    2022-12-02
2022-12-05    2022-12-05
2022-12-06    2022-12-06
2022-12-07    2022-12-07
Name: date, Length: 186, dtype: object
2022-12-07
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-08', '2022-04-08', '2022-05-09', '2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10', '2022-11-08', '2022-12-08']
obs22022-03-08    2022-03-08
2022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
                 ...
2022-12-02    2022-12-02
2022-12-05    2022-12-05
2022-12-06    2022-12-06
2022-12-07    2022-12-07
2022-12-08    2022-12-08
Name: date, Length: 186, dtype: object
2022-12-08
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-09', '2022-04-11', '2022-05-09', '2022-06-09', '2022-07-11', '2022-08-09', '2022-09-09', '2022-10-10', '2022-11-09', '2022-12-09']
obs22022-03-09    2022-03-09
2022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
2022-03-15    2022-03-15
                 ...
2022-12-05    2022-12-05
2022-12-06    2022-12-06
2022-12-07    2022-12-07
2022-12-08    2022-12-08
2022-12-09    2022-12-09
Name: date, Length: 186, dtype: object
2022-12-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-10', '2022-04-11', '2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12']
obs22022-03-10    2022-03-10
2022-03-11    2022-03-11
2022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
                 ...
2022-12-06    2022-12-06
2022-12-07    2022-12-07
2022-12-08    2022-12-08
2022-12-09    2022-12-09
2022-12-12    2022-12-12
Name: date, Length: 186, dtype: object
2022-12-12
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-14', '2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13', '2022-08-15', '2022-09-13', '2022-10-13', '2022-11-14', '2022-12-13']
obs22022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
                 ...
2022-12-07    2022-12-07
2022-12-08    2022-12-08
2022-12-09    2022-12-09
2022-12-12    2022-12-12
2022-12-13    2022-12-13
Name: date, Length: 185, dtype: object
2022-12-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-14', '2022-04-14', '2022-05-16', '2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14']
obs22022-03-14    2022-03-14
2022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
                 ...
2022-12-08    2022-12-08
2022-12-09    2022-12-09
2022-12-12    2022-12-12
2022-12-13    2022-12-13
2022-12-14    2022-12-14
Name: date, Length: 186, dtype: object
2022-12-14
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-15', '2022-04-15', '2022-05-16', '2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17', '2022-11-15', '2022-12-15']
obs22022-03-15    2022-03-15
2022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
                 ...
2022-12-09    2022-12-09
2022-12-12    2022-12-12
2022-12-13    2022-12-13
2022-12-14    2022-12-14
2022-12-15    2022-12-15
Name: date, Length: 186, dtype: object
2022-12-15
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-16', '2022-04-18', '2022-05-16', '2022-06-16', '2022-07-18', '2022-08-16', '2022-09-16', '2022-10-17', '2022-11-16', '2022-12-16']
obs22022-03-16    2022-03-16
2022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
2022-03-22    2022-03-22
                 ...
2022-12-12    2022-12-12
2022-12-13    2022-12-13
2022-12-14    2022-12-14
2022-12-15    2022-12-15
2022-12-16    2022-12-16
Name: date, Length: 186, dtype: object
2022-12-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-17', '2022-04-18', '2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19']
obs22022-03-17    2022-03-17
2022-03-18    2022-03-18
2022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
                 ...
2022-12-13    2022-12-13
2022-12-14    2022-12-14
2022-12-15    2022-12-15
2022-12-16    2022-12-16
2022-12-19    2022-12-19
Name: date, Length: 186, dtype: object
2022-12-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-21', '2022-04-20', '2022-05-20', '2022-06-20', '2022-07-20', '2022-08-22', '2022-09-20', '2022-10-20', '2022-11-21', '2022-12-20']
obs22022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
                 ...
2022-12-14    2022-12-14
2022-12-15    2022-12-15
2022-12-16    2022-12-16
2022-12-19    2022-12-19
2022-12-20    2022-12-20
Name: date, Length: 185, dtype: object
2022-12-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-21', '2022-04-21', '2022-05-23', '2022-06-21', '2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21']
obs22022-03-21    2022-03-21
2022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
                 ...
2022-12-15    2022-12-15
2022-12-16    2022-12-16
2022-12-19    2022-12-19
2022-12-20    2022-12-20
2022-12-21    2022-12-21
Name: date, Length: 186, dtype: object
2022-12-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-22', '2022-04-22', '2022-05-23', '2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24', '2022-11-22', '2022-12-22']
obs22022-03-22    2022-03-22
2022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
                 ...
2022-12-16    2022-12-16
2022-12-19    2022-12-19
2022-12-20    2022-12-20
2022-12-21    2022-12-21
2022-12-22    2022-12-22
Name: date, Length: 186, dtype: object
2022-12-22
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-23', '2022-04-25', '2022-05-23', '2022-06-23', '2022-07-25', '2022-08-23', '2022-09-23', '2022-10-24', '2022-11-23', '2022-12-23']
obs22022-03-23    2022-03-23
2022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
2022-03-29    2022-03-29
                 ...
2022-12-19    2022-12-19
2022-12-20    2022-12-20
2022-12-21    2022-12-21
2022-12-22    2022-12-22
2022-12-23    2022-12-23
Name: date, Length: 186, dtype: object
2022-12-23
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-24', '2022-04-25', '2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26']
obs22022-03-24    2022-03-24
2022-03-25    2022-03-25
2022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
                 ...
2022-12-20    2022-12-20
2022-12-21    2022-12-21
2022-12-22    2022-12-22
2022-12-23    2022-12-23
2022-12-26    2022-12-26
Name: date, Length: 186, dtype: object
2022-12-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-28', '2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27', '2022-08-29', '2022-09-27', '2022-10-27', '2022-11-28', '2022-12-27']
obs22022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
                 ...
2022-12-21    2022-12-21
2022-12-22    2022-12-22
2022-12-23    2022-12-23
2022-12-26    2022-12-26
2022-12-27    2022-12-27
Name: date, Length: 185, dtype: object
2022-12-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-28', '2022-04-28', '2022-05-30', '2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28']
obs22022-03-28    2022-03-28
2022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
                 ...
2022-12-22    2022-12-22
2022-12-23    2022-12-23
2022-12-26    2022-12-26
2022-12-27    2022-12-27
2022-12-28    2022-12-28
Name: date, Length: 186, dtype: object
2022-12-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-29', '2022-04-29', '2022-05-30', '2022-06-29', '2022-07-29', '2022-08-29', '2022-09-29', '2022-10-31', '2022-11-29', '2022-12-29']
obs22022-03-29    2022-03-29
2022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
                 ...
2022-12-23    2022-12-23
2022-12-26    2022-12-26
2022-12-27    2022-12-27
2022-12-28    2022-12-28
2022-12-29    2022-12-29
Name: date, Length: 186, dtype: object
2022-12-29
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-30', '2022-05-05', '2022-05-30', '2022-06-30', '2022-08-01', '2022-08-30', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30']
obs22022-03-30    2022-03-30
2022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
2022-04-07    2022-04-07
                 ...
2022-12-26    2022-12-26
2022-12-27    2022-12-27
2022-12-28    2022-12-28
2022-12-29    2022-12-29
2022-12-30    2022-12-30
Name: date, Length: 186, dtype: object
2022-12-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-03-31', '2022-05-05', '2022-05-31', '2022-06-30', '2022-08-01', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2023-01-03']
obs22022-03-31    2022-03-31
2022-04-01    2022-04-01
2022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
                 ...
2022-12-27    2022-12-27
2022-12-28    2022-12-28
2022-12-29    2022-12-29
2022-12-30    2022-12-30
2023-01-03    2023-01-03
Name: date, Length: 186, dtype: object
2023-01-03
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-06', '2022-05-05', '2022-06-06', '2022-07-04', '2022-08-04', '2022-09-05', '2022-10-10', '2022-11-04', '2022-12-05', '2023-01-04']
obs22022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
                 ...
2022-12-28    2022-12-28
2022-12-29    2022-12-29
2022-12-30    2022-12-30
2023-01-03    2023-01-03
2023-01-04    2023-01-04
Name: date, Length: 185, dtype: object
2023-01-04
3
4
5
6
7
8
9
10
11
12

obs1['2022-04-06', '2022-05-05', '2022-06-06', '2022-07-05', '2022-08-05', '2022-09-05', '2022-10-10', '2022-11-07', '2022-12-05', '2023-01-05']
obs22022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
                 ...
2022-12-29    2022-12-29
2022-12-30    2022-12-30
2023-01-03    2023-01-03
2023-01-04    2023-01-04
2023-01-05    2023-01-05
Name: date, Length: 186, dtype: object
2023-01-05
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-06', '2022-05-06', '2022-06-06', '2022-07-06', '2022-08-08', '2022-09-06', '2022-10-10', '2022-11-07', '2022-12-06', '2023-01-06']
obs22022-04-06    2022-04-06
2022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
                 ...
2022-12-30    2022-12-30
2023-01-03    2023-01-03
2023-01-04    2023-01-04
2023-01-05    2023-01-05
2023-01-06    2023-01-06
Name: date, Length: 187, dtype: object
2023-01-06
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-07', '2022-05-09', '2022-06-07', '2022-07-07', '2022-08-08', '2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09']
obs22022-04-07    2022-04-07
2022-04-08    2022-04-08
2022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
                 ...
2023-01-03    2023-01-03
2023-01-04    2023-01-04
2023-01-05    2023-01-05
2023-01-06    2023-01-06
2023-01-09    2023-01-09
Name: date, Length: 187, dtype: object
2023-01-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-11', '2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12', '2023-01-10']
obs22022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
                 ...
2023-01-04    2023-01-04
2023-01-05    2023-01-05
2023-01-06    2023-01-06
2023-01-09    2023-01-09
2023-01-10    2023-01-10
Name: date, Length: 186, dtype: object
2023-01-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-11', '2022-05-11', '2022-06-13', '2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11']
obs22022-04-11    2022-04-11
2022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
                 ...
2023-01-05    2023-01-05
2023-01-06    2023-01-06
2023-01-09    2023-01-09
2023-01-10    2023-01-10
2023-01-11    2023-01-11
Name: date, Length: 187, dtype: object
2023-01-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-12', '2022-05-12', '2022-06-13', '2022-07-12', '2022-08-12', '2022-09-13', '2022-10-12', '2022-11-14', '2022-12-12', '2023-01-12']
obs22022-04-12    2022-04-12
2022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
                 ...
2023-01-06    2023-01-06
2023-01-09    2023-01-09
2023-01-10    2023-01-10
2023-01-11    2023-01-11
2023-01-12    2023-01-12
Name: date, Length: 187, dtype: object
2023-01-12
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-13', '2022-05-13', '2022-06-13', '2022-07-13', '2022-08-15', '2022-09-13', '2022-10-13', '2022-11-14', '2022-12-13', '2023-01-13']
obs22022-04-13    2022-04-13
2022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
2022-04-19    2022-04-19
                 ...
2023-01-09    2023-01-09
2023-01-10    2023-01-10
2023-01-11    2023-01-11
2023-01-12    2023-01-12
2023-01-13    2023-01-13
Name: date, Length: 187, dtype: object
2023-01-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-14', '2022-05-16', '2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16']
obs22022-04-14    2022-04-14
2022-04-15    2022-04-15
2022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
                 ...
2023-01-10    2023-01-10
2023-01-11    2023-01-11
2023-01-12    2023-01-12
2023-01-13    2023-01-13
2023-01-16    2023-01-16
Name: date, Length: 187, dtype: object
2023-01-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-18', '2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19', '2023-01-17']
obs22022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
                 ...
2023-01-11    2023-01-11
2023-01-12    2023-01-12
2023-01-13    2023-01-13
2023-01-16    2023-01-16
2023-01-17    2023-01-17
Name: date, Length: 186, dtype: object
2023-01-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-18', '2022-05-18', '2022-06-20', '2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18']
obs22022-04-18    2022-04-18
2022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
                 ...
2023-01-12    2023-01-12
2023-01-13    2023-01-13
2023-01-16    2023-01-16
2023-01-17    2023-01-17
2023-01-18    2023-01-18
Name: date, Length: 187, dtype: object
2023-01-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-19', '2022-05-19', '2022-06-20', '2022-07-19', '2022-08-19', '2022-09-19', '2022-10-19', '2022-11-21', '2022-12-19', '2023-01-19']
obs22022-04-19    2022-04-19
2022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
                 ...
2023-01-13    2023-01-13
2023-01-16    2023-01-16
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
Name: date, Length: 187, dtype: object
2023-01-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-20', '2022-05-20', '2022-06-20', '2022-07-20', '2022-08-22', '2022-09-20', '2022-10-20', '2022-11-21', '2022-12-20', '2023-01-20']
obs22022-04-20    2022-04-20
2022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
2022-04-26    2022-04-26
                 ...
2023-01-16    2023-01-16
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
Name: date, Length: 187, dtype: object
2023-01-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-21', '2022-05-23', '2022-06-21', '2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30']
obs22022-04-21    2022-04-21
2022-04-22    2022-04-22
2022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 187, dtype: object
2023-01-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-25', '2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26', '2023-01-30']
obs22022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 185, dtype: object
2023-01-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-25', '2022-05-25', '2022-06-27', '2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30']
obs22022-04-25    2022-04-25
2022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 185, dtype: object
2023-01-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-26', '2022-05-26', '2022-06-27', '2022-07-26', '2022-08-26', '2022-09-26', '2022-10-26', '2022-11-28', '2022-12-26', '2023-01-30']
obs22022-04-26    2022-04-26
2022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 184, dtype: object
2023-01-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-27', '2022-05-27', '2022-06-27', '2022-07-27', '2022-08-29', '2022-09-27', '2022-10-27', '2022-11-28', '2022-12-27', '2023-01-30']
obs22022-04-27    2022-04-27
2022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
2022-05-06    2022-05-06
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 183, dtype: object
2022-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-04-28', '2022-05-30', '2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30']
obs22022-04-28    2022-04-28
2022-04-29    2022-04-29
2022-05-05    2022-05-05
2022-05-06    2022-05-06
2022-05-09    2022-05-09
                 ...
2023-01-17    2023-01-17
2023-01-18    2023-01-18
2023-01-19    2023-01-19
2023-01-20    2023-01-20
2023-01-30    2023-01-30
Name: date, Length: 182, dtype: object
2022-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-09', '2022-06-07', '2022-07-07', '2022-08-08', '2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09', '2023-02-07']
obs22022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
                 ...
2023-02-01    2023-02-01
2023-02-02    2023-02-02
2023-02-03    2023-02-03
2023-02-06    2023-02-06
2023-02-07    2023-02-07
Name: date, Length: 184, dtype: object
2022-08-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-09', '2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10', '2022-11-08', '2022-12-08', '2023-01-09', '2023-02-08']
obs22022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
                 ...
2023-02-02    2023-02-02
2023-02-03    2023-02-03
2023-02-06    2023-02-06
2023-02-07    2023-02-07
2023-02-08    2023-02-08
Name: date, Length: 185, dtype: object
2022-08-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-09', '2022-06-09', '2022-07-11', '2022-08-09', '2022-09-09', '2022-10-10', '2022-11-09', '2022-12-09', '2023-01-09', '2023-02-09']
obs22022-05-09    2022-05-09
2022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
                 ...
2023-02-03    2023-02-03
2023-02-06    2023-02-06
2023-02-07    2023-02-07
2023-02-08    2023-02-08
2023-02-09    2023-02-09
Name: date, Length: 186, dtype: object
2023-02-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-10', '2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12', '2023-01-10', '2023-02-10']
obs22022-05-10    2022-05-10
2022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
2022-05-16    2022-05-16
                 ...
2023-02-06    2023-02-06
2023-02-07    2023-02-07
2023-02-08    2023-02-08
2023-02-09    2023-02-09
2023-02-10    2023-02-10
Name: date, Length: 186, dtype: object
2023-02-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-11', '2022-06-13', '2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11', '2023-02-13']
obs22022-05-11    2022-05-11
2022-05-12    2022-05-12
2022-05-13    2022-05-13
2022-05-16    2022-05-16
2022-05-17    2022-05-17
                 ...
2023-02-07    2023-02-07
2023-02-08    2023-02-08
2023-02-09    2023-02-09
2023-02-10    2023-02-10
2023-02-13    2023-02-13
Name: date, Length: 186, dtype: object
2022-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-16', '2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16', '2023-02-14']
obs22022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
                 ...
2023-02-08    2023-02-08
2023-02-09    2023-02-09
2023-02-10    2023-02-10
2023-02-13    2023-02-13
2023-02-14    2023-02-14
Name: date, Length: 184, dtype: object
2022-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-16', '2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17', '2022-11-15', '2022-12-15', '2023-01-16', '2023-02-15']
obs22022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
                 ...
2023-02-09    2023-02-09
2023-02-10    2023-02-10
2023-02-13    2023-02-13
2023-02-14    2023-02-14
2023-02-15    2023-02-15
Name: date, Length: 185, dtype: object
2023-02-15
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-16', '2022-06-16', '2022-07-18', '2022-08-16', '2022-09-16', '2022-10-17', '2022-11-16', '2022-12-16', '2023-01-16', '2023-02-16']
obs22022-05-16    2022-05-16
2022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
                 ...
2023-02-10    2023-02-10
2023-02-13    2023-02-13
2023-02-14    2023-02-14
2023-02-15    2023-02-15
2023-02-16    2023-02-16
Name: date, Length: 186, dtype: object
2023-02-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-17', '2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19', '2023-01-17', '2023-02-17']
obs22022-05-17    2022-05-17
2022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
2022-05-23    2022-05-23
                 ...
2023-02-13    2023-02-13
2023-02-14    2023-02-14
2023-02-15    2023-02-15
2023-02-16    2023-02-16
2023-02-17    2023-02-17
Name: date, Length: 186, dtype: object
2023-02-17
3
4
5
6
7
8
9
10
11
12

obs1['2022-05-18', '2022-06-20', '2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18', '2023-02-20']
obs22022-05-18    2022-05-18
2022-05-19    2022-05-19
2022-05-20    2022-05-20
2022-05-23    2022-05-23
2022-05-24    2022-05-24
                 ...
2023-02-14    2023-02-14
2023-02-15    2023-02-15
2023-02-16    2023-02-16
2023-02-17    2023-02-17
2023-02-20    2023-02-20
Name: date, Length: 186, dtype: object
2023-02-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-23', '2022-06-21', '2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30', '2023-02-21']
obs22022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
                 ...
2023-02-15    2023-02-15
2023-02-16    2023-02-16
2023-02-17    2023-02-17
2023-02-20    2023-02-20
2023-02-21    2023-02-21
Name: date, Length: 184, dtype: object
2023-02-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-23', '2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24', '2022-11-22', '2022-12-22', '2023-01-30', '2023-02-22']
obs22022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
                 ...
2023-02-16    2023-02-16
2023-02-17    2023-02-17
2023-02-20    2023-02-20
2023-02-21    2023-02-21
2023-02-22    2023-02-22
Name: date, Length: 185, dtype: object
2023-02-22
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-23', '2022-06-23', '2022-07-25', '2022-08-23', '2022-09-23', '2022-10-24', '2022-11-23', '2022-12-23', '2023-01-30', '2023-02-23']
obs22022-05-23    2022-05-23
2022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
                 ...
2023-02-17    2023-02-17
2023-02-20    2023-02-20
2023-02-21    2023-02-21
2023-02-22    2023-02-22
2023-02-23    2023-02-23
Name: date, Length: 186, dtype: object
2023-02-23
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-24', '2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26', '2023-01-30', '2023-02-24']
obs22022-05-24    2022-05-24
2022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
2022-05-30    2022-05-30
                 ...
2023-02-20    2023-02-20
2023-02-21    2023-02-21
2023-02-22    2023-02-22
2023-02-23    2023-02-23
2023-02-24    2023-02-24
Name: date, Length: 186, dtype: object
2023-02-24
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-25', '2022-06-27', '2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30', '2023-02-27']
obs22022-05-25    2022-05-25
2022-05-26    2022-05-26
2022-05-27    2022-05-27
2022-05-30    2022-05-30
2022-05-31    2022-05-31
                 ...
2023-02-21    2023-02-21
2023-02-22    2023-02-22
2023-02-23    2023-02-23
2023-02-24    2023-02-24
2023-02-27    2023-02-27
Name: date, Length: 186, dtype: object
2023-02-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-05-30', '2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30', '2023-02-28']
obs22022-05-30    2022-05-30
2022-05-31    2022-05-31
2022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
                 ...
2023-02-22    2023-02-22
2023-02-23    2023-02-23
2023-02-24    2023-02-24
2023-02-27    2023-02-27
2023-02-28    2023-02-28
Name: date, Length: 184, dtype: object
2023-02-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-10', '2022-11-01', '2022-12-01', '2023-01-03', '2023-02-01', '2023-03-01']
obs22022-06-01    2022-06-01
2022-06-02    2022-06-02
2022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
                 ...
2023-02-23    2023-02-23
2023-02-24    2023-02-24
2023-02-27    2023-02-27
2023-02-28    2023-02-28
2023-03-01    2023-03-01
Name: date, Length: 183, dtype: object
2023-03-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-02', '2022-07-04', '2022-08-02', '2022-09-02', '2022-10-10', '2022-11-02', '2022-12-02', '2023-01-03', '2023-02-02', '2023-03-02']
obs22022-06-02    2022-06-02
2022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
                 ...
2023-02-24    2023-02-24
2023-02-27    2023-02-27
2023-02-28    2023-02-28
2023-03-01    2023-03-01
2023-03-02    2023-03-02
Name: date, Length: 183, dtype: object
2023-03-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-06', '2022-07-04', '2022-08-03', '2022-09-05', '2022-10-10', '2022-11-03', '2022-12-05', '2023-01-03', '2023-02-03', '2023-03-03']
obs22022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
                 ...
2023-02-27    2023-02-27
2023-02-28    2023-02-28
2023-03-01    2023-03-01
2023-03-02    2023-03-02
2023-03-03    2023-03-03
Name: date, Length: 183, dtype: object
2023-03-03
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-06', '2022-07-04', '2022-08-04', '2022-09-05', '2022-10-10', '2022-11-04', '2022-12-05', '2023-01-04', '2023-02-06', '2023-03-06']
obs22022-06-06    2022-06-06
2022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
                 ...
2023-02-28    2023-02-28
2023-03-01    2023-03-01
2023-03-02    2023-03-02
2023-03-03    2023-03-03
2023-03-06    2023-03-06
Name: date, Length: 184, dtype: object
2023-03-06
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-07', '2022-07-07', '2022-08-08', '2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09', '2023-02-07', '2023-03-07']
obs22022-06-07    2022-06-07
2022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
2022-06-13    2022-06-13
                 ...
2023-03-01    2023-03-01
2023-03-02    2023-03-02
2023-03-03    2023-03-03
2023-03-06    2023-03-06
2023-03-07    2023-03-07
Name: date, Length: 184, dtype: object
2022-08-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-08', '2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10', '2022-11-08', '2022-12-08', '2023-01-09', '2023-02-08', '2023-03-08']
obs22022-06-08    2022-06-08
2022-06-09    2022-06-09
2022-06-10    2022-06-10
2022-06-13    2022-06-13
2022-06-14    2022-06-14
                 ...
2023-03-02    2023-03-02
2023-03-03    2023-03-03
2023-03-06    2023-03-06
2023-03-07    2023-03-07
2023-03-08    2023-03-08
Name: date, Length: 184, dtype: object
2022-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-09', '2022-07-11', '2022-08-09', '2022-09-09', '2022-10-10', '2022-11-09', '2022-12-09', '2023-01-09', '2023-02-09', '2023-03-09']
obs22022-06-09    2022-06-09
2022-06-10    2022-06-10
2022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
                 ...
2023-03-03    2023-03-03
2023-03-06    2023-03-06
2023-03-07    2023-03-07
2023-03-08    2023-03-08
2023-03-09    2023-03-09
Name: date, Length: 184, dtype: object
2022-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-10', '2022-07-11', '2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12', '2023-01-10', '2023-02-10', '2023-03-10']
obs22022-06-10    2022-06-10
2022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
                 ...
2023-03-06    2023-03-06
2023-03-07    2023-03-07
2023-03-08    2023-03-08
2023-03-09    2023-03-09
2023-03-10    2023-03-10
Name: date, Length: 184, dtype: object
2022-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-13', '2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11', '2023-02-13', '2023-03-13']
obs22022-06-13    2022-06-13
2022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
                 ...
2023-03-07    2023-03-07
2023-03-08    2023-03-08
2023-03-09    2023-03-09
2023-03-10    2023-03-10
2023-03-13    2023-03-13
Name: date, Length: 184, dtype: object
2022-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-14', '2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16', '2023-02-14', '2023-03-14']
obs22022-06-14    2022-06-14
2022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
                 ...
2023-03-08    2023-03-08
2023-03-09    2023-03-09
2023-03-10    2023-03-10
2023-03-13    2023-03-13
2023-03-14    2023-03-14
Name: date, Length: 184, dtype: object
2022-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-15', '2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17', '2022-11-15', '2022-12-15', '2023-01-16', '2023-02-15', '2023-03-15']
obs22022-06-15    2022-06-15
2022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
                 ...
2023-03-09    2023-03-09
2023-03-10    2023-03-10
2023-03-13    2023-03-13
2023-03-14    2023-03-14
2023-03-15    2023-03-15
Name: date, Length: 184, dtype: object
2022-06-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-16', '2022-07-18', '2022-08-16', '2022-09-16', '2022-10-17', '2022-11-16', '2022-12-16', '2023-01-16', '2023-02-16', '2023-03-16']
obs22022-06-16    2022-06-16
2022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
                 ...
2023-03-10    2023-03-10
2023-03-13    2023-03-13
2023-03-14    2023-03-14
2023-03-15    2023-03-15
2023-03-16    2023-03-16
Name: date, Length: 184, dtype: object
2022-06-24
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-17', '2022-07-18', '2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19', '2023-01-17', '2023-02-17', '2023-03-17']
obs22022-06-17    2022-06-17
2022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
                 ...
2023-03-13    2023-03-13
2023-03-14    2023-03-14
2023-03-15    2023-03-15
2023-03-16    2023-03-16
2023-03-17    2023-03-17
Name: date, Length: 184, dtype: object
2022-06-28
3
4
5
6
7
8
9
10
11
12

obs1['2022-06-20', '2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18', '2023-02-20', '2023-03-20']
obs22022-06-20    2022-06-20
2022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
                 ...
2023-03-14    2023-03-14
2023-03-15    2023-03-15
2023-03-16    2023-03-16
2023-03-17    2023-03-17
2023-03-20    2023-03-20
Name: date, Length: 184, dtype: object
2022-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-21', '2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30', '2023-02-21', '2023-03-21']
obs22022-06-21    2022-06-21
2022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
                 ...
2023-03-15    2023-03-15
2023-03-16    2023-03-16
2023-03-17    2023-03-17
2023-03-20    2023-03-20
2023-03-21    2023-03-21
Name: date, Length: 184, dtype: object
2022-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-22', '2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24', '2022-11-22', '2022-12-22', '2023-01-30', '2023-02-22', '2023-03-22']
obs22022-06-22    2022-06-22
2022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
                 ...
2023-03-16    2023-03-16
2023-03-17    2023-03-17
2023-03-20    2023-03-20
2023-03-21    2023-03-21
2023-03-22    2023-03-22
Name: date, Length: 184, dtype: object
2022-08-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-23', '2022-07-25', '2022-08-23', '2022-09-23', '2022-10-24', '2022-11-23', '2022-12-23', '2023-01-30', '2023-02-23', '2023-03-23']
obs22022-06-23    2022-06-23
2022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
                 ...
2023-03-17    2023-03-17
2023-03-20    2023-03-20
2023-03-21    2023-03-21
2023-03-22    2023-03-22
2023-03-23    2023-03-23
Name: date, Length: 184, dtype: object
2022-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-24', '2022-07-25', '2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26', '2023-01-30', '2023-02-24', '2023-03-24']
obs22022-06-24    2022-06-24
2022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
                 ...
2023-03-20    2023-03-20
2023-03-21    2023-03-21
2023-03-22    2023-03-22
2023-03-23    2023-03-23
2023-03-24    2023-03-24
Name: date, Length: 184, dtype: object
2022-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-27', '2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27']
obs22022-06-27    2022-06-27
2022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
                 ...
2023-03-21    2023-03-21
2023-03-22    2023-03-22
2023-03-23    2023-03-23
2023-03-24    2023-03-24
2023-03-27    2023-03-27
Name: date, Length: 184, dtype: object
2022-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-28', '2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30', '2023-02-28', '2023-03-28']
obs22022-06-28    2022-06-28
2022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
                 ...
2023-03-22    2023-03-22
2023-03-23    2023-03-23
2023-03-24    2023-03-24
2023-03-27    2023-03-27
2023-03-28    2023-03-28
Name: date, Length: 184, dtype: object
2022-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-29', '2022-07-29', '2022-08-29', '2022-09-29', '2022-10-31', '2022-11-29', '2022-12-29', '2023-01-30', '2023-02-28', '2023-03-29']
obs22022-06-29    2022-06-29
2022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
                 ...
2023-03-23    2023-03-23
2023-03-24    2023-03-24
2023-03-27    2023-03-27
2023-03-28    2023-03-28
2023-03-29    2023-03-29
Name: date, Length: 184, dtype: object
2022-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-30', '2022-08-01', '2022-08-30', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30', '2023-01-30', '2023-02-28', '2023-03-30']
obs22022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
                 ...
2023-03-24    2023-03-24
2023-03-27    2023-03-27
2023-03-28    2023-03-28
2023-03-29    2023-03-29
2023-03-30    2023-03-30
Name: date, Length: 184, dtype: object
2022-07-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-06-30', '2022-08-01', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2023-01-03', '2023-01-31', '2023-02-28', '2023-03-31']
obs22022-06-30    2022-06-30
2022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
                 ...
2023-03-27    2023-03-27
2023-03-28    2023-03-28
2023-03-29    2023-03-29
2023-03-30    2023-03-30
2023-03-31    2023-03-31
Name: date, Length: 185, dtype: object
2022-07-04
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-01', '2022-08-01', '2022-09-01', '2022-10-10', '2022-11-01', '2022-12-01', '2023-01-03', '2023-02-01', '2023-03-01', '2023-04-03']
obs22022-07-01    2022-07-01
2022-07-04    2022-07-04
2022-07-05    2022-07-05
2022-07-06    2022-07-06
2022-07-07    2022-07-07
                 ...
2023-03-28    2023-03-28
2023-03-29    2023-03-29
2023-03-30    2023-03-30
2023-03-31    2023-03-31
2023-04-03    2023-04-03
Name: date, Length: 185, dtype: object
2022-07-04
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-06', '2022-08-08', '2022-09-06', '2022-10-10', '2022-11-07', '2022-12-06', '2023-01-06', '2023-02-06', '2023-03-06', '2023-04-06']
obs22022-07-06    2022-07-06
2022-07-07    2022-07-07
2022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
                 ...
2023-03-30    2023-03-30
2023-03-31    2023-03-31
2023-04-03    2023-04-03
2023-04-04    2023-04-04
2023-04-06    2023-04-06
Name: date, Length: 184, dtype: object
2022-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-07', '2022-08-08', '2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09', '2023-02-07', '2023-03-07', '2023-04-07']
obs22022-07-07    2022-07-07
2022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
                 ...
2023-03-31    2023-03-31
2023-04-03    2023-04-03
2023-04-04    2023-04-04
2023-04-06    2023-04-06
2023-04-07    2023-04-07
Name: date, Length: 184, dtype: object
2022-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-08', '2022-08-08', '2022-09-08', '2022-10-10', '2022-11-08', '2022-12-08', '2023-01-09', '2023-02-08', '2023-03-08', '2023-04-10']
obs22022-07-08    2022-07-08
2022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
                 ...
2023-04-03    2023-04-03
2023-04-04    2023-04-04
2023-04-06    2023-04-06
2023-04-07    2023-04-07
2023-04-10    2023-04-10
Name: date, Length: 184, dtype: object
2022-07-08
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-11', '2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11', '2023-02-13', '2023-03-13', '2023-04-11']
obs22022-07-11    2022-07-11
2022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
                 ...
2023-04-04    2023-04-04
2023-04-06    2023-04-06
2023-04-07    2023-04-07
2023-04-10    2023-04-10
2023-04-11    2023-04-11
Name: date, Length: 184, dtype: object
2022-07-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-12', '2022-08-12', '2022-09-13', '2022-10-12', '2022-11-14', '2022-12-12', '2023-01-12', '2023-02-13', '2023-03-13', '2023-04-12']
obs22022-07-12    2022-07-12
2022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
                 ...
2023-04-06    2023-04-06
2023-04-07    2023-04-07
2023-04-10    2023-04-10
2023-04-11    2023-04-11
2023-04-12    2023-04-12
Name: date, Length: 184, dtype: object
2022-07-12
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-13', '2022-08-15', '2022-09-13', '2022-10-13', '2022-11-14', '2022-12-13', '2023-01-13', '2023-02-13', '2023-03-13', '2023-04-13']
obs22022-07-13    2022-07-13
2022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
                 ...
2023-04-07    2023-04-07
2023-04-10    2023-04-10
2023-04-11    2023-04-11
2023-04-12    2023-04-12
2023-04-13    2023-04-13
Name: date, Length: 184, dtype: object
2022-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-14', '2022-08-15', '2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16', '2023-02-14', '2023-03-14', '2023-04-14']
obs22022-07-14    2022-07-14
2022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
                 ...
2023-04-10    2023-04-10
2023-04-11    2023-04-11
2023-04-12    2023-04-12
2023-04-13    2023-04-13
2023-04-14    2023-04-14
Name: date, Length: 184, dtype: object
2022-07-14
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-15', '2022-08-15', '2022-09-15', '2022-10-17', '2022-11-15', '2022-12-15', '2023-01-16', '2023-02-15', '2023-03-15', '2023-04-17']
obs22022-07-15    2022-07-15
2022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
                 ...
2023-04-11    2023-04-11
2023-04-12    2023-04-12
2023-04-13    2023-04-13
2023-04-14    2023-04-14
2023-04-17    2023-04-17
Name: date, Length: 184, dtype: object
2022-07-15
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-18', '2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18', '2023-02-20', '2023-03-20', '2023-04-18']
obs22022-07-18    2022-07-18
2022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
                 ...
2023-04-12    2023-04-12
2023-04-13    2023-04-13
2023-04-14    2023-04-14
2023-04-17    2023-04-17
2023-04-18    2023-04-18

Name: date, Length: 184, dtype: object
2022-07-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-19', '2022-08-19', '2022-09-19', '2022-10-19', '2022-11-21', '2022-12-19', '2023-01-19', '2023-02-20', '2023-03-20', '2023-04-19']
obs22022-07-19    2022-07-19
2022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
                 ...
2023-04-13    2023-04-13
2023-04-14    2023-04-14
2023-04-17    2023-04-17
2023-04-18    2023-04-18
2023-04-19    2023-04-19
Name: date, Length: 184, dtype: object
2022-07-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-20', '2022-08-22', '2022-09-20', '2022-10-20', '2022-11-21', '2022-12-20', '2023-01-20', '2023-02-20', '2023-03-20', '2023-04-20']
obs22022-07-20    2022-07-20
2022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
                 ...
2023-04-14    2023-04-14
2023-04-17    2023-04-17
2023-04-18    2023-04-18
2023-04-19    2023-04-19
2023-04-20    2023-04-20
Name: date, Length: 184, dtype: object
2022-07-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-21', '2022-08-22', '2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30', '2023-02-21', '2023-03-21', '2023-04-21']
obs22022-07-21    2022-07-21
2022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
                 ...
2023-04-17    2023-04-17
2023-04-18    2023-04-18
2023-04-19    2023-04-19
2023-04-20    2023-04-20
2023-04-21    2023-04-21
Name: date, Length: 184, dtype: object
2022-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-22', '2022-08-22', '2022-09-22', '2022-10-24', '2022-11-22', '2022-12-22', '2023-01-30', '2023-02-22', '2023-03-22', '2023-04-24']
obs22022-07-22    2022-07-22
2022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
                 ...
2023-04-18    2023-04-18
2023-04-19    2023-04-19
2023-04-20    2023-04-20
2023-04-21    2023-04-21
2023-04-24    2023-04-24
Name: date, Length: 184, dtype: object
2022-07-22
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-25', '2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-25']
obs22022-07-25    2022-07-25
2022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
                 ...
2023-04-19    2023-04-19
2023-04-20    2023-04-20
2023-04-21    2023-04-21
2023-04-24    2023-04-24
2023-04-25    2023-04-25
Name: date, Length: 184, dtype: object
2022-07-25
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-26', '2022-08-26', '2022-09-26', '2022-10-26', '2022-11-28', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-26']
obs22022-07-26    2022-07-26
2022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
                 ...
2023-04-20    2023-04-20
2023-04-21    2023-04-21
2023-04-24    2023-04-24
2023-04-25    2023-04-25
2023-04-26    2023-04-26
Name: date, Length: 184, dtype: object
2022-07-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-27', '2022-08-29', '2022-09-27', '2022-10-27', '2022-11-28', '2022-12-27', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-27']
obs22022-07-27    2022-07-27
2022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
                 ...
2023-04-21    2023-04-21
2023-04-24    2023-04-24
2023-04-25    2023-04-25
2023-04-26    2023-04-26
2023-04-27    2023-04-27
Name: date, Length: 184, dtype: object
2022-07-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-28', '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30', '2023-02-28', '2023-03-28', '2023-04-28']
obs22022-07-28    2022-07-28
2022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
2022-08-03    2022-08-03
                 ...
2023-04-24    2023-04-24
2023-04-25    2023-04-25
2023-04-26    2023-04-26
2023-04-27    2023-04-27
2023-04-28    2023-04-28
Name: date, Length: 184, dtype: object
2022-07-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-07-29', '2022-08-29', '2022-09-29', '2022-10-31', '2022-11-29', '2022-12-29', '2023-01-30', '2023-02-28', '2023-03-29', '2023-05-04']
obs22022-07-29    2022-07-29
2022-08-01    2022-08-01
2022-08-02    2022-08-02
2022-08-03    2022-08-03
2022-08-04    2022-08-04
                 ...
2023-04-25    2023-04-25
2023-04-26    2023-04-26
2023-04-27    2023-04-27
2023-04-28    2023-04-28
2023-05-04    2023-05-04
Name: date, Length: 184, dtype: object
2022-07-29
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-05', '2022-09-05', '2022-10-10', '2022-11-07', '2022-12-05', '2023-01-05', '2023-02-06', '2023-03-06', '2023-04-06', '2023-05-05']
obs22022-08-05    2022-08-05
2022-08-08    2022-08-08
2022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
                 ...
2023-04-26    2023-04-26
2023-04-27    2023-04-27
2023-04-28    2023-04-28
2023-05-04    2023-05-04
2023-05-05    2023-05-05
Name: date, Length: 180, dtype: object
2022-08-05
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-08', '2022-09-06', '2022-10-10', '2022-11-07', '2022-12-06', '2023-01-06', '2023-02-06', '2023-03-06', '2023-04-06', '2023-05-08']
obs22022-08-08    2022-08-08
2022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
                 ...
2023-04-27    2023-04-27
2023-04-28    2023-04-28
2023-05-04    2023-05-04
2023-05-05    2023-05-05
2023-05-08    2023-05-08
Name: date, Length: 180, dtype: object
2022-08-08
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-09', '2022-09-09', '2022-10-10', '2022-11-09', '2022-12-09', '2023-01-09', '2023-02-09', '2023-03-09', '2023-04-10', '2023-05-09']
obs22022-08-09    2022-08-09
2022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
                 ...
2023-04-28    2023-04-28
2023-05-04    2023-05-04
2023-05-05    2023-05-05
2023-05-08    2023-05-08
2023-05-09    2023-05-09
Name: date, Length: 180, dtype: object
2022-08-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-10', '2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12', '2023-01-10', '2023-02-10', '2023-03-10', '2023-04-10', '2023-05-10']
obs22022-08-10    2022-08-10
2022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
                 ...
2023-05-04    2023-05-04
2023-05-05    2023-05-05
2023-05-08    2023-05-08
2023-05-09    2023-05-09
2023-05-10    2023-05-10
Name: date, Length: 180, dtype: object
2022-08-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-11', '2022-09-13', '2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11', '2023-02-13', '2023-03-13', '2023-04-11', '2023-05-11']
obs22022-08-11    2022-08-11
2022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
                 ...
2023-05-05    2023-05-05
2023-05-08    2023-05-08
2023-05-09    2023-05-09
2023-05-10    2023-05-10
2023-05-11    2023-05-11
Name: date, Length: 180, dtype: object
2022-08-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-12', '2022-09-13', '2022-10-12', '2022-11-14', '2022-12-12', '2023-01-12', '2023-02-13', '2023-03-13', '2023-04-12', '2023-05-12']
obs22022-08-12    2022-08-12
2022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
                 ...
2023-05-08    2023-05-08
2023-05-09    2023-05-09
2023-05-10    2023-05-10
2023-05-11    2023-05-11
2023-05-12    2023-05-12
Name: date, Length: 180, dtype: object
2022-08-12
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-15', '2022-09-13', '2022-10-13', '2022-11-14', '2022-12-13', '2023-01-13', '2023-02-13', '2023-03-13', '2023-04-13', '2023-05-15']
obs22022-08-15    2022-08-15
2022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
                 ...
2023-05-09    2023-05-09
2023-05-10    2023-05-10
2023-05-11    2023-05-11
2023-05-12    2023-05-12
2023-05-15    2023-05-15
Name: date, Length: 180, dtype: object
2022-08-15
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-16', '2022-09-16', '2022-10-17', '2022-11-16', '2022-12-16', '2023-01-16', '2023-02-16', '2023-03-16', '2023-04-17', '2023-05-16']
obs22022-08-16    2022-08-16
2022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
                 ...
2023-05-10    2023-05-10
2023-05-11    2023-05-11
2023-05-12    2023-05-12
2023-05-15    2023-05-15
2023-05-16    2023-05-16
Name: date, Length: 180, dtype: object
2022-08-16
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-17', '2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19', '2023-01-17', '2023-02-17', '2023-03-17', '2023-04-17', '2023-05-17']
obs22022-08-17    2022-08-17
2022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
                 ...
2023-05-11    2023-05-11
2023-05-12    2023-05-12
2023-05-15    2023-05-15
2023-05-16    2023-05-16
2023-05-17    2023-05-17
Name: date, Length: 180, dtype: object
2022-08-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-18', '2022-09-19', '2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18', '2023-02-20', '2023-03-20', '2023-04-18', '2023-05-18']
obs22022-08-18    2022-08-18
2022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
                 ...
2023-05-12    2023-05-12
2023-05-15    2023-05-15
2023-05-16    2023-05-16
2023-05-17    2023-05-17
2023-05-18    2023-05-18
Name: date, Length: 180, dtype: object
2022-08-18
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-19', '2022-09-19', '2022-10-19', '2022-11-21', '2022-12-19', '2023-01-19', '2023-02-20', '2023-03-20', '2023-04-19', '2023-05-19']
obs22022-08-19    2022-08-19
2022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
                 ...
2023-05-15    2023-05-15
2023-05-16    2023-05-16
2023-05-17    2023-05-17
2023-05-18    2023-05-18
2023-05-19    2023-05-19
Name: date, Length: 180, dtype: object
2022-08-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-22', '2022-09-20', '2022-10-20', '2022-11-21', '2022-12-20', '2023-01-20', '2023-02-20', '2023-03-20', '2023-04-20', '2023-05-22']
obs22022-08-22    2022-08-22
2022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
                 ...
2023-05-16    2023-05-16
2023-05-17    2023-05-17
2023-05-18    2023-05-18
2023-05-19    2023-05-19
2023-05-22    2023-05-22
Name: date, Length: 180, dtype: object
2022-08-22
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-23', '2022-09-23', '2022-10-24', '2022-11-23', '2022-12-23', '2023-01-30', '2023-02-23', '2023-03-23', '2023-04-24', '2023-05-23']
obs22022-08-23    2022-08-23
2022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
                 ...
2023-05-17    2023-05-17
2023-05-18    2023-05-18
2023-05-19    2023-05-19
2023-05-22    2023-05-22
2023-05-23    2023-05-23
Name: date, Length: 180, dtype: object
2022-08-23
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-24', '2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26', '2023-01-30', '2023-02-24', '2023-03-24', '2023-04-24', '2023-05-24']
obs22022-08-24    2022-08-24
2022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
                 ...
2023-05-18    2023-05-18
2023-05-19    2023-05-19
2023-05-22    2023-05-22
2023-05-23    2023-05-23
2023-05-24    2023-05-24
Name: date, Length: 180, dtype: object
2022-08-24
3
4
5
6
7
8
9
10
11
12

obs1['2022-08-25', '2022-09-26', '2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-25', '2023-05-25']
obs22022-08-25    2022-08-25
2022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
                 ...
2023-05-19    2023-05-19
2023-05-22    2023-05-22
2023-05-23    2023-05-23
2023-05-24    2023-05-24
2023-05-25    2023-05-25
Name: date, Length: 180, dtype: object
2022-08-25
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-26', '2022-09-26', '2022-10-26', '2022-11-28', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-26', '2023-05-26']
obs22022-08-26    2022-08-26
2022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
                 ...
2023-05-22    2023-05-22
2023-05-23    2023-05-23
2023-05-24    2023-05-24
2023-05-25    2023-05-25
2023-05-26    2023-05-26
Name: date, Length: 180, dtype: object
2022-08-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-29', '2022-09-27', '2022-10-27', '2022-11-28', '2022-12-27', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-27', '2023-05-29']
obs22022-08-29    2022-08-29
2022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
                 ...
2023-05-23    2023-05-23
2023-05-24    2023-05-24
2023-05-25    2023-05-25
2023-05-26    2023-05-26
2023-05-29    2023-05-29
Name: date, Length: 180, dtype: object
2022-08-29
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-30', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30', '2023-01-30', '2023-02-28', '2023-03-30', '2023-05-04', '2023-05-30']
obs22022-08-30    2022-08-30
2022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
                 ...
2023-05-24    2023-05-24
2023-05-25    2023-05-25
2023-05-26    2023-05-26
2023-05-29    2023-05-29
2023-05-30    2023-05-30
Name: date, Length: 180, dtype: object
2022-08-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2023-01-03', '2023-01-31', '2023-02-28', '2023-03-31', '2023-05-04', '2023-05-31']
obs22022-08-31    2022-08-31
2022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
                 ...
2023-05-25    2023-05-25
2023-05-26    2023-05-26
2023-05-29    2023-05-29
2023-05-30    2023-05-30
2023-05-31    2023-05-31
Name: date, Length: 180, dtype: object
2022-08-31
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-01', '2022-10-10', '2022-11-01', '2022-12-01', '2023-01-03', '2023-02-01', '2023-03-01', '2023-04-03', '2023-05-04', '2023-06-01']
obs22022-09-01    2022-09-01
2022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
2022-09-07    2022-09-07
                 ...
2023-05-26    2023-05-26
2023-05-29    2023-05-29
2023-05-30    2023-05-30
2023-05-31    2023-05-31
2023-06-01    2023-06-01
Name: date, Length: 180, dtype: object
2022-09-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-02', '2022-10-10', '2022-11-02', '2022-12-02', '2023-01-03', '2023-02-02', '2023-03-02', '2023-04-03', '2023-05-04', '2023-06-02']
obs22022-09-02    2022-09-02
2022-09-05    2022-09-05
2022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
                 ...
2023-05-29    2023-05-29
2023-05-30    2023-05-30
2023-05-31    2023-05-31
2023-06-01    2023-06-01
2023-06-02    2023-06-02
Name: date, Length: 180, dtype: object
2022-09-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-06', '2022-10-10', '2022-11-07', '2022-12-06', '2023-01-06', '2023-02-06', '2023-03-06', '2023-04-06', '2023-05-08', '2023-06-06']
obs22022-09-06    2022-09-06
2022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
                 ...
2023-05-31    2023-05-31
2023-06-01    2023-06-01
2023-06-02    2023-06-02
2023-06-05    2023-06-05
2023-06-06    2023-06-06
Name: date, Length: 180, dtype: object
2022-09-06
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-07', '2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09', '2023-02-07', '2023-03-07', '2023-04-07', '2023-05-08', '2023-06-07']
obs22022-09-07    2022-09-07
2022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
                 ...
2023-06-01    2023-06-01
2023-06-02    2023-06-02
2023-06-05    2023-06-05
2023-06-06    2023-06-06
2023-06-07    2023-06-07
Name: date, Length: 180, dtype: object
2022-09-07
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-08', '2022-10-10', '2022-11-08', '2022-12-08', '2023-01-09', '2023-02-08', '2023-03-08', '2023-04-10', '2023-05-08', '2023-06-08']
obs22022-09-08    2022-09-08
2022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
                 ...
2023-06-02    2023-06-02
2023-06-05    2023-06-05
2023-06-06    2023-06-06
2023-06-07    2023-06-07
2023-06-08    2023-06-08
Name: date, Length: 180, dtype: object
2022-09-08
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-09', '2022-10-10', '2022-11-09', '2022-12-09', '2023-01-09', '2023-02-09', '2023-03-09', '2023-04-10', '2023-05-09', '2023-06-09']
obs22022-09-09    2022-09-09
2022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
                 ...
2023-06-05    2023-06-05
2023-06-06    2023-06-06
2023-06-07    2023-06-07
2023-06-08    2023-06-08
2023-06-09    2023-06-09
Name: date, Length: 180, dtype: object
2022-09-09
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-13', '2022-10-10', '2022-11-10', '2022-12-12', '2023-01-10', '2023-02-10', '2023-03-10', '2023-04-10', '2023-05-10', '2023-06-12']
obs22022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
2022-09-19    2022-09-19
                 ...
2023-06-06    2023-06-06
2023-06-07    2023-06-07
2023-06-08    2023-06-08
2023-06-09    2023-06-09
2023-06-12    2023-06-12
Name: date, Length: 180, dtype: object
2022-09-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-13', '2022-10-13', '2022-11-14', '2022-12-13', '2023-01-13', '2023-02-13', '2023-03-13', '2023-04-13', '2023-05-15', '2023-06-13']
obs22022-09-13    2022-09-13
2022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
2022-09-19    2022-09-19
                 ...
2023-06-07    2023-06-07
2023-06-08    2023-06-08
2023-06-09    2023-06-09
2023-06-12    2023-06-12
2023-06-13    2023-06-13
Name: date, Length: 181, dtype: object
2023-02-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-14', '2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16', '2023-02-14', '2023-03-14', '2023-04-14', '2023-05-15', '2023-06-14']
obs22022-09-14    2022-09-14
2022-09-15    2022-09-15
2022-09-16    2022-09-16
2022-09-19    2022-09-19
2022-09-20    2022-09-20
                 ...
2023-06-08    2023-06-08
2023-06-09    2023-06-09
2023-06-12    2023-06-12
2023-06-13    2023-06-13
2023-06-14    2023-06-14
Name: date, Length: 181, dtype: object
2023-02-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-15', '2022-10-17', '2022-11-15', '2022-12-15', '2023-01-16', '2023-02-15', '2023-03-15', '2023-04-17', '2023-05-15', '2023-06-15']
obs22022-09-15    2022-09-15
2022-09-16    2022-09-16
2022-09-19    2022-09-19
2022-09-20    2022-09-20
2022-09-21    2022-09-21
                 ...
2023-06-09    2023-06-09
2023-06-12    2023-06-12
2023-06-13    2023-06-13
2023-06-14    2023-06-14
2023-06-15    2023-06-15
Name: date, Length: 181, dtype: object
2023-02-01
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-16', '2022-10-17', '2022-11-16', '2022-12-16', '2023-01-16', '2023-02-16', '2023-03-16', '2023-04-17', '2023-05-16', '2023-06-16']
obs22022-09-16    2022-09-16
2022-09-19    2022-09-19
2022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
                 ...
2023-06-12    2023-06-12
2023-06-13    2023-06-13
2023-06-14    2023-06-14
2023-06-15    2023-06-15
2023-06-16    2023-06-16
Name: date, Length: 181, dtype: object
2023-02-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-19', '2022-10-17', '2022-11-17', '2022-12-19', '2023-01-17', '2023-02-17', '2023-03-17', '2023-04-17', '2023-05-17', '2023-06-19']
obs22022-09-19    2022-09-19
2022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
                 ...
2023-06-13    2023-06-13
2023-06-14    2023-06-14
2023-06-15    2023-06-15
2023-06-16    2023-06-16
2023-06-19    2023-06-19
Name: date, Length: 181, dtype: object
2023-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-20', '2022-10-20', '2022-11-21', '2022-12-20', '2023-01-20', '2023-02-20', '2023-03-20', '2023-04-20', '2023-05-22', '2023-06-20']
obs22022-09-20    2022-09-20
2022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
                 ...
2023-06-14    2023-06-14
2023-06-15    2023-06-15
2023-06-16    2023-06-16
2023-06-19    2023-06-19
2023-06-20    2023-06-20
Name: date, Length: 181, dtype: object
2023-06-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-21', '2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30', '2023-02-21', '2023-03-21', '2023-04-21', '2023-05-22', '2023-06-21']
obs22022-09-21    2022-09-21
2022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
                 ...
2023-06-15    2023-06-15
2023-06-16    2023-06-16
2023-06-19    2023-06-19
2023-06-20    2023-06-20
2023-06-21    2023-06-21
Name: date, Length: 181, dtype: object
2023-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-22', '2022-10-24', '2022-11-22', '2022-12-22', '2023-01-30', '2023-02-22', '2023-03-22', '2023-04-24', '2023-05-22', '2023-06-26']
obs22022-09-22    2022-09-22
2022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
                 ...
2023-06-16    2023-06-16
2023-06-19    2023-06-19
2023-06-20    2023-06-20
2023-06-21    2023-06-21
2023-06-26    2023-06-26
Name: date, Length: 181, dtype: object
2023-02-02
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-23', '2022-10-24', '2022-11-23', '2022-12-23', '2023-01-30', '2023-02-23', '2023-03-23', '2023-04-24', '2023-05-23', '2023-06-26']
obs22022-09-23    2022-09-23
2022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
                 ...
2023-06-16    2023-06-16
2023-06-19    2023-06-19
2023-06-20    2023-06-20
2023-06-21    2023-06-21
2023-06-26    2023-06-26
Name: date, Length: 180, dtype: object
2023-06-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-26', '2022-10-24', '2022-11-24', '2022-12-26', '2023-01-30', '2023-02-24', '2023-03-24', '2023-04-24', '2023-05-24', '2023-06-26']
obs22022-09-26    2022-09-26
2022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
                 ...
2023-06-16    2023-06-16
2023-06-19    2023-06-19
2023-06-20    2023-06-20
2023-06-21    2023-06-21
2023-06-26    2023-06-26
Name: date, Length: 179, dtype: object
2023-06-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-27', '2022-10-27', '2022-11-28', '2022-12-27', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-27', '2023-05-29', '2023-06-27']
obs22022-09-27    2022-09-27
2022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
                 ...
2023-06-19    2023-06-19
2023-06-20    2023-06-20
2023-06-21    2023-06-21
2023-06-26    2023-06-26
2023-06-27    2023-06-27
Name: date, Length: 179, dtype: object
2023-06-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-28', '2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30', '2023-02-28', '2023-03-28', '2023-04-28', '2023-05-29', '2023-06-28']
obs22022-09-28    2022-09-28
2022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
                 ...
2023-06-20    2023-06-20
2023-06-21    2023-06-21
2023-06-26    2023-06-26
2023-06-27    2023-06-27
2023-06-28    2023-06-28
Name: date, Length: 179, dtype: object
2023-06-28
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-29', '2022-10-31', '2022-11-29', '2022-12-29', '2023-01-30', '2023-02-28', '2023-03-29', '2023-05-04', '2023-05-29', '2023-06-29']
obs22022-09-29    2022-09-29
2022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
                 ...
2023-06-21    2023-06-21
2023-06-26    2023-06-26
2023-06-27    2023-06-27
2023-06-28    2023-06-28
2023-06-29    2023-06-29
Name: date, Length: 179, dtype: object
2023-06-29
3
4
5
6
7
8
9
10
11
12
obs1['2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30', '2023-01-30', '2023-02-28', '2023-03-30', '2023-05-04', '2023-05-30', '2023-06-30']
obs22022-09-30    2022-09-30
2022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
                 ...
2023-06-26    2023-06-26
2023-06-27    2023-06-27
2023-06-28    2023-06-28
2023-06-29    2023-06-29
2023-06-30    2023-06-30
Name: date, Length: 179, dtype: object
2023-06-30
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-01', '2022-12-01', '2023-01-03', '2023-02-01', '2023-03-01', '2023-04-03', '2023-05-04', '2023-06-01', '2023-07-03']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-06-27    2023-06-27
2023-06-28    2023-06-28
2023-06-29    2023-06-29
2023-06-30    2023-06-30
2023-07-03    2023-07-03
Name: date, Length: 179, dtype: object
2023-07-03
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-04', '2022-12-05', '2023-01-04', '2023-02-06', '2023-03-06', '2023-04-04', '2023-05-04', '2023-06-05', '2023-07-04']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-06-28    2023-06-28
2023-06-29    2023-06-29
2023-06-30    2023-06-30
2023-07-03    2023-07-03
2023-07-04    2023-07-04
Name: date, Length: 180, dtype: object
2023-07-04
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-07', '2022-12-05', '2023-01-05', '2023-02-06', '2023-03-06', '2023-04-06', '2023-05-05', '2023-06-05', '2023-07-05']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-06-29    2023-06-29
2023-06-30    2023-06-30
2023-07-03    2023-07-03
2023-07-04    2023-07-04
2023-07-05    2023-07-05
Name: date, Length: 181, dtype: object
2023-07-05
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-07', '2022-12-06', '2023-01-06', '2023-02-06', '2023-03-06', '2023-04-06', '2023-05-08', '2023-06-06', '2023-07-06']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-06-30    2023-06-30
2023-07-03    2023-07-03
2023-07-04    2023-07-04
2023-07-05    2023-07-05
2023-07-06    2023-07-06
Name: date, Length: 182, dtype: object
2023-07-06
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-07', '2022-12-07', '2023-01-09', '2023-02-07', '2023-03-07', '2023-04-07', '2023-05-08', '2023-06-07', '2023-07-07']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-07-03    2023-07-03
2023-07-04    2023-07-04
2023-07-05    2023-07-05
2023-07-06    2023-07-06
2023-07-07    2023-07-07
Name: date, Length: 183, dtype: object
2023-07-07
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-10', '2022-11-08', '2022-12-08', '2023-01-09', '2023-02-08', '2023-03-08', '2023-04-10', '2023-05-08', '2023-06-08', '2023-07-10']
obs22022-10-10    2022-10-10
2022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
                 ...
2023-07-04    2023-07-04
2023-07-05    2023-07-05
2023-07-06    2023-07-06
2023-07-07    2023-07-07
2023-07-10    2023-07-10
Name: date, Length: 184, dtype: object
2023-07-10
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-11', '2022-11-11', '2022-12-12', '2023-01-11', '2023-02-13', '2023-03-13', '2023-04-11', '2023-05-11', '2023-06-12', '2023-07-11']
obs22022-10-11    2022-10-11
2022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
                 ...
2023-07-05    2023-07-05
2023-07-06    2023-07-06
2023-07-07    2023-07-07
2023-07-10    2023-07-10
2023-07-11    2023-07-11
Name: date, Length: 184, dtype: object
2023-07-11
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-12', '2022-11-14', '2022-12-12', '2023-01-12', '2023-02-13', '2023-03-13', '2023-04-12', '2023-05-12', '2023-06-12', '2023-07-12']
obs22022-10-12    2022-10-12
2022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
                 ...
2023-07-06    2023-07-06
2023-07-07    2023-07-07
2023-07-10    2023-07-10
2023-07-11    2023-07-11
2023-07-12    2023-07-12
Name: date, Length: 184, dtype: object
2023-02-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-13', '2022-11-14', '2022-12-13', '2023-01-13', '2023-02-13', '2023-03-13', '2023-04-13', '2023-05-15', '2023-06-13', '2023-07-13']
obs22022-10-13    2022-10-13
2022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
                 ...
2023-07-07    2023-07-07
2023-07-10    2023-07-10
2023-07-11    2023-07-11
2023-07-12    2023-07-12
2023-07-13    2023-07-13
Name: date, Length: 184, dtype: object
2023-07-13
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-14', '2022-11-14', '2022-12-14', '2023-01-16', '2023-02-14', '2023-03-14', '2023-04-14', '2023-05-15', '2023-06-14', '2023-07-14']
obs22022-10-14    2022-10-14
2022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
                 ...
2023-07-10    2023-07-10
2023-07-11    2023-07-11
2023-07-12    2023-07-12
2023-07-13    2023-07-13
2023-07-14    2023-07-14
Name: date, Length: 184, dtype: object
2023-07-14
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-17', '2022-11-15', '2022-12-15', '2023-01-16', '2023-02-15', '2023-03-15', '2023-04-17', '2023-05-15', '2023-06-15', '2023-07-17']
obs22022-10-17    2022-10-17
2022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
                 ...
2023-07-11    2023-07-11
2023-07-12    2023-07-12
2023-07-13    2023-07-13
2023-07-14    2023-07-14
2023-07-17    2023-07-17
Name: date, Length: 184, dtype: object
2023-07-17
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-18', '2022-11-18', '2022-12-19', '2023-01-18', '2023-02-20', '2023-03-20', '2023-04-18', '2023-05-18', '2023-06-19', '2023-07-18']
obs22022-10-18    2022-10-18
2022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
                 ...
2023-07-12    2023-07-12
2023-07-13    2023-07-13
2023-07-14    2023-07-14
2023-07-17    2023-07-17
2023-07-18    2023-07-18
Name: date, Length: 184, dtype: object
2023-07-18
3
4
5
6
7
8
9
10
11
12

obs1['2022-10-19', '2022-11-21', '2022-12-19', '2023-01-19', '2023-02-20', '2023-03-20', '2023-04-19', '2023-05-19', '2023-06-19', '2023-07-19']
obs22022-10-19    2022-10-19
2022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
                 ...
2023-07-13    2023-07-13
2023-07-14    2023-07-14
2023-07-17    2023-07-17
2023-07-18    2023-07-18
2023-07-19    2023-07-19
Name: date, Length: 184, dtype: object
2023-07-19
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-20', '2022-11-21', '2022-12-20', '2023-01-20', '2023-02-20', '2023-03-20', '2023-04-20', '2023-05-22', '2023-06-20', '2023-07-20']
obs22022-10-20    2022-10-20
2022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
                 ...
2023-07-14    2023-07-14
2023-07-17    2023-07-17
2023-07-18    2023-07-18
2023-07-19    2023-07-19
2023-07-20    2023-07-20
Name: date, Length: 184, dtype: object
2023-07-20
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-21', '2022-11-21', '2022-12-21', '2023-01-30', '2023-02-21', '2023-03-21', '2023-04-21', '2023-05-22', '2023-06-21', '2023-07-21']
obs22022-10-21    2022-10-21
2022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
                 ...
2023-07-17    2023-07-17
2023-07-18    2023-07-18
2023-07-19    2023-07-19
2023-07-20    2023-07-20
2023-07-21    2023-07-21
Name: date, Length: 184, dtype: object
2023-07-21
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-24', '2022-11-22', '2022-12-22', '2023-01-30', '2023-02-22', '2023-03-22', '2023-04-24', '2023-05-22', '2023-06-26', '2023-07-24']
obs22022-10-24    2022-10-24
2022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
                 ...
2023-07-18    2023-07-18
2023-07-19    2023-07-19
2023-07-20    2023-07-20
2023-07-21    2023-07-21
2023-07-24    2023-07-24
Name: date, Length: 184, dtype: object
2023-07-24
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-25', '2022-11-25', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-25', '2023-05-25', '2023-06-26', '2023-07-25']
obs22022-10-25    2022-10-25
2022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
                 ...
2023-07-19    2023-07-19
2023-07-20    2023-07-20
2023-07-21    2023-07-21
2023-07-24    2023-07-24
2023-07-25    2023-07-25
Name: date, Length: 184, dtype: object
2023-07-25
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-26', '2022-11-28', '2022-12-26', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-26', '2023-05-26', '2023-06-26', '2023-07-26']
obs22022-10-26    2022-10-26
2022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
                 ...
2023-07-20    2023-07-20
2023-07-21    2023-07-21
2023-07-24    2023-07-24
2023-07-25    2023-07-25
2023-07-26    2023-07-26
Name: date, Length: 184, dtype: object
2023-07-26
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-27', '2022-11-28', '2022-12-27', '2023-01-30', '2023-02-27', '2023-03-27', '2023-04-27', '2023-05-29', '2023-06-27', '2023-07-27']
obs22022-10-27    2022-10-27
2022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
2022-11-02    2022-11-02
                 ...
2023-07-21    2023-07-21
2023-07-24    2023-07-24
2023-07-25    2023-07-25
2023-07-26    2023-07-26
2023-07-27    2023-07-27
Name: date, Length: 184, dtype: object
2023-07-27
3
4
5
6
7
8
9
10
11
12
obs1['2022-10-28', '2022-11-28', '2022-12-28', '2023-01-30', '2023-02-28', '2023-03-28', '2023-04-28', '2023-05-29', '2023-06-28', '2023-07-28']
obs22022-10-28    2022-10-28
2022-10-31    2022-10-31
2022-11-01    2022-11-01
2022-11-02    2022-11-02
2022-11-03    2022-11-03
                 ...
2023-07-24    2023-07-24
2023-07-25    2023-07-25
2023-07-26    2023-07-26
2023-07-27    2023-07-27
2023-07-28    2023-07-28
Name: date, Length: 184, dtype: object
2023-07-28

E:\myresource\apps\anaconda\anaconda3\lib\site-packages\ipykernel_launcher.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
E:\myresource\apps\anaconda\anaconda3\lib\site-packages\ipykernel_launcher.py:97: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: '突破或者到期时间'